openapi: 3.1.0
info:
  title: Aptos - Get blocks by version
  version: 1.0.0
servers:
  - url: https://aptos-mainnet.nodit.io/v1
    description: Aptos Mainnet
  - url: https://aptos-testnet.nodit.io/v1
    description: Aptos Testnet
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  parameters:
    Address:
      name: address
      in: path
      required: true
      schema:
        type: string
        pattern: ^0[xX]?[0-9a-fA-F]{0,64}$
        example: "0x1"
        examples:
          - "0x1"
          - "0xf22bede237a07e121b56d91a491eb7bcdfd1f5907926a9e58338f964a01b17fa"
      description: |
        The address of the account to retrieve. Account addresses without the hexadecimal prefix can also be queried.
    AssetType:
      name: asset_type
      in: path
      required: true
      schema:
        type: string
        example: 0x1::aptos_coin::AptosCoin
        examples:
          - 0x1::aptos_coin::AptosCoin
          - "0xa"
      description: |
        A parameter used to specify the type of asset to retrieve.
        The asset type must be provided in one of the following formats:
        - Coin: Struct-form asset ID (e.g., `0x1::aptos_coin::AptosCoin`)
        - Fungible Asset: Object address that owns the Token Metadata (e.g., `0xa`)
    BSCAcceptHeader:
      in: header
      name: accept
      required: false
      description: |
        The content type that the client can receive. The API works correctly only when application/x-bcs is specified.
      schema:
        type: string
        example: application/x-bcs
    BlockHeight:
      name: block_height
      in: path
      required: true
      schema:
        type: integer
        example: 160155267
      description: The height of the block to query. Starts from 0.
    CreationNumber:
      name: creation_number
      in: path
      required: true
      schema:
        type: integer
        example: 2
      description: |
        The creation number corresponding to the event stream that occurred on the specified account.
    EventHandle:
      name: event_handle
      in: path
      required: true
      schema:
        type: string
        pattern: ^0x[0-9a-zA-Z:_<>]+$
        example: 0x1::account::Account
      description: |
        The name of the event handle struct for querying a specific event handle.
    FieldName:
      name: field_name
      in: path
      required: true
      schema:
        type: string
        example: coin_register_events
      description: |
        The name of the field within the event_handle that specifies the event to query.
    LedgerVersion:
      name: ledger_version
      in: query
      required: false
      schema:
        type: integer
      description: |
        The ledger version of the transaction to fetch account state from.
        If no value is provided, the latest version is used.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: |
        The maximum number of account modules to fetch.
        If no value is provided, the default page size is used.
    ModuleName:
      name: module_name
      in: path
      required: true
      schema:
        type: string
        example: fungible_asset
      description: |
        The name of the specific module to query.
    ResourceType:
      name: resource_type
      in: path
      required: true
      schema:
        type: string
        pattern: ^0x[0-9a-zA-Z:_<>]+$
        example: 0x1::account::Account
      description: |
        The type name of the target resource (struct) to retrieve.
    Start:
      name: start
      in: query
      required: false
      schema:
        type: string
      description: |
        A cursor that specifies the starting position for pagination.

        This cursor cannot be arbitrarily generated on the client side. You must first call this endpoint without specifying this query parameter, then use the cursor returned in the X-Aptos-Cursor header of the response.
      example: 0000000000000000000000000000000000000000000000000000000000000000012f0000000000000000000000000000000000000000000000000000000000000000010d7374616b696e675f70726f7879
    TableHandle:
      name: table_handle
      in: path
      required: true
      schema:
        type: string
        pattern: ^0[xX][0-9a-fA-F]{64}|^[0-9a-fA-F]{64}
        example: "0x7d7561f38ada5eb9066f05c6e80df069208c4de472d6414482016d38448d1a7d"
      description: A pointer value indicating where the table is stored.
    Version:
      name: version
      in: path
      required: true
      schema:
        type: integer
      description: |
        The ledger version of the transaction to query for block information.
    WithTransactions:
      name: with_transactions
      in: query
      required: false
      schema:
        type: boolean
      description: |
        If set to true, all transactions within the block are included.
        If not provided, transactions are not returned.
  schemas:
    Abi:
      type: object
      description: |
        A Move module
      required:
        - address
        - name
        - friends
        - exposed_functions
        - structs
      properties:
        address:
          $ref: "#/components/schemas/Address"
        name:
          type: string
        friends:
          type: array
          description: Friends of the module
          items:
            type: string
        exposed_functions:
          type: array
          items:
            $ref: "#/components/schemas/MoveFunction"
        structs:
          type: array
          items:
            type: object
            required:
              - name
              - is_native
              - abilities
              - generic_type_params
              - fields
            properties:
              name:
                type: string
              is_native:
                type: boolean
              is_event:
                type: boolean
                description: Whether the struct is an event struct
              is_enum:
                type: boolean
                description: Whether the struct is an enum
              abilities:
                type: array
                description: Ability associated with the Move struct
                items:
                  type: string
              generic_type_params:
                $ref: "#/components/schemas/GenericTypeParams"
              fields:
                type: array
                items:
                  type: object
                  required:
                    - name
                    - type
                  properties:
                    name:
                      type: string
                    type:
                      $ref: "#/components/schemas/MoveTypeTag"
    AbstractSignature:
      type: object
      description: |
        An abstract signature
      required:
        - type
        - function_info
        - auth_data
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - abstract_signature
        function_info:
          type: string
        auth_data:
          $ref: "#/components/schemas/Bytecode"
    AccountSignature:
      title: Account Signature
      type: object
      description: |
        Account signature scheme

        The account signature scheme allows you to have two types of accounts:

        A single Ed25519 key account, one private key
        A k-of-n multi-Ed25519 key account, multiple private keys, such that k-of-n must sign a transaction.
        A single Secp256k1Ecdsa key account, one private key
      oneOf:
        - $ref: "#/components/schemas/Ed25519Signature"
        - $ref: "#/components/schemas/MultiEd25519Signature"
        - $ref: "#/components/schemas/SingleKeySignature"
        - $ref: "#/components/schemas/MultiKeySignature"
        - $ref: "#/components/schemas/NoAccountSignature"
        - $ref: "#/components/schemas/AbstractSignature"
    Address:
      type: string
      description: |
        A 32-byte Aptos account address encoded in hexadecimal.
        When expressed as a string, it is a 64-character hexadecimal string. It may be abbreviated by omitting leading zeros and adding 0x prefix.
        For example, the address 0x0000000000000000000000000000000000000000000000000000000000000001 can be expressed as 0x1.
      pattern: ^0[xX]?[0-9a-fA-F]{0,64}$
      example: "0x88fbd33f54e1126269769780feb24480428179f552e2313fbe571b72e62a1ca1"
    Any:
      oneOf:
        - type: string
        - type: number
        - type: boolean
        - type: object
        - type: array
    AptosError:
      type: object
      required:
        - message
        - error_code
      properties:
        message:
          type: string
        error_code:
          type: string
          description: |
            These codes provide more detailed error information that cannot be determined from the HTTP status code alone.

            - Error codes that may be included in the response: `account_not_found`, `resource_not_found`, `module_not_found`, `struct_field_not_found`, `version_not_found`, `transaction_not_found`, `table_item_not_found`, `block_not_found`, `state_value_not_found`, `version_pruned`, `block_pruned`, `invalid_input`, `invalid_transaction_update`, `sequence_number_too_old`, `vm_error`, `health_check_failed`
        vm_error_code:
          type: integer
          description: |
            Provides the detailed VM error code that occurs when submitting a transaction to the VM.
    Arguments:
      type: array
      description: Field representing the arguments of the Entry function.
      items:
        oneOf:
          - type: string
          - type: array
      example:
        - - "3"
        - - pts_1762134251280_impression_3119
        - "0x01"
        - "0x01"
        - - Points event for user 04344295 - Type impression - Points 3
        - - "1762134251280"
        - batch_impression_1762134251280
    AuthenticationKey:
      type: string
      description: |
        All byte (Vec) data is expressed as a hex-encoded string starting with 0x, with two hex digits per byte.
        Unlike the Address type, HexEncodedBytes does not omit any zeros.
      pattern: ^0[xX]?[0-9a-fA-F]{0,64}$
      example: "0x88fbd33f54e1126269769780feb24480428179f552e2313fbe571b72e62a1ca1"
    Block:
      type: object
      description: |
        A block that may or may not contain transactions.
        When requested, includes the associated transaction information.
      required:
        - block_height
        - block_hash
        - block_timestamp
        - first_version
        - last_version
      properties:
        block_height:
          type: string
          description: |
            Represents a 64-bit unsigned integer as a string.
            Expressed as a string for compatibility with languages such as JavaScript that do not natively support u64 values in JSON.
        block_hash:
          type: string
          description: |
            A field representing the unique hash identifier of the block.
        block_timestamp:
          type: string
          description: |
            A field representing when the block was created.
            Provided as a UNIX timestamp in microseconds, used to track block creation order and timing.
            The block timestamp is used to guarantee transaction ordering and measure block creation intervals.
        first_version:
          type: string
          description: |
            A field representing the version number of the first processed transaction among those included in the block.
            In Aptos, each transaction has a unique version number indicating the overall execution order.
            first_version and last_version allow you to determine the version range of transactions within the block.
        last_version:
          type: string
          description: |
            A field representing the version number of the last processed transaction among those included in the block.
            Together with first_version, defines the version range of transactions within the block, enabling sequential lookup of all transactions in the block.
        transactions:
          type: array
          description: |
            A list of all transactions included in the block.
          items:
            oneOf:
              - $ref: "#/components/schemas/PendingTransaction"
              - $ref: "#/components/schemas/UserTransaction"
              - $ref: "#/components/schemas/StateCheckpointTransaction"
              - $ref: "#/components/schemas/GenesisTransaction"
              - $ref: "#/components/schemas/BlockMetadataTransaction"
              - $ref: "#/components/schemas/BlockEpilogueTransaction"
              - $ref: "#/components/schemas/ValidatorTransaction"
    BlockEpilogueTransaction:
      title: Block Epilogue Transaction
      type: object
      description: |
        Represents a block epilogue transaction.
      required:
        - type
        - version
        - hash
        - state_change_hash
        - event_root_hash
        - gas_used
        - success
        - vm_status
        - accumulator_root_hash
        - changes
        - timestamp
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - block_epilogue_transaction
        version:
          $ref: "#/components/schemas/Version"
        hash:
          type: string
          description: |
            A field representing the unique identifier of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        state_change_hash:
          type: string
          description: |
            A field representing the state change hash of the transaction, used to uniquely identify the transaction's state changes.
        event_root_hash:
          type: string
          description: |
            A field representing the event root hash of the transaction.
        state_checkpoint_hash:
          type: string
          description: |
            A field representing the state checkpoint hash of the transaction.
        gas_used:
          type: string
          description: |
            A field representing the amount of gas used in the transaction, used to calculate the execution cost of the transaction.
        success:
          type: boolean
          description: |
            A field indicating whether the transaction succeeded; true means the transaction executed successfully, false means an error occurred during execution.
        vm_status:
          type: string
          description: |
            A field representing the VM status of the transaction, used to represent the execution result. Helps analyze the cause of transaction failures and troubleshoot issues.
        accumulator_root_hash:
          type: string
          description: |
            A field representing the root hash of the accumulated transaction state.
        changes:
          type: array
          description: |
            A field representing the changes made by the transaction, used to represent the execution result.
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        timestamp:
          type: string
          description: |
            A field representing the timestamp of the transaction, used to indicate when the transaction occurred.
        block_end_info:
          type: object
          description: |
            A field representing block end information.
          required:
            - block_gas_limit_reached
            - block_output_limit_reached
            - block_effective_block_gas_units
            - block_approx_output_size
          properties:
            block_gas_limit_reached:
              type: boolean
              description: |
                A field indicating whether the block gas limit was reached.
            block_output_limit_reached:
              type: boolean
              description: |
                A field indicating whether the block output limit was reached.
            block_effective_block_gas_units:
              type: integer
              description: |
                A field representing the effective block gas units of the block.
            block_approx_output_size:
              type: integer
              description: |
                A field representing the approximate output size of the block.
    BlockMetadataTransaction:
      title: Block Metadata Transaction
      type: object
      description: |
        Represents a block metadata transaction.
      required:
        - type
        - version
        - hash
        - state_change_hash
        - event_root_hash
        - gas_used
        - success
        - vm_status
        - accumulator_root_hash
        - changes
        - id
        - epoch
        - round
        - events
        - previous_block_votes_bitvec
        - proposer
        - failed_proposer_indices
        - timestamp
        - block_metadata_extension
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - block_metadata_transaction
        version:
          $ref: "#/components/schemas/Version"
        hash:
          type: string
          description: |
            A field representing the unique identifier of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        state_change_hash:
          type: string
          description: |
            A field representing the state change hash of the transaction, used to uniquely identify the transaction's state changes.
        event_root_hash:
          type: string
          description: |
            A field representing the event root hash of the transaction.
        state_checkpoint_hash:
          type: string
          description: |
            A field representing the state checkpoint hash of the transaction.
        gas_used:
          type: string
          description: |
            A field representing the amount of gas used in the transaction, used to calculate the execution cost of the transaction.
        success:
          type: boolean
          description: |
            A field indicating whether the transaction succeeded; true means the transaction executed successfully, false means an error occurred during execution.
        vm_status:
          type: string
          description: |
            A field representing the VM status of the transaction, used to represent the execution result. Helps analyze the cause of transaction failures and troubleshoot issues.
        accumulator_root_hash:
          type: string
          description: |
            A field representing the root hash of the accumulated transaction state.
        changes:
          type: array
          description: |
            A field representing the changes made by the transaction, used to represent the execution result.
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        id:
          type: string
        epoch:
          type: string
          description: |
            A field representing the epoch of the transaction.
        round:
          type: string
          description: |
            A field representing the round of the transaction.
        events:
          type: array
          description: |
            A field representing the events of the transaction, used to represent the execution result.
          items:
            $ref: "#/components/schemas/Event"
        previous_block_votes_bitvec:
          type: array
          description: |
            A field representing the previous block votes bitvector of the transaction.
          items:
            type: integer
        proposer:
          $ref: "#/components/schemas/Address"
        failed_proposer_indices:
          type: array
          description: |
            A field representing the failed proposer indices of the transaction.
          items:
            type: integer
        timestamp:
          type: string
          description: |
            A field representing the timestamp of the transaction, used to indicate when the transaction occurred.
        block_metadata_extension:
          type: object
          description: |
            A field representing the block metadata extension.
          required:
            - type
          properties:
            type:
              type: string
              description: |
                When a value exists, the internal transaction type refers to aptos_types::transaction::Transaction::BlockMetadataExt. When absent, it refers to aptos_types::transaction::Transaction::BlockMetadata.
              enum:
                - v0
                - v1
            randomness:
              $ref: "#/components/schemas/Bytecode"
    Bytecode:
      type: string
      description: |
        All byte (Vec) data is expressed as a hex-encoded string starting with 0x, with two hex digits per byte.
        Unlike the Address type, HexEncodedBytes does not omit any zeros.
    DeleteModule:
      type: object
      title: Delete Module
      description: |
        Represents a change for deleting a Move module.
      required:
        - type
        - address
        - state_key_hash
        - module
      properties:
        type:
          type: string
          description: The type of the change
          enum:
            - delete_module
        address:
          $ref: "#/components/schemas/Address"
        state_key_hash:
          type: string
          description: The hash value of the state key.
        module:
          type: string
          description: |
            The Move module ID is the string representation of the Move module.
            Format: `{address}::{module name}`
            address must be a 32-byte (hex) account address starting with 0x.
            The module name is case-sensitive.
    DeleteResource:
      type: object
      title: Delete Resource
      description: |
        Represents a change for deleting a resource.
      required:
        - type
        - address
        - state_key_hash
        - resource
      properties:
        type:
          type: string
          description: The type of the change
          enum:
            - delete_resource
        address:
          $ref: "#/components/schemas/Address"
        state_key_hash:
          type: string
          description: The hash value of the state key.
        resource:
          $ref: "#/components/schemas/ResourceType"
    DeleteTableItem:
      type: object
      title: Delete Table Item
      description: |
        Represents a change for deleting a table item.
      required:
        - type
        - state_key_hash
        - handle
        - key
        - data
      properties:
        type:
          type: string
          description: The type of the change
          enum:
            - delete_table_item
        state_key_hash:
          type: string
          description: The hash value of the state key.
        handle:
          $ref: "#/components/schemas/Bytecode"
        key:
          $ref: "#/components/schemas/Bytecode"
        data:
          type: object
          description: The deleted table data.
          required:
            - key
            - key_type
          properties:
            key:
              $ref: "#/components/schemas/Any"
            key_type:
              type: string
    DirectWriteSet:
      title: Direct Write Set
      type: object
      description: |
        Represents a direct write set.
      required:
        - type
        - changes
        - events
      properties:
        type:
          type: string
          description: The type of the write set
          enum:
            - direct_write_set
        changes:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
    Ed25519Signature:
      title: Ed25519 Signature
      type: object
      description: |
        Represents a single Ed25519 signature.
      required:
        - type
        - public_key
        - signature
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - ed25519_signature
        public_key:
          $ref: "#/components/schemas/Bytecode"
        signature:
          $ref: "#/components/schemas/Bytecode"
    EntryFunctionPayload:
      type: object
      description: |
        Payload that executes a single Entry Function
      required:
        - type
        - function
        - type_arguments
        - arguments
      properties:
        type:
          type: string
          description: The type of the payload
          enum:
            - entry_function_payload
        function:
          type: string
          description: String representation of the Entry Function identifier defined on-chain.
          pattern: ^0x[0-9a-fA-F]+::[A-Za-z_][A-Za-z0-9_]*::[A-Za-z_][A-Za-z0-9_]*$
          example: 0x1::coin::transfer
        type_arguments:
          $ref: "#/components/schemas/TypeArguments"
        arguments:
          $ref: "#/components/schemas/Arguments"
    Event:
      type: object
      required:
        - guid
        - sequenceNumber
        - type
        - data
      properties:
        guid:
          type: object
          properties:
            creation_number:
              type: string
              description: A field representing the creation number of the event handle.
            account_address:
              type: string
              description: A field representing the address of the resource owner that emitted the event.
        sequenceNumber:
          $ref: "#/components/schemas/SequenceNumber"
        type:
          $ref: "#/components/schemas/MoveTypeTag"
        data:
          $ref: "#/components/schemas/Any"
    ExpirationTimestampSecs:
      type: string
      description: |
        A field representing the transaction expiration time.
        Represents a 64-bit unsigned integer as a string.
      pattern: ^[0-9]+$
      example: "1634567890"
    FeePayerSignature:
      title: Fee Payer Signature
      type: object
      description: |
        Signature for Fee Payer transactions.
        This structure enables transactions involving multiple accounts with a separate fee payer.
      required:
        - type
        - sender
        - secondary_signer_addresses
        - secondary_signers
        - fee_payer_address
        - fee_payer_signature
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - fee_payer_signature
        sender:
          $ref: "#/components/schemas/AccountSignature"
        secondary_signer_addresses:
          type: array
          description: List of addresses of accounts that signed the transaction in addition to the primary signer (sender).
          items:
            type: string
        secondary_signers:
          type: array
          description: List of signatures from accounts that signed the transaction in addition to the primary signer (sender).
          items:
            $ref: "#/components/schemas/AccountSignature"
        fee_payer_address:
          type: string
          description: The address of the account that pays the fee.
        fee_payer_signature:
          $ref: "#/components/schemas/AccountSignature"
    GasUnitPrice:
      type: string
      description: |
        A field representing the gas price to use when the transaction occurs.
        Represents a 64-bit unsigned integer as a string.
      pattern: ^[0-9]+$
      example: "1"
    GenericTypeParams:
      type: array
      description: Generic type parameters associated with the Move function.
      items:
        type: object
        required:
          - constraints
        properties:
          constraints:
            type: array
            description: The Move ability linked to the generic type parameter, associated with types that use this type.
            items:
              type: string
    GenesisTransaction:
      title: Genesis Transaction
      type: object
      description: |
        Represents a genesis transaction.
        A genesis transaction is the first transaction that sets the initial state of the block.
      required:
        - type
        - version
        - hash
        - state_change_hash
        - event_root_hash
        - gas_used
        - success
        - vm_status
        - accumulator_root_hash
        - changes
        - payload
        - events
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - genesis_transaction
        version:
          $ref: "#/components/schemas/Version"
        hash:
          type: string
          description: |
            A field representing the unique identifier of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        state_change_hash:
          type: string
          description: |
            A field representing the state change hash of the transaction, used to uniquely identify the transaction's state changes.
        event_root_hash:
          type: string
          description: |
            A field representing the event root hash of the transaction.
        state_checkpoint_hash:
          type: string
          description: |
            A field representing the state checkpoint hash of the transaction.
        gas_used:
          type: string
          description: |
            A field representing the amount of gas used in the transaction, used to calculate the execution cost of the transaction.
        success:
          type: boolean
          description: |
            A field indicating whether the transaction succeeded; true means the transaction executed successfully, false means an error occurred during execution.
        vm_status:
          type: string
          description: |
            A field representing the VM status of the transaction, used to represent the execution result. Helps analyze the cause of transaction failures and troubleshoot issues.
        accumulator_root_hash:
          type: string
          description: |
            A field representing the root hash of the accumulated transaction state.
        changes:
          type: array
          description: |
            A field representing the changes made by the transaction, used to represent the execution result.
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        payload:
          $ref: "#/components/schemas/WriteSetPayload"
        events:
          type: array
          description: |
            A field representing the events of the transaction.
          items:
            $ref: "#/components/schemas/Event"
        timestamp:
          type: string
          description: |
            A field representing the timestamp of the transaction, used to indicate when the transaction occurred.
    MaxGasAmount:
      type: string
      description: |
        A field representing the maximum amount of gas to use when the transaction occurs.
        Represents a 64-bit unsigned integer as a string.
      pattern: ^[0-9]+$
      example: "1000000"
    Module:
      type: object
      properties:
        bytecode:
          $ref: "#/components/schemas/Bytecode"
        abi:
          $ref: "#/components/schemas/Abi"
    ModuleBundlePayload:
      type: object
      description: |
        Payload for transactions that deploy new modules on-chain.
        <strong style="color: red;">*</strong>Deprecated: This payload type is no longer supported.
      required:
        - type
      properties:
        type:
          type: string
          description: The type of the payload
          enum:
            - module_bundle_payload
    MoveFunction:
      type: array
      description: Move function
      items:
        type: object
        required:
          - name
          - visibility
          - is_entry
          - is_view
          - generic_type_params
          - params
          - return
        properties:
          name:
            type: string
          visibility:
            type: string
            description: Move function visibility
            enum:
              - private
              - public
              - friend
          is_entry:
            type: boolean
            description: Whether the function is an entry function that can be directly called from a transaction
          is_view:
            type: boolean
            description: Whether the function is a view function
          generic_type_params:
            $ref: "#/components/schemas/GenericTypeParams"
          params:
            type: array
            description: Parameters associated with the Move function
            items:
              type: string
          return:
            type: array
            description: Return types of the Move function
            items:
              type: string
    MoveTypeTag:
      type: string
      description: |
        String representation of the Move type tag exposed in the transaction payload.
        Values:
          - `bool`
          - `u8`
          - `u16`,`u32`,`u64`,`u128`,`u256`
          - `i8`,`i16`,`i32`,`i64`,`i128`,`i256`
          - `address`
          - `signer`
          - `vector: vector<{non-reference MoveTypeId}>`
          - `struct: {address}::{module_name}::{struct_name}::<{generic types}>`
        Vector type value examples:
        - `vector<u8>`
        - `vector<vector<u64>>`
        - `vector<0x1::coin::CoinStore<0x1::aptos_coin::AptosCoin>>`
        Struct type value examples:
        - `0x1::coin::CoinStore<0x1::aptos_coin::AptosCoin>`
        - `0x1::account::Account`
        Note:
        1. Whitespace should be ignored when comparing two struct tag ids.
        2. In URL paths, it must be encoded using url-encoding (AKA percent-encoding).
      pattern: ^(bool|u8|u16|u32|u64|u128|u256|i8|i16|i32|i64|i128|i256|address|signer|vector<.+>|0x[0-9a-zA-Z:_<, >]+)$
    MultiAgentSignature:
      title: Multi Agent Signature
      type: object
      description: |
        Multi-agent signature for multi-agent transactions.
        Enables transactions spanning multiple accounts.
      required:
        - type
        - sender
        - secondary_signer_addresses
        - secondary_signers
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - multi_agent_signature
        sender:
          $ref: "#/components/schemas/AccountSignature"
        secondary_signer_addresses:
          type: array
          description: List of addresses of accounts that signed the transaction in addition to the primary signer (sender).
          items:
            type: string
        secondary_signers:
          type: array
          description: List of signatures from accounts that signed the transaction in addition to the primary signer (sender).
          items:
            $ref: "#/components/schemas/AccountSignature"
    MultiEd25519Signature:
      title: Multi Ed25519 Signature
      type: object
      description: |
        Represents an Ed25519 multi-signature.
        This allows k-of-n signatures for transactions.
      required:
        - type
        - public_keys
        - signatures
        - threshold
        - bitmap
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - multi_ed25519_signature
        public_keys:
          type: array
          description: List of public keys used for the Ed25519 signature.
          items:
            type: string
        signatures:
          type: array
          description: List of signatures mapped in the same order as the public keys.
          items:
            type: string
        threshold:
          type: integer
          description: The number of signatures required for a successful transaction.
        bitmap:
          $ref: "#/components/schemas/Bytecode"
    MultiKeySignature:
      title: Multi Key Signature
      type: object
      description: |
        Represents a multi-key signature.
      required:
        - type
        - public_keys
        - signatures
        - signatures_required
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - multi_key_signature
        public_keys:
          type: array
          items:
            $ref: "#/components/schemas/PublicKey"
        signatures:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
                description: Public key index
              signature:
                $ref: "#/components/schemas/Signature"
        signatures_required:
          type: integer
          description: Minimum number of signatures required for a successful transaction
    MultisigPayload:
      type: object
      description: |
        A transaction that allows owners of a multisig account to execute pre-approved transactions on behalf of the multisig account.
      required:
        - type
        - multisig_address
      properties:
        type:
          type: string
          description: The type of the payload
          enum:
            - multisig_payload
        multisig_address:
          type: string
          description: |
            Aptos account address expressed as a hexadecimal string.
            This is represented as a 64-character hexadecimal string, sometimes abbreviated as a 64-character hex string with a 0x prefix.
            For example, the address 0x0000000000000000000000000000000000000000000000000000000000000001 can be expressed as 0x1.
        transaction_payload:
          $ref: "#/components/schemas/EntryFunctionPayload"
    NoAccountSignature:
      title: No Account Signature
      type: object
      description: |
        Represents the case when there is no account signature.
      required:
        - type
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - no_account_signature
    NoditError:
      type: object
      properties:
        code:
          type: string
          description: Returns a code that identifies the situation where the error occurred.
        message:
          type: string
          description: Returns a detailed message explaining the cause of the error.
      required:
        - code
        - message
    PendingTransaction:
      title: Pending Transaction
      type: object
      description: |
        Represents a pending transaction.
        A pending transaction is one that has not yet been included in a block.
      required:
        - type
        - hash
        - sender
        - sequence_number
        - max_gas_amount
        - gas_unit_price
        - expiration_timestamp_secs
        - payload
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - pending_transaction
        hash:
          type: string
          description: |
            A field representing the unique identifier of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        sender:
          $ref: "#/components/schemas/Sender"
        sequence_number:
          $ref: "#/components/schemas/SequenceNumber"
        max_gas_amount:
          $ref: "#/components/schemas/MaxGasAmount"
        gas_unit_price:
          $ref: "#/components/schemas/GasUnitPrice"
        expiration_timestamp_secs:
          $ref: "#/components/schemas/ExpirationTimestampSecs"
        payload:
          oneOf:
            - $ref: "#/components/schemas/EntryFunctionPayload"
            - $ref: "#/components/schemas/ScriptPayload"
            - $ref: "#/components/schemas/ModuleBundlePayload"
            - $ref: "#/components/schemas/MultisigPayload"
        signature:
          oneOf:
            - $ref: "#/components/schemas/Ed25519Signature"
            - $ref: "#/components/schemas/MultiEd25519Signature"
            - $ref: "#/components/schemas/MultiAgentSignature"
            - $ref: "#/components/schemas/FeePayerSignature"
            - $ref: "#/components/schemas/AccountSignature"
            - $ref: "#/components/schemas/NoAccountSignature"
        replay_protection_nonce:
          $ref: "#/components/schemas/ReplayProtectionNonce"
    PublicKey:
      type: object
      properties:
        type:
          type: string
          description: The type of the public key
          enum:
            - ed25519
            - secp256k1_ecdsa
            - secp256r1_ecdsa
            - keyless
            - federated_keyless
        value:
          $ref: "#/components/schemas/Bytecode"
    ReplayProtectionNonce:
      type: string
      description: |
        A field representing the nonce used to prevent transaction replay attacks.
        Represents a 64-bit unsigned integer as a string.
      pattern: ^[0-9]+$
      example: "590"
    ResourceData:
      type: object
      description: |
        Partial data from within an account resource, displayed in JSON representation.
        Specifically, a map with the top-level field keys of the given resource as keys and arbitrary JSON values/objects as values.

        - Move bool type: Converted to boolean.
        - u8~i32: Converted to integer.
        - u64~i256: Converted to string.
        - address: Converted to HexEncodedBytes string (e.g. 0x1).
        - Struct: Converted to object.
        - vector: Converted to array.
          - However, vector<u8> is converted to a HexEncodedBytes string starting with 0x.
        - 0x1::string::String: Converted to regular string.
      example:
        authentication_key: "0x0000000000000000000000000000000000000000000000000000000000000001"
        coin_register_events:
          counter: "0"
          guid:
            id:
              addr: "0x1"
              creation_num: "0"
        self_address: "0x1"
        sequence_number: "0"
    ResourceType:
      type: string
      pattern: ^0x[0-9a-zA-Z:_<>]+$
      description: |
        String representation of a Move struct tag.
        This type exists to allow MoveStructTag to be specified as a path or query parameter (e.g. used in get_events_by_event_handle).
        This value is composed of:
        1. move_module_address, module_name, struct_name joined by two colons (::)
        2. Generic type parameters of the struct specified as comma-separated values
        Examples:
        - `0x1::coin::CoinStore<0x1::aptos_coin::aptosCoin>`
        - `0x1::account::Account`
    ScriptPayload:
      type: object
      description: |
        Payload that executes a script capable of running multiple functions.
      required:
        - type
        - code
        - type_arguments
        - arguments
      properties:
        type:
          type: string
          description: The type of the payload
          enum:
            - script_payload
        code:
          type: object
          description: Move script bytecode
          required:
            - bytecode
          properties:
            bytecode:
              $ref: "#/components/schemas/Bytecode"
            abi:
              $ref: "#/components/schemas/Abi"
        type_arguments:
          $ref: "#/components/schemas/TypeArguments"
        arguments:
          $ref: "#/components/schemas/Arguments"
    ScriptWriteSet:
      title: Script Write Set
      type: object
      description: |
        Represents a script write set.
      required:
        - type
        - execute_as
        - script
      properties:
        type:
          type: string
          description: The type of the write set
          enum:
            - script_write_set
        execute_as:
          $ref: "#/components/schemas/Address"
        script:
          type: object
          description: Payload which runs a script that can run multiple functions.
          required:
            - code
            - type_arguments
            - arguments
          properties:
            code:
              type: object
              description: |
                Move script bytecode
                It contains both bytecode and ABI.
              required:
                - bytecode
              properties:
                bytecode:
                  $ref: "#/components/schemas/Bytecode"
                abi:
                  $ref: "#/components/schemas/Abi"
            type_arguments:
              $ref: "#/components/schemas/TypeArguments"
            arguments:
              $ref: "#/components/schemas/Arguments"
    Sender:
      type: string
      description: |
        A field representing the address of the account that sent the transaction.
        When expressed as a string, it is displayed as a 64-character hexadecimal string, and may be abbreviated by omitting leading zeros and adding 0x.
      example: "0x1"
    SequenceNumber:
      type: string
      description: |
        A field representing the transaction occurrence order.
        Represents a 64-bit unsigned integer as a string.
      pattern: ^[0-9]+$
      example: "1234567890"
    Signature:
      type: object
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - ed25519
            - secp256k1_ecdsa
            - web_authn
            - keyless
        value:
          $ref: "#/components/schemas/Bytecode"
    SingleKeySignature:
      title: Single Key Signature
      type: object
      description: |
        Represents a single key signature.
      required:
        - type
        - public_key
        - signature
      properties:
        type:
          type: string
          description: The type of the signature
          enum:
            - single_key_signature
        public_key:
          $ref: "#/components/schemas/PublicKey"
        signature:
          $ref: "#/components/schemas/Signature"
    StateCheckpointTransaction:
      title: State Checkpoint Transaction
      type: object
      description: |
        Represents a state checkpoint transaction.
      required:
        - type
        - version
        - hash
        - state_change_hash
        - event_root_hash
        - state_checkpoint_hash
        - gas_used
        - success
        - vm_status
        - accumulator_root_hash
        - changes
        - timestamp
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - state_checkpoint_transaction
        version:
          $ref: "#/components/schemas/Version"
        hash:
          type: string
          description: |
            A field representing the hash of the transaction.
        state_change_hash:
          type: string
          description: |
            A field representing the state change hash of the transaction.
        event_root_hash:
          type: string
          description: |
            A field representing the event root hash of the transaction.
        state_checkpoint_hash:
          type: string
          description: |
            A field representing the state checkpoint hash of the transaction.
        gas_used:
          type: string
          description: |
            A field representing the amount of gas used in the transaction.
        success:
          type: boolean
          description: |
            A field indicating whether the transaction succeeded.
        vm_status:
          type: string
          description: |
            A field representing the VM status of the transaction.
        accumulator_root_hash:
          type: string
          description: |
            A field representing the root hash of the accumulated transaction state.
        changes:
          type: array
          description: |
            A field representing the changes made by the transaction.
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        timestamp:
          type: string
          description: |
            A field representing the timestamp of the transaction, used to indicate when the transaction occurred.
    Transaction:
      title: Transaction
      type: object
      required:
        - sender
        - sequence_number
        - max_gas_amount
        - gas_unit_price
        - expiration_timestamp_secs
        - payload
        - replay_protection_nonce
        - signature
      properties:
        sender:
          $ref: "#/components/schemas/Sender"
        sequence_number:
          $ref: "#/components/schemas/SequenceNumber"
        max_gas_amount:
          $ref: "#/components/schemas/MaxGasAmount"
        gas_unit_price:
          $ref: "#/components/schemas/GasUnitPrice"
        expiration_timestamp_secs:
          $ref: "#/components/schemas/ExpirationTimestampSecs"
        payload:
          type: object
          description: |
            A field representing the payload to use when the transaction occurs.
          oneOf:
            - $ref: "#/components/schemas/EntryFunctionPayload"
            - $ref: "#/components/schemas/ScriptPayload"
            - $ref: "#/components/schemas/ModuleBundlePayload"
            - $ref: "#/components/schemas/MultisigPayload"
        replay_protection_nonce:
          $ref: "#/components/schemas/ReplayProtectionNonce"
        signature:
          type: object
          description: |
            A field representing the transaction signature.
            One of Ed25519, MultiEd25519, MultiAgent, FeePayer, Account, or NoAccount can be selected.
          oneOf:
            - $ref: "#/components/schemas/Ed25519Signature"
            - $ref: "#/components/schemas/MultiEd25519Signature"
            - $ref: "#/components/schemas/MultiAgentSignature"
            - $ref: "#/components/schemas/FeePayerSignature"
            - $ref: "#/components/schemas/AccountSignature"
            - $ref: "#/components/schemas/NoAccountSignature"
    TypeArguments:
      type: array
      description: Field representing the generic type arguments of the Entry function.
      items:
        type: string
        pattern: ^(bool|u8|u64|u128|address|signer|vector<.+>|0x[0-9a-zA-Z:_<, >]+)$
        example: 0x1::coin::AptosCoin
    UserTransaction:
      title: User Transaction
      type: object
      description: |
        Represents a user transaction.
        A user transaction is one that is directly initiated by a user.
      required:
        - type
        - version
        - hash
        - state_change_hash
        - event_root_hash
        - gas_used
        - success
        - vm_status
        - accumulator_root_hash
        - changes
        - sender
        - sequence_number
        - max_gas_amount
        - gas_unit_price
        - expiration_timestamp_secs
        - payload
        - events
        - timestamp
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - user_transaction
        version:
          $ref: "#/components/schemas/Version"
        hash:
          type: string
          description: |
            A field representing the unique identifier of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        state_change_hash:
          type: string
          description: |
            A field representing the state change hash of the transaction, used to uniquely identify the transaction's state changes.
        event_root_hash:
          type: string
          description: |
            A field representing the event root hash of the transaction.
        state_checkpoint_hash:
          type: string
          description: |
            A field representing the state checkpoint hash of the transaction.
        gas_used:
          type: string
          description: |
            A field representing the amount of gas used in the transaction, used to calculate the execution cost of the transaction.
        success:
          type: boolean
          description: |
            A field indicating whether the transaction succeeded; true means the transaction executed successfully, false means an error occurred during execution.
        vm_status:
          type: string
          description: |
            A field representing the VM status of the transaction, used to represent the execution result. Helps analyze the cause of transaction failures and troubleshoot issues.
        accumulator_root_hash:
          type: string
          description: |
            A field representing the root hash of the accumulated transaction state.
        changes:
          type: array
          description: |
            A field representing the changes made by the transaction, used to represent the execution result.
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        sender:
          $ref: "#/components/schemas/Sender"
        sequence_number:
          $ref: "#/components/schemas/SequenceNumber"
        max_gas_amount:
          $ref: "#/components/schemas/MaxGasAmount"
        gas_unit_price:
          $ref: "#/components/schemas/GasUnitPrice"
        expiration_timestamp_secs:
          $ref: "#/components/schemas/ExpirationTimestampSecs"
        payload:
          oneOf:
            - $ref: "#/components/schemas/EntryFunctionPayload"
            - $ref: "#/components/schemas/ScriptPayload"
            - $ref: "#/components/schemas/ModuleBundlePayload"
            - $ref: "#/components/schemas/MultisigPayload"
        signature:
          oneOf:
            - $ref: "#/components/schemas/Ed25519Signature"
            - $ref: "#/components/schemas/MultiEd25519Signature"
            - $ref: "#/components/schemas/MultiAgentSignature"
            - $ref: "#/components/schemas/FeePayerSignature"
            - $ref: "#/components/schemas/AccountSignature"
            - $ref: "#/components/schemas/NoAccountSignature"
        replay_protection_nonce:
          $ref: "#/components/schemas/ReplayProtectionNonce"
        events:
          type: array
          description: A field representing the events of the transaction.
          items:
            $ref: "#/components/schemas/Event"
        timestamp:
          type: string
          description: A field representing the timestamp of the transaction.
    ValidatorTransaction:
      title: Validator Transaction
      type: object
      description: |
        Represents a validator transaction.
      required:
        - type
        - version
        - hash
        - state_change_hash
        - event_root_hash
        - gas_used
        - success
        - vm_status
        - accumulator_root_hash
        - changes
        - events
        - timestamp
        - quorum_certified_update
      properties:
        type:
          type: string
          description: The type of the transaction
          enum:
            - validator_transaction
        version:
          $ref: "#/components/schemas/Version"
        hash:
          type: string
          description: |
            A field representing the hash of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        state_change_hash:
          type: string
          description: |
            A field representing the state change hash of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        event_root_hash:
          type: string
          description: |
            A field representing the event root hash of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        state_checkpoint_hash:
          type: string
          description: |
            A field representing the state checkpoint hash of the transaction, provided as a 64-character hexadecimal string starting with 0x.
        gas_used:
          type: string
          description: |
            A field representing the amount of gas used in the transaction, used to calculate the execution cost of the transaction.
        success:
          type: boolean
          description: |
            A field indicating whether the transaction succeeded; true means the transaction executed successfully, false means an error occurred during execution.
        vm_status:
          type: string
          description: |
            A field representing the VM status of the transaction, used to represent the execution result. Helps analyze the cause of transaction failures and troubleshoot issues.
        accumulator_root_hash:
          type: string
          description: |
            A field representing the root hash of the accumulated transaction state, provided as a 64-character hexadecimal string starting with 0x.
        changes:
          type: array
          description: |
            A field representing the changes made by the transaction, used to represent the execution result.
          items:
            oneOf:
              - $ref: "#/components/schemas/DeleteModule"
              - $ref: "#/components/schemas/DeleteResource"
              - $ref: "#/components/schemas/DeleteTableItem"
              - $ref: "#/components/schemas/WriteModule"
              - $ref: "#/components/schemas/WriteResource"
              - $ref: "#/components/schemas/WriteTableItem"
        events:
          type: array
          description: |
            A field representing the events of the transaction.
          items:
            $ref: "#/components/schemas/Event"
        timestamp:
          type: string
          description: |
            A field representing the timestamp of the transaction, used to indicate when the transaction occurred.
        quorum_certified_update:
          type: object
          description: |
            A field representing the quorum certified update of the transaction.
          required:
            - update
            - multi_sig
          properties:
            update:
              type: object
              description: |
                An API-friendly representation of the on-chain aptos_types::jwks::ProviderJWKs object.
              required:
                - issuer
                - version
                - jwks
              properties:
                issuer:
                  type: string
                version:
                  type: string
                jwks:
                  type: array
                  items:
                    type: object
            multi_sig:
              type: object
              description: |
                An API-friendly representation of the on-chain aptos_types::aggregate_signature::AggregateSignature.
              required:
                - signer_indices
                - sig
              properties:
                signer_indices:
                  type: array
                  items:
                    type: integer
                sig:
                  $ref: "#/components/schemas/Bytecode"
    Version:
      type: string
      description: |
        A unique sequence ID representing the transaction version, starting from 0 and incrementing sequentially.
        Transaction version is used to guarantee transaction execution order and to query the state of a specific transaction.
      example: "3679250756"
    WriteModule:
      type: object
      title: Write Module
      description: |
        Represents a change for writing a Move module.
      required:
        - type
        - address
        - state_key_hash
        - data
      properties:
        type:
          type: string
          description: The type of the change
          enum:
            - write_module
          example: write_module
        address:
          $ref: "#/components/schemas/Address"
        state_key_hash:
          type: string
          description: The hash value of the state key.
        data:
          $ref: "#/components/schemas/Module"
    WriteResource:
      type: object
      title: Write Resource
      description: |
        Represents a change for writing a resource.
      required:
        - type
        - address
        - state_key_hash
        - data
      properties:
        type:
          type: string
          description: The type of the change
          enum:
            - write_resource
          example: write_resource
        address:
          $ref: "#/components/schemas/Address"
        state_key_hash:
          type: string
          description: The hash value of the state key.
        data:
          type: object
          description: The parsed Move resource.
          required:
            - type
            - data
          properties:
            type:
              $ref: "#/components/schemas/ResourceType"
            data:
              $ref: "#/components/schemas/ResourceData"
    WriteSetPayload:
      type: object
      description: |
        Represents the write set payload used only in genesis transactions.
      required:
        - type
        - write_set
      properties:
        type:
          type: string
          description: The type of the payload
          enum:
            - write_set_payload
        write_set:
          type: object
          oneOf:
            - $ref: "#/components/schemas/DirectWriteSet"
            - $ref: "#/components/schemas/ScriptWriteSet"
    WriteTableItem:
      type: object
      title: Write Table Item
      description: |
        Represents a change for writing a table item.
      required:
        - type
        - state_key_hash
        - handle
        - key
        - value
        - data
      properties:
        type:
          type: string
          description: The type of the change
          enum:
            - write_table_item
          example: write_table_item
        state_key_hash:
          type: string
          description: The hash value of the state key.
        handle:
          $ref: "#/components/schemas/Bytecode"
        key:
          $ref: "#/components/schemas/Bytecode"
        value:
          $ref: "#/components/schemas/Bytecode"
        data:
          type: object
          required:
            - key
            - key_type
            - value
            - value_type
          properties:
            key:
              $ref: "#/components/schemas/Any"
            key_type:
              type: string
            value:
              $ref: "#/components/schemas/Any"
            value_type:
              type: string
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AptosError"
            example:
              message: "Failed to read raw transactions from storage: AptosDB Other Error: Transaction at version 3 is pruned, min available version is 3133900526."
              error_code: internal_error
              vm_error_code: null
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NoditError"
            example:
              code: AUTHENTICATION_FAILED
              message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NoditError"
            example:
              code: PERMISSION_DENIED
              message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NoditError"
            example:
              code: RESOURCE_NOT_FOUND
              message: "Resource not found: { RESOURCE1_NAME = RESOURCE1_VALUE, RESOURCE2_NAME = RESOURCE2_VALUE, ... }"
    "410":
      description: Block Pruned
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AptosError"
            example:
              message: Block(160155267) has been pruned
              error_code: block_pruned
              vm_error_code: null
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NoditError"
            example:
              code: TOO_MANY_REQUESTS
              message: Too many requests
paths:
  /blocks/by_version/{version}:
    get:
      security:
        - api_key: []
      operationId: aptos-getBlocksByVersion
      summary: Get blocks by version
      description: |
        This endpoint allows you to query transactions and block information for a specific block.

        Transactions are limited by the default maximum transaction count. If not all transactions are returned, you must query the remaining transactions separately using the get transactions API. A 410 status code is returned if the block has been pruned.
      x-seo-description: Retrieve block data containing a specific transaction version on the Aptos blockchain.
      tags:
        - Blocks
      parameters:
        - $ref: "#/components/parameters/Version"
        - $ref: "#/components/parameters/WithTransactions"
      responses:
        "200":
          description: Successful Response
          headers:
            X-APTOS-BLOCK-HEIGHT:
              description: Current block height of the chain
              schema:
                type: integer
              required: true
            X-APTOS-CHAIN-ID:
              description: Chain ID of the current chain
              schema:
                type: integer
              required: true
            X-APTOS-EPOCH:
              description: Current epoch of the chain
              schema:
                type: integer
              required: true
            X-APTOS-LEDGER-OLDEST-VERSION:
              description: Oldest unpruned ledger version of the chain
              schema:
                type: integer
              required: true
            X-APTOS-LEDGER-TIMESTAMPUSEC:
              description: Current timestamp of the chain
              schema:
                type: integer
              required: true
            X-APTOS-LEDGER-VERSION:
              description: Current ledger version of the chain
              schema:
                type: integer
              required: true
            X-APTOS-OLDEST-BLOCK-HEIGHT:
              description: Oldest unpruned block height of the chain
              schema:
                type: integer
              required: true
            X-APTOS-CURSOR:
              description: Cursor for the next page
              schema:
                type: string
            X-APTOS-GAS-USED:
              description: Amount of gas actually used for transaction execution
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Block"
              example:
                block_height: "32425224"
                block_hash: "0xb2600b0bb8c1a0319cc4597d4e84a4fcbd69eee2836abd6c31a1d6b8a75c4747"
                block_timestamp: "1676221006271819"
                first_version: "86447894"
                last_version: "86447896"
                transactions:
                  - version: "86447894"
                    hash: "0xe5e2941bd41f8a23635d2d1728de06858d62c02f7a2b29d89a652b20aa60a96d"
                    state_change_hash: "0x4988aa27a0d8eaed12d416ed0b6353f7ff491e26386c0e329409d2c043cf1add"
                    event_root_hash: "0xa57a74465f868beef72bd05184b92c7fe55cab6b868fd90b0c3794d8e567cbe6"
                    state_checkpoint_hash: null
                    gas_used: "0"
                    success: true
                    vm_status: Executed successfully
                    accumulator_root_hash: "0x83c305b1344198e364778a77a3f03234222b341f1d82de35070971b6927b2f87"
                    changes:
                      - address: "0x1"
                        state_key_hash: "0x5ddf404c60e96e9485beafcabb95609fed8e38e941a725cae4dcec8296fb32d7"
                        data:
                          type: 0x1::block::BlockResource
                          data:
                            epoch_interval: "7200000000"
                            height: "32425224"
                            new_block_events:
                              counter: "32425225"
                              guid:
                                id:
                                  addr: "0x1"
                                  creation_num: "3"
                            update_epoch_interval_events:
                              counter: "0"
                              guid:
                                id:
                                  addr: "0x1"
                                  creation_num: "4"
                        type: write_resource
                      - address: "0x1"
                        state_key_hash: "0x8048c954221814b04533a9f0a9946c3a8d472ac62df5accb9f47c097e256e8b6"
                        data:
                          type: 0x1::stake::ValidatorPerformance
                          data:
                            validators:
                              - failed_proposals: "0"
                                successful_proposals: "26"
                              - failed_proposals: "0"
                                successful_proposals: "25"
                              - failed_proposals: "0"
                                successful_proposals: "16"
                              - failed_proposals: "0"
                                successful_proposals: "19"
                              - failed_proposals: "0"
                                successful_proposals: "16"
                              - failed_proposals: "0"
                                successful_proposals: "91"
                              - failed_proposals: "0"
                                successful_proposals: "52"
                              - failed_proposals: "0"
                                successful_proposals: "22"
                              - failed_proposals: "0"
                                successful_proposals: "19"
                              - failed_proposals: "0"
                                successful_proposals: "41"
                              - failed_proposals: "0"
                                successful_proposals: "68"
                              - failed_proposals: "0"
                                successful_proposals: "72"
                              - failed_proposals: "0"
                                successful_proposals: "64"
                              - failed_proposals: "0"
                                successful_proposals: "81"
                              - failed_proposals: "0"
                                successful_proposals: "140"
                              - failed_proposals: "0"
                                successful_proposals: "17"
                              - failed_proposals: "0"
                                successful_proposals: "19"
                              - failed_proposals: "0"
                                successful_proposals: "14"
                              - failed_proposals: "0"
                                successful_proposals: "16"
                              - failed_proposals: "0"
                                successful_proposals: "15"
                              - failed_proposals: "0"
                                successful_proposals: "283"
                              - failed_proposals: "0"
                                successful_proposals: "322"
                              - failed_proposals: "0"
                                successful_proposals: "333"
                              - failed_proposals: "0"
                                successful_proposals: "337"
                              - failed_proposals: "0"
                                successful_proposals: "320"
                              - failed_proposals: "0"
                                successful_proposals: "313"
                              - failed_proposals: "0"
                                successful_proposals: "311"
                              - failed_proposals: "0"
                                successful_proposals: "348"
                              - failed_proposals: "0"
                                successful_proposals: "295"
                              - failed_proposals: "0"
                                successful_proposals: "281"
                              - failed_proposals: "0"
                                successful_proposals: "222"
                              - failed_proposals: "0"
                                successful_proposals: "10"
                              - failed_proposals: "0"
                                successful_proposals: "18"
                              - failed_proposals: "0"
                                successful_proposals: "20"
                              - failed_proposals: "0"
                                successful_proposals: "22"
                              - failed_proposals: "0"
                                successful_proposals: "16"
                              - failed_proposals: "0"
                                successful_proposals: "13"
                              - failed_proposals: "0"
                                successful_proposals: "17"
                              - failed_proposals: "0"
                                successful_proposals: "12"
                              - failed_proposals: "0"
                                successful_proposals: "18"
                              - failed_proposals: "0"
                                successful_proposals: "22"
                              - failed_proposals: "0"
                                successful_proposals: "13"
                              - failed_proposals: "0"
                                successful_proposals: "15"
                              - failed_proposals: "0"
                                successful_proposals: "333"
                              - failed_proposals: "0"
                                successful_proposals: "15"
                              - failed_proposals: "0"
                                successful_proposals: "326"
                              - failed_proposals: "0"
                                successful_proposals: "21"
                              - failed_proposals: "0"
                                successful_proposals: "8"
                              - failed_proposals: "0"
                                successful_proposals: "16"
                              - failed_proposals: "0"
                                successful_proposals: "13"
                              - failed_proposals: "0"
                                successful_proposals: "272"
                              - failed_proposals: "0"
                                successful_proposals: "333"
                              - failed_proposals: "0"
                                successful_proposals: "18"
                              - failed_proposals: "0"
                                successful_proposals: "14"
                              - failed_proposals: "0"
                                successful_proposals: "81"
                              - failed_proposals: "0"
                                successful_proposals: "10"
                              - failed_proposals: "0"
                                successful_proposals: "232"
                              - failed_proposals: "0"
                                successful_proposals: "49"
                              - failed_proposals: "0"
                                successful_proposals: "13"
                              - failed_proposals: "0"
                                successful_proposals: "17"
                              - failed_proposals: "0"
                                successful_proposals: "23"
                              - failed_proposals: "0"
                                successful_proposals: "11"
                              - failed_proposals: "0"
                                successful_proposals: "317"
                              - failed_proposals: "0"
                                successful_proposals: "300"
                              - failed_proposals: "0"
                                successful_proposals: "239"
                              - failed_proposals: "0"
                                successful_proposals: "243"
                              - failed_proposals: "0"
                                successful_proposals: "16"
                              - failed_proposals: "0"
                                successful_proposals: "10"
                              - failed_proposals: "0"
                                successful_proposals: "139"
                              - failed_proposals: "0"
                                successful_proposals: "14"
                              - failed_proposals: "0"
                                successful_proposals: "18"
                              - failed_proposals: "0"
                                successful_proposals: "13"
                              - failed_proposals: "0"
                                successful_proposals: "18"
                              - failed_proposals: "0"
                                successful_proposals: "127"
                              - failed_proposals: "0"
                                successful_proposals: "61"
                              - failed_proposals: "0"
                                successful_proposals: "52"
                              - failed_proposals: "0"
                                successful_proposals: "72"
                              - failed_proposals: "0"
                                successful_proposals: "21"
                              - failed_proposals: "0"
                                successful_proposals: "335"
                              - failed_proposals: "0"
                                successful_proposals: "270"
                              - failed_proposals: "0"
                                successful_proposals: "20"
                              - failed_proposals: "0"
                                successful_proposals: "313"
                              - failed_proposals: "0"
                                successful_proposals: "20"
                              - failed_proposals: "0"
                                successful_proposals: "13"
                              - failed_proposals: "0"
                                successful_proposals: "357"
                              - failed_proposals: "0"
                                successful_proposals: "17"
                              - failed_proposals: "0"
                                successful_proposals: "294"
                              - failed_proposals: "0"
                                successful_proposals: "88"
                              - failed_proposals: "0"
                                successful_proposals: "65"
                              - failed_proposals: "0"
                                successful_proposals: "324"
                              - failed_proposals: "0"
                                successful_proposals: "236"
                              - failed_proposals: "0"
                                successful_proposals: "225"
                              - failed_proposals: "0"
                                successful_proposals: "12"
                              - failed_proposals: "0"
                                successful_proposals: "11"
                              - failed_proposals: "0"
                                successful_proposals: "284"
                              - failed_proposals: "0"
                                successful_proposals: "318"
                              - failed_proposals: "0"
                                successful_proposals: "350"
                              - failed_proposals: "0"
                                successful_proposals: "232"
                              - failed_proposals: "0"
                                successful_proposals: "239"
                              - failed_proposals: "0"
                                successful_proposals: "31"
                              - failed_proposals: "0"
                                successful_proposals: "215"
                              - failed_proposals: "0"
                                successful_proposals: "18"
                              - failed_proposals: "0"
                                successful_proposals: "7"
                              - failed_proposals: "0"
                                successful_proposals: "6"
                        type: write_resource
                      - address: "0x1"
                        state_key_hash: "0x7b1615bf012d3c94223f3f76287ee2f7bdf31d364071128b256aeff0841b626d"
                        data:
                          type: 0x1::timestamp::CurrentTimeMicroseconds
                          data:
                            microseconds: "1676221006271819"
                        type: write_resource
                    id: "0xb2600b0bb8c1a0319cc4597d4e84a4fcbd69eee2836abd6c31a1d6b8a75c4747"
                    epoch: "1476"
                    round: "12159"
                    events:
                      - guid:
                          creation_number: "3"
                          account_address: "0x1"
                        sequence_number: "32425224"
                        type: 0x1::block::NewBlockEvent
                        data:
                          epoch: "1476"
                          failed_proposer_indices: []
                          hash: "0xb2600b0bb8c1a0319cc4597d4e84a4fcbd69eee2836abd6c31a1d6b8a75c4747"
                          height: "32425224"
                          previous_block_votes_bitvec: "0x81ff87eeffe0ef5e8fe5fdffbf"
                          proposer: "0xfcbc1da54b125c093d49bf4a604a1854d38f99b6cffc09255d8af5446898ddba"
                          round: "12159"
                          time_microseconds: "1676221006271819"
                    previous_block_votes_bitvec:
                      - 129
                      - 255
                      - 135
                      - 238
                      - 255
                      - 224
                      - 239
                      - 94
                      - 143
                      - 229
                      - 253
                      - 255
                      - 191
                    proposer: "0xfcbc1da54b125c093d49bf4a604a1854d38f99b6cffc09255d8af5446898ddba"
                    failed_proposer_indices: []
                    timestamp: "1676221006271819"
                    type: block_metadata_transaction
                  - version: "86447895"
                    hash: "0xb07711bfb042c8ef0b62cb3706f5e80f9ae7dbbc3373b7c3909002c9bdd93ea0"
                    state_change_hash: "0x264b1ce36794c6d3063ba2ef07529c1778b51b3bad004b41af05327da85a9a2f"
                    event_root_hash: "0xd7684082ab58e5bd1f5f103cc7bf00e0d54e6701236f129429d3cb2957378092"
                    state_checkpoint_hash: null
                    gas_used: "4757"
                    success: true
                    vm_status: Executed successfully
                    accumulator_root_hash: "0x7f06d4231a9d420713fd1054e430d096e8ad5eafdaa3af24a325ff37d21e8c8d"
                    changes:
                      - address: "0x111111988671bf90f28a06ece99f293677c35017e46c4f81a3e20f5b1d1cbdd6"
                        state_key_hash: "0xeb5087e46b59cfcbdccca28604e108366b30a475cdcfc45194538120e738fab2"
                        data:
                          type: 0x1::coin::CoinStore<0x777821c78442e17d82c3d7a371f42de7189e4248e529fe6eee6bca40ddbb::apcoin::ApCoin>
                          data:
                            coin:
                              value: "891681201628"
                            deposit_events:
                              counter: "53663"
                              guid:
                                id:
                                  addr: "0x111111988671bf90f28a06ece99f293677c35017e46c4f81a3e20f5b1d1cbdd6"
                                  creation_num: "4"
                            frozen: false
                            withdraw_events:
                              counter: "1"
                              guid:
                                id:
                                  addr: "0x111111988671bf90f28a06ece99f293677c35017e46c4f81a3e20f5b1d1cbdd6"
                                  creation_num: "5"
                        type: write_resource
                      - address: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                        state_key_hash: "0x0c029ed5f50bd45ef2e3a773b57172b5304369c0c9e8f982416c8b3e2c11a4e7"
                        data:
                          type: 0x1::coin::CoinStore<0x1::aptos_coin::AptosCoin>
                          data:
                            coin:
                              value: "3793447"
                            deposit_events:
                              counter: "1"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "2"
                            frozen: false
                            withdraw_events:
                              counter: "49"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "3"
                        type: write_resource
                      - address: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                        state_key_hash: "0xaf8a3fa82009cae2bef5e3e9910889e5c5f07d87ba0a5309bd1ea9daa9b2bc5a"
                        data:
                          type: 0x1::coin::CoinStore<0x777821c78442e17d82c3d7a371f42de7189e4248e529fe6eee6bca40ddbb::apcoin::ApCoin>
                          data:
                            coin:
                              value: "728000000"
                            deposit_events:
                              counter: "22"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "8"
                            frozen: false
                            withdraw_events:
                              counter: "0"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "9"
                        type: write_resource
                      - address: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                        state_key_hash: "0xf8061d093b9f08cb68b01fc121fda6b2a1f92ad24401ad15442633e6375ebe72"
                        data:
                          type: 0x1::account::Account
                          data:
                            authentication_key: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                            coin_register_events:
                              counter: "2"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "0"
                            guid_creation_num: "11"
                            key_rotation_events:
                              counter: "0"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "1"
                            rotation_capability_offer:
                              for:
                                vec: []
                            sequence_number: "34"
                            signer_capability_offer:
                              for:
                                vec: []
                        type: write_resource
                      - address: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                        state_key_hash: "0xe32ab3b24e81ad5f765adf571eeec84dd88c81f4c8a81c96c2053b3eb2dc34ff"
                        data:
                          type: 0x777821c78442e17d82c3d7a371f42de7189e4248e529fe6eee6bca40ddbb::APDomain::MintAPCEventHandle
                          data:
                            events:
                              counter: "22"
                              guid:
                                id:
                                  addr: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                                  creation_num: "10"
                        type: write_resource
                      - address: "0xb731146f64e49695f67ec7d7cd11b58a94194c897a5c2a1fea6e00d36e220926"
                        state_key_hash: "0xd63d1ead23622281e2bc36ded757193d614e6fc0d7c64dbb75d17ffc5cb6ab1d"
                        data:
                          type: 0x1::coin::CoinStore<0x777821c78442e17d82c3d7a371f42de7189e4248e529fe6eee6bca40ddbb::apcoin::ApCoin>
                          data:
                            coin:
                              value: "9992547296200000"
                            deposit_events:
                              counter: "992"
                              guid:
                                id:
                                  addr: "0xb731146f64e49695f67ec7d7cd11b58a94194c897a5c2a1fea6e00d36e220926"
                                  creation_num: "9"
                            frozen: false
                            withdraw_events:
                              counter: "242600"
                              guid:
                                id:
                                  addr: "0xb731146f64e49695f67ec7d7cd11b58a94194c897a5c2a1fea6e00d36e220926"
                                  creation_num: "10"
                        type: write_resource
                      - state_key_hash: "0x6e4b28d40f98a106a65163530924c0dcb40c1349d3aa915d108b4d6cfc1ddb19"
                        handle: "0x1b854694ae746cdbd8d44186ca4929b2b337df21d1c74633be19b2710552fdca"
                        key: "0x0619dc29a0aac8fa146714058e8dd6d2d0f3bdf5f6331907bf91f3acd81e6935"
                        value: "0x5d7b18c447336a010000000000000000"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0xf0d126e52c77dc9f525cfd75bc5b109f9117bef90a20e71f21e91153bad75fab"
                        handle: "0x788c34af6f78bf917e2a9081fb42ef58f10284d08677515b5403286883a2d5fd"
                        key: "0x086e68756e676d656f"
                        value: "0x00000000000000000b1ae9630000000000127a0000000000"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0xc80914f3227c8fbf227752327e63f8050e9db6c56995b4c250f643578c3065e8"
                        handle: "0x788c34af6f78bf917e2a9081fb42ef58f10284d08677515b5403286883a2d5fd"
                        key: "0x0e6e68756e672e6e68756e676d656f"
                        value: "0x0100000000000000ce6bea63000000000000000000000000"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0xffadf7ae9d5e8726a372c5a18dab3450daa83fb78b4c3f96a7ba374cf75957b7"
                        handle: "0xd241bc8bb3784e89c360587bc5d356096a0f732ee6ab0b787865db6cff8995eb"
                        key: "0x0741505455534454"
                        value: "0x08f0b2ba51000000004e1ae963000000004e1ae963000000000ba80000000000007593fbb3da832aa4440bda84006bdf3b3b9870126f1337cacb6ae1589f297c745164a51746ef3be84dc170c4991cecc70b52ab5d4d89d883eaef7cd5eea48085f5980907c1563f4faf5368a938e6b95082f03c73f1dc2365563cfb531a81c817"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0x59a75fd597faf7ad23833351e8de4a0ea14fec7986cabdab28a2735102cec17f"
                        handle: "0xd241bc8bb3784e89c360587bc5d356096a0f732ee6ab0b787865db6cff8995eb"
                        key: "0x07424e4255534454"
                        value: "0x08008c946e070000004e1ae963000000004e1ae963000000000ca8000000000000c0b45862ff7c56affc8c52da39dbbb0be678cd7963b8d734d6e690dd180b5c730957ef8216b66d3bab90f6b3b08bedea11c92c203f0a2629e8870ad3916e61fdde347170fa0aa160548fe7db448a7ea2fbd18efd3fd55bec4d46f00682aa855e"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0x6c60c02ade8568f6eeeaa91e920851c1a844ced514ab535d9b385b361986c34f"
                        handle: "0xd241bc8bb3784e89c360587bc5d356096a0f732ee6ab0b787865db6cff8995eb"
                        key: "0x0742544355534454"
                        value: "0x080086a409010200004e1ae963000000004e1ae963000000000ca8000000000000f7e2800b5b98bf18c70f4a4afec8f63416184a578300ed12f4c9ca081f4be9aff8b637f086d5441077e4f6f117e9fdb2e8b68b0d0156cb2322a936bf87f027bb51ef1c5aafebdbc127c6ae7293a4afd1b94884d604885709f7837573ef44cb88"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0xd434091da7b33761af74117045456e5d179d670df597e7f19a2f321d9abbaeaa"
                        handle: "0xd241bc8bb3784e89c360587bc5d356096a0f732ee6ab0b787865db6cff8995eb"
                        key: "0x0745544855534454"
                        value: "0x08002896fa230000004e1ae963000000004e1ae963000000000ca800000000000029a94de9c9df2195caf970fefa2e3b6d78f375078eb08de5dd907224e33553916a5e811d4d451d6a54f059bd58d609f47bf76775b81fe7f3b2ead204513e22d5745d4b2383e5a2a8e37358003238382f359e8df82453d12332263fe37f552a6c"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0xcc5be28c6fc2a3a6c4926ffec118f60e45aa8eae1e03841e1c9eacf3d2caca09"
                        handle: "0xd241bc8bb3784e89c360587bc5d356096a0f732ee6ab0b787865db6cff8995eb"
                        key: "0x07534f4c55534454"
                        value: "0x080005fc80000000004e1ae963000000004e1ae963000000000ca80000000000004d1414b13758f1f03d4b9e31cb08294d1f23d1a142107b2da5d3021cd9f0f2ce8f9304f92cc3281084851d63fcf039d4ae20554cfe6e1bb67ddb50e1470bce070d1b95fe7f3738a84cb79eef9089c91ad654401fa11b9977bfbf135dc10cc830"
                        data: null
                        type: write_table_item
                      - state_key_hash: "0xdd449c54cf8c16e218619a23d929f3ff27d1db2e5ac157624112b006666d46ac"
                        handle: "0xd241bc8bb3784e89c360587bc5d356096a0f732ee6ab0b787865db6cff8995eb"
                        key: "0x084156415855534454"
                        value: "0x0880a78d6d000000004e1ae963000000004e1ae963000000000ca80000000000007f604fb386395bf053916111c4bc3a702c43445115b042e96fba8e3aeb474c2dc4d7bd010a2e6e4816dba5f7b364d8dbf7a8d6c622571582881ebca75eff7c2eedea915ce2d7d35e96e6803b53182ea1723c3885a1721c28f266cac2c881b0e9"
                        data: null
                        type: write_table_item
                    sender: "0x48af300f89da29d2a355913fd95d77bd9102025a558fd66541de4e20960764ee"
                    sequence_number: "33"
                    max_gas_amount: "9454"
                    gas_unit_price: "133"
                    expiration_timestamp_secs: "1676221021"
                    payload:
                      function: 0x777821c78442e17d82c3d7a371f42de7189e4248e529fe6eee6bca40ddbb::APDomain::claim_apc_with_oracle
                      type_arguments: []
                      arguments:
                        - "0x6e68756e672e6e68756e676d656f"
                        - "0x000000000063e91a44000607415054555344540000000051bab2f007425443555344540000020109a48600074554485553445400000023fa96280007424e4255534454000000076e948c00084156415855534454000000006d8da78007534f4c555344540000000080fc0500"
                        - "0xaee23cb99fc52e2dbb235b526a45c7edd2ee0ed9f8c5d4ff723e5010c253098806d01e12ee0b09931810f9e6d539c88d8fa1b2b3f95bbae6e2e21bfc54efcb00"
                      type: entry_function_payload
                    signature:
                      public_key: "0xc94355ab4b414dffcc4da87ee07bde4772ef3985c0206bf0dcce4535e35d2402"
                      signature: "0x575b648acfc8c66ab5c1e869856e655eda53fdb08266176b14368b27de98d2fd20082526139c1cfb011969ab6b9f9983770329b1fc94e3bc65ee3926f9960e0f"
[...]
