openapi: 3.1.0
info:
  title: Web3 Data API
  version: 1.2.20
servers:
  - url: https://web3.nodit.io/v1
paths:
  /{chain}/{network}/nft/getNftContractMetadataByContracts:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 NFT 컨트랙트의 메타데이터를 조회합니다. 컨트랙트 메타데이터에는 컨트랙트의 이름, 심볼, 주소, 토큰 수량 등이 포함되며, 최대 1000개의 컨트랙트를 조회할 수 있습니다.
      summary: Get NFT Contract Metadata by Contracts
      operationId: getNftContractMetadataByContracts
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contractAddresses
              properties:
                contractAddresses:
                  $ref: "#/components/schemas/EvmNftContractAddressesParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: "#/components/schemas/EvmContractMeta"
                    - $ref: "#/components/schemas/EvmAssetMeta"
              example:
                - address: "0x60E4d786628Fea6478F785A6d7e704777c86a7c6"
                  deployedTransactionHash: "0x025f185262da3c52bf9b87f09a1fea815a27fd8c32a363da72cac0c9cae27436"
                  deployedAt: "2021-08-28T23:59:15.000Z"
                  deployerAddress: "0x9056D15C49B19dF52FfaD1E6C11627f035C0C960"
                  logoUrl: null
                  type: ERC721
                  name: MutantApeYachtClub
                  symbol: MAYC
                - address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                  deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                  deployedAt: "2021-04-22T03:03:16.000Z"
                  deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                  logoUrl: null
                  type: ERC721
                  name: BoredApeYachtClub
                  symbol: BAYC
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftContractsByAccount:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 Account가 보유한 NFT 잔고를 컨트랙트별로 요약하여 조회합니다. 
        소유한 NFT의 개별 수량 및 메타데이터가 필요한 경우, Get NFT Owned by Account API를 사용하세요.
      summary: Get NFT Contracts by Account
      operationId: getNftContractsByAccount
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/components/schemas/EvmAccountAddressParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/EvmNftBalance"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/components/schemas/EvmContractMeta"
                                    - $ref: "#/components/schemas/EvmAssetMeta"
              example:
                rpp: 20
                items:
                  - contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    totalBalance: "5"
                    uniqueBalance: "5"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftHoldersByContract:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 NFT 컨트랙트의 홀더 리스트를 조회합니다. 홀더 리스트에는 홀더의 주소와 홀더가 보유한 NFT의 수량이 포함됩니다.
      summary: Get NFT Holders by Contract
      operationId: getNftHoldersByContract
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/components/schemas/EvmNftContractAddressParameter"
                - $ref: "#/components/schemas/PaginationParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/EvmNftHolder"
              example:
                rpp: 10
                cursor: eyJ0b3RhbCI6IjIyMiIsInBrLmFkZHJlc3MiOiIweDg2MTEwNTg0MmFiMDhlMDAxZjNlZDYxNTJiZjcyOWZjZjY0ZGMwMWQifQ==
                items:
                  - ownerAddress: "0xD996B57F18DDa88Bc2c129696a7364C7DbC2f586"
                    totalBalance: "1701"
                    uniqueBalance: "1249"
                  - ownerAddress: "0x208b82B04449Cd51803fAE4B1561450ba13d9510"
                    totalBalance: "1305"
                    uniqueBalance: "1179"
                  - ownerAddress: "0x1EA85e9b3CD7f32882914459DdB21A1fe8354304"
                    totalBalance: "1009"
                    uniqueBalance: "717"
                  - ownerAddress: "0x53EEb57d5107E231C8882b5Ea2071F0A60c41AC9"
                    totalBalance: "752"
                    uniqueBalance: "564"
                  - ownerAddress: "0x68d3ebB11B174a61D48F59839249930F3a80dAd2"
                    totalBalance: "421"
                    uniqueBalance: "471"
                  - ownerAddress: "0xDEB4df4fC041e89737F389D36058F0518390Ade2"
                    totalBalance: "303"
                    uniqueBalance: "309"
                  - ownerAddress: "0xaCf060DF7C74294e2BaEC349EbEd26aF46A166d8"
                    totalBalance: "301"
                    uniqueBalance: "76"
                  - ownerAddress: "0x8f77D28c23479f2ABEB72a31C577aC0Ae5DE1ebF"
                    totalBalance: "231"
                    uniqueBalance: "202"
                  - ownerAddress: "0xD88DeDD75Cf6A68be787AE854E9c609528C30F41"
                    totalBalance: "224"
                    uniqueBalance: "211"
                  - ownerAddress: "0x861105842Ab08e001F3Ed6152Bf729Fcf64DC01D"
                    totalBalance: "222"
                    uniqueBalance: "776"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftHoldersByTokenId:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 NFT의 홀더 리스트를 조회합니다. 홀더 리스트에는 홀더의 주소와 홀더가 보유한 NFT의 수량이 포함됩니다.
      summary: Get NFT Holders by Token ID
      operationId: getNftHoldersByTokenId
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                    - tokenId
                  properties:
                    contractAddress:
                      $ref: "#/components/schemas/EvmNftContractAddressParameter"
                    tokenId:
                      $ref: "#/components/schemas/EvmNftTokenIdParameter"
                - $ref: "#/components/schemas/PaginationParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/EvmNftHolder"
              example:
                rpp: 10
                cursor: eyJ2YWx1ZSI6IjEiLCJhZGRyZXNzIjoiMHgwMTRmNWIwMmZiMzBjZTBkYTA5ZTc0YzQxMjZkMzMxYjIxMWZhZjAzIiwibmZ0SW52ZW50b3J5RW50aXR5SWQudG9rZW5JZCI6IjM1NDU0ODUxMzQwMzgxNDAzMDUzNzc3NTcwMDI0NDAwNjYzNjUyMzkwMjk4OTAxNzg2NzM3MjcyNjk4MTM1MDgwMzg1MzEzMzM5MzYyIn0=
                items:
                  - ownerAddress: "0x0454731eC97bf0d030406f9578687B0A4cf2fe82"
                    totalBalance: "9"
                    uniqueBalance: "1"
                  - ownerAddress: "0x208b82B04449Cd51803fAE4B1561450ba13d9510"
                    totalBalance: "5"
                    uniqueBalance: "1"
                  - ownerAddress: "0x1F558Fa1e453947c7317b37a9f816d449979A6a8"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0x22dd884DF8B5DEE9B44472f0472Dc42e56AbEE89"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0x74240f723b0AC4eb69D97c283d8f6609CD6FfCbF"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0x7FD2584729dBE0aA8A85F81550B4E7d3B28621F3"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0x80b8D5a8C3F8b5e977dB1569eAd5a8B72314C687"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0x848b2775af546143146C1c6F404dD807c79B3066"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0xD996B57F18DDa88Bc2c129696a7364C7DbC2f586"
                    totalBalance: "2"
                    uniqueBalance: "1"
                  - ownerAddress: "0x014f5B02Fb30ce0Da09E74c4126d331b211Faf03"
                    totalBalance: "1"
                    uniqueBalance: "1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftMetadataByContract:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 컨트랙트에서 발행된 NFT의 메타데이터 목록을 조회합니다.
      summary: Get NFT Metadata by Contract
      operationId: getNftMetadataByContract
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/components/schemas/EvmNftContractAddressParameter"
                - $ref: "#/components/schemas/PaginationParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - contract
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/components/schemas/EvmContractMeta"
                                    - $ref: "#/components/schemas/EvmAssetMeta"
                            - $ref: "#/components/schemas/EvmNftMeta"
              example:
                rpp: 3
                cursor: eyJuZnRJbnZlbnRvcnlFbnRpdHlJZC50b2tlbklkIjoiMiJ9
                items:
                  - contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    tokenId: "0"
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/0
                    tokenUriSyncedAt: "2024-03-12T11:51:35.480Z"
                    rawMetadata: |
                      {"image":"ipfs://QmRRPWG96cmgTn2qSzjwr2qvfNEuhunv6FNeMFGa9bx6mQ","attributes":[{"trait_type":"Earring","value":"Silver Hoop"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Fur","value":"Robot"},{"trait_type":"Clothes","value":"Striped Tee"},{"trait_type":"Mouth","value":"Discomfort"},{"trait_type":"Eyes","value":"X Eyes"}]}
                    metadataSyncedAt: "2024-03-12T11:51:35.561Z"
                  - contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    tokenId: "1"
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1
                    tokenUriSyncedAt: "2025-03-25T07:52:29.905Z"
                    rawMetadata: |
                      {"image":"ipfs://QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi","attributes":[{"trait_type":"Mouth","value":"Grin"},{"trait_type":"Clothes","value":"Vietnam Jacket"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"Blue Beams"},{"trait_type":"Fur","value":"Robot"}]}
                    metadataSyncedAt: "2025-03-25T07:52:34.054Z"
                  - contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    tokenId: "2"
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/2
                    tokenUriSyncedAt: "2025-02-15T06:17:17.994Z"
                    rawMetadata: |
                      {"image":"ipfs://QmcJYkCKK7QPmYWjp4FD2e3Lv5WCGFuHNUByvGKBaytif4","attributes":[{"trait_type":"Eyes","value":"3d"},{"trait_type":"Mouth","value":"Bored Cigarette"},{"trait_type":"Fur","value":"Robot"},{"trait_type":"Hat","value":"Sea Captain's Hat"},{"trait_type":"Background","value":"Aquamarine"}]}
                    metadataSyncedAt: "2025-02-15T06:17:21.657Z"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftMetadataByTokenIds:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 NFT의 메타데이터를 조회합니다. 다수의 NFT를 조회할 수 있으며, 최대 1000개의 NFT를 조회할 수 있습니다.
      summary: Get NFT Metadata by Token IDs
      operationId: getNftMetadataByTokenIds
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tokens
              properties:
                tokens:
                  type: array
                  items:
                    type: object
                    required:
                      - contractAddress
                      - tokenId
                    properties:
                      contractAddress:
                        $ref: "#/components/schemas/EvmNftContractAddressParameter"
                      tokenId:
                        $ref: "#/components/schemas/EvmNftTokenIdParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      required:
                        - contract
                      properties:
                        contract:
                          allOf:
                            - $ref: "#/components/schemas/EvmContractMeta"
                            - $ref: "#/components/schemas/EvmAssetMeta"
                    - $ref: "#/components/schemas/EvmNftMeta"
              example:
                - contract:
                    address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                    deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                    deployedAt: "2021-04-22T03:03:16.000Z"
                    deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                    logoUrl: null
                    type: ERC721
                    name: BoredApeYachtClub
                    symbol: BAYC
                  tokenId: "1"
                  tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1
                  tokenUriSyncedAt: "2025-03-25T07:52:29.905Z"
                  rawMetadata: |
                    {"image":"ipfs://QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi","attributes":[{"trait_type":"Mouth","value":"Grin"},{"trait_type":"Clothes","value":"Vietnam Jacket"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"Blue Beams"},{"trait_type":"Fur","value":"Robot"}]}
                  metadataSyncedAt: "2025-03-25T07:52:34.054Z"
                - contract:
                    address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                    deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                    deployedAt: "2021-04-22T03:03:16.000Z"
                    deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                    logoUrl: null
                    type: ERC721
                    name: BoredApeYachtClub
                    symbol: BAYC
                  tokenId: "12"
                  tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/12
                  tokenUriSyncedAt: "2024-03-12T11:51:34.731Z"
                  rawMetadata: |
                    {"image":"ipfs://QmexFWUtmFNGQwVuRN8dLLwcucSFoLYjeHkv2uAyan5H8t","attributes":[{"trait_type":"Background","value":"Army Green"},{"trait_type":"Clothes","value":"Black Holes T"},{"trait_type":"Hat","value":"Seaman's Hat"},{"trait_type":"Eyes","value":"Wide Eyed"},{"trait_type":"Fur","value":"Brown"},{"trait_type":"Mouth","value":"Discomfort"}]}
                  metadataSyncedAt: "2024-03-12T11:51:34.740Z"
                - contract:
                    address: "0x7E6027a6A84fC1F6Db6782c523EFe62c923e46ff"
                    deployedTransactionHash: "0xb62641ab71658bc01733948bc308f3a86ae689466519ce64fb6f348eb02db7ff"
                    deployedAt: "2023-01-31T18:34:11.000Z"
                    deployerAddress: "0x2272ECf43A7481088FA2d4Ba9109804ED5A31901"
                    logoUrl: null
                    type: ERC1155
                    name: ""
                    symbol: ""
                  tokenId: "35454851340381403053777570024400663652390298901786737272698135080385313339362"
                  tokenUri: https://v2.emblemvault.io/v3/meta/0x7E6027a6A84fC1F6Db6782c523EFe62c923e46ff/35454851340381403053777570024400663652390298901786737272698135080385313339362
                  tokenUriSyncedAt: "2025-04-02T15:55:13.910Z"
                  rawMetadata: null
                  metadataSyncedAt: null
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftTransfersByAccount:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 Account가 전송 혹은 수신한 NFT 전송 목록을 조회합니다. 조회 결과에는 컨트랙트 메타데이터와 NFT 메타데이터가 포함됩니다.
      summary: Get NFT Transfers by Account
      operationId: getNftTransfersByAccount
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/components/schemas/EvmAccountAddressParameter"
                    relation:
                      $ref: "#/components/schemas/RelationParameter"
                    contractAddresses:
                      $ref: "#/components/schemas/EvmNftContractAddressesParameter"
                    fromBlock:
                      $ref: "#/components/schemas/AllEvmFromBlockParameter"
                    toBlock:
                      $ref: "#/components/schemas/AllEvmToBlockParameter"
                    fromDate:
                      $ref: "#/components/schemas/EvmFromDateParameter"
                    toDate:
                      $ref: "#/components/schemas/EvmToDateParameter"
                - $ref: "#/components/schemas/PaginationParameter"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/components/schemas/WithMetadataParameter"
                    withZeroValue:
                      $ref: "#/components/schemas/WithZeroValueParameter"
                    withFunction:
                      $ref: "#/components/schemas/WithFunctionParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/EvmTransfer"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/components/schemas/EvmContractMeta"
                                    - $ref: "#/components/schemas/EvmAssetMeta"
                                nft:
                                  $ref: "#/components/schemas/EvmNftMeta"
              example:
                rpp: 5
                cursor: eyJibG9ja1RpbWVzdGFtcCI6MTc2MDQzNjcxOSwiYmxvY2tOdW1iZXIiOjIzNTc1MjY2LCJsb2dJbmRleCI6ODAsImJhdGNoSW5kZXgiOjB9
                items:
                  - from: "0x17754d417E648C78a1a34e6a3a79462A3ef631d3"
                    to: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    value: "1"
                    timestamp: 1761743111
                    blockNumber: 23683234
                    transactionHash: "0x6a802addb51f24f98bde5ccc7fb1553ef6a0cb4524ee6ad776994492a80fe8e4"
                    logIndex: 465
                    contract:
                      address: "0x880a965fAe95f72fe3a3C8e87ED2c9478C8e0a29"
                      deployedTransactionHash: "0x5cdac5b53f82e4d8ffd2f518cc3167cd9c4a47db065e11a37503cf88db54bc50"
                      deployedAt: "2022-08-09T04:18:20.000Z"
                      deployerAddress: "0x453D2c7d86Ae150C18F5486586040F1770059E7D"
                      logoUrl: null
                      type: ERC721
                      name: MiladyRave
                      symbol: MIR
                    nft:
                      tokenId: "1386"
                      tokenUri: ipfs://QmZgtRgUq3q6KLKKZuufcSf4dKf7n1HjRw4TC7gKTLtu24/1386.json
                      tokenUriSyncedAt: "2025-11-14T00:52:15.849Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xb88d4fde"
                      name: safeTransferFrom
                      signature: safeTransferFrom(address,address,uint256,bytes)
                      args:
                        - name: from
                          type: address
                          value: "0x17754d417E648C78a1a34e6a3a79462A3ef631d3"
                        - name: to
                          type: address
                          value: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                        - name: tokenId
                          type: uint256
                          value: "1386"
                        - name: data
                          type: bytes
                          value: 0x
                      input: "0xb88d4fde00000000000000000000000017754d417e648c78a1a34e6a3a79462a3ef631d3000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa96045000000000000000000000000000000000000000000000000000000000000056a00000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000000000000000000000000000000"
                  - from: "0x6d10C75D5119467Bf8A775Def05a3CF4C86F1B68"
                    to: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    value: "1"
                    timestamp: 1761152807
                    blockNumber: 23634441
                    transactionHash: "0x9471912add4bcd82dbe44a32a42142481756ad9cc0da3fc22e411e18389f177e"
                    logIndex: 387
                    batchIndex: 0
                    contract:
                      address: "0x9F20e5344eC7414e257796817B1E2c9628362DE7"
                      deployedTransactionHash: "0x8a921e1d6bde63fdeb00c97c94072c1f2ccc2e525ceae29ebfe350c504e488e9"
                      deployedAt: "2025-10-13T00:41:47.000Z"
                      deployerAddress: "0x6d10C75D5119467Bf8A775Def05a3CF4C86F1B68"
                      logoUrl: null
                      type: ERC1155
                      name: "Ancient GxG "
                      symbol: GxG
                    nft:
                      tokenId: "56"
                      tokenUri: ipfs://QmY7NvxPxogxHMiECqwPuJ7DhmrMEFerwmB1SY52v6fopD/{id}
                      tokenUriSyncedAt: "2025-11-13T04:39:25.544Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xf242432a"
                      name: safeTransferFrom
                      signature: safeTransferFrom(address,address,uint256,uint256,bytes)
                      args:
                        - name: from
                          type: address
                          value: "0x6d10C75D5119467Bf8A775Def05a3CF4C86F1B68"
                        - name: to
                          type: address
                          value: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                        - name: id
                          type: uint256
                          value: "56"
                        - name: amount
                          type: uint256
                          value: "1"
                        - name: data
                          type: bytes
                          value: 0x
                      input: "0xf242432a0000000000000000000000006d10c75d5119467bf8a775def05a3cf4c86f1b68000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa960450000000000000000000000000000000000000000000000000000000000000038000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000"
                  - from: "0xE17216da64DF4D428c886612e5882c7d6D6eDb71"
                    to: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    value: "1"
                    timestamp: 1760772707
                    blockNumber: 23603061
                    transactionHash: "0x77db7b7b562ae98424f7e072ff3ff5c613670bd9a3064e15439f4281dc2f79d5"
                    logIndex: 219
                    batchIndex: 0
                    contract:
                      address: "0xD4416b13d2b3a9aBae7AcD5D6C2BbDBE25686401"
                      deployedTransactionHash: "0x72f81eb3c1feea020d06c0692ce9116f846a9e1bb5cdf27085d09721ec6367c3"
                      deployedAt: "2023-03-28T11:42:59.000Z"
                      deployerAddress: "0x0904Dac3347eA47d208F3Fd67402D039a3b99859"
                      logoUrl: null
                      type: ERC1155
                      name: NameWrapper
                      symbol: ""
                    nft:
                      tokenId: "29629237224178314951024417275358800552666888552054969052822475056233629826322"
                      tokenUri: https://metadata.ens.domains/mainnet/0xD4416b13d2b3a9aBae7AcD5D6C2BbDBE25686401/0x{id}
                      tokenUriSyncedAt: "2025-11-13T04:39:25.543Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xf242432a"
                      name: safeTransferFrom
                      signature: safeTransferFrom(address,address,uint256,uint256,bytes)
                      args:
                        - name: from
                          type: address
                          value: "0xE17216da64DF4D428c886612e5882c7d6D6eDb71"
                        - name: to
                          type: address
                          value: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                        - name: id
                          type: uint256
                          value: "29629237224178314951024417275358800552666888552054969052822475056233629826322"
                        - name: amount
                          type: uint256
                          value: "1"
                        - name: data
                          type: bytes
                          value: 0x
                      input: "0xf242432a000000000000000000000000e17216da64df4d428c886612e5882c7d6d6edb71000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa9604541818dd1855f89f6b4b383bb5c134d6484dba177ef88fab1a3fcc9e6b26f3d12000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000a00000000000000000000000000000000000000000000000000000000000000000"
                  - from: "0xE17216da64DF4D428c886612e5882c7d6D6eDb71"
                    to: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    value: "1"
                    timestamp: 1760772635
                    blockNumber: 23603055
                    transactionHash: "0x237806c42296862ec6ad572d722c598a00a2d16269f009538a970b53b2267bec"
                    logIndex: 345
                    contract:
                      address: "0x57f1887a8BF19b14fC0dF6Fd9B2acc9Af147eA85"
                      deployedTransactionHash: "0xff3ee18523c9ec20e62d31d3d3ce3e8bf25f5ffcdfc4c32cd43ed0a786cc8640"
                      deployedAt: "2020-01-30T00:43:54.000Z"
                      deployerAddress: "0x4Fe4e666Be5752f1FdD210F4Ab5DE2Cc26e3E0e8"
                      logoUrl: null
                      type: ERC721
                      name: ""
                      symbol: ""
                    nft:
                      tokenId: "62355846121180440908198101346378046640313646104689037872527001030033746598814"
                      tokenUri: null
                      tokenUriSyncedAt: null
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xb88d4fde"
                      name: safeTransferFrom
                      signature: safeTransferFrom(address,address,uint256,bytes)
                      args:
                        - name: from
                          type: address
                          value: "0xE17216da64DF4D428c886612e5882c7d6D6eDb71"
                        - name: to
                          type: address
                          value: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                        - name: tokenId
                          type: uint256
                          value: "62355846121180440908198101346378046640313646104689037872527001030033746598814"
                        - name: data
                          type: bytes
                          value: 0x
                      input: "0xb88d4fde000000000000000000000000e17216da64df4d428c886612e5882c7d6d6edb71000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa9604589dc287fa3d79daeb529fa51df22751fad563e9d8c6efc491403c5de006e9b9e00000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000000000000000000000000000000"
                  - from: "0x0000000000000000000000000000000000000000"
                    to: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    value: "1"
                    timestamp: 1760436719
                    blockNumber: 23575266
                    transactionHash: "0x6fdce122a8b96b48be2e463b67402d08fcb8cb4af79e46dcdd01f7fa31f6d1f7"
                    logIndex: 80
                    batchIndex: 0
                    contract:
                      address: "0xEcBDC2ff82fe6785e1793486be1d988Bc4fa610f"
                      deployedTransactionHash: "0xe3d5cfdf7c2d3366b46dd42e65cd93a368e62ed4b9ee405503457b75b0672794"
                      deployedAt: "2025-10-14T10:08:11.000Z"
                      deployerAddress: "0x9f36B8Fad2b097E7a7FFb40B0FF6AA641FD94D81"
                      logoUrl: null
                      type: ERC1155
                      name: Moodeng's Wish
                      symbol: MOOWI
                    nft:
                      tokenId: "1"
                      tokenUri: https://arweave.net/GvBge0rydO1OGCd4f7LJLJj3do9nVStp3OpcGx0LwbU
                      tokenUriSyncedAt: "2025-11-14T00:52:15.856Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0x07591acc"
                      name: mintProxy
                      signature: mintProxy(address,uint256,uint16,uint32[],bytes32[][],address)
                      args:
                        - name: creatorContractAddress
                          type: address
                          value: "0xEcBDC2ff82fe6785e1793486be1d988Bc4fa610f"
                        - name: instanceId
                          type: uint256
                          value: "4134824176"
                        - name: mintCount
                          type: uint16
                          value: "1"
                        - name: mintIndices
                          type: uint32[]
                          value: "74"
                        - name: merkleProofs
                          type: bytes32[][]
                          value: 0xa14a0133dd2c2b7b55853ceac307663da2a82510becdbd9cdf1268712fdc7e18,0xf1e5a422405dd6a140bf77e46a878ebfdbce82e614d13ebe5c735b4107c1dc1f,0xfcad56b3d8a29ac5484ddb78cab737dad6a82034ac29f06aa0953cb95dc1f0ca,0xa28dbfe1a4bb26138adb52dfc4d1a42427830388171d0e4b447001eacc08c0bb,0x5071c80ac0c70ab531aa33de14641d9be607b3ab860d809e498d0d2123e56c92,0x18c60924252ce193c7652fe22730222d42abb07c75807be1ebe6b30b1d9f2672
                        - name: mintFor
                          type: address
                          value: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                      input: "0x07591acc000000000000000000000000ecbdc2ff82fe6785e1793486be1d988bc4fa610f00000000000000000000000000000000000000000000000000000000f67468f0000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000c00000000000000000000000000000000000000000000000000000000000000100000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa960450000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000004a000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000006a14a0133dd2c2b7b55853ceac307663da2a82510becdbd9cdf1268712fdc7e18f1e5a422405dd6a140bf77e46a878ebfdbce82e614d13ebe5c735b4107c1dc1ffcad56b3d8a29ac5484ddb78cab737dad6a82034ac29f06aa0953cb95dc1f0caa28dbfe1a4bb26138adb52dfc4d1a42427830388171d0e4b447001eacc08c0bb5071c80ac0c70ab531aa33de14641d9be607b3ab860d809e498d0d2123e56c9218c60924252ce193c7652fe22730222d42abb07c75807be1ebe6b30b1d9f2672"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftTransfersByContract:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 Contract가 전송 혹은 수신한 NFT 전송 목록을 조회합니다. 조회 결과에는 컨트랙트 메타데이터와 NFT 메타데이터가 포함됩니다.
      summary: Get NFT Transfers by Contract
      operationId: getNftTransfersByContract
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/components/schemas/EvmNftContractAddressParameter"
                    fromBlock:
                      $ref: "#/components/schemas/AllEvmFromBlockParameter"
                    toBlock:
                      $ref: "#/components/schemas/AllEvmToBlockParameter"
                    fromDate:
                      $ref: "#/components/schemas/EvmFromDateParameter"
                    toDate:
                      $ref: "#/components/schemas/EvmToDateParameter"
                - $ref: "#/components/schemas/PaginationParameter"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/components/schemas/WithMetadataParameter"
                    withZeroValue:
                      $ref: "#/components/schemas/WithZeroValueParameter"
                    withFunction:
                      $ref: "#/components/schemas/WithFunctionParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/EvmTransfer"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/components/schemas/EvmContractMeta"
                                    - $ref: "#/components/schemas/EvmAssetMeta"
                                nft:
                                  $ref: "#/components/schemas/EvmNftMeta"
              example:
                rpp: 5
                cursor: eyJibG9ja1RpbWVzdGFtcCI6MTc2MzA2OTQ1OSwiYmxvY2tOdW1iZXIiOjIzNzkyOTc0LCJsb2dJbmRleCI6MjU5LCJiYXRjaEluZGV4IjowfQ==
                items:
                  - from: "0x13Fc4c15c44c4Ba9b1cfeE120Ff99B7447197aF0"
                    to: "0x42Fe7C580B6b16f8232909C7ae2ff56e0253Eac2"
                    value: "1"
                    timestamp: 1763077007
                    blockNumber: 23793598
                    transactionHash: "0x9c272646eb12213f9f3f6f1d259355c94bc8b51644ae0e98455a6f9c1720428e"
                    logIndex: 194
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "2381"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/2381
                      tokenUriSyncedAt: "2024-03-12T11:50:45.772Z"
                      rawMetadata: |
                        {"image":"ipfs://QmeK9oJXx6fP8yD2tk7KJMMCYAWhuonUfTfvP4cYCqQjic","attributes":[{"trait_type":"Background","value":"Orange"},{"trait_type":"Clothes","value":"Black T"},{"trait_type":"Eyes","value":"Robot"},{"trait_type":"Hat","value":"Halo"},{"trait_type":"Mouth","value":"Bored Unshaven Pipe"},{"trait_type":"Fur","value":"Pink"}]}
                      metadataSyncedAt: "2024-03-12T11:50:45.845Z"
                    function:
                      selector: "0x30875056"
                      input: "0x3087505600000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000e0000000000000000000000000000000000000000000000000000000000000012000000000000000000000000042fe7c580b6b16f8232909c7ae2ff56e0253eac200000000000000000000000042fe7c580b6b16f8232909c7ae2ff56e0253eac20000000000000000000000000000000000000000000000000000000000000001000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000008ac7230489e80000000000000000000000000000000000000000000000000000000000000000000500000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000001a0000000000000000000000000000000000000000000000000000000000000028000000000000000000000000000000000000000000000000000000000000003200000000000000000000000000000000000000000000000000000000000000a20000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc20000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000000000000000000000000000044095ea7b3000000000000000000000000f5042e6ffac5a625d4e7848e0b01373d8eb9e2220000000000000000000000000000000000000000000000008ac7230489e8000000000000000000000000000000000000000000000000000000000000000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000242e1a7d4d0000000000000000000000000000000000000000000000008ac7230489e8000000000000000000000000000000000000000000000000000000000000000000000000000000000000f5042e6ffac5a625d4e7848e0b01373d8eb9e22200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008ac7230489e80000000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000068f116a894984e2db1123eb39500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008ac7230489e8000000000000000000000000000000000000000000000000000000000000000000800000000000000000000000000000000000000000000000000000000000000648e7acab24000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000006200000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f000000000000000000000000000042fe7c580b6b16f8232909c7ae2ff56e0253eac200000000000000000000000000000000000000000000000000000000000000a0000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000520000000000000000000000000000000000000000000000000000000000000058000000000000000000000000013fc4c15c44c4ba9b1cfee120ff99b7447197af000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000160000000000000000000000000000000000000000000000000000000000000022000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000068f0c2980000000000000000000000000000000000000000000000000000000069184f9800000000000000000000000000000000000000000000000000000000000000003d958fe200000000000000000000000000000000000000004d09774824a935400000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f0000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000002000000000000000000000000bc4ca0eda7647a8ab7c2061c2e118a18a936f13d000000000000000000000000000000000000000000000000000000000000094d00000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000088009813ced4000000000000000000000000000000000000000000000000000088009813ced4000000000000000000000000000013fc4c15c44c4ba9b1cfee120ff99b7447197af0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000016345785d8a0000000000000000000000000000000000000000000000000000016345785d8a00000000000000000000000000000000a26b00c1f0df003000390027140000faa719000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000016345785d8a0000000000000000000000000000000000000000000000000000016345785d8a0000000000000000000000000000a858ddc0445d8131dac4d1de01f834ffcba52ef1000000000000000000000000000000000000000000000000000000000000004039062884a0560514169b77f45716d2e8cb62977a301485b8cbe7d5d7f124e10eab8bd5747a7eb966261a767f7d3cd73fe4307b02c5e29dcc3f922e57d0237bd1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003d958fe2000000000000000000000000000000000000000000000000000000000000000000000000f5042e6ffac5a625d4e7848e0b01373d8eb9e22200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000445de81e3f000000000000000000000000000000000000000000000000000000000000000000000000000000000000000042fe7c580b6b16f8232909c7ae2ff56e0253eac200000000000000000000000000000000000000000000000000000000a8691bcf711b982fcd544947380fc85422272af2458f7a8cce182f2723c245fa865d8597"
                  - from: "0xf76246B0842c92aD5bD745973Ca9EB85B937b126"
                    to: "0x6eA41d51Ca8052D9608B8D646ea8cB0832f7F3c4"
                    value: "1"
                    timestamp: 1763073035
                    blockNumber: 23793271
                    transactionHash: "0x479001ec4811709911a2e019cd66c29eb225d9e930e475b5e32ca6cf0c8e84b9"
                    logIndex: 366
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "7304"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/7304
                      tokenUriSyncedAt: "2025-11-09T02:50:21.570Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0x336d8206"
                      name: takeAskSinglePool
                      signature: takeAskSinglePool(((address,address,bytes32,uint256,uint256,uint8,(address,uint16),uint256),(uint256,bytes32[],(uint256,uint256,uint256,uint256),(uint256,uint256)),(address,uint16),bytes,address),bytes,uint256)
                      args:
                        - name: inputs
                          type: tuple
                          value: 0xf76246B0842c92aD5bD745973Ca9EB85B937b126,0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D,0xb891fc036af7e684c17dd689afb37a93d439dcb52dbcea00fa05e8897ed52fd7,1,1763073394,0,0x0000000000000000000000000000000000000000,0,256686456267990424251702254442563401518,0,,0,7304,1,6149999900000000000,7304,1,0x0000000000000000000000000000000000000000,0,0x3494e19b049a1843653c235022b1c7cb80364de9a6e3d2e976dfb74a1f5d857604045222224fb766452dc14248fd1181b18bd6419668dca991e3d7f5e0bf175c1b,0x6eA41d51Ca8052D9608B8D646ea8cB0832f7F3c4
                        - name: oracleSignature
                          type: bytes
                          value: "0xebc353c5ae53c27147a68e95c229f769fb948ff3c3567c5a049317d8aeac19962d1105246b7924b2569247f322e8eec9852461c8b14f481e697f3d80360aaa9f1c016b0e746af68e5d010513ff70a3aaed9afeb8661116e6ce"
                        - name: amountToWithdraw
                          type: uint256
                          value: "6149999900000000000"
                      input: "0x336d8206000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000003c00000000000000000000000000000000000000000000000005559305330301800000000000000000000000000f76246b0842c92ad5bd745973ca9eb85b937b126000000000000000000000000bc4ca0eda7647a8ab7c2061c2e118a18a936f13db891fc036af7e684c17dd689afb37a93d439dcb52dbcea00fa05e8897ed52fd700000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000069165d7200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000c11c0363fe1e44ebd554e7184cfa772e00000000000000000000000000000000000000000000000000000000000001c00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002e00000000000000000000000006ea41d51ca8052d9608b8d646ea8cb0832f7f3c40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001c88000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000055593053303018000000000000000000000000000000000000000000000000000000000000001c880000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000413494e19b049a1843653c235022b1c7cb80364de9a6e3d2e976dfb74a1f5d857604045222224fb766452dc14248fd1181b18bd6419668dca991e3d7f5e0bf175c1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000059ebc353c5ae53c27147a68e95c229f769fb948ff3c3567c5a049317d8aeac19962d1105246b7924b2569247f322e8eec9852461c8b14f481e697f3d80360aaa9f1c016b0e746af68e5d010513ff70a3aaed9afeb8661116e6ce00000000000000332d1229"
                  - from: "0x29469395eAf6f95920E59F858042f0e28D98a20B"
                    to: "0x0D2EB2be84E68497E2eb8C84B72597450f1b23CC"
                    value: "1"
                    timestamp: 1763072915
                    blockNumber: 23793262
                    transactionHash: "0xeaf34d416ff66e165412b79dfb7e2a5856003f8a405b38c8df0ccf44f967b95d"
                    logIndex: 144
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "5084"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/5084
                      tokenUriSyncedAt: "2025-11-09T02:50:01.187Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xc87df1c2"
                      name: repay
                      signature: repay((address,address,address,uint256,uint256,uint256,uint256,uint256,uint256),uint256)
                      args:
                        - name: lien
                          type: tuple
                          value: 0x352E35C1d284a6e9DD610111799e6D55b7394266,0x0D2EB2be84E68497E2eb8C84B72597450f1b23CC,0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D,5084,3960000000000000000,1762954331,980,0,9000
                        - name: lienId
                          type: uint256
                          value: "426760"
                      input: "0xc87df1c2000000000000000000000000352e35c1d284a6e9dd610111799e6d55b73942660000000000000000000000000d2eb2be84e68497e2eb8c84b72597450f1b23cc000000000000000000000000bc4ca0eda7647a8ab7c2061c2e118a18a936f13d00000000000000000000000000000000000000000000000000000000000013dc00000000000000000000000000000000000000000000000036f4bf04de8c00000000000000000000000000000000000000000000000000000000000069148c5b00000000000000000000000000000000000000000000000000000000000003d4000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000023280000000000000000000000000000000000000000000000000000000000068308"
                  - from: "0xd11EFe96527fdA776B1530ad157C8160533cB5e4"
                    to: "0x4BB21783233043f382776208D37Eccb1355ceebB"
                    value: "1"
                    timestamp: 1763072087
                    blockNumber: 23793193
                    transactionHash: "0x385a47e5d0cc96a55b8f92687599f28ad608b4f94aa755b5b749e8118918dea5"
                    logIndex: 185
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "7717"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/7717
                      tokenUriSyncedAt: "2025-11-09T02:25:29.200Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xe7acab24"
                      name: fulfillAdvancedOrder
                      signature: fulfillAdvancedOrder(((address,address,(uint8,address,uint256,uint256,uint256)[],(uint8,address,uint256,uint256,uint256,address)[],uint8,uint256,uint256,bytes32,uint256,bytes32,uint256),uint120,uint120,bytes,bytes),(uint256,uint8,uint256,uint256,bytes32[])[],bytes32,address)
                      args:
                        - name: advancedOrder
                          type: tuple
                          value: 0x4BB21783233043f382776208D37Eccb1355ceebB,0x000056F7000000EcE9003ca63978907a00FFD100,1,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2,0,6160000000000000000,6160000000000000000,4,0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D,0,1,1,0x4BB21783233043f382776208D37Eccb1355ceebB,1,0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2,0,61600000000000000,61600000000000000,0x0000a26b00c1F0DF003000390027140000fAa719,2,1763007204,1763093604,0x0000000000000000000000000000000000000000000000000000000000000000,27855337018906766782546881864045825683096516384821792734244337503310122120273,0x0000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f0000,2,1,1,0xb11ac47d32e0d800e1596ff8faf91ef34e499fda6a4db50254fc539c0f4b9c9a94647e04998c8296de571c87060188a38b550912b1ecc0d5a07934ba9927b302,0x00d11efe96527fda776b1530ad157c8160533cb5e40000000069165975035f72d63ab12f06e4014254655278001496c3298956b4edf984f4422ef66488d94d152d2bdc7ad095363962e6cf89981bf477d67c7e6fd9452c54da7c626481000000000000000000000000000000000000000000000000000000000000001e25
                        - name: criteriaResolvers
                          type: tuple[]
                          value: 0,1,0,7717,
                        - name: fulfillerConduitKey
                          type: bytes32
                          value: "0x0000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f0000"
                        - name: recipient
                          type: address
                          value: "0xd11EFe96527fdA776B1530ad157C8160533cB5e4"
                      input: "0xe7acab24000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000005e00000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f0000000000000000000000000000d11efe96527fda776b1530ad157c8160533cb5e400000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000046000000000000000000000000000000000000000000000000000000000000004c00000000000000000000000004bb21783233043f382776208d37eccb1355ceebb000000000000000000000000000056f7000000ece9003ca63978907a00ffd1000000000000000000000000000000000000000000000000000000000000000160000000000000000000000000000000000000000000000000000000000000022000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000069155ae4000000000000000000000000000000000000000000000000000000006916ac6400000000000000000000000000000000000000000000000000000000000000003d958fe2000000000000000000000000000000000000000090fa618ee868f4510000007b02230091a7ed01230072f7006a004d60a8d4e71d599b8104250f0000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc20000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000557cb75ce8680000000000000000000000000000000000000000000000000000557cb75ce868000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000004000000000000000000000000bc4ca0eda7647a8ab7c2061c2e118a18a936f13d0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010000000000000000000000004bb21783233043f382776208d37eccb1355ceebb0000000000000000000000000000000000000000000000000000000000000001000000000000000000000000c02aaa39b223fe8d0a0e5c4f27ead9083c756cc2000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000dad8dfa62a000000000000000000000000000000000000000000000000000000dad8dfa62a00000000000000000000000000000000a26b00c1f0df003000390027140000faa7190000000000000000000000000000000000000000000000000000000000000040b11ac47d32e0d800e1596ff8faf91ef34e499fda6a4db50254fc539c0f4b9c9a94647e04998c8296de571c87060188a38b550912b1ecc0d5a07934ba9927b302000000000000000000000000000000000000000000000000000000000000007e00d11efe96527fda776b1530ad157c8160533cb5e40000000069165975035f72d63ab12f06e4014254655278001496c3298956b4edf984f4422ef66488d94d152d2bdc7ad095363962e6cf89981bf477d67c7e6fd9452c54da7c626481000000000000000000000000000000000000000000000000000000000000001e250000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001e2500000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000003d958fe2"
                  - from: "0x29469395eAf6f95920E59F858042f0e28D98a20B"
                    to: "0xf76246B0842c92aD5bD745973Ca9EB85B937b126"
                    value: "1"
                    timestamp: 1763069459
                    blockNumber: 23792974
                    transactionHash: "0x3508538c8a30d3c6d326d40ac6e67010fb253886cfa6e53b19fc52b011c78642"
                    logIndex: 259
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "7304"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/7304
                      tokenUriSyncedAt: "2025-11-09T02:50:21.570Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0xc87df1c2"
                      name: repay
                      signature: repay((address,address,address,uint256,uint256,uint256,uint256,uint256,uint256),uint256)
                      args:
                        - name: lien
                          type: tuple
                          value: 0x352E35C1d284a6e9DD610111799e6D55b7394266,0xf76246B0842c92aD5bD745973Ca9EB85B937b126,0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D,7304,3880000000000000000,1763069435,1080,0,9000
                        - name: lienId
                          type: uint256
                          value: "426842"
                      input: "0xc87df1c2000000000000000000000000352e35c1d284a6e9dd610111799e6d55b7394266000000000000000000000000f76246b0842c92ad5bd745973ca9eb85b937b126000000000000000000000000bc4ca0eda7647a8ab7c2061c2e118a18a936f13d0000000000000000000000000000000000000000000000000000000000001c8800000000000000000000000000000000000000000000000035d88771608400000000000000000000000000000000000000000000000000000000000069164dfb000000000000000000000000000000000000000000000000000000000000043800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002328000000000000000000000000000000000000000000000000000000000006835a"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftTransfersByTokenId:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 NFT가 전송된 목록을 조회합니다. 조회 결과에는 컨트랙트 메타데이터와 NFT 메타데이터가 포함됩니다.
      summary: Get NFT Transfers by TokenId
      operationId: getNftTransfersByTokenId
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                    - tokenId
                  properties:
                    contractAddress:
                      $ref: "#/components/schemas/EvmNftContractAddressParameter"
                    tokenId:
                      $ref: "#/components/schemas/EvmNftTokenIdParameter"
                    fromBlock:
                      $ref: "#/components/schemas/AllEvmFromBlockParameter"
                    toBlock:
                      $ref: "#/components/schemas/AllEvmToBlockParameter"
                    fromDate:
                      $ref: "#/components/schemas/EvmFromDateParameter"
                    toDate:
                      $ref: "#/components/schemas/EvmToDateParameter"
                - $ref: "#/components/schemas/PaginationParameter"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/components/schemas/WithMetadataParameter"
                    withZeroValue:
                      $ref: "#/components/schemas/WithZeroValueParameter"
                    withFunction:
                      $ref: "#/components/schemas/WithFunctionParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/EvmTransfer"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/components/schemas/EvmContractMeta"
                                    - $ref: "#/components/schemas/EvmAssetMeta"
                                nft:
                                  $ref: "#/components/schemas/EvmNftMeta"
              example:
                rpp: 20
                items:
                  - from: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                    to: "0x46EFbAedc92067E6d60E84ED6395099723252496"
                    value: "1"
                    timestamp: 1619817106
                    blockNumber: 12344148
                    transactionHash: "0xe93e858f9330afa4581e260198195623aa7f5cd2809012440ea291d317be9f2f"
                    logIndex: 328
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "1"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1
                      tokenUriSyncedAt: "2025-03-25T07:52:29.905Z"
                      rawMetadata: |
                        {"image":"ipfs://QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi","attributes":[{"trait_type":"Mouth","value":"Grin"},{"trait_type":"Clothes","value":"Vietnam Jacket"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"Blue Beams"},{"trait_type":"Fur","value":"Robot"}]}
                      metadataSyncedAt: "2025-03-25T07:52:34.054Z"
                    function:
                      selector: "0x23b872dd"
                      name: transferFrom
                      signature: transferFrom(address,address,uint256)
                      args:
                        - name: from
                          type: address
                          value: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                        - name: to
                          type: address
                          value: "0x46EFbAedc92067E6d60E84ED6395099723252496"
                        - name: amount
                          type: uint256
                          value: "1"
                      input: "0x23b872dd000000000000000000000000aba7161a7fb69c88e16ed9f455ce62b791ee4d0300000000000000000000000046efbaedc92067e6d60e84ed63950997232524960000000000000000000000000000000000000000000000000000000000000001"
                  - from: "0x0000000000000000000000000000000000000000"
                    to: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                    value: "1"
                    timestamp: 1619133220
                    blockNumber: 12292922
                    transactionHash: "0xcfb197f62ec5c7f0e71a11ec0c4a0e394a3aa41db5386e85526f86c84b3f2796"
                    logIndex: 86
                    contract:
                      address: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                      deployedTransactionHash: "0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba"
                      deployedAt: "2021-04-22T03:03:16.000Z"
                      deployerAddress: "0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03"
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: "1"
                      tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1
                      tokenUriSyncedAt: "2025-03-25T07:52:29.905Z"
                      rawMetadata: |
                        {"image":"ipfs://QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi","attributes":[{"trait_type":"Mouth","value":"Grin"},{"trait_type":"Clothes","value":"Vietnam Jacket"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"Blue Beams"},{"trait_type":"Fur","value":"Robot"}]}
                      metadataSyncedAt: "2025-03-25T07:52:34.054Z"
                    function:
                      selector: "0xb0f67427"
                      name: reserveApes
                      signature: reserveApes()
                      args: []
                      input: "0xb0f67427"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
  /{chain}/{network}/nft/getNftTransfersWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: |
        특정 기간동안 발생한 NFT 전송 목록을 조회합니다. 조회 결과에는 컨트랙트 메타데이터와 NFT 메타데이터가 포함됩니다.
      summary: Get NFT Transfers Within Range
      operationId: getNftTransfersWithinRange
      parameters:
        - $ref: "#/components/parameters/EvmChainParameter"
        - $ref: "#/components/parameters/EvmNetworkParameter"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    fromBlock:
                      $ref: "#/components/schemas/AllEvmFromBlockParameter"
                    toBlock:
                      $ref: "#/components/schemas/AllEvmToBlockParameter"
                    fromDate:
                      $ref: "#/components/schemas/EvmFromDateParameter"
                    toDate:
                      $ref: "#/components/schemas/EvmToDateParameter"
                - $ref: "#/components/schemas/PaginationParameter"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/components/schemas/WithMetadataParameter"
                    withZeroValue:
                      $ref: "#/components/schemas/WithZeroValueParameter"
                    withFunction:
                      $ref: "#/components/schemas/WithFunctionParameter"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationResponse"
                  - type: object
                    required:
                      - items
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/components/schemas/EvmTransfer"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/components/schemas/EvmContractMeta"
                                    - $ref: "#/components/schemas/EvmAssetMeta"
                                nft:
                                  $ref: "#/components/schemas/EvmNftMeta"
              example:
                rpp: 5
                count: 199780753
                cursor: eyJibG9ja1RpbWVzdGFtcCI6MTc2MzA4NDkzMiwiYmxvY2tOdW1iZXIiOjQwMDAxMzIyNywibG9nSW5kZXgiOjQxLCJiYXRjaEluZGV4IjowfQ==
                items:
                  - from: "0xFD0DA66e832EfB17d983dB058f8Be25d3bAd448E"
                    to: "0x0000000000000000000000000000000000000000"
                    value: "5000000"
                    timestamp: 1763084935
                    blockNumber: 400013238
                    transactionHash: "0xb56400abb35779a80341d41ef95296f1b863d93c045d34c56408e2595becd6a3"
                    logIndex: 0
                    batchIndex: 1
                    contract:
                      address: "0x49598aae06f8ed6D82Cb9DFa503e731221fBf7E6"
                      deployedTransactionHash: "0xbad29ded0377df7fba3897b6a814b8b4880aaf97753be61dc7064a2d9a324777"
                      deployedAt: "2025-10-28T17:26:08.000Z"
                      deployerAddress: "0x954A0D7f1B1C2B3060aEBe834D7565FD97B8B08b"
                      logoUrl: null
                      type: ERC1155
                      name: ""
                      symbol: ""
                    nft:
                      tokenId: "87158190790515906403607888426332278180088567483884318637821371382326415171704"
                      tokenUri: ""
                      tokenUriSyncedAt: "2025-11-14T01:48:41.024Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0x6a761202"
                      name: execTransaction
                      signature: execTransaction(address,uint256,bytes,uint8,uint256,uint256,uint256,address,address,bytes)
                      args:
                        - name: to
                          type: address
                          value: "0x0D2Bea44d8E9AE2ac6b9419431dea3e48aBF00BD"
                        - name: value
                          type: uint256
                          value: "0"
                        - name: data
                          type: bytes
                          value: "0x8d80ff0a000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000001590049598aae06f8ed6d82cb9dfa503e731221fbf7e6000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001049e7212ad0000000000000000000000004ac7b973fb4f10d94eda5efa92ffabd6addfb65c0000000000000000000000000000000000000000000000000000000000000000ea27141dede160a76ede4590625d1ead6de43cc78505e306d3b3b388f61ec4ec00000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000004c4b4000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000"
                        - name: operation
                          type: uint8
                          value: "1"
                        - name: safeTxGas
                          type: uint256
                          value: "0"
                        - name: baseGas
                          type: uint256
                          value: "0"
                        - name: gasPrice
                          type: uint256
                          value: "0"
                        - name: gasToken
                          type: address
                          value: "0x0000000000000000000000000000000000000000"
                        - name: refundReceiver
                          type: address
                          value: "0x0000000000000000000000000000000000000000"
                        - name: signatures
                          type: bytes
                          value: "0x7cec2af02c66d9f5a88ef7dc1b3acd9c63c7101131f367094aa436f3f69965b239985a2f5ca7f3d8a77a5cc920e32415742cd80f1757511d3479ce784122f6ff1b"
                      input: "0x6a7612020000000000000000000000000d2bea44d8e9ae2ac6b9419431dea3e48abf00bd00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000140000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000032000000000000000000000000000000000000000000000000000000000000001a48d80ff0a000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000001590049598aae06f8ed6d82cb9dfa503e731221fbf7e6000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001049e7212ad0000000000000000000000004ac7b973fb4f10d94eda5efa92ffabd6addfb65c0000000000000000000000000000000000000000000000000000000000000000ea27141dede160a76ede4590625d1ead6de43cc78505e306d3b3b388f61ec4ec00000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000004c4b40000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000417cec2af02c66d9f5a88ef7dc1b3acd9c63c7101131f367094aa436f3f69965b239985a2f5ca7f3d8a77a5cc920e32415742cd80f1757511d3479ce784122f6ff1b00000000000000000000000000000000000000000000000000000000000000"
                  - from: "0xFD0DA66e832EfB17d983dB058f8Be25d3bAd448E"
                    to: "0x0000000000000000000000000000000000000000"
                    value: "5000000"
                    timestamp: 1763084935
                    blockNumber: 400013238
                    transactionHash: "0xb56400abb35779a80341d41ef95296f1b863d93c045d34c56408e2595becd6a3"
                    logIndex: 0
                    batchIndex: 0
                    contract:
                      address: "0x49598aae06f8ed6D82Cb9DFa503e731221fBf7E6"
                      deployedTransactionHash: "0xbad29ded0377df7fba3897b6a814b8b4880aaf97753be61dc7064a2d9a324777"
                      deployedAt: "2025-10-28T17:26:08.000Z"
                      deployerAddress: "0x954A0D7f1B1C2B3060aEBe834D7565FD97B8B08b"
                      logoUrl: null
                      type: ERC1155
                      name: ""
                      symbol: ""
                    nft:
                      tokenId: "47171050142895675711759653003866732539029530445827718349622623930071927722474"
                      tokenUri: ""
                      tokenUriSyncedAt: "2025-11-14T01:49:01.426Z"
                      rawMetadata: null
                      metadataSyncedAt: null
                    function:
                      selector: "0x6a761202"
                      name: execTransaction
                      signature: execTransaction(address,uint256,bytes,uint8,uint256,uint256,uint256,address,address,bytes)
                      args:
                        - name: to
                          type: address
                          value: "0x0D2Bea44d8E9AE2ac6b9419431dea3e48aBF00BD"
                        - name: value
                          type: uint256
                          value: "0"
                        - name: data
                          type: bytes
                          value: "0x8d80ff0a000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000001590049598aae06f8ed6d82cb9dfa503e731221fbf7e6000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001049e7212ad0000000000000000000000004ac7b973fb4f10d94eda5efa92ffabd6addfb65c0000000000000000000000000000000000000000000000000000000000000000ea27141dede160a76ede4590625d1ead6de43cc78505e306d3b3b388f61ec4ec00000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000004c4b4000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000"
                        - name: operation
                          type: uint8
                          value: "1"
                        - name: safeTxGas
                          type: uint256
                          value: "0"
                        - name: baseGas
                          type: uint256
                          value: "0"
                        - name: gasPrice
                          type: uint256
                          value: "0"
                        - name: gasToken
                          type: address
                          value: "0x0000000000000000000000000000000000000000"
                        - name: refundReceiver
                          type: address
                          value: "0x0000000000000000000000000000000000000000"
                        - name: signatures
                          type: bytes
                          value: "0x7cec2af02c66d9f5a88ef7dc1b3acd9c63c7101131f367094aa436f3f69965b239985a2f5ca7f3d8a77a5cc920e32415742cd80f1757511d3479ce784122f6ff1b"
                      input: "0x6a7612020000000000000000000000000d2bea44d8e9ae2ac6b9419431dea3e48abf00bd00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000140000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000032000000000000000000000000000000000000000000000000000000000000001a48d80ff0a000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000001590049598aae06f8ed6d82cb9dfa503e731221fbf7e6000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001049e7212ad0000000000000000000000004ac7b973fb4f10d94eda5efa92ffabd6addfb65c0000000000000000000000000000000000000000000000000000000000000000ea27141dede160a76ede4590625d1ead6de43cc78505e306d3b3b388f61ec4ec00000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000004c4b40000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000417cec2af02c66d9f5a88ef7dc1b3acd9c63c7101131f367094aa436f3f69965b239985a2f5ca7f3d8a77a5cc920e32415742cd80f1757511d3479ce784122f6ff1b00000000000000000000000000000000000000000000000000000000000000"
                  - from: "0x84C4c905Fc18313f0A8e20855a067b7caaca5922"
                    to: "0xA1bdF7fa19874fD364D0E4ceAee7Df7eb3F5A266"
                    value: "1"
                    timestamp: 1763084932
                    blockNumber: 400013227
                    transactionHash: "0x7f8255ea0bb2c9ddb655bab41eb4a0e2939612acf8d2c7451197cac3a10b1ea0"
                    logIndex: 49
                    contract:
                      address: "0xC36442b4a4522E871399CD717aBDD847Ab11FE88"
                      deployedTransactionHash: "0x0f0dcd724f195bd688b675280aa4391d53ebe46b88646af84bc7a096c80b4df2"
                      deployedAt: "2021-06-01T05:28:50.000Z"
                      deployerAddress: "0x6C9FC64A53c1b71FB3f9Af64d1ae3A4931A5f4E9"
                      logoUrl: null
                      type: ERC721
                      name: Uniswap V3 Positions NFT-V1
                      symbol: UNI-V3-POS
                    nft:
                      tokenId: "5078914"
                      tokenUri: data:application/json;base64,eyJuYW1lIjoiVW5pc3dhcCAtIDElIC0gVVNE4oKuMC9VcCAtIDEuNzM3NDw+MS44NDQ4IiwgImRlc2NyaXB0aW9uIjoiVGhpcyBORlQgcmVwcmVzZW50cyBhIGxpcXVpZGl0eSBwb3NpdGlvbiBpbiBhIFVuaXN3YXAgVjMgVVNE4oKuMC1VcCBwb29sLiBUaGUgb3duZXIgb2YgdGhpcyBORlQgY2FuIG1vZGlmeSBvciByZWRlZW0gdGhlIHBvc2l0aW9uLlxuXG5Qb29sIEFkZHJlc3M6IDB4ODFjOWViN2Y4ODFlMzNjYTNiZGY5NjMzOTc1MWQxM2YzYzNlYmZkZlxuVVNE4oKuMCBBZGRyZXNzOiAweGZkMDg2YmM3Y2Q1YzQ4MWRjYzljODVlYmU0NzhhMWMwYjY5ZmNiYjlcblVwIEFkZHJlc3M6IDB4MTAwOWM1YzExY2RkNDRiZmZlYWMzYzcwZGI3ZWIxNDNkZjJmYWFkMVxuRmVlIFRpZXI6IDElXG5Ub2tlbiBJRDogNTA3ODkxNFxuXG7imqDvuI8gRElTQ0xBSU1FUjogRHVlIGRpbGlnZW5jZSBpcyBpbXBlcmF0aXZlIHdoZW4gYXNzZXNzaW5nIHRoaXMgTkZULiBNYWtlIHN1cmUgdG9rZW4gYWRkcmVzc2VzIG1hdGNoIHRoZSBleHBlY3RlZCB0b2tlbnMsIGFzIHRva2VuIHN5bWJvbHMgbWF5IGJlIGltaXRhdGVkLiIsICJpbWFnZSI6ICJkYXRhOmltYWdlL3N2Zyt4bWw7YmFzZTY0LFBITjJaeUIzYVdSMGFEMGlNamt3SWlCb1pXbG5hSFE5SWpVd01DSWdkbWxsZDBKdmVEMGlNQ0F3SURJNU1DQTFNREFpSUhodGJHNXpQU0pvZEhSd09pOHZkM2QzTG5jekxtOXlaeTh5TURBd0wzTjJaeUlnZUcxc2JuTTZlR3hwYm1zOUoyaDBkSEE2THk5M2QzY3Vkek11YjNKbkx6RTVPVGt2ZUd4cGJtc25QanhrWldaelBqeG1hV3gwWlhJZ2FXUTlJbVl4SWo0OFptVkpiV0ZuWlNCeVpYTjFiSFE5SW5Bd0lpQjRiR2x1YXpwb2NtVm1QU0prWVhSaE9tbHRZV2RsTDNOMlp5dDRiV3c3WW1GelpUWTBMRkJJVGpKYWVVSXpZVmRTTUdGRU1HNU5hbXQzU25sQ2IxcFhiRzVoU0ZFNVNucFZkMDFEWTJka2JXeHNaREJLZG1WRU1HNU5RMEYzU1VSSk5VMURRVEZOUkVGdVNVaG9kR0pITlhwUVUyUnZaRWhTZDA5cE9IWmtNMlF6VEc1amVreHRPWGxhZVRoNVRVUkJkMHd6VGpKYWVXTXJVRWhLYkZrelVXZGtNbXhyWkVkbk9VcDZTVFZOU0VJMFNubENiMXBYYkc1aFNGRTVTbnBWZDAxSVFqUktlVUp0WVZkNGMxQlRZMnBhYlZGM1QwUmFhVXA1T0N0UVF6bDZaRzFqS3lJdlBqeG1aVWx0WVdkbElISmxjM1ZzZEQwaWNERWlJSGhzYVc1ck9taHlaV1k5SW1SaGRHRTZhVzFoWjJVdmMzWm5LM2h0YkR0aVlYTmxOalFzVUVoT01scDVRak5oVjFJd1lVUXdiazFxYTNkS2VVSnZXbGRzYm1GSVVUbEtlbFYzVFVOaloyUnRiR3hrTUVwMlpVUXdiazFEUVhkSlJFazFUVU5CTVUxRVFXNUpTR2gwWWtjMWVsQlRaRzlrU0ZKM1QyazRkbVF6WkROTWJtTjZURzA1ZVZwNU9IbE5SRUYzVEROT01scDVZeXRRUjA1d1kyMU9jMXBUUW1wbFJEQnVUMFJKYmtsSFRqVlFVMk42VFZSVmJrbElTVGxLZWtWNVRVaENORXA1UW0xaFYzaHpVRk5qYWsxVVFYZFBWMDB4U25rNEsxQkRPWHBrYldNcklpOCtQR1psU1cxaFoyVWdjbVZ6ZFd4MFBTSndNaUlnZUd4cGJtczZhSEpsWmowaVpHRjBZVHBwYldGblpTOXpkbWNyZUcxc08ySmhjMlUyTkN4UVNFNHlXbmxDTTJGWFVqQmhSREJ1VFdwcmQwcDVRbTlhVjJ4dVlVaFJPVXA2VlhkTlEyTm5aRzFzYkdRd1NuWmxSREJ1VFVOQmQwbEVTVFZOUTBFeFRVUkJia2xJYUhSaVJ6VjZVRk5rYjJSSVVuZFBhVGgyWkROa00weHVZM3BNYlRsNVduazRlVTFFUVhkTU0wNHlXbmxqSzFCSFRuQmpiVTV6V2xOQ2FtVkVNRzVOVkZGM1NubENhbVZVTUc1TmVtdDNTbmxDZVZCVFkzaE5ha0ozWlVOaloxcHRiSE5pUkRCdVNYcHNiVmt5U21sUFUyTjJVR3AzZG1NeldtNVFaejA5SWlBdlBqeG1aVWx0WVdkbElISmxjM1ZzZEQwaWNETWlJSGhzYVc1ck9taHlaV1k5SW1SaGRHRTZhVzFoWjJVdmMzWm5LM2h0YkR0aVlYTmxOalFzVUVoT01scDVRak5oVjFJd1lVUXdiazFxYTNkS2VVSnZXbGRzYm1GSVVUbEtlbFYzVFVOaloyUnRiR3hrTUVwMlpVUXdiazFEUVhkSlJFazFUVU5CTVUxRVFXNUpTR2gwWWtjMWVsQlRaRzlrU0ZKM1QyazRkbVF6WkROTWJtTjZURzA1ZVZwNU9IbE5SRUYzVEROT01scDVZeXRRUjA1d1kyMU9jMXBUUW1wbFJEQnVUbXBGYmtsSFRqVlFVMk40VFZSTmJrbElTVGxLZWtWM1RVaENORXA1UW0xaFYzaHpVRk5qYWsxdFdtaFpWMUY0U25rNEsxQkRPWHBrYldNcklpQXZQanhtWlVKc1pXNWtJRzF2WkdVOUltOTJaWEpzWVhraUlHbHVQU0p3TUNJZ2FXNHlQU0p3TVNJZ0x6NDhabVZDYkdWdVpDQnRiMlJsUFNKbGVHTnNkWE5wYjI0aUlHbHVNajBpY0RJaUlDOCtQR1psUW14bGJtUWdiVzlrWlQwaWIzWmxjbXhoZVNJZ2FXNHlQU0p3TXlJZ2NtVnpkV3gwUFNKaWJHVnVaRTkxZENJZ0x6NDhabVZIWVhWemMybGhia0pzZFhJZ2FXNDlJbUpzWlc1a1QzVjBJaUJ6ZEdSRVpYWnBZWFJwYjI0OUlqUXlJaUF2UGp3dlptbHNkR1Z5UGlBOFkyeHBjRkJoZEdnZ2FXUTlJbU52Y201bGNuTWlQanh5WldOMElIZHBaSFJvUFNJeU9UQWlJR2hsYVdkb2REMGlOVEF3SWlCeWVEMGlORElpSUhKNVBTSTBNaUlnTHo0OEwyTnNhWEJRWVhSb1BqeHdZWFJvSUdsa1BTSjBaWGgwTFhCaGRHZ3RZU0lnWkQwaVRUUXdJREV5SUVneU5UQWdRVEk0SURJNElEQWdNQ0F4SURJM09DQTBNQ0JXTkRZd0lFRXlPQ0F5T0NBd0lEQWdNU0F5TlRBZ05EZzRJRWcwTUNCQk1qZ2dNamdnTUNBd0lERWdNVElnTkRZd0lGWTBNQ0JCTWpnZ01qZ2dNQ0F3SURFZ05EQWdNVElnZWlJZ0x6NDhjR0YwYUNCcFpEMGliV2x1YVcxaGNDSWdaRDBpVFRJek5DQTBORFJETWpNMElEUTFOeTQ1TkRrZ01qUXlMakl4SURRMk15QXlOVE1nTkRZeklpQXZQanhtYVd4MFpYSWdhV1E5SW5SdmNDMXlaV2RwYjI0dFlteDFjaUkrUEdabFIyRjFjM05wWVc1Q2JIVnlJR2x1UFNKVGIzVnlZMlZIY21Gd2FHbGpJaUJ6ZEdSRVpYWnBZWFJwYjI0OUlqSTBJaUF2UGp3dlptbHNkR1Z5UGp4c2FXNWxZWEpIY21Ga2FXVnVkQ0JwWkQwaVozSmhaQzExY0NJZ2VERTlJakVpSUhneVBTSXdJaUI1TVQwaU1TSWdlVEk5SWpBaVBqeHpkRzl3SUc5bVpuTmxkRDBpTUM0d0lpQnpkRzl3TFdOdmJHOXlQU0ozYUdsMFpTSWdjM1J2Y0MxdmNHRmphWFI1UFNJeElpQXZQanh6ZEc5d0lHOW1abk5sZEQwaUxqa2lJSE4wYjNBdFkyOXNiM0k5SW5kb2FYUmxJaUJ6ZEc5d0xXOXdZV05wZEhrOUlqQWlJQzgrUEM5c2FXNWxZWEpIY21Ga2FXVnVkRDQ4YkdsdVpXRnlSM0poWkdsbGJuUWdhV1E5SW1keVlXUXRaRzkzYmlJZ2VERTlJakFpSUhneVBTSXhJaUI1TVQwaU1DSWdlVEk5SWpFaVBqeHpkRzl3SUc5bVpuTmxkRDBpTUM0d0lpQnpkRzl3TFdOdmJHOXlQU0ozYUdsMFpTSWdjM1J2Y0MxdmNHRmphWFI1UFNJeElpQXZQanh6ZEc5d0lHOW1abk5sZEQwaU1DNDVJaUJ6ZEc5d0xXTnZiRzl5UFNKM2FHbDBaU0lnYzNSdmNDMXZjR0ZqYVhSNVBTSXdJaUF2UGp3dmJHbHVaV0Z5UjNKaFpHbGxiblErUEcxaGMyc2dhV1E5SW1aaFpHVXRkWEFpSUcxaGMydERiMjUwWlc1MFZXNXBkSE05SW05aWFtVmpkRUp2ZFc1a2FXNW5RbTk0SWo0OGNtVmpkQ0IzYVdSMGFEMGlNU0lnYUdWcFoyaDBQU0l4SWlCbWFXeHNQU0oxY213b0kyZHlZV1F0ZFhBcElpQXZQand2YldGemF6NDhiV0Z6YXlCcFpEMGlabUZrWlMxa2IzZHVJaUJ0WVhOclEyOXVkR1Z1ZEZWdWFYUnpQU0p2WW1wbFkzUkNiM1Z1WkdsdVowSnZlQ0krUEhKbFkzUWdkMmxrZEdnOUlqRWlJR2hsYVdkb2REMGlNU0lnWm1sc2JEMGlkWEpzS0NObmNtRmtMV1J2ZDI0cElpQXZQand2YldGemF6NDhiV0Z6YXlCcFpEMGlibTl1WlNJZ2JXRnphME52Ym5SbGJuUlZibWwwY3owaWIySnFaV04wUW05MWJtUnBibWRDYjNnaVBqeHlaV04wSUhkcFpIUm9QU0l4SWlCb1pXbG5hSFE5SWpFaUlHWnBiR3c5SW5kb2FYUmxJaUF2UGp3dmJXRnphejQ4YkdsdVpXRnlSM0poWkdsbGJuUWdhV1E5SW1keVlXUXRjM2x0WW05c0lqNDhjM1J2Y0NCdlptWnpaWFE5SWpBdU55SWdjM1J2Y0MxamIyeHZjajBpZDJocGRHVWlJSE4wYjNBdGIzQmhZMmwwZVQwaU1TSWdMejQ4YzNSdmNDQnZabVp6WlhROUlpNDVOU0lnYzNSdmNDMWpiMnh2Y2owaWQyaHBkR1VpSUhOMGIzQXRiM0JoWTJsMGVUMGlNQ0lnTHo0OEwyeHBibVZoY2tkeVlXUnBaVzUwUGp4dFlYTnJJR2xrUFNKbVlXUmxMWE41YldKdmJDSWdiV0Z6YTBOdmJuUmxiblJWYm1sMGN6MGlkWE5sY2xOd1lXTmxUMjVWYzJVaVBqeHlaV04wSUhkcFpIUm9QU0l5T1RCd2VDSWdhR1ZwWjJoMFBTSXlNREJ3ZUNJZ1ptbHNiRDBpZFhKc0tDTm5jbUZrTFhONWJXSnZiQ2tpSUM4K1BDOXRZWE5yUGp3dlpHVm1jejQ4WnlCamJHbHdMWEJoZEdnOUluVnliQ2dqWTI5eWJtVnljeWtpUGp4eVpXTjBJR1pwYkd3OUltWmtNRGcyWWlJZ2VEMGlNSEI0SWlCNVBTSXdjSGdpSUhkcFpIUm9QU0l5T1RCd2VDSWdhR1ZwWjJoMFBTSTFNREJ3ZUNJZ0x6NDhjbVZqZENCemRIbHNaVDBpWm1sc2RHVnlPaUIxY213b0kyWXhLU0lnZUQwaU1IQjRJaUI1UFNJd2NIZ2lJSGRwWkhSb1BTSXlPVEJ3ZUNJZ2FHVnBaMmgwUFNJMU1EQndlQ0lnTHo0Z1BHY2djM1I1YkdVOUltWnBiSFJsY2pwMWNtd29JM1J2Y0MxeVpXZHBiMjR0WW14MWNpazdJSFJ5WVc1elptOXliVHB6WTJGc1pTZ3hMalVwT3lCMGNtRnVjMlp2Y20wdGIzSnBaMmx1T21ObGJuUmxjaUIwYjNBN0lqNDhjbVZqZENCbWFXeHNQU0p1YjI1bElpQjRQU0l3Y0hnaUlIazlJakJ3ZUNJZ2QybGtkR2c5SWpJNU1IQjRJaUJvWldsbmFIUTlJalV3TUhCNElpQXZQanhsYkd4cGNITmxJR040UFNJMU1DVWlJR041UFNJd2NIZ2lJSEo0UFNJeE9EQndlQ0lnY25rOUlqRXlNSEI0SWlCbWFXeHNQU0lqTURBd0lpQnZjR0ZqYVhSNVBTSXdMamcxSWlBdlBqd3ZaejQ4Y21WamRDQjRQU0l3SWlCNVBTSXdJaUIzYVdSMGFEMGlNamt3SWlCb1pXbG5hSFE5SWpVd01DSWdjbmc5SWpReUlpQnllVDBpTkRJaUlHWnBiR3c5SW5KblltRW9NQ3d3TERBc01Da2lJSE4wY205clpUMGljbWRpWVNneU5UVXNNalUxTERJMU5Td3dMaklwSWlBdlBqd3ZaejQ4ZEdWNGRDQjBaWGgwTFhKbGJtUmxjbWx1WnowaWIzQjBhVzFwZW1WVGNHVmxaQ0krUEhSbGVIUlFZWFJvSUhOMFlYSjBUMlptYzJWMFBTSXRNVEF3SlNJZ1ptbHNiRDBpZDJocGRHVWlJR1p2Ym5RdFptRnRhV3g1UFNJblEyOTFjbWxsY2lCT1pYY25MQ0J0YjI1dmMzQmhZMlVpSUdadmJuUXRjMmw2WlQwaU1UQndlQ0lnZUd4cGJtczZhSEpsWmowaUkzUmxlSFF0Y0dGMGFDMWhJajR3ZURFd01EbGpOV014TVdOa1pEUTBZbVptWldGak0yTTNNR1JpTjJWaU1UUXpaR1l5Wm1GaFpERWc0b0NpSUZWd0lEeGhibWx0WVhSbElHRmtaR2wwYVhabFBTSnpkVzBpSUdGMGRISnBZblYwWlU1aGJXVTlJbk4wWVhKMFQyWm1jMlYwSWlCbWNtOXRQU0l3SlNJZ2RHODlJakV3TUNVaUlHSmxaMmx1UFNJd2N5SWdaSFZ5UFNJek1ITWlJSEpsY0dWaGRFTnZkVzUwUFNKcGJtUmxabWx1YVhSbElpQXZQand2ZEdWNGRGQmhkR2crSUR4MFpYaDBVR0YwYUNCemRHRnlkRTltWm5ObGREMGlNQ1VpSUdacGJHdzlJbmRvYVhSbElpQm1iMjUwTFdaaGJXbHNlVDBpSjBOdmRYSnBaWElnVG1WM0p5d2diVzl1YjNOd1lXTmxJaUJtYjI1MExYTnBlbVU5SWpFd2NIZ2lJSGhzYVc1ck9taHlaV1k5SWlOMFpYaDBMWEJoZEdndFlTSStNSGd4TURBNVl6VmpNVEZqWkdRME5HSm1abVZoWXpOak56QmtZamRsWWpFME0yUm1NbVpoWVdReElPS0FvaUJWY0NBOFlXNXBiV0YwWlNCaFpHUnBkR2wyWlQwaWMzVnRJaUJoZEhSeWFXSjFkR1ZPWVcxbFBTSnpkR0Z5ZEU5bVpuTmxkQ0lnWm5KdmJUMGlNQ1VpSUhSdlBTSXhNREFsSWlCaVpXZHBiajBpTUhNaUlHUjFjajBpTXpCeklpQnlaWEJsWVhSRGIzVnVkRDBpYVc1a1pXWnBibWwwWlNJZ0x6NGdQQzkwWlhoMFVHRjBhRDQ4ZEdWNGRGQmhkR2dnYzNSaGNuUlBabVp6WlhROUlqVXdKU0lnWm1sc2JEMGlkMmhwZEdVaUlHWnZiblF0Wm1GdGFXeDVQU0luUTI5MWNtbGxjaUJPWlhjbkxDQnRiMjV2YzNCaFkyVWlJR1p2Ym5RdGMybDZaVDBpTVRCd2VDSWdlR3hwYm1zNmFISmxaajBpSTNSbGVIUXRjR0YwYUMxaElqNHdlR1prTURnMlltTTNZMlExWXpRNE1XUmpZemxqT0RWbFltVTBOemhoTVdNd1lqWTVabU5pWWprZzRvQ2lJRlZUUk9LQ3JqQWdQR0Z1YVcxaGRHVWdZV1JrYVhScGRtVTlJbk4xYlNJZ1lYUjBjbWxpZFhSbFRtRnRaVDBpYzNSaGNuUlBabVp6WlhRaUlHWnliMjA5SWpBbElpQjBiejBpTVRBd0pTSWdZbVZuYVc0OUlqQnpJaUJrZFhJOUlqTXdjeUlnY21Wd1pXRjBRMjkxYm5ROUltbHVaR1ZtYVc1cGRHVWlJQzgrUEM5MFpYaDBVR0YwYUQ0OGRHVjRkRkJo
[...]
