openapi: 3.1.0
info:
  title: Aptos - Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/token/getTokenAccountsByAssetType:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokenAccountsByAssetType
      summary: Get Token Accounts by Asset Type
      description: |
        Retrieves the list of accounts holding a specific asset type.
      x-seo-description: Retrieve accounts holding a specific asset type.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    assetType:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                    linkedAssetType:
                      type: string
                      description: |-
                        Common identifier for querying Coin and FA (Fungible Asset) as a single asset unit.

                        linkedAssetType must contain the Object address of the migrated FA, entered in 64-character hexadecimal format (including "0x").
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      example: "0x000000000000000000000000000000000000000000000000000000000000000a"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              assetType: 0x1::aptos_coin::AptosCoin
              linkedAssetType: "0x000000000000000000000000000000000000000000000000000000000000000a"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - ownerAddress
                            - objectAddress
                            - value
                            - isFrozen
                            - isPrimary
                            - assetType
                            - tokenStandard
                            - linkedAssetType
                          properties:
                            ownerAddress:
                              type: string
                              description: |
                                A field that represents the address of the account holding the asset.
                                Provided as a 64-character hexadecimal string prefixed with 0x; identifies the actual owner of the asset.
                                For Coin: the holding account address; for Fungible Asset: the Object owner's address.
                              example: "0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a"
                            objectAddress:
                              type: string
                              description: |
                                A field that represents the address of the Object where the asset is stored.
                                Provided depending on storage location:
                                - Coin: empty string ("") as it is stored directly in the account
                                - Fungible Asset: Object address where the token is stored (64-character hexadecimal string prefixed with 0x)
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                            value:
                              type: string
                              description: |
                                A field that represents the quantity of the held asset.
                                Provided as a string in integer form; decimals are not included.
                                The asset's decimals must be considered when calculating the actual value.
                              example: "1000000"
                            isFrozen:
                              type: boolean
                              description: |
                                A field that indicates whether the asset can be transferred.
                                true means the asset is frozen and cannot be transferred.
                                Used to check the transfer restriction status of the asset.
                              example: false
                            isPrimary:
                              type: boolean
                              description: |
                                A field that indicates whether this Object is the representative Object for the Owner address.
                                true means this Object is the representative Object for the Owner address.
                              example: true
                            assetType:
                              type: string
                              description: |
                                A field that represents the unique identifier of the asset.
                                Provided in one of two formats:
                                - Coin: Asset ID in Move struct format (e.g., 0x1::aptos_coin::AptosCoin)
                                - Fungible Asset: Object address that owns the metadata of the asset
                              example: 0x1::aptos_coin::AptosCoin
                            tokenStandard:
                              type: string
                              description: |
                                A field that represents the standard the asset follows.
                                - v1: Assets following the Coin standard
                                - v2: Assets following the Fungible Asset standard
                              example: v1
                            linkedAssetType:
                              type: string
                              description: |
                                A common identifier that links Coin and Fungible Asset when they have been migrated.
                                This field serves as a unified key that groups Coin/Fungible Asset into a single asset unit for identification and retrieval, providing the Object address where the migrated Fungible Asset's Metadata is stored.
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenBalanceChangesByAccount:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokenBalanceChangesByAccount
      summary: Get Token Balance Changes by Account
      description: |
        Retrieves the IOU token balance change history for a specific account.
      x-seo-description: Track ERC20 token balance changes for a specific account over a block or time range.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/accountAddress"
                    assetTypes:
                      type: array
                      description: |
                        Specifies the type of asset to query. The asset type must be a 64-character hexadecimal value (including "0x") in one of the following formats:

                        * Coin: A Struct-format asset ID such as "0x1::aptos_coin::AptosCoin"
                        * Fungible Asset: The Object address that owns the Token Metadata

                        ⚠️ assetTypes and linkedAssetTypes cannot be used at the same time.
                      items:
                        $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                    linkedAssetTypes:
                      type: array
                      description: |
                        A common identifier used to query Coin and FA (Fungible Asset) as a single asset unit.

                        The linkedAssetType must be the Object address of a migrated FA, entered in 64-character hexadecimal format (including "0x").

                        ⚠️ assetTypes and linkedAssetTypes cannot be used at the same time.
                      items:
                        $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/linkedAssetType"
                    fromBlock:
                      type: string
                      description: |
                        Parameter specifying the starting block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (including "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: earliest
                    toBlock:
                      type: string
                      description: |-
                        Parameter specifying the ending block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (including "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate:
                      type: string
                      description: |-
                        Parameter specifying the start date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without toDate, results are queried from this date to the latest block.
                        - fromDate value must be equal to or earlier than toDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-01T00:00:00+00:00"
                    toDate:
                      type: string
                      description: |-
                        Parameter specifying the end date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without fromDate, results are queried from genesis block to this date.
                        - toDate value must be equal to or later than fromDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-31T00:00:00+00:00"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              accountAddress: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
              linkedAssetTypes:
                - "0x000000000000000000000000000000000000000000000000000000000000000a"
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - eventIndex
                            - eventType
                            - subEventIndex
                            - accountAddress
                            - assetType
                            - linkedAssetType
                            - changeValue
                            - tokenStandard
                            - transferType
                          properties:
                            blockHeight:
                              type: integer
                              description: |
                                A field that represents the height of the block containing this balance change.
                                An integer that increments sequentially starting from the genesis block (0), used as an indicator for the blockchain length and the position of a specific block.
                              example: 160155267
                            blockTimestamp:
                              type: integer
                              description: |
                                A field that represents the block creation time.
                                Provided as a UNIX timestamp, used for block creation order and time tracking.
                                Block timestamps are used to ensure transaction order and measure inter-block creation intervals.
                              example: 1749003732416395
                            transactionHash:
                              type: string
                              description: |
                                A field that represents the hash of the transaction that caused the balance change.
                                A cryptographic hash computed from all transaction data, provided as a 64-character hexadecimal string prefixed with 0x.
                                This hash enables retrieval of full information for the transaction related to the balance change.
                              example: "0x2a41cd44491bb92d4eb17d8487f82d9b43ab6289074c1986ee055be8105707c9"
                            transactionVersion:
                              type: integer
                              description: |
                                A field that represents the version of the transaction where the balance change occurred.
                                A unique sequence ID indicating the order of the transaction on the chain, incrementing sequentially from 0.
                              example: 34872482
                            eventIndex:
                              type: integer
                              description: |
                                A field that represents the order index of the event within the transaction.
                                Indicates the order of the current event among multiple events emitted in a single transaction.
                                Starts at 0 and increments in event emission order; used to identify the order of events within the same transaction.
                              example: 0
                            eventType:
                              type: string
                              description: |
                                A field that represents the type of the event.
                                Provided as the full path (address::module::struct) of the event struct defined in the Move module.
                                Used to identify the type of operation that caused the balance change.
                              example: 0x1::coin::WithdrawEvent
                            subEventIndex:
                              type: integer
                              description: |
                                A field that represents the order of asset changes when multiple asset changes occur within a single event.
                                Identifies the order of multiple asset changes within an event sharing the same eventIndex.
                                Starts at 0 and increments sequentially; plays an important role in complex asset operations (e.g., swaps).
                              example: 0
                            accountAddress:
                              type: string
                              description: |
                                A field that represents the address of the account where the balance change occurred.
                                Provided as a 64-character hexadecimal string prefixed with 0x; identifies the account whose asset balance changed.
                                This address is either the asset owner or the destination account the asset was transferred to.
                              example: "0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a"
                            assetType:
                              type: string
                              description: |
                                A field that represents the type of the asset whose balance changed.
                                Provided in one of two formats:
                                - Coin: Asset ID in Move struct format (e.g., 0x1::aptos_coin::AptosCoin)
                                - Fungible Asset: Object address that owns the metadata of the asset
                                Used to uniquely identify the type of asset.
                              example: 0x1::aptos_coin::AptosCoin
                            linkedAssetType:
                              type: string
                              description: |
                                A common identifier that links Coin and Fungible Asset when they have been migrated.
                                This field serves as a unified key that groups Coin/Fungible Asset into a single asset unit for identification and retrieval, providing the Object address where the migrated Fungible Asset's Metadata is stored.
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                            changeValue:
                              type: string
                              description: |
                                A field that represents the balance change amount.
                                Provided as a string in integer form.
                                - Positive: indicates the account balance increased
                                - Negative: indicates the account balance decreased
                                The actual value must be interpreted considering decimals.
                              example: "1000000"
                            tokenStandard:
                              type: string
                              description: |
                                A field that represents the standard type of the asset.
                                - v1: Assets following the Coin standard
                                - v2: Assets following the Fungible Asset standard
                              example: coin
                            transferType:
                              type: string
                              description: |
                                A field that represents the transfer direction or action type.
                                Indicates the specific type of balance change; the following values are possible:
                                - deposit: asset deposit
                                - withdraw: asset withdrawal
                                - swap_in: deposit from swap
                                - swap_out: withdrawal from swap
                                - gas: gas fee payment
                                - refund_gas: gas fee refund
                              example: deposit
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenBalanceChangesByAssetType:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokenBalanceChangesByAssetType
      summary: Get Token Balance Changes by Asset Type
      description: |
        Retrieves token balance change history by asset type.
      x-seo-description: Retrieve token balance change history filtered by asset type.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    assetType:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                      description: |
                        Specifies the type of asset to query. The asset type must be a 64-character hexadecimal value (including "0x") in one of the following formats:

                        * Coin: A Struct-format asset ID such as "0x1::aptos_coin::AptosCoin"
                        * Fungible Asset: The Object address that owns the Token Metadata

                        ⚠️ Either assetType or linkedAssetType is required, and both parameters cannot be used at the same time.
                    linkedAssetType:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/linkedAssetType"
                      description: |
                        A common identifier used to query Coin and FA (Fungible Asset) as a single asset unit.

                        The linkedAssetType must be the Object address of a migrated FA, entered in 64-character hexadecimal format (including "0x").

                        ⚠️ Either assetType or linkedAssetType is required, and both parameters cannot be used at the same time.
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              linkedAssetType: "0x000000000000000000000000000000000000000000000000000000000000000a"
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenBalanceChangesWithinRange:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokenBalanceChangesWithinRange
      summary: Get Token Balance Changes Within Range
      description: |
        Retrieves token balance change history within the specified block range.
      x-seo-description: Retrieve token balance changes within a specified block range.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenMetadataByAssetTypes:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokenMetadataByAssetTypes
      summary: Get Token Metadata by Asset Types
      description: |
        Retrieves token metadata for the specified asset types.
      x-seo-description: Retrieve token metadata for specified asset types.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - assetTypes
                  properties:
                    assetTypes:
                      type: array
                      items:
                        $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                      description: Enter the Asset Types to query as an array.
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              assetTypes:
                - 0x1::aptos_coin::AptosCoin
                - "0x000000000000000000000000000000000000000000000000000000000000000a"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - name
                            - symbol
                            - decimals
                            - totalSupply
                            - maximumSupply
                            - creatorAddress
                            - projectURI
                            - iconURI
                          properties:
                            assetType:
                              type: string
                              description: |
                                A field that represents the unique identifier of the asset.
                                Provided in one of two formats:
                                - Coin: Asset ID in Move struct format (e.g., 0x1::aptos_coin::AptosCoin)
                                - Fungible Asset: Object address that owns the metadata of the asset
                              example: 0x1::aptos_coin::AptosCoin
                            tokenStandard:
                              type: string
                              description: |
                                A field that represents the standard the asset follows.
                                - v1: Assets following the Coin standard
                                - v2: Assets following the Fungible Asset standard
                              example: v1
                            name:
                              type: string
                              description: |
                                A field that represents the name of the asset.
                                The official name of the asset displayed in the user interface; used to identify and distinguish assets.
                              example: Aptos Coin
                            symbol:
                              type: string
                              description: |
                                A field that represents the symbol of the asset.
                                The abbreviated identifier of the asset used in exchanges and wallets.
                              example: APT
                            decimals:
                              type: integer
                              description: |
                                A field that represents the decimal places of the asset.
                                Defines the number of decimal places applied when displaying the actual asset quantity.
                                For example, if decimals is 8, 100000000 (10^8) is displayed as 1.0.
                              example: 8
                            totalSupply:
                              type: string
                              description: |
                                A field that represents the total circulating supply.
                                Provided as an integer value before decimals are applied.
                                The asset's decimals must be considered when calculating the actual circulating supply.
                              example: "123456789000000"
                            maximumSupply:
                              type: string
                              description: |
                                A field that represents the maximum supply that can be minted.
                                Provided as an integer value before decimals are applied.
                                An empty string ("") means there is no maximum supply limit.
                              example: "123123"
                            creatorAddress:
                              type: string
                              description: |
                                A field that represents the address of the account that created the asset.
                                Provided as a 64-character hexadecimal string prefixed with 0x; identifies the asset creator.
                                Used to track asset management authority and ownership.
                              example: "0x1"
                            projectURI:
                              type: string
                              description: |
                                A field that represents the URI that provides project-related information.
                                A URL is provided where you can find detailed information about the project such as website, whitepaper, and documentation.
                                Used to obtain additional information related to the asset.
                              example: https://aptos.dev
                            iconURI:
                              type: string
                              description: |
                                A field that represents the icon image URL of the asset.
                                The URL of an image that allows visual identification of the asset is provided.
                              example: https://aptos.dev/icon.png
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenPairByAssetType:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokenPairByAssetType
      summary: Get Token Pair by Asset Type
      description: |
        Retrieves token pair information for a specific asset type.
      x-seo-description: Retrieve token pair information for a specific asset type.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - assetType
              properties:
                assetType:
                  type: string
                  description: |-
                    Parameter specifying the asset type to query.
                    The asset type must be entered as a 64-character hexadecimal string (including "0x") using one of the following formats:

                    - Coin: Asset ID in Struct format such as "0x1::aptos_coin::AptosCoin"
                    - Fungible Asset: Object address that owns the Token Metadata
                  pattern: ^0x[0-9a-fA-F]{1,64}::[a-z][a-zA-Z0-9_]*::[A-Z][a-zA-Z0-9_]*$|^0[xX][0-9a-fA-F]{64}
                  example: 0x1::aptos_coin::AptosCoin
            example:
              assetType: 0x1::aptos_coin::AptosCoin
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - coinAssetType
                  - fungibleAssetType
                  - linkedAssetType
                properties:
                  coinAssetType:
                    type: string
                    description: |
                      A field that represents the type of the asset belonging to the Coin standard.
                      The Coin standard is provided in 'moduleAddress::moduleName::structName' format.
                    example: 0x1::aptos_coin::AptosCoin
                  fungibleAssetType:
                    type: string
                    description: |
                      A field that represents the type of the asset belonging to the Fungible Asset standard.
                      The Fungible Asset standard is provided as a 64-character hexadecimal string prefixed with 0x; the Object address that owns the metadata of the asset is provided.
                    example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                  linkedAssetType:
                    type: string
                    description: |
                      A common identifier that links Coin and Fungible Asset when they have been migrated.
                      This field serves as a unified key that groups Coin/Fungible Asset into a single asset unit for identification and retrieval, providing the Object address where the migrated Fungible Asset's Metadata is stored.
                    example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokensOwnedByAccount:
    post:
      security:
        - api_key: []
      operationId: aptos-getTokensOwnedByAccount
      summary: Get Tokens Owned By Account
      description: |+
        Retrieves the list of ERC20 tokens held by a specific account. Results include the quantity held per token and token contract metadata.

      x-seo-description: Retrieve all ERC20 tokens and balances currently held by a specific account address.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      type: string
                      description: Parameter specifying the account address to query. The account address must be entered as a 64-character hexadecimal string (including "0x").
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      example: "0xd91c64b777e51395c6ea9dec562ed79a4afa0cd6dad5a87b187c37198a1f855a"
                    assetTypes:
                      type: array
                      items:
                        $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                    linkedAssetTypes:
                      type: array
                      items:
                        $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/linkedAssetType"
                - type: object
                  properties:
                    page:
                      type: integer
                      description: |-
                        The page parameter specifies the data page to query. It accepts values up to 100; for pages exceeding 100, use the cursor pagination method.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: rpp stands for results per page and specifies the page size. You can specify a number greater than 0 and up to 100.
                      pattern: ^(?:[1-9][0-9]{0,2}?|100)$
                    cursor:
                      type: string
                      description: |-
                        The cursor parameter supports pagination and data navigation between pages. Provide the cursor value from the previous page in the next request to load the next page of data.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                    withCount:
                      type: boolean
                      description: Parameter specifying whether to include the count field in the response. The count field indicates the total number of requested data items. When set to true, the count field is included and response speed may be slower.
                      default: false
            example:
              accountAddress: "0xd91c64b777e51395c6ea9dec562ed79a4afa0cd6dad5a87b187c37198a1f855a"
              linkedAssetTypes:
                - "0x000000000000000000000000000000000000000000000000000000000000000a"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - items
                    properties:
                      page:
                        type: integer
                        description: Field representing the page number specified in the page parameter. This field is only included in the response when a value greater than 0 is specified for the page parameter.
                      rpp:
                        type: integer
                        description: Field representing the number of results per page specified in the rpp parameter.
                      cursor:
                        type: string
                        description: A field for cursor pagination. This value must be provided in the next request to load the next page of data.
                      count:
                        type: integer
                        description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                      items:
                        type: array
                        description: Field representing the list of queried data.
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          description: |
                            To obtain the total held quantity of a specific token, you must sum all results queried by the token's assetType or linkedAssetType.
                          required:
                            - ownerAddress
                            - objectAddress
                            - value
                            - isFrozen
                            - isPrimary
                            - assetType
                            - tokenStandard
                            - linkedAssetType
                            - metadata
                          properties:
                            ownerAddress:
                              type: string
                              description: |
                                A field that represents the address of the account holding the asset.
                                Provided as a 64-character hexadecimal string prefixed with 0x; identifies the actual owner of the asset.
                                For Coin: the holding account address; for Fungible Asset: the Object owner's address.
                              example: "0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a"
                            objectAddress:
                              type: string
                              description: |
                                A field that represents the address of the Object where the asset is stored.
                                Provided depending on storage location:
                                - Coin: empty string ("") as it is stored directly in the account
                                - Fungible Asset: Object address where the token is stored (64-character hexadecimal string prefixed with 0x)
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                            value:
                              type: string
                              description: |
                                A field that represents the quantity of the held asset.
                                Provided as a string in integer form; decimals are not included.
                                The asset's decimals must be considered when calculating the actual value.
                              example: "1000000"
                            isFrozen:
                              type: boolean
                              description: |
                                A field that indicates whether the asset can be transferred.
                                true means the asset is frozen and cannot be transferred.
                                Used to check the transfer restriction status of the asset.
                              example: false
                            isPrimary:
                              type: boolean
                              description: |
                                A field that indicates whether this Object is the representative Object for the Owner address.
                                true means this Object is the representative Object for the Owner address.
                              example: true
                            assetType:
                              type: string
                              description: |
                                A field that represents the unique identifier of the asset.
                                Provided in one of two formats:
                                - Coin: Asset ID in Move struct format (e.g., 0x1::aptos_coin::AptosCoin)
                                - Fungible Asset: Object address that owns the metadata of the asset
                              example: 0x1::aptos_coin::AptosCoin
                            tokenStandard:
                              type: string
                              description: |
                                A field that represents the standard the asset follows.
                                - v1: Assets following the Coin standard
                                - v2: Assets following the Fungible Asset standard
                              example: v1
                            linkedAssetType:
                              type: string
                              description: |
                                A common identifier that links Coin and Fungible Asset when they have been migrated.
                                This field serves as a unified key that groups Coin/Fungible Asset into a single asset unit for identification and retrieval, providing the Object address where the migrated Fungible Asset's Metadata is stored.
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                            metadata:
                              $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenMetadataByAssetTypes/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
