openapi: 3.1.0
info:
  title: Initia - cosmos_base_tendermint_v1beta1_blocks_latest
  version: 1.0.0
servers:
  - url: https://rest-initia-mainnet.nodit.io
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
paths:
  /cosmos/base/tendermint/v1beta1/blocks/latest:
    get:
      description: GetLatestBlock returns the latest block.
      operationId: cosmos_base_tendermint_v1beta1_blocks_latest
      tags:
        - base
      responses:
        "200":
          description: Successful Response
          content:
            "*/*":
              schema:
                type: object
                properties:
                  block_id:
                    type: object
                    properties:
                      hash:
                        type: string
                        format: byte
                      part_set_header:
                        type: object
                        properties:
                          total:
                            type: integer
                            format: int64
                          hash:
                            type: string
                            format: byte
                        title: PartsetHeader
                    title: BlockID
                  block:
                    title: "Deprecated: please use `sdk_block` instead"
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          version:
                            title: basic block info
                            type: object
                            properties:
                              block:
                                type: string
                                format: uint64
                              app:
                                type: string
                                format: uint64
                            description: |-
                              Consensus captures the consensus rules for processing a block in the blockchain,
                              including all blockchain data structures and the rules of the application's
                              state transition machine.
                          chain_id:
                            type: string
                          height:
                            type: string
                            format: int64
                          time:
                            type: string
                            format: date-time
                          last_block_id:
                            type: object
                            properties:
                              hash:
                                type: string
                                format: byte
                              part_set_header:
                                type: object
                                properties:
                                  total:
                                    type: integer
                                    format: int64
                                  hash:
                                    type: string
                                    format: byte
                                title: PartsetHeader
                            title: BlockID
                          last_commit_hash:
                            type: string
                            format: byte
                            title: hashes of block data
                          data_hash:
                            type: string
                            format: byte
                          validators_hash:
                            type: string
                            format: byte
                            title: hashes from the app output from the prev block
                          next_validators_hash:
                            type: string
                            format: byte
                          consensus_hash:
                            type: string
                            format: byte
                          app_hash:
                            type: string
                            format: byte
                          last_results_hash:
                            type: string
                            format: byte
                          evidence_hash:
                            type: string
                            format: byte
                            title: consensus info
                          proposer_address:
                            type: string
                            format: byte
                        description: Header defines the structure of a block header.
                      data:
                        type: object
                        properties:
                          txs:
                            type: array
                            items:
                              type: string
                              format: byte
                            description: |-
                              Txs that will be applied by state @ block.Height+1.
                              NOTE: not all txs here are valid.  We're just agreeing on the order first.
                              This means that block.AppHash does not include these txs.
                        title: Data contains the set of transactions included in the block
                      evidence:
                        type: object
                        properties:
                          evidence:
                            type: array
                            items:
                              type: object
                              properties:
                                duplicate_vote_evidence:
                                  type: object
                                  properties:
                                    vote_a:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                            - SIGNED_MSG_TYPE_UNKNOWN
                                            - SIGNED_MSG_TYPE_PREVOTE
                                            - SIGNED_MSG_TYPE_PRECOMMIT
                                            - SIGNED_MSG_TYPE_PROPOSAL
                                          default: SIGNED_MSG_TYPE_UNKNOWN
                                          description: |-
                                            SignedMsgType is a type of signed message in the consensus.

                                             - SIGNED_MSG_TYPE_PREVOTE: Votes
                                             - SIGNED_MSG_TYPE_PROPOSAL: Proposals
                                        height:
                                          type: string
                                          format: int64
                                        round:
                                          type: integer
                                          format: int32
                                        block_id:
                                          type: object
                                          properties:
                                            hash:
                                              type: string
                                              format: byte
                                            part_set_header:
                                              type: object
                                              properties:
                                                total:
                                                  type: integer
                                                  format: int64
                                                hash:
                                                  type: string
                                                  format: byte
                                              title: PartsetHeader
                                          title: BlockID
                                        timestamp:
                                          type: string
                                          format: date-time
                                        validator_address:
                                          type: string
                                          format: byte
                                        validator_index:
                                          type: integer
                                          format: int32
                                        signature:
                                          type: string
                                          format: byte
                                          description: Vote signature of the validator that participated in block consensus.
                                        extension:
                                          type: string
                                          format: byte
                                          description: |-
                                            Vote extension provided by the application. Only valid for precommit
                                            messages.
                                        extension_signature:
                                          type: string
                                          format: byte
                                          description: Vote extension signature of the validator that participated in block consensus. Valid only for precommit messages.
                                      description: Validator's prevote or precommit vote for consensus.
                                    vote_b:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                            - SIGNED_MSG_TYPE_UNKNOWN
                                            - SIGNED_MSG_TYPE_PREVOTE
                                            - SIGNED_MSG_TYPE_PRECOMMIT
                                            - SIGNED_MSG_TYPE_PROPOSAL
                                          default: SIGNED_MSG_TYPE_UNKNOWN
                                          description: |-
                                            SignedMsgType is a type of signed message in the consensus.

                                             - SIGNED_MSG_TYPE_PREVOTE: Votes
                                             - SIGNED_MSG_TYPE_PROPOSAL: Proposals
                                        height:
                                          type: string
                                          format: int64
                                        round:
                                          type: integer
                                          format: int32
                                        block_id:
                                          type: object
                                          properties:
                                            hash:
                                              type: string
                                              format: byte
                                            part_set_header:
                                              type: object
                                              properties:
                                                total:
                                                  type: integer
                                                  format: int64
                                                hash:
                                                  type: string
                                                  format: byte
                                              title: PartsetHeader
                                          title: BlockID
                                        timestamp:
                                          type: string
                                          format: date-time
                                        validator_address:
                                          type: string
                                          format: byte
                                        validator_index:
                                          type: integer
                                          format: int32
                                        signature:
                                          type: string
                                          format: byte
                                          description: Vote signature of the validator that participated in block consensus.
                                        extension:
                                          type: string
                                          format: byte
                                          description: |-
                                            Vote extension provided by the application. Only valid for precommit
                                            messages.
                                        extension_signature:
                                          type: string
                                          format: byte
                                          description: Vote extension signature of the validator that participated in block consensus. Valid only for precommit messages.
                                      description: Validator's prevote or precommit vote for consensus.
                                    total_voting_power:
                                      type: string
                                      format: int64
                                    validator_power:
                                      type: string
                                      format: int64
                                    timestamp:
                                      type: string
                                      format: date-time
                                  description: Evidence that a validator signed two conflicting votes.
                                light_client_attack_evidence:
                                  type: object
                                  properties:
                                    conflicting_block:
                                      type: object
                                      properties:
                                        signed_header:
                                          type: object
                                          properties:
                                            header:
                                              type: object
                                              properties:
                                                version:
                                                  title: basic block info
                                                  type: object
                                                  properties:
                                                    block:
                                                      type: string
                                                      format: uint64
                                                    app:
                                                      type: string
                                                      format: uint64
                                                  description: |-
                                                    Consensus captures the consensus rules for processing a block in the blockchain,
                                                    including all blockchain data structures and the rules of the application's
                                                    state transition machine.
                                                chain_id:
                                                  type: string
                                                height:
                                                  type: string
                                                  format: int64
                                                time:
                                                  type: string
                                                  format: date-time
                                                last_block_id:
                                                  type: object
                                                  properties:
                                                    hash:
                                                      type: string
                                                      format: byte
                                                    part_set_header:
                                                      type: object
                                                      properties:
                                                        total:
                                                          type: integer
                                                          format: int64
                                                        hash:
                                                          type: string
                                                          format: byte
                                                      title: PartsetHeader
                                                  title: BlockID
                                                last_commit_hash:
                                                  type: string
                                                  format: byte
                                                  title: hashes of block data
                                                data_hash:
                                                  type: string
                                                  format: byte
                                                validators_hash:
                                                  type: string
                                                  format: byte
                                                  title: hashes from the app output from the prev block
                                                next_validators_hash:
                                                  type: string
                                                  format: byte
                                                consensus_hash:
                                                  type: string
                                                  format: byte
                                                app_hash:
                                                  type: string
                                                  format: byte
                                                last_results_hash:
                                                  type: string
                                                  format: byte
                                                evidence_hash:
                                                  type: string
                                                  format: byte
                                                  title: consensus info
                                                proposer_address:
                                                  type: string
                                                  format: byte
                                              description: Header defines the structure of a block header.
                                            commit:
                                              type: object
                                              properties:
                                                height:
                                                  type: string
                                                  format: int64
                                                round:
                                                  type: integer
                                                  format: int32
                                                block_id:
                                                  type: object
                                                  properties:
                                                    hash:
                                                      type: string
                                                      format: byte
                                                    part_set_header:
                                                      type: object
                                                      properties:
                                                        total:
                                                          type: integer
                                                          format: int64
                                                        hash:
                                                          type: string
                                                          format: byte
                                                      title: PartsetHeader
                                                  title: BlockID
                                                signatures:
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      block_id_flag:
                                                        type: string
                                                        enum:
                                                          - BLOCK_ID_FLAG_UNKNOWN
                                                          - BLOCK_ID_FLAG_ABSENT
                                                          - BLOCK_ID_FLAG_COMMIT
                                                          - BLOCK_ID_FLAG_NIL
                                                        default: BLOCK_ID_FLAG_UNKNOWN
                                                        title: BlockIdFlag indicates which BlockID the signature is for
                                                      validator_address:
                                                        type: string
                                                        format: byte
                                                      timestamp:
                                                        type: string
                                                        format: date-time
                                                      signature:
                                                        type: string
                                                        format: byte
                                                    description: CommitSig is a part of the Vote included in a Commit.
                                              description: Contains evidence that the block was committed by the validator set.
                                        validator_set:
                                          type: object
                                          properties:
                                            validators:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  address:
                                                    type: string
                                                    format: byte
                                                  pub_key:
                                                    type: object
                                                    properties:
                                                      ed25519:
                                                        type: string
                                                        format: byte
                                                      secp256k1:
                                                        type: string
                                                        format: byte
                                                    title: PublicKey defines the keys available for use with Validators
                                                  voting_power:
                                                    type: string
                                                    format: int64
                                                  proposer_priority:
                                                    type: string
                                                    format: int64
                                            proposer:
                                              type: object
                                              properties:
                                                address:
                                                  type: string
                                                  format: byte
                                                pub_key:
                                                  type: object
                                                  properties:
                                                    ed25519:
                                                      type: string
                                                      format: byte
                                                    secp256k1:
                                                      type: string
                                                      format: byte
                                                  title: PublicKey defines the keys available for use with Validators
                                                voting_power:
                                                  type: string
                                                  format: int64
                                                proposer_priority:
                                                  type: string
                                                  format: int64
                                            total_voting_power:
                                              type: string
                                              format: int64
                                    common_height:
                                      type: string
                                      format: int64
                                    byzantine_validators:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          address:
                                            type: string
                                            format: byte
                                          pub_key:
                                            type: object
                                            properties:
                                              ed25519:
                                                type: string
                                                format: byte
                                              secp256k1:
                                                type: string
                                                format: byte
                                            title: PublicKey defines the keys available for use with Validators
                                          voting_power:
                                            type: string
                                            format: int64
                                          proposer_priority:
                                            type: string
                                            format: int64
                                    total_voting_power:
                                      type: string
                                      format: int64
                                    timestamp:
                                      type: string
                                      format: date-time
                                  description: Evidence that the validator set attempted to mislead a light client.
                      last_commit:
                        type: object
                        properties:
                          height:
                            type: string
                            format: int64
                          round:
                            type: integer
                            format: int32
                          block_id:
                            type: object
                            properties:
                              hash:
                                type: string
                                format: byte
                              part_set_header:
                                type: object
                                properties:
                                  total:
                                    type: integer
                                    format: int64
                                  hash:
                                    type: string
                                    format: byte
                                title: PartsetHeader
                            title: BlockID
                          signatures:
                            type: array
                            items:
                              type: object
                              properties:
                                block_id_flag:
                                  type: string
                                  enum:
                                    - BLOCK_ID_FLAG_UNKNOWN
                                    - BLOCK_ID_FLAG_ABSENT
                                    - BLOCK_ID_FLAG_COMMIT
                                    - BLOCK_ID_FLAG_NIL
                                  default: BLOCK_ID_FLAG_UNKNOWN
                                  title: BlockIdFlag indicates which BlockID the signature is for
                                validator_address:
                                  type: string
                                  format: byte
                                timestamp:
                                  type: string
                                  format: date-time
                                signature:
                                  type: string
                                  format: byte
                              description: CommitSig is a part of the Vote included in a Commit.
                        description: Contains evidence that the block was committed by the validator set.
                  sdk_block:
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          version:
                            title: basic block info
                            type: object
                            properties:
                              block:
                                type: string
                                format: uint64
                              app:
                                type: string
                                format: uint64
                            description: |-
                              Consensus captures the consensus rules for processing a block in the blockchain,
                              including all blockchain data structures and the rules of the application's
                              state transition machine.
                          chain_id:
                            type: string
                          height:
                            type: string
                            format: int64
                          time:
                            type: string
                            format: date-time
                          last_block_id:
                            type: object
                            properties:
                              hash:
                                type: string
                                format: byte
                              part_set_header:
                                type: object
                                properties:
                                  total:
                                    type: integer
                                    format: int64
                                  hash:
                                    type: string
                                    format: byte
                                title: PartsetHeader
                            title: BlockID
                          last_commit_hash:
                            type: string
                            format: byte
                            title: hashes of block data
                          data_hash:
                            type: string
                            format: byte
                          validators_hash:
                            type: string
                            format: byte
                            title: hashes from the app output from the prev block
                          next_validators_hash:
                            type: string
                            format: byte
                          consensus_hash:
                            type: string
                            format: byte
                          app_hash:
                            type: string
                            format: byte
                          last_results_hash:
                            type: string
                            format: byte
                          evidence_hash:
                            type: string
                            format: byte
                            title: consensus info
                          proposer_address:
                            type: string
                            description: |-
                              proposer_address is the original block proposer address, formatted as a Bech32 string.
                              In Tendermint, this type is `bytes`, but in the SDK, we convert it to a Bech32 string
                              for better UX.
                        description: Header defines the structure of a Tendermint block header.
                      data:
                        type: object
                        properties:
                          txs:
                            type: array
                            items:
                              type: string
                              format: byte
                            description: |-
                              Txs that will be applied by state @ block.Height+1.
                              NOTE: not all txs here are valid.  We're just agreeing on the order first.
                              This means that block.AppHash does not include these txs.
                        title: Data contains the set of transactions included in the block
                      evidence:
                        type: object
                        properties:
                          evidence:
                            type: array
                            items:
                              type: object
                              properties:
                                duplicate_vote_evidence:
                                  type: object
                                  properties:
                                    vote_a:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                            - SIGNED_MSG_TYPE_UNKNOWN
                                            - SIGNED_MSG_TYPE_PREVOTE
                                            - SIGNED_MSG_TYPE_PRECOMMIT
                                            - SIGNED_MSG_TYPE_PROPOSAL
                                          default: SIGNED_MSG_TYPE_UNKNOWN
                                          description: |-
                                            SignedMsgType is a type of signed message in the consensus.

                                             - SIGNED_MSG_TYPE_PREVOTE: Votes
                                             - SIGNED_MSG_TYPE_PROPOSAL: Proposals
                                        height:
                                          type: string
                                          format: int64
                                        round:
                                          type: integer
                                          format: int32
                                        block_id:
                                          type: object
                                          properties:
                                            hash:
                                              type: string
                                              format: byte
                                            part_set_header:
                                              type: object
                                              properties:
                                                total:
                                                  type: integer
                                                  format: int64
                                                hash:
                                                  type: string
                                                  format: byte
                                              title: PartsetHeader
                                          title: BlockID
                                        timestamp:
                                          type: string
                                          format: date-time
                                        validator_address:
                                          type: string
                                          format: byte
                                        validator_index:
                                          type: integer
                                          format: int32
                                        signature:
                                          type: string
                                          format: byte
                                          description: Vote signature of the validator that participated in block consensus.
                                        extension:
                                          type: string
                                          format: byte
                                          description: |-
                                            Vote extension provided by the application. Only valid for precommit
                                            messages.
                                        extension_signature:
                                          type: string
                                          format: byte
                                          description: Vote extension signature of the validator that participated in block consensus. Valid only for precommit messages.
                                      description: Validator's prevote or precommit vote for consensus.
                                    vote_b:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          enum:
                                            - SIGNED_MSG_TYPE_UNKNOWN
                                            - SIGNED_MSG_TYPE_PREVOTE
                                            - SIGNED_MSG_TYPE_PRECOMMIT
                                            - SIGNED_MSG_TYPE_PROPOSAL
                                          default: SIGNED_MSG_TYPE_UNKNOWN
                                          description: |-
                                            SignedMsgType is a type of signed message in the consensus.

                                             - SIGNED_MSG_TYPE_PREVOTE: Votes
                                             - SIGNED_MSG_TYPE_PROPOSAL: Proposals
                                        height:
                                          type: string
                                          format: int64
                                        round:
                                          type: integer
                                          format: int32
                                        block_id:
                                          type: object
                                          properties:
                                            hash:
                                              type: string
                                              format: byte
                                            part_set_header:
                                              type: object
                                              properties:
                                                total:
                                                  type: integer
                                                  format: int64
                                                hash:
                                                  type: string
                                                  format: byte
                                              title: PartsetHeader
                                          title: BlockID
                                        timestamp:
                                          type: string
                                          format: date-time
                                        validator_address:
                                          type: string
                                          format: byte
                                        validator_index:
                                          type: integer
                                          format: int32
                                        signature:
                                          type: string
                                          format: byte
                                          description: Vote signature of the validator that participated in block consensus.
                                        extension:
                                          type: string
                                          format: byte
                                          description: |-
                                            Vote extension provided by the application. Only valid for precommit
                                            messages.
                                        extension_signature:
                                          type: string
                                          format: byte
                                          description: Vote extension signature of the validator that participated in block consensus. Valid only for precommit messages.
                                      description: Validator's prevote or precommit vote for consensus.
                                    total_voting_power:
                                      type: string
                                      format: int64
                                    validator_power:
                                      type: string
                                      format: int64
                                    timestamp:
                                      type: string
                                      format: date-time
                                  description: Evidence that a validator signed two conflicting votes.
                                light_client_attack_evidence:
                                  type: object
                                  properties:
                                    conflicting_block:
                                      type: object
                                      properties:
                                        signed_header:
                                          type: object
                                          properties:
                                            header:
                                              type: object
                                              properties:
                                                version:
                                                  title: basic block info
                                                  type: object
                                                  properties:
                                                    block:
                                                      type: string
                                                      format: uint64
                                                    app:
                                                      type: string
                                                      format: uint64
                                                  description: |-
                                                    Consensus captures the consensus rules for processing a block in the blockchain,
                                                    including all blockchain data structures and the rules of the application's
                                                    state transition machine.
                                                chain_id:
                                                  type: string
                                                height:
                                                  type: string
                                                  format: int64
                                                time:
                                                  type: string
                                                  format: date-time
                                                last_block_id:
                                                  type: object
                                                  properties:
                                                    hash:
                                                      type: string
                                                      format: byte
                                                    part_set_header:
                                                      type: object
                                                      properties:
                                                        total:
                                                          type: integer
                                                          format: int64
                                                        hash:
                                                          type: string
                                                          format: byte
                                                      title: PartsetHeader
                                                  title: BlockID
                                                last_commit_hash:
                                                  type: string
                                                  format: byte
                                                  title: hashes of block data
                                                data_hash:
                                                  type: string
                                                  format: byte
                                                validators_hash:
                                                  type: string
                                                  format: byte
                                                  title: hashes from the app output from the prev block
                                                next_validators_hash:
                                                  type: string
                                                  format: byte
                                                consensus_hash:
                                                  type: string
                                                  format: byte
                                                app_hash:
                                                  type: string
                                                  format: byte
                                                last_results_hash:
                                                  type: string
                                                  format: byte
                                                evidence_hash:
                                                  type: string
                                                  format: byte
                                                  title: consensus info
                                                proposer_address:
                                                  type: string
                                                  format: byte
                                              description: Header defines the structure of a block header.
                                            commit:
                                              type: object
                                              properties:
                                                height:
                                                  type: string
                                                  format: int64
                                                round:
                                                  type: integer
                                                  format: int32
                                                block_id:
                                                  type: object
                                                  properties:
                                                    hash:
                                                      type: string
                                                      format: byte
                                                    part_set_header:
                                                      type: object
                                                      properties:
                                                        total:
                                                          type: integer
                                                          format: int64
                                                        hash:
                                                          type: string
                                                          format: byte
                                                      title: PartsetHeader
                                                  title: BlockID
                                                signatures:
                                                  type: array
                                                  items:
                                                    type: object
                                                    properties:
                                                      block_id_flag:
                                                        type: string
                                                        enum:
                                                          - BLOCK_ID_FLAG_UNKNOWN
                                                          - BLOCK_ID_FLAG_ABSENT
                                                          - BLOCK_ID_FLAG_COMMIT
                                                          - BLOCK_ID_FLAG_NIL
                                                        default: BLOCK_ID_FLAG_UNKNOWN
                                                        title: BlockIdFlag indicates which BlockID the signature is for
                                                      validator_address:
                                                        type: string
                                                        format: byte
                                                      timestamp:
                                                        type: string
                                                        format: date-time
                                                      signature:
                                                        type: string
                                                        format: byte
                                                    description: CommitSig is a part of the Vote included in a Commit.
                                              description: Contains evidence that the block was committed by the validator set.
                                        validator_set:
                                          type: object
                                          properties:
                                            validators:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  address:
                                                    type: string
                                                    format: byte
                                                  pub_key:
                                                    type: object
                                                    properties:
                                                      ed25519:
                                                        type: string
                                                        format: byte
                                                      secp256k1:
                                                        type: string
                                                        format: byte
                                                    title: PublicKey defines the keys available for use with Validators
                                                  voting_power:
                                                    type: string
                                                    format: int64
                                                  proposer_priority:
                                                    type: string
                                                    format: int64
                                            proposer:
                                              type: object
                                              properties:
                                                address:
                                                  type: string
                                                  format: byte
                                                pub_key:
                                                  type: object
                                                  properties:
                                                    ed25519:
                                                      type: string
                                                      format: byte
                                                    secp256k1:
                                                      type: string
                                                      format: byte
                                                  title: PublicKey defines the keys available for use with Validators
                                                voting_power:
                                                  type: string
                                                  format: int64
                                                proposer_priority:
                                                  type: string
                                                  format: int64
                                            total_voting_power:
                                              type: string
                                              format: int64
                                    common_height:
                                      type: string
                                      format: int64
                                    byzantine_validators:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          address:
                                            type: string
                                            format: byte
                                          pub_key:
                                            type: object
                                            properties:
                                              ed25519:
                                                type: string
                                                format: byte
                                              secp256k1:
                                                type: string
                                                format: byte
                                            title: PublicKey defines the keys available for use with Validators
                                          voting_power:
                                            type: string
                                            format: int64
                                          proposer_priority:
                                            type: string
                                            format: int64
                                    total_voting_power:
                                      type: string
                                      format: int64
                                    timestamp:
                                      type: string
                                      format: date-time
                                  description: Evidence that the validator set attempted to mislead a light client.
                      last_commit:
                        type: object
                        properties:
                          height:
                            type: string
                            format: int64
                          round:
                            type: integer
                            format: int32
                          block_id:
                            type: object
                            properties:
                              hash:
                                type: string
                                format: byte
                              part_set_header:
                                type: object
                                properties:
                                  total:
                                    type: integer
                                    format: int64
                                  hash:
                                    type: string
                                    format: byte
                                title: PartsetHeader
                            title: BlockID
                          signatures:
                            type: array
                            items:
                              type: object
                              properties:
                                block_id_flag:
                                  type: string
                                  enum:
                                    - BLOCK_ID_FLAG_UNKNOWN
                                    - BLOCK_ID_FLAG_ABSENT
                                    - BLOCK_ID_FLAG_COMMIT
                                    - BLOCK_ID_FLAG_NIL
                                  default: BLOCK_ID_FLAG_UNKNOWN
                                  title: BlockIdFlag indicates which BlockID the signature is for
                                validator_address:
                                  type: string
                                  format: byte
                                timestamp:
                                  type: string
                                  format: date-time
                                signature:
                                  type: string
                                  format: byte
                              description: CommitSig is a part of the Vote included in a Commit.
                        description: Contains evidence that the block was committed by the validator set.
                    description: |-
                      Block is tendermint type Block, with the Header proposer address
                      field converted to bech32 string.
                description: GetLatestBlockResponse is the response type for the Query/GetLatestBlock RPC method.
        default:
          description: An unexpected error response.
          content:
            "*/*":
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        type_url:
                          type: string
                          description: |-
                            A URL/resource name that uniquely identifies the type of the serialized
                            protocol buffer message. This string must contain at least
                            one "/" character. The last segment of the URL's path must represent
                            the fully qualified name of the type (as in
                            `path/google.protobuf.Duration`). The name should be in a canonical form
                            (e.g., leading "." is not accepted).

                            In practice, teams usually precompile into the binary all types that they
                            expect it to use in the context of Any. However, for URLs which use the
                            scheme `http`, `https`, or no scheme, one can optionally set up a type
                            server that maps type URLs to message definitions as follows:

                            * If no scheme is provided, `https` is assumed.
                            * An HTTP GET on the URL must yield a [google.protobuf.Type][]
                              value in binary format, or produce an error.
                            * Applications are allowed to cache lookup results based on the
                              URL, or have them precompiled into a binary to avoid any
                              lookup. Therefore, binary compatibility needs to be preserved
                              on changes to types. (Use versioned type names to manage
                              breaking changes.)

                            Note: this functionality is not currently available in the official
                            protobuf release, and it is not used for type URLs beginning with
                            type.googleapis.com.

                            Schemes other than `http`, `https` (or the empty scheme) might be
                            used with implementation specific semantics.
                        value:
                          type: string
                          format: byte
                          description: Must be a valid serialized protocol buffer of the above specified type.
                      description: |-
                        `Any` contains an arbitrary serialized protocol buffer message along with a
                        URL that describes the type of the serialized message.

                        Protobuf library provides support to pack/unpack Any values in the form
                        of utility functions or additional generated methods of the Any type.

                        Example 1: Pack and unpack a message in C++.

                            Foo foo = ...;
                            Any any;
                            any.PackFrom(foo);
                            ...
                            if (any.UnpackTo(&foo)) {
                              ...
                            }

                        Example 2: Pack and unpack a message in Java.

                            Foo foo = ...;
                            Any any = Any.pack(foo);
                            ...
                            if (any.is(Foo.class)) {
                              foo = any.unpack(Foo.class);
                            }
                            // or ...
                            if (any.isSameTypeAs(Foo.getDefaultInstance())) {
                              foo = any.unpack(Foo.getDefaultInstance());
                            }

                        Example 3: Pack and unpack a message in Python.

                            foo = Foo(...)
                            any = Any()
                            any.Pack(foo)
                            ...
                            if any.Is(Foo.DESCRIPTOR):
                              any.Unpack(foo)
                              ...

                        Example 4: Pack and unpack a message in Go

                             foo := &pb.Foo{...}
                             any, err := anypb.New(foo)
                             if err != nil {
                               ...
                             }
                             ...
                             foo := &pb.Foo{}
                             if err := any.UnmarshalTo(foo); err != nil {
                               ...
                             }

                        The pack methods provided by protobuf library will by default use
                        'type.googleapis.com/full.type.name' as the type URL and the unpack
                        methods only use the fully qualified type name after the last '/'
                        in the type URL, for example "foo.bar.com/x/y.z" will yield type
                        name "y.z".

                        JSON

                        The JSON representation of an `Any` value uses the regular
                        representation of the deserialized, embedded message, with an
                        additional field `@type` which contains the type URL. Example:

                            package google.profile;
                            message Person {
                              string first_name = 1;
                              string last_name = 2;
                            }

                            {
                              "@type": "type.googleapis.com/google.profile.Person",
                              "firstName": <string>,
                              "lastName": <string>
                            }

                        If the embedded message type is well-known and has a custom JSON
                        representation, that representation will be embedded adding a field
                        `value` which holds the custom JSON in addition to the `@type`
                        field. Example (for message [google.protobuf.Duration][]):

                            {
                              "@type": "type.googleapis.com/google.protobuf.Duration",
                              "value": "1.212s"
                            }
      security:
        - api_key: []
      summary: /cosmos/base/tendermint/v1beta1/blocks/latest
