openapi: 3.1.0
info:
  title: Tron - Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/token/getTokenAllowance:
    post:
      security:
        - api_key: []
      operationId: tron-getTokenAllowance
      summary: Get Token Allowance
      description: |+
        Retrieves the amount of ERC20 tokens that the owner has approved for the spender.

      x-seo-description: Retrieve the ERC20 token spending allowance granted by a token owner to a spender address.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contractAddress
                - ownerAddress
                - spenderAddress
              properties:
                contractAddress:
                  type: string
                  description: Parameter specifying the contract address to query. This field uses a 34-character base58 string format starting with "T".
                  pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                  example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                ownerAddress:
                  type: string
                  description: Parameter specifying the account address to query. This field uses a 34-character base58 string format starting with "T".
                  pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                  example: T9123456789012345678901234567890123456789
                spenderAddress:
                  $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/properties/ownerAddress"
            example:
              contractAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
              ownerAddress: T9123456789012345678901234567890123456789
              spenderAddress: T9123456789012345678901234567890123456789
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowance:
                    type: string
                    description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenContractMetadataByContracts:
    post:
      security:
        - api_key: []
      operationId: tron-getTokenContractMetadataByContracts
      summary: Get Token Contract Metadata by Contracts
      description: |+
        Retrieves metadata for specific ERC20 contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.

      x-seo-description: Fetch ERC20 token contract metadata including name, symbol, and decimals for multiple contracts.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contractAddresses
              properties:
                contractAddresses:
                  type: array
                  description: Parameter specifying the array of contract addresses to query. Contract addresses use a 34-character base58 string format starting with "T".
                  items:
                    type: string
                    description: Parameter specifying the contract address to query. This field uses a 34-character base58 string format starting with "T".
                    pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                  example:
                    - TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    - TLZSucJRjnqBKwvQz6n5hd29gbS4P7u7w8
            example:
              contractAddresses:
                - TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                - TLZSucJRjnqBKwvQz6n5hd29gbS4P7u7w8
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      required:
                        - address
                        - deployedTransactionHash
                        - deployedAt
                        - deployerAddress
                        - logoUrl
                        - type
                      properties:
                        address:
                          type: string
                          description: Returns the contract address. This address serves as a unique identifier for the contract within the blockchain network where it is deployed.
                        deployedTransactionHash:
                          type: string
                          description: Returns the hash of the transaction generated when the contract was deployed.
                        deployedAt:
                          type: string
                          description: Returns the exact time when the contract was deployed. Displayed in ISO 8601 date and time format.
                        deployerAddress:
                          type: string
                          description: Returns the address that deployed the contract. This address represents the entity or account that created and deployed the contract to the network.
                        logoUrl:
                          type: string
                          description: |-
                            Returns the URL of the logo or image associated with the contract. This URL can be used to visually identify the contract. 
                            <strong style='color: red;'>*</strong> Logo images are not provided for all contracts.
                        type:
                          type: string
                          description: Returns the contract type. The contract type is specified by the name of the standard specification (e.g., TRC20).
                    - type: object
                      required:
                        - name
                        - symbol
                        - totalSupply
                        - decimals
                      properties:
                        name:
                          type: string
                          description: Represents the name of the contract. Returns an empty string if the contract does not follow the standard or if name was not provided during contract creation.
                        symbol:
                          type: string
                          description: Represents the symbol of the contract. Returns an empty string if the contract does not follow the standard or if symbol was not provided during contract creation.
                        totalSupply:
                          type: string
                          description: Represents the total supply of the contract. This value indicates the total token issuance and is displayed as a decimal string.
                        decimals:
                          type: integer
                          description: Represents the number of decimal places for the token.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenHoldersByContract:
    post:
      security:
        - api_key: []
      operationId: tron-getTokenHoldersByContract
      summary: Get Token Holders By Contract
      description: |+
        Retrieves the holder list for a specific ERC20 token contract. The holder list includes holder addresses and the quantity of tokens held by each holder.

      x-seo-description: Get a paginated list of all accounts holding a specific ERC20 token contract.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/properties/contractAddress"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              contractAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - ownerAddress
                            - balance
                          properties:
                            ownerAddress:
                              type: string
                              description: TRON address of the account owner. The address is a 34-character Base58 string format starting with "T".
                            balance:
                              type: string
                              description: Represents the current balance of the account. The value is a decimal string in SUN, the smallest unit of TRX (1 TRX = 1,000,000 SUN).
                          example:
                            ownerAddress: TTzC9cm1vbsyBzhC8n4z3k6eAVkryDyKU8
                            balance: "1000000000000000000"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenTransfersByAccount:
    post:
      security:
        - api_key: []
      operationId: tron-getTokenTransfersByAccount
      summary: Get Token Transfers by Account
      description: |+
        Retrieves the list of ERC20 token transfers sent or received by a specific address. Results include token contract metadata and the transferred token amount.

      x-seo-description: Get a paginated list of ERC20 token transfers sent or received by a specific account address.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/properties/ownerAddress"
                    relation:
                      type: string
                      description: |-
                        Parameter for filtering transactions where the queried account address is the sender or recipient.
                        - from: Filter by sender only.
                        - to: Filter by recipient only.
                        - both (default): Returns all transactions where the queried address appears in from or to.
                      enum:
                        - from
                        - to
                        - both
                      pattern: from|to|both
                      default: both
                    contractAddresses:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/requestBody/content/application~1json/schema/properties/contractAddresses"
                    fromBlock:
                      type: string
                      description: |
                        Parameter specifying the starting point for the query. You can enter block number, block hash, or block tag. Default is 0.
                        - block number: Enter as a decimal string.
                        - block hash: Enter as a 64-character hexadecimal string, excluding the 0x prefix.
                        - block tag: You can enter "earliest" for fromBlock.

                        Notes:
                        - If only fromBlock is provided without toBlock, results are queried from fromBlock to the most recent block.
                        - fromBlock's block number must be less than or equal to toBlock's block number.
                        - If toBlock and fromBlock have the same value, only that single block's results are queried.
                        - "latest" cannot be entered for fromBlock.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                      default: earliest
                      example: "80453005"
                    toBlock:
                      type: string
                      description: |-
                        Parameter specifying the ending point for the query. You can enter block number, block hash, or block tag. Default is "latest".
                        - block number: Enter as a decimal string.
                        - block hash: Enter as a 64-character hexadecimal string, excluding the 0x prefix.
                        - block tag: You can enter "latest".

                        Notes:
                        - The blockNumber for toBlock must be greater than or equal to the blockNumber for fromBlock.
                        - If toBlock and fromBlock have the same value, only that single block's results are queried.
                        - If only toBlock is provided without fromBlock, results are queried from genesis block to the time specified in toBlock.
                        - "earliest" cannot be entered for toBlock.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                      default: latest
                      example: "80453006"
                    fromDate:
                      type: string
                      description: |-
                        Parameter specifying the start date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without toDate, results are queried from this date to the latest block.
                        - fromDate value must be equal to or earlier than toDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-01T00:00:00+00:00"
                    toDate:
                      type: string
                      description: |-
                        Parameter specifying the end date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without fromDate, results are queried from genesis block to this date.
                        - toDate value must be equal to or later than fromDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-31T00:00:00+00:00"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withZeroValue:
                      type: boolean
                      description: Parameter specifying whether to include results with value 0 in the response. Set to true for faster responses.
                      default: false
            example:
              accountAddress: TGEj7Eawpj8xnPm82FVHeWYvBRKQzdBoVQ
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - from
                                - to
                                - value
                                - blockTimestamp
                                - blockNumber
                                - transactionHash
                                - transactionIndex
                              properties:
                                from:
                                  type: string
                                  description: Represents the address that initiated the transaction. This address refers to the account or smart contract that sends assets. This field has a 34-character base58 string format starting with "T".
                                to:
                                  type: string
                                  description: Represents the recipient address of the transaction. This address refers to the account or smart contract that receives assets. This field has a 34-character base58 string format starting with "T".
                                value:
                                  type: string
                                  description: Represents the amount of assets or data transferred. For TRC10 and TRC20, it indicates the amount transferred.
                                blockTimestamp:
                                  type: integer
                                  description: Indicates when the block containing the transaction was created. Recorded in UNIX timestamp format in milliseconds, used to verify when the transaction occurred.
                                blockNumber:
                                  type: integer
                                  description: Indicates the block number containing the transaction. Used to trace the transaction on the blockchain and identify the transaction's position within a specific block.
                                transactionHash:
                                  type: string
                                  description: Represents the unique hash of the transaction. Used as the transaction identifier and serves as the key to trace all data related to the transaction.
                                transactionIndex:
                                  type: integer
                                  description: Indicates the position of the transaction within the block containing it. Used to identify the order of the transaction among multiple transactions in a block.
                                logIndex:
                                  type: integer
                                  description: Indicates the index of the log containing this Transfer event. Used to identify a specific log when multiple logs exist within the same block.
                                internalTransactionIndex:
                                  type: integer
                                  description: |-
                                    Indicates the index of the internal transaction related to TRX or TRC10 transfer. Used to distinguish among multiple internal transactions within a block.
                                    <strong style='color: red;'>*</strong> When this value is "-1", it indicates a Root Transaction.
                                exchangeId:
                                  type: integer
                                  description: Unique ID that identifies a swap transaction on the decentralized exchange (DEX) provided by the TRON network. Used to distinguish specific swap transactions and track which asset pair was traded. Returns null when the transfer is not from a swap transaction.
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenTransfersByContract:
    post:
      security:
        - api_key: []
      operationId: tron-getTokenTransfersByContract
      summary: Get Token Transfers by Contract
      description: |+
        Retrieves the list of ERC20 token transfers that occurred from a specific contract. Results include token contract metadata and the transferred token amount.

      x-seo-description: Retrieve the transfer history of a specific ERC20 token contract with pagination support.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/properties/contractAddress"
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withZeroValue:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withZeroValue"
            example:
              contractAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/0"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenTransfersWithinRange:
    post:
      security:
        - api_key: []
      operationId: tron-getTokenTransfersWithinRange
      summary: Get Token Transfers Within Range
      description: |
        Retrieves the list of ERC20 token transfers that occurred during a specific period. Results include token contract metadata and the transferred token amount.


        > 📘 Period setting tip
        > If the specified period is long, response time may increase. For faster responses, it is recommended to set only the necessary period.
      x-seo-description: Get all ERC20 token transfers that occurred within a specified block number or time range.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withZeroValue:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withZeroValue"
            example:
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/0"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokensOwnedByAccount:
    post:
      security:
        - api_key: []
      operationId: tron-getTokensOwnedByAccount
      summary: Get Tokens Owned By Account
      description: |+
        Retrieves the list of ERC20 tokens held by a specific account. Results include the quantity held per token and token contract metadata.

      x-seo-description: Retrieve all ERC20 tokens and balances currently held by a specific account address.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/properties/ownerAddress"
                    contractAddresses:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/requestBody/content/application~1json/schema/properties/contractAddresses"
                - type: object
                  properties:
                    page:
                      type: integer
                      description: |-
                        The page parameter specifies the data page to query. It accepts values up to 100; for pages exceeding 100, use the cursor pagination method.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: rpp stands for results per page and specifies the page size. You can specify a number greater than 0 and up to 100.
                      pattern: ^(?:[1-9][0-9]{0,2}?|100)$
                    cursor:
                      type: string
                      description: |-
                        The cursor parameter supports pagination and data navigation between pages. Provide the cursor value from the previous page in the next request to load the next page of data.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                    withCount:
                      type: boolean
                      description: Parameter specifying whether to include the count field in the response. The count field indicates the total number of requested data items. When set to true, the count field is included and response speed may be slower.
                      default: false
            example:
              accountAddress: TGEj7Eawpj8xnPm82FVHeWYvBRKQzdBoVQ
              contractAddresses:
                - TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                - TLZSucJRjnqBKwvQz6n5hd29gbS4P7u7w8
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - items
                    properties:
                      page:
                        type: integer
                        description: Field representing the page number specified in the page parameter. This field is only included in the response when a value greater than 0 is specified for the page parameter.
                      rpp:
                        type: integer
                        description: Field representing the number of results per page specified in the rpp parameter.
                      cursor:
                        type: string
                        description: A field for cursor pagination. This value must be provided in the next request to load the next page of data.
                      count:
                        type: integer
                        description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                      items:
                        type: array
                        description: Field representing the list of queried data.
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenHoldersByContract/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/searchTokenContractMetadataByKeyword:
    post:
      security:
        - api_key: []
      operationId: tron-searchTokenContractMetadataByKeyword
      summary: Search Token Contract Metadata by Keyword
      description: |
        Retrieves the list of contracts matching the ERC20 token contract name or symbol.


        > 🚧 Getting a 429 error? Check your subscription plan!
        > 429 errors may occur when the Throughput limit of your subscription plan is exceeded.
        > For example, the Starter plan has a limit of 300 CU per second, so if you use the Starter plan and call an API that consumes 350 CU, you may get a 429 error.
        > Check the CU consumption of the API you are using on the Compute Unit Costs page, and consider upgrading to a higher plan if you need more Throughput!
        > 👉 [Go to Compute Unit Costs page](/guides/compute-unit)
      x-seo-description: Search for ERC20 token contracts by keyword. Returns matching contracts with metadata.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - keyword
                  properties:
                    keyword:
                      type: string
                      description: Parameter specifying the name or symbol of the token to query.
                      example: USDT
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              keyword: USDT
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                            - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
