openapi: 3.1.0
info:
  title: aptos
  version: 1.2.24
servers:
  - url: https://web3.nodit.io/v1
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: >-
        The default value, `nodit-demo`, is only for use in the developer
        documentation. For real applications or services, use the API key
        obtained from the Nodit console.
paths:
  /{chain}/{network}/token/getTokenAccountsByAssetType:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        특정 Asset Type을 가진 토큰의 목록을 조회합니다. 조회 결과는 Owner 주소 기준이 아닌 Object 주소를 기준으로
        제공됩니다.

      summary: Get Token Accounts By Asset Type
      operationId: aptos-getTokenAccountsByAssetType
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    assetType:
                      type: string
                      description: >-
                        조회하고자 하는 자산의 타입을 지정하는 파라미터입니다.

                        자산 타입은 64자리 16진수("0x" 포함)로 입력해야 하며, 다음과 같은 형식을 사용합니다:


                        - Coin: "0x1::aptos_coin::AptosCoin"과 같은 Struct 형식의 자산
                        ID

                        - Fungible Asset: Token Metadata를 소유한 Object 주소


                        <strong style='color: red;'>*</strong> assetType과
                        linkedAssetType 중 하나는 필수로 입력해야 하며, 두 파라미터를 동시에 사용할 수
                        없습니다.
                      pattern: >-
                        ^0x[0-9a-fA-F]{1,64}::[a-z][a-zA-Z0-9_]*::[A-Z][a-zA-Z0-9_]*$|^0[xX][0-9a-fA-F]{64}
                      default: 0x1::aptos_coin::AptosCoin
                    linkedAssetType:
                      type: string
                      description: >-
                        Coin과 FA(Fungible Asset)를 하나의 자산 단위로 조회하기 위한 공통 식별자입니다.


                        linkedAssetType에는 마이그레이션된 FA의 Object 주소를 입력해야 하며, 64자리
                        16진수("0x" 포함) 형식으로 입력해야 합니다.


                        <strong style='color: red;'>*</strong> assetType과
                        linkedAssetType 중 하나는 필수로 입력해야 하며, 두 파라미터를 동시에 사용할 수
                        없습니다.
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      example: >-
                        0x000000000000000000000000000000000000000000000000000000000000000a
                - &ref_0
                  type: object
                  properties:
                    page:
                      type: integer
                      description: >-
                        page 파라미터는 조회하려는 데이터 페이지를 지정하는 데 사용됩니다. 이 파라미터는 100 이하의
                        값을 받으며, 100을 초과하는 페이지가 필요한 경우 cursor 페이지네이션 방식을 사용해야
                        합니다.



                        page 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두
                        빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: >-
                        rpp는 results per page의 약자로, 한 페이지의 사이즈를 지정하는 파라미터입니다.
                        0보다 크고 1000 이하의 숫자를 지정할 수 있습니다.
                      pattern: ^(?:[1-9][0-9]{0,2}?|1000)$
                    cursor:
                      type: string
                      description: "cursor 파라미터는 페이지네이션을 위한 파라미터로, 이전 페이지와 다음 페이지 간의 데이터 이동을 지원합니다. 이전 페이지에서 얻은 cursor 값을 다음 요청에 제공하면 다음 페이지의 데이터를 로드할 수 있습니다.\n\t\t\t\n\npage 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두 빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다."
                    withCount:
                      type: boolean
                      description: >-
                        응답에 count 필드의 포함 여부를 지정하는 파라미터이며, count 필드는 요청한 데이터의 총
                        개수를 나타냅니다. 이 파라미터에 true를 입력한 경우, 응답에 count 필드가 포함되며
                        응답속도가 느려질 수 있습니다.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      type: object
                      required:
                        - ownerAddress
                        - objectAddress
                        - value
                        - isFrozen
                        - isPrimary
                        - assetType
                        - tokenStandard
                        - linkedAssetType
                      properties:
                        ownerAddress: &ref_13
                          type: string
                          description: >-
                            자산을 보유한 계정의 주소를 나타내는 필드입니다.


                            0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, 자산의 실질적인 소유자를
                            식별합니다.

                            Coin의 경우 보유 계정 주소, Fungible Asset의 경우 Object 소유자의
                            주소가 제공됩니다.
                          example: >-
                            0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a
                        objectAddress: &ref_14
                          type: string
                          description: >-
                            자산이 저장된 Object의 주소를 나타내는 필드입니다.


                            자산의 저장 위치에 따라 다음과 같이 제공됩니다:

                            - Coin: 계정에 직접 저장되므로 빈 문자열("")

                            - Fungible Asset: 토큰이 저장된 Object의 주소 (0x로 시작하는 64자리
                            16진수 문자열)
                          example: >-
                            0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
                        value: &ref_15
                          type: string
                          description: |-
                            보유한 자산의 수량을 나타내는 필드입니다.

                            정수 형태의 문자열로 제공되며, 소수점은 포함되지 않습니다.
                            실제 값을 계산할 때는 자산의 decimals를 고려해야 합니다.
                          example: '1000000'
                        isFrozen: &ref_16
                          type: boolean
                          description: |-
                            자산의 전송 가능 여부를 나타내는 필드입니다.

                            true인 경우 자산이 동결되어 전송이 불가능함을 의미합니다.
                            자산의 전송 제한 상태를 확인하는 데 사용됩니다.
                          example: false
                        isPrimary: &ref_17
                          type: boolean
                          description: |-
                            해당 Object가 Owner 주소의 대표 Object인지 여부를 나타내는 필드입니다.

                            true인 경우 해당 Object가 Owner 주소의 대표 Object임을 의미합니다.
                          example: true
                        assetType: &ref_18
                          type: string
                          description: >-
                            자산의 고유 식별자를 나타내는 필드입니다.


                            다음 두 가지 형식 중 하나로 제공됩니다:

                            - Coin: Move 구조체 형식의 자산 ID (예:
                            0x1::aptos_coin::AptosCoin)

                            - Fungible Asset: 해당 자산의 메타데이터를 소유한 Object 주소
                          example: 0x1::aptos_coin::AptosCoin
                        tokenStandard: &ref_19
                          type: string
                          description: |-
                            자산이 따르는 표준을 나타내는 필드입니다.

                            - v1: Coin 표준을 따르는 자산
                            - v2: Fungible Asset 표준을 따르는 자산
                          example: v1
                        linkedAssetType: &ref_20
                          type: string
                          description: >-
                            Coin과 Fungible Asset가 마이그레이션된 경우, 두 자산을 이어주는 공통
                            식별자입니다.


                            이 필드는 Coin/Fungible Asset를 하나의 자산 단위로 묶어 식별 및 조회할 수
                            있도록 해주는 통합 키 역할을 하며, 마이그레이션된 Fungible Asset의
                            Metadata가 저장된 Object 주소를 제공합니다.
                          example: >-
                            0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
              example:
                rpp: 10
                page: 1
                count: 47678558
                items:
                  - ownerAddress: >-
                      0xed8c46bec9dbc2b23c60568f822b95b87ea395f7e3fdb5e3adc0a30c55c0a60e
                    objectAddress: >-
                      0xed8c46bec9dbc2b23c60568f822b95b87ea395f7e3fdb5e3adc0a30c55c0a60e
                    value: '4130687141100604'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0xcc03e04e08c028a4848ce270b8d8077ad9ec14f8586727b9ed7792039f1b207e
                    objectAddress: >-
                      0xcc03e04e08c028a4848ce270b8d8077ad9ec14f8586727b9ed7792039f1b207e
                    value: '1687357444789796'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0x84b1675891d370d5de8f169031f9c3116d7add256ecf50a4bc71e3135ddba6e0
                    objectAddress: >-
                      0x84b1675891d370d5de8f169031f9c3116d7add256ecf50a4bc71e3135ddba6e0
                    value: '1011151272736049'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0x10dbe04766a3809c911e865a88a87ff42956ba1edcd5798c861543548be4bad5
                    objectAddress: >-
                      0x10dbe04766a3809c911e865a88a87ff42956ba1edcd5798c861543548be4bad5
                    value: '1007342486517827'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0x23a2c6f1b3e14bcc90f6484eeeca318e23790879242b06c81ba33cb3ed84580c
                    objectAddress: >-
                      0x23a2c6f1b3e14bcc90f6484eeeca318e23790879242b06c81ba33cb3ed84580c
                    value: '1007342374474424'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0x6dd484cf0a72f61d2cb7cd0530633f8e1fe05dcb69b4c29dd0257d3d2639377d
                    objectAddress: >-
                      0x6dd484cf0a72f61d2cb7cd0530633f8e1fe05dcb69b4c29dd0257d3d2639377d
                    value: '612523016591784'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0x51c6abe562e755582d268340b2cf0e2d8895a155dc9b7a7fb5465000d62d770b
                    objectAddress: >-
                      0x0b17800fdd21fa68351b3793bad638b0764b1e72c01cb5af4af0ecfe3a787b57
                    value: '449621994572460'
                    isFrozen: false
                    isPrimary: false
                    assetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    tokenStandard: v2
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0x1d5cd3452e5f78b1696fa0c64d7ea9eb620b7292ccd395922517da5e07106963
                    objectAddress: >-
                      0x1d5cd3452e5f78b1696fa0c64d7ea9eb620b7292ccd395922517da5e07106963
                    value: '448698985679083'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0xdc7adffa09da5736ce1303f7441f4367fa423617c6822ad2fbc8522d9efd8fa4
                    objectAddress: >-
                      0xdc7adffa09da5736ce1303f7441f4367fa423617c6822ad2fbc8522d9efd8fa4
                    value: '425198055685366'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
                  - ownerAddress: >-
                      0xb51d9c2f2ace16e07edda15cd94148bea87be07e73f7f922bd4d631c9f5c852d
                    objectAddress: >-
                      0xb51d9c2f2ace16e07edda15cd94148bea87be07e73f7f922bd4d631c9f5c852d
                    value: '381634131669799'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata: null
        '400': &ref_1
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: INVALID_PARAMETER
                  message: >-
                    Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE,
                    PARAMETER2_NAME = PARAMETER2_VALUE, ... }
        '401': &ref_2
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: AUTHENTICATION_FAILED
                  message: Authentication failed
        '403': &ref_3
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: PERMISSION_DENIED
                  message: Permission denied
        '404': &ref_4
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: RESOURCE_NOT_FOUND
                  message: >-
                    Resource not found: { RESOURCE1_NAME = RESOURCE1_VALUE,
                    RESOURCE2_NAME = RESOURCE2_VALUE, ... }
        '429': &ref_5
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: TOO_MANY_REQUESTS
                  message: Too many requests
  /{chain}/{network}/token/getTokenBalanceChangesByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 계정의 자산 변화 내역을 조회합니다.

      summary: Get Token Balance Changes by Account
      operationId: aptos-getTokenBalanceChangesByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회하고자 하는 계정 주소를 지정하는 파라미터입니다. 계정 주소는 64자리 16진수("0x" 포함)로
                        입력해야 합니다.
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      default: >-
                        0x51c6abe562e755582d268340b2cf0e2d8895a155dc9b7a7fb5465000d62d770b
                    assetTypes:
                      type: array
                      items: &ref_11
                        type: string
                        description: >-
                          조회하고자 하는 자산의 타입을 지정하는 파라미터입니다.

                          자산 타입은 64자리 16진수("0x" 포함)로 입력해야 하며, 다음과 같은 형식을 사용합니다:


                          - Coin: "0x1::aptos_coin::AptosCoin"과 같은 Struct 형식의 자산
                          ID

                          - Fungible Asset: Token Metadata를 소유한 Object 주소
                        pattern: >-
                          ^0x[0-9a-fA-F]{1,64}::[a-z][a-zA-Z0-9_]*::[A-Z][a-zA-Z0-9_]*$|^0[xX][0-9a-fA-F]{64}
                      description: >-
                        조회하고자 하는 자산의 타입을 지정하는 파라미터입니다.

                        자산 타입은 64자리 16진수("0x" 포함)로 입력해야 하며, 다음과 같은 형식을 사용합니다:


                        - Coin: "0x1::aptos_coin::AptosCoin"과 같은 Struct 형식의 자산
                        ID

                        - Fungible Asset: Token Metadata를 소유한 Object 주소


                        <strong style='color: red;'>*</strong> assetTypes과
                        linkedAssetTypes는 동시에 사용할 수 없습니다.
                    linkedAssetTypes:
                      type: array
                      items: &ref_12
                        type: string
                        description: >-
                          Coin과 FA(Fungible Asset)를 하나의 자산 단위로 조회하기 위한 공통
                          식별자입니다.


                          linkedAssetType에는 마이그레이션된 FA의 Object 주소를 입력해야 하며, 64자리
                          16진수("0x" 포함) 형식으로 입력해야 합니다.
                        pattern: ^0[xX][0-9a-fA-F]{64}
                      description: >-
                        Coin과 FA(Fungible Asset)를 하나의 자산 단위로 조회하기 위한 공통 식별자입니다.


                        linkedAssetType에는 마이그레이션된 FA의 Object 주소를 입력해야 하며, 64자리
                        16진수("0x" 포함) 형식으로 입력해야 합니다.


                        <strong style='color: red;'>*</strong> assetTypes과
                        linkedAssetTypes는 동시에 사용할 수 없습니다.
                    fromBlock: &ref_6
                      type: string
                      description: >
                        조회 시작 블록을 지정하는 파라미터입니다. 다음 형식 중 하나를 입력할 수 있습니다:  

                        - block number: 10진수 문자열로 블록 번호를 입력.  

                        - block hash: 64자리 16진수("0x" 포함).  

                        - block tag: "earliest" 또는 "latest"를 사용하여 첫 번째 블록 또는 최신
                        블록을 지정.


                        유의사항: 

                        - toBlock 없이 제공하면, 해당 블록부터 최신 블록까지 결과를 조회합니다.  

                        - fromBlock 값은 toBlock 값보다 클 수 없습니다.  

                        - fromBlock과 toBlock에 동일한 값을 입력하면, 해당 블록만 조회됩니다.  

                        - fromBlock에 "latest"는 toBlock이 "latest"일 때만 허용됩니다.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    toBlock: &ref_7
                      type: string
                      description: >-
                        조회 종료 블록을 지정하는 파라미터입니다. 다음 형식 중 하나를 입력할 수 있습니다:  

                        - block number: 10진수 문자열로 블록 번호를 입력.  

                        - block hash: 64자리 16진수("0x" 포함).  

                        - block tag: "earliest" 또는 "latest"를 사용하여 첫 번째 블록 또는 최신
                        블록을 지정.


                        유의사항:  

                        - fromBlock 없이 제공하면, genesis block부터 해당 블록까지 결과를
                        조회합니다.  

                        - toBlock 값은 fromBlock 값보다 작을 수 없습니다.  

                        - fromBlock과 toBlock에 동일한 값을 입력하면, 해당 블록만 조회됩니다.  

                        - toBlock에 "earliest"는 fromBlock이 "earliest"일 때만 허용됩니다.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate: &ref_8
                      type: string
                      description: >-
                        조회 시작 날짜를 지정하는 파라미터입니다. 날짜는 ISO 8601
                        형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 초 단위까지 입력해야
                        합니다.  


                        유의사항:  

                        - toDate 없이 제공하면, 해당 날짜부터 최신 블록까지 결과를 조회합니다.  

                        - fromDate 값은 toDate 값과 같거나 더 과거의 값을 가져야 합니다.

                        - fromDate와 toDate에 동일한 값을 입력하면, 해당 날짜에서 발생한 블록만 조회됩니다.

                        - 이 필드는 fromBlock, toBlock과 함께 사용할 수 없습니다.  
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      default: '2025-01-01T00:00:00+00:00'
                    toDate: &ref_9
                      type: string
                      description: >-
                        조회 종료 날짜를 지정하는 파라미터입니다. 날짜는 ISO 8601
                        형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 초 단위까지 입력해야
                        합니다.  


                        유의사항:  

                        - fromDate 없이 제공하면, genesis block부터 해당 날짜까지 결과를 조회합니다.  

                        - toDate 값은 fromDate 값과 같거나 더 미래의 값을 가져야 합니다.

                        - fromDate와 toDate에 동일한 값을 입력하면, 해당 날짜에서 발생한 블록만 조회됩니다.

                        - 이 필드는 fromBlock, toBlock과 함께 사용할 수 없습니다.  
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      default: '2025-01-31T00:00:00+00:00'
                  required:
                    - accountAddress
                - *ref_0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: &ref_10
                      type: object
                      required:
                        - eventIndex
                        - eventType
                        - subEventIndex
                        - accountAddress
                        - assetType
                        - linkedAssetType
                        - changeValue
                        - tokenStandard
                        - transferType
                      properties:
                        blockHeight:
                          type: integer
                          description: |-
                            해당 잔액 변화가 포함된 블록의 높이를 나타내는 필드입니다.

                            제네시스 블록(0)부터 시작하여 순차적으로 증가하는 정수값으로 제공됩니다.
                          example: 160155267
                        blockTimestamp:
                          type: integer
                          description: |-
                            블록 생성 시각을 나타내는 필드입니다.

                            UNIX 타임스탬프로 제공됩니다.
                          example: 1749003732416395
                        transactionHash:
                          type: string
                          description: >-
                            잔액 변화를 발생시킨 트랜잭션의 해시를 나타내는 필드입니다.


                            트랜잭션의 모든 데이터를 포함하여 계산된 암호학적 해시값으로, 0x로 시작하는 64자리
                            16진수 문자열 형태로 제공됩니다.

                            이 해시를 통해 잔액 변화와 관련된 트랜잭션의 전체 정보를 조회할 수 있습니다.
                          example: >-
                            0x2a41cd44491bb92d4eb17d8487f82d9b43ab6289074c1986ee055be8105707c9
                        transactionVersion:
                          type: integer
                          description: >-
                            잔액 변화가 발생한 트랜잭션의 버전을 나타내는 필드입니다.


                            체인 상에서 트랜잭션의 순서를 나타내는 고유한 시퀀스 ID로, 0부터 시작하여 순차적으로
                            증가합니다.
                          example: 34872482
                        eventIndex:
                          type: integer
                          description: >-
                            트랜잭션 내 이벤트의 순서 인덱스를 나타내는 필드입니다.


                            하나의 트랜잭션에서 발생한 여러 이벤트들 중 현재 이벤트의 순서를 나타냅니다.

                            0부터 시작하여 이벤트 발생 순서대로 증가하며, 동일 트랜잭션 내 이벤트의 순서를 식별하는 데
                            사용됩니다.
                          example: 0
                        eventType:
                          type: string
                          description: |-
                            이벤트의 유형을 나타내는 필드입니다.

                            Move 모듈에서 정의된 이벤트 구조체의 전체 경로(주소::모듈::구조체)로 제공됩니다.
                            잔액 변화의 원인이 된 작업의 종류를 식별하는 데 사용됩니다.
                          example: 0x1::coin::WithdrawEvent
                        subEventIndex:
                          type: integer
                          description: |-
                            하나의 이벤트 내 여러 개의 자산 변화가 발생할 경우의 순서를 나타내는 필드입니다.

                            동일한 eventIndex를 가진 이벤트 내에서 발생한 여러 자산 변화들의 순서를 식별합니다.
                            0부터 시작하여 순차적으로 증가하며, 복합 자산 거래(예: 스왑)에서 중요한 역할을 합니다.
                          example: 0
                        accountAddress:
                          type: string
                          description: >-
                            잔액 변화가 발생한 계정의 주소를 나타내는 필드입니다.


                            0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, 자산 잔액이 변동된 계정을
                            식별합니다.

                            이 주소는 자산의 소유자이거나 자산이 이동된 대상 계정입니다.
                          example: >-
                            0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a
                        assetType:
                          type: string
                          description: >-
                            잔액 변화가 발생한 자산의 타입을 나타내는 필드입니다.


                            다음 두 가지 형식 중 하나로 제공됩니다:

                            - Coin: Move 구조체 형식의 자산 ID (예:
                            0x1::aptos_coin::AptosCoin)

                            - Fungible Asset: 해당 자산의 메타데이터를 소유한 Object 주소


                            이 값은 자산의 종류를 고유하게 식별하는 데 사용됩니다.
                          example: 0x1::aptos_coin::AptosCoin
                        linkedAssetType:
                          type: string
                          description: >-
                            Coin과 Fungible Asset이 마이그레이션된 경우, 두 자산을 이어주는 공통
                            식별자입니다.


                            이 필드는 Coin/Fungible Asset를 하나의 자산 단위로 묶어 식별 및 조회할 수
                            있도록 해주는 통합 키 역할을 하며, 마이그레이션된 Fungible Asset의
                            Metadata가 저장된 Object 주소를 제공합니다.
                          example: >-
                            0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
                        changeValue:
                          type: string
                          description: |-
                            잔액 변화량을 나타내는 필드입니다.

                            정수 형태의 문자열로 제공되며:
                            - 양수: 해당 계정의 잔액이 증가했음을 의미
                            - 음수: 해당 계정의 잔액이 감소했음을 의미

                            실제 값은 decimals를 고려하여 해석해야 합니다.
                          example: '1000000'
                        tokenStandard:
                          type: string
                          description: |-
                            자산의 표준 유형을 나타내는 필드입니다.

                            - v1: Coin 표준을 따르는 자산
                            - v2: Fungible Asset 표준을 따르는 자산
                          example: coin
                        transferType:
                          type: string
                          description: |-
                            전송 방향 또는 동작 유형을 나타내는 필드입니다.

                            잔액 변화의 구체적인 유형을 나타내며, 다음과 같은 값들이 가능합니다:
                            - deposit: 자산 입금
                            - withdraw: 자산 출금
                            - swap_in: 스왑으로 인한 입금
                            - swap_out: 스왑으로 인한 출금
                            - gas: 가스비 지불
                            - refund_gas: 가스비 환불
                          example: deposit
              example:
                rpp: 2
                page: 1
                count: 932144
                items:
                  - eventIndex: 2
                    subEventIndex: 0
                    accountAddress: >-
                      0x49019bb2f30da7916a417e108f6c1fe5dc14a9b4c9d6582d65fad3c0c5373ab2
                    assetType: 0x1::aptos_coin::AptosCoin
                    changeValue: '-1300'
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    tokenStandard: v1
                    transferType: gas_fee
                    eventType: 0x1::transaction_fee::FeeStatement
                    transactionVersion: 3102674923
                    blockHeight: 389659187
                    blockTimestamp: 1753172049206
                    transactionHash: >-
                      0x9f3aa0cecf4141944e4c39abf65d596b831bf31e61ce858e820e1a7d8bff597c
                  - eventIndex: 0
                    subEventIndex: 0
                    accountAddress: >-
                      0x49019bb2f30da7916a417e108f6c1fe5dc14a9b4c9d6582d65fad3c0c5373ab2
                    assetType: 0x1::aptos_coin::AptosCoin
                    changeValue: '-80000'
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    tokenStandard: v1
                    transferType: withdraw
                    eventType: 0x1::coin::WithdrawEvent
                    transactionVersion: 3102674923
                    blockHeight: 389659187
                    blockTimestamp: 1753172049206
                    transactionHash: >-
                      0x9f3aa0cecf4141944e4c39abf65d596b831bf31e61ce858e820e1a7d8bff597c
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/token/getTokenBalanceChangesByAssetType:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 자산 타입의 잔액 변화 내역을 조회합니다.

      summary: Get Token Balance Changes By Asset Type
      operationId: aptos-getTokenBalanceChangesByAssetType
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    assetType:
                      type: string
                      description: >-
                        조회하고자 하는 자산의 타입을 지정하는 파라미터입니다.

                        자산 타입은 64자리 16진수("0x" 포함)로 입력해야 하며, 다음과 같은 형식을 사용합니다:


                        - Coin: "0x1::aptos_coin::AptosCoin"과 같은 Struct 형식의 자산
                        ID

                        - Fungible Asset: Token Metadata를 소유한 Object 주소


                        <strong style='color: red;'>*</strong> assetType과
                        linkedAssetType 중 하나는 필수로 입력해야 하며, 두 파라미터를 동시에 사용할 수
                        없습니다.
                      pattern: >-
                        ^0x[0-9a-fA-F]{1,64}::[a-z][a-zA-Z0-9_]*::[A-Z][a-zA-Z0-9_]*$|^0[xX][0-9a-fA-F]{64}
                      default: 0x1::aptos_coin::AptosCoin
                    linkedAssetType:
                      type: string
                      description: >-
                        Coin과 FA(Fungible Asset)를 하나의 자산 단위로 조회하기 위한 공통 식별자입니다.


                        linkedAssetType에는 마이그레이션된 FA의 Object 주소를 입력해야 하며, 64자리
                        16진수("0x" 포함) 형식으로 입력해야 합니다.


                        <strong style='color: red;'>*</strong> assetType과
                        linkedAssetType 중 하나는 필수로 입력해야 하며, 두 파라미터를 동시에 사용할 수
                        없습니다.
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      example: >-
                        0x000000000000000000000000000000000000000000000000000000000000000a
                    fromBlock: *ref_6
                    toBlock: *ref_7
                    fromDate: *ref_8
                    toDate: *ref_9
                - *ref_0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_10
              example:
                rpp: 2
                page: 1
                count: 3145474938
                items:
                  - eventIndex: 0
                    subEventIndex: 0
                    accountAddress: >-
                      0x31deb490728ae8e1a89675ee4c1877af8e5849c526d2c9a64238c49d8ece08a0
                    assetType: 0x1::aptos_coin::AptosCoin
                    changeValue: '-19482'
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    tokenStandard: v1
                    transferType: gas_fee
                    eventType: 0x1::transaction_fee::FeeStatement
                    transactionVersion: 3102713187
                    blockHeight: 389662497
                    blockTimestamp: 1753172463548
                    transactionHash: >-
                      0x3ed0f74bca2c44567c746bac39045aa8c9b52d23f88e88a61b26a47f0d697d2c
                  - eventIndex: 0
                    subEventIndex: 0
                    accountAddress: >-
                      0x31deb490728ae8e1a89675ee4c1877af8e5849c526d2c9a64238c49d8ece08a0
                    assetType: 0x1::aptos_coin::AptosCoin
                    changeValue: '-17952'
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    tokenStandard: v1
                    transferType: gas_fee
                    eventType: 0x1::transaction_fee::FeeStatement
                    transactionVersion: 3102713186
                    blockHeight: 389662497
                    blockTimestamp: 1753172463548
                    transactionHash: >-
                      0xab24ee038fa7e6ea6f37d6f4c8a062720de23d6424d5a7264d31ffa8c9e20714
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/token/getTokenBalanceChangesWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 기간 혹은 블록 범위 내의 자산 변화 내역을 조회합니다.

      summary: Get Token Balance Changes Within Range
      operationId: aptos-getTokenBalanceChangesWithinRange
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Block Range
              description: >
                블록 범위를 지정하여 자산 변화 내역을 조회합니다.


                <strong style='color: red;'>*</strong> block 범위 파라미터(fromBlock,
                toBlock)와 date 범위 파라미터(fromDate, toDate)는 함께 사용할 수 없습니다. 지정하지 않을
                경우 모든 블록 범위를 조회합니다.
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    fromBlock: *ref_6
                    toBlock: *ref_7
                    fromDate: *ref_8
                    toDate: *ref_9
                - *ref_0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_10
              example:
                rpp: 2
                page: 1
                count: 5212591288
                items:
                  - eventIndex: 12
                    subEventIndex: 0
                    accountAddress: >-
                      0x0847702922d69e8c93b2b48d6fbbcb5a5250b99d44844d878cad997007f3aa70
                    assetType: 0x1::aptos_coin::AptosCoin
                    changeValue: '-5200'
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    tokenStandard: v1
                    transferType: gas_fee
                    eventType: 0x1::transaction_fee::FeeStatement
                    transactionVersion: 3102744848
                    blockHeight: 389665638
                    blockTimestamp: 1753172853685
                    transactionHash: >-
                      0x1a17e2bdae29909770ff4b68e8f431ef40c5764011ff75149e4fa8a614011a28
                  - eventIndex: 8
                    subEventIndex: 0
                    accountAddress: >-
                      0x0847702922d69e8c93b2b48d6fbbcb5a5250b99d44844d878cad997007f3aa70
                    assetType: >-
                      0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
                    changeValue: '-197'
                    linkedAssetType: >-
                      0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
                    tokenStandard: v2
                    transferType: withdraw
                    eventType: 0x1::fungible_asset::Withdraw
                    transactionVersion: 3102744848
                    blockHeight: 389665638
                    blockTimestamp: 1753172853685
                    transactionHash: >-
                      0x1a17e2bdae29909770ff4b68e8f431ef40c5764011ff75149e4fa8a614011a28
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/token/getTokenMetadataByAssetTypes:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 Asset Type을 가진 토큰의 메타데이터를 조회합니다.

      summary: Get Token Metadata By Asset Types
      operationId: aptos-getTokenMetadataByAssetTypes
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    assetTypes:
                      type: array
                      items:
                        type: string
                        description: >-
                          조회하고자 하는 자산의 타입을 지정하는 파라미터입니다.

                          자산 타입은 64자리 16진수("0x" 포함)로 입력해야 하며, 다음과 같은 형식을 사용합니다:


                          - Coin: "0x1::aptos_coin::AptosCoin"과 같은 Struct 형식의 자산
                          ID

                          - Fungible Asset: Token Metadata를 소유한 Object 주소
                        pattern: >-
                          ^0x[0-9a-fA-F]{1,64}::[a-z][a-zA-Z0-9_]*::[A-Z][a-zA-Z0-9_]*$|^0[xX][0-9a-fA-F]{64}
                      minItems: 1
                      maxItems: 1000
                      description: 조회할 Asset Type을 배열로 입력합니다.
                      default:
                        - 0x1::aptos_coin::AptosCoin
                - *ref_0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: &ref_21
                      type: object
                      required:
                        - name
                        - symbol
                        - decimals
                        - totalSupply
                        - maximumSupply
                        - creatorAddress
                        - projectURI
                        - iconURI
                      properties:
                        assetType:
                          type: string
                          description: >-
                            자산의 고유 식별자를 나타내는 필드입니다.


                            다음 두 가지 형식 중 하나로 제공됩니다:

                            - Coin: Move 구조체 형식의 자산 ID (예:
                            0x1::aptos_coin::AptosCoin)

                            - Fungible Asset: 해당 자산의 메타데이터를 소유한 Object 주소
                          example: 0x1::aptos_coin::AptosCoin
                        tokenStandard:
                          type: string
                          description: |-
                            자산이 따르는 표준을 나타내는 필드입니다.

                            - v1: Coin 표준을 따르는 자산
                            - v2: Fungible Asset 표준을 따르는 자산
                          example: v1
                        name:
                          type: string
                          description: |-
                            자산의 이름을 나타내는 필드입니다.

                            사용자 인터페이스에 표시되는 자산의 공식 이름으로, 자산을 식별하고 구분하는 데 사용됩니다.
                          example: Aptos Coin
                        symbol:
                          type: string
                          description: |-
                            자산의 심볼(기호)을 나타내는 필드입니다.

                            거래소나 지갑에서 사용되는 자산의 축약된 식별자입니다.
                          example: APT
                        decimals:
                          type: integer
                          description: |-
                            자산의 소수점 자릿수를 나타내는 필드입니다.

                            실제 자산 수량을 표시할 때 적용되는 소수점 자릿수를 정의합니다.
                            예를 들어, decimals가 8인 경우 100000000(10^8)은 1.0으로 표시됩니다.
                          example: 8
                        totalSupply:
                          type: string
                          description: |-
                            현재 유통 중인 총 발행량을 나타내는 필드입니다.

                            decimals가 적용되기 전의 정수 값으로 제공됩니다.
                            실제 유통량을 계산할 때는 decimals를 고려해야 합니다.
                          example: '123456789000000'
                        maximumSupply:
                          type: string
                          description: |-
                            발행 가능한 최대 공급량을 나타내는 필드입니다.

                            decimals가 적용되기 전의 정수 값으로 제공됩니다.
                            빈 문자열("")인 경우 최대 공급량 제한이 없음을 의미합니다.
                          example: '123123'
                        creatorAddress:
                          type: string
                          description: |-
                            자산을 생성한 계정의 주소를 나타내는 필드입니다.

                            0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, 자산의 생성자를 식별합니다.
                            자산의 관리 권한과 소유권을 추적하는 데 사용됩니다.
                          example: '0x1'
                        projectURI:
                          type: string
                          description: |-
                            프로젝트 관련 정보를 제공하는 URI를 나타내는 필드입니다.

                            웹사이트, 백서, 문서 등 프로젝트의 상세 정보를 확인할 수 있는 URL이 제공됩니다.
                            자산과 관련된 추가 정보를 얻는 데 사용됩니다.
                          example: https://aptos.dev
                        iconURI:
                          type: string
                          description: >-
                            자산의 아이콘 이미지 URL을 나타내는 필드입니다. 자산을 시각적으로 식별할 수 있는 이미지의
                            URL이 제공됩니다.
                          example: https://aptos.dev/icon.png
              example:
                - assetType: 0x1::aptos_coin::AptosCoin
                  tokenStandard: v1
                  name: Aptos Coin
                  symbol: APT
                  decimals: 8
                  totalSupply: ''
                  maximumSupply: null
                  creatorAddress: >-
                    0x0000000000000000000000000000000000000000000000000000000000000001
                  projectURI: ''
                  iconURI: ''
                - assetType: >-
                    0x000000000000000000000000000000000000000000000000000000000000000a
                  tokenStandard: v2
                  name: Aptos Coin
                  symbol: APT
                  decimals: 8
                  totalSupply: '1553556591615492'
                  maximumSupply: '340282366920938463463374607431768211455'
                  creatorAddress: >-
                    0x0000000000000000000000000000000000000000000000000000000000000001
                  projectURI: ''
                  iconURI: ''
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/token/getTokenPairByAssetType:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        Asset Type을 기준으로 토큰 쌍을 조회합니다. 토큰 쌍은 Coin과 Fungible Asset으로 구성되며, 마이그레이션된
        토큰은 동일한 linkedAssetType을 가집니다.

      summary: Get Token Pair By Asset Type
      operationId: aptos-getTokenPairByAssetType
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              properties:
                assetType: *ref_11
              required:
                - assetType
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - coinAssetType
                  - fungibleAssetType
                  - linkedAssetType
                properties:
                  coinAssetType:
                    type: string
                    description: |-
                      Coin 표준에 속한 자산의 유형을 나타내는 필드입니다.

                      Coin 표준은 '모듈주소::모듈이름::구조체이름' 형식으로 제공됩니다.
                    example: 0x1::aptos_coin::AptosCoin
                  fungibleAssetType:
                    type: string
                    description: >-
                      Fungible Asset 표준에 속한 자산의 유형을 나타내는 필드입니다.


                      Fungible Asset 표준은 0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, 해당 자산의
                      메타데이터를 소유한 Object 주소가 제공됩니다.
                    example: >-
                      0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
                  linkedAssetType:
                    type: string
                    description: >-
                      Coin과 Fungible Asset이 마이그레이션된 경우, 두 자산을 이어주는 공통 식별자입니다.


                      이 필드는 Coin/Fungible Asset을 하나의 자산 단위로 묶어 식별 및 조회할 수 있도록
                      해주는 통합 키 역할을 하며, 마이그레이션된 Fungible Asset의 Metadata가 저장된
                      Object 주소를 제공합니다.
                    example: >-
                      0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
              example:
                coinAssetType: 0x1::aptos_coin::AptosCoin
                fungibleAssetType: >-
                  0x000000000000000000000000000000000000000000000000000000000000000a
                linkedAssetType: >-
                  0x000000000000000000000000000000000000000000000000000000000000000a
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/token/getTokensOwnedByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        특정 Account가 보유한 토큰의 목록을 조회합니다. 조회 결과는 Object 주소를 기준으로 제공되며, 특정 토큰의 총 보유
        수량을 얻기 위해서는 해당 토큰의 assetTypes 또는 linkedAssetTypes을 이용하여 조회된 모든 결과값을 합산해야
        합니다.

      summary: Get Tokens Owned By Account
      operationId: aptos-getTokensOwnedByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회하고자 하는 계정 주소를 지정하는 파라미터입니다. 계정 주소는 64자리 16진수("0x" 포함)로
                        입력해야 합니다.
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      default: >-
                        0x51c6abe562e755582d268340b2cf0e2d8895a155dc9b7a7fb5465000d62d770b
                    assetTypes:
                      type: array
                      items: *ref_11
                      description: >-
                        조회하고자 하는 자산의 타입을 지정하는 파라미터입니다.

                        자산 타입은 64자리 16진수("0x" 포함)로 입력해야 하며, 다음과 같은 형식을 사용합니다:


                        - Coin: "0x1::aptos_coin::AptosCoin"과 같은 Struct 형식의 자산
                        ID

                        - Fungible Asset: Token Metadata를 소유한 Object 주소


                        <strong style='color: red;'>*</strong> assetTypes과
                        linkedAssetTypes는 동시에 사용할 수 없습니다.
                    linkedAssetTypes:
                      type: array
                      items: *ref_12
                      description: >-
                        Coin과 FA(Fungible Asset)를 하나의 자산 단위로 조회하기 위한 공통 식별자입니다.


                        linkedAssetType에는 마이그레이션된 FA의 Object 주소를 입력해야 하며, 64자리
                        16진수("0x" 포함) 형식으로 입력해야 합니다.


                        <strong style='color: red;'>*</strong> assetTypes과
                        linkedAssetTypes는 동시에 사용할 수 없습니다.
                  required:
                    - accountAddress
                - *ref_0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      type: object
                      required:
                        - ownerAddress
                        - objectAddress
                        - value
                        - isFrozen
                        - isPrimary
                        - assetType
                        - tokenStandard
                        - linkedAssetType
                        - metadata
                      properties:
                        ownerAddress: *ref_13
                        objectAddress: *ref_14
                        value: *ref_15
                        isFrozen: *ref_16
                        isPrimary: *ref_17
                        assetType: *ref_18
                        tokenStandard: *ref_19
                        linkedAssetType: *ref_20
                        metadata: *ref_21
                      description: >-
                        특정 토큰의 총 보유 수량을 얻기 위해서는 해당 토큰의 assetType 또는
                        linkedAssetType으로 조회된 모든 결과값을 합산해야 합니다.
              example:
                rpp: 10
                page: 1
                count: 2
                items:
                  - ownerAddress: >-
                      0x49019bb2f30da7916a417e108f6c1fe5dc14a9b4c9d6582d65fad3c0c5373ab2
                    objectAddress: >-
                      0x49019bb2f30da7916a417e108f6c1fe5dc14a9b4c9d6582d65fad3c0c5373ab2
                    value: '39000000000'
                    isFrozen: false
                    isPrimary: true
                    assetType: >-
                      0x50788befc1107c0cc4473848a92e5c783c635866ce3c98de71d2eeb7d2a34f85::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0xa4cfc96b4fbf4b71279a78543367a0e6600a1de5290832cc694c331b011af275
                    metadata:
                      assetType: >-
                        0x50788befc1107c0cc4473848a92e5c783c635866ce3c98de71d2eeb7d2a34f85::aptos_coin::AptosCoin
                      tokenStandard: v1
                      name: Aptos Coin
                      symbol: APT
                      decimals: 8
                      totalSupply: null
                      maximumSupply: null
                      creatorAddress: >-
                        0x50788befc1107c0cc4473848a92e5c783c635866ce3c98de71d2eeb7d2a34f85
                      projectURI: ''
                      iconURI: ''
                  - ownerAddress: >-
                      0x49019bb2f30da7916a417e108f6c1fe5dc14a9b4c9d6582d65fad3c0c5373ab2
                    objectAddress: >-
                      0x49019bb2f30da7916a417e108f6c1fe5dc14a9b4c9d6582d65fad3c0c5373ab2
                    value: '431319400'
                    isFrozen: false
                    isPrimary: true
                    assetType: 0x1::aptos_coin::AptosCoin
                    tokenStandard: v1
                    linkedAssetType: >-
                      0x000000000000000000000000000000000000000000000000000000000000000a
                    metadata:
                      assetType: 0x1::aptos_coin::AptosCoin
                      tokenStandard: v1
                      name: Aptos Coin
                      symbol: APT
                      decimals: 8
                      totalSupply: ''
                      maximumSupply: null
                      creatorAddress: >-
                        0x0000000000000000000000000000000000000000000000000000000000000001
                      projectURI: ''
                      iconURI: ''
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/blockchain/getBlockByHashOrNumber:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        블록 해시 혹은 블록넘버로 조회한 블록의 특정 정보를 반환합니다.

      summary: Get Block by Hash or Number
      operationId: aptos-getBlockByHashOrNumber
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              properties:
                block:
                  type: string
                  description: >-
                    조회하고자 하는 블록을 지정하는 파라미터입니다. 이 파라미터의 기본 값은 latest이며, 블록
                    번호(10진수 문자열), 블록 해시(0x로 시작하는 64자리 16진수 문자열) 또는 블록
                    태그(earliest, latest)를 입력할 수 있습니다. "earliest"는 첫 번째 블록을,
                    "latest"는 최근 블록을 의미합니다.
                  pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                  default: latest
              required:
                - block
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required: &ref_22
                  - hash
                  - height
                  - timestamp
                  - firstVersion
                  - lastVersion
                  - transactionsCount
                  - transactions
                properties: &ref_23
                  hash:
                    type: string
                    description: >-
                      블록의 고유 식별 해시값을 나타내는 필드입니다.


                      해당 블록의 모든 데이터를 포함하여 계산된 암호학적 해시값으로, 0x로 시작하는 64자리 16진수 문자열
                      형태로 제공됩니다.

                      블록의 무결성을 검증하고 블록을 고유하게 식별하는 데 사용됩니다.
                    example: >-
                      0xfaed12ecb5ac7b0bc87508d4a0bb562523b599e5ffd4719e159087985b184042
                  height:
                    type: integer
                    description: >-
                      블록의 높이를 나타내는 필드입니다.


                      제네시스 블록(0)부터 시작하여 순차적으로 증가하는 정수값으로, 블록체인의 길이와 특정 블록의 위치를
                      나타내는 지표로 사용됩니다.

                      블록 높이는 체인 내에서 블록의 상대적 위치를 식별하고 블록 순서를 결정하는 데 사용됩니다.
                    example: 160155267
                  timestamp:
                    type: integer
                    description: |-
                      블록이 생성된 시간을 나타내는 필드입니다.

                      UNIX 타임스탬프로 제공되며, 블록의 생성 순서와 시간 추적에 사용됩니다.
                      블록 타임스탬프는 트랜잭션의 시간 순서를 보장하고 블록 생성 간격을 측정하는 데 활용됩니다.
                    example: 1749003732416395
                  firstVersion:
                    type: integer
                    description: >-
                      블록에 포함된 트랜잭션들 중 가장 먼저 처리된 트랜잭션의 version 번호를 나타내는 필드입니다.


                      Aptos에서 각 트랜잭션은 고유한 version 번호를 가지며, 이는 트랜잭션의 전체 실행 순서를
                      나타냅니다.

                      firstVersion과 lastVersion을 통해 블록 내 트랜잭션들의 version 범위를 확인할
                      수 있습니다.
                    example: 2820166554
                  lastVersion:
                    type: integer
                    description: >-
                      블록에 포함된 트랜잭션들 중 마지막으로 처리된 트랜잭션의 version 번호를 나타내는 필드입니다.


                      firstVersion과 함께 블록 내 트랜잭션들의 version 범위를 정의하며, 이를 통해 블록 내
                      모든 트랜잭션을 순차적으로 조회할 수 있습니다.
                    example: 987654325
                  transactionsCount:
                    type: integer
                    description: >-
                      블록에 포함된 총 트랜잭션의 개수를 나타내는 필드입니다.


                      블록의 크기와 처리량을 이해하는 데 중요한 지표가 되며, 블록 내 모든 유형의 트랜잭션(사용자 트랜잭션,
                      시스템 트랜잭션 등)을 포함합니다.

                      이 값은 lastVersion - firstVersion + 1과 동일합니다.
                    example: 5
                  transactions:
                    type: array
                    description: >-
                      블록에 포함된 모든 트랜잭션의 version 번호 목록을 나타내는 필드입니다.


                      각 version 번호는 해당 트랜잭션의 고유 식별자로 사용되며, firstVersion부터
                      lastVersion까지 순차적으로 정렬되어 있습니다.

                      이 목록을 통해 블록 내 개별 트랜잭션의 상세 정보를 조회할 수 있습니다.
                    items:
                      type: integer
                    example:
                      - 2854257037
                      - 2854257038
                      - 2854257039
                      - 2854257040
                      - 2854257041
                      - 2854257042
                example:
                  hash: >-
                    0x971aa252683ac7ea96a6268fbbd85742b1f3cb607493691a509324cddb634990
                  height: 384675329
                  timestamp: 1752560496293
                  firstVersion: 3062155220
                  lastVersion: 3062155232
                  transactionsCount: 13
                  transactions:
                    - 3062155220
                    - 3062155221
                    - 3062155222
                    - 3062155223
                    - 3062155224
                    - 3062155225
                    - 3062155226
                    - 3062155227
                    - 3062155228
                    - 3062155229
                    - 3062155230
                    - 3062155231
                    - 3062155232
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/blockchain/getBlocksWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        특정 기간, 특정 구간의 블록 리스트 정보를 조회합니다.

      summary: Get Blocks Within Range
      operationId: aptos-getBlocksWithinRange
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    fromBlock: *ref_6
                    toBlock: *ref_7
                    fromDate: *ref_8
                    toDate: *ref_9
                - *ref_0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      type: object
                      required: *ref_22
                      properties: *ref_23
              example:
                rpp: 3
                page: 1
                count: 389568507
                items:
                  - hash: >-
                      0x9b1b1bdf360b087ab2cac0ae508b779ca81379760115a98b07ce7709882aefbb
                    height: 389568514
                    timestamp: 1753160832872
                    firstVersion: 3101841710
                    lastVersion: 3101841715
                    transactionsCount: 6
                    transactions:
                      - 3101841710
                      - 3101841711
                      - 3101841712
                      - 3101841713
                      - 3101841714
                      - 3101841715
                  - hash: >-
                      0xc5f0e585af6bbeac1d610d2550de9051c37eb8a6f8075df10c9c110d0b29902b
                    height: 389568513
                    timestamp: 1753160832753
                    firstVersion: 3101841703
                    lastVersion: 3101841709
                    transactionsCount: 7
                    transactions:
                      - 3101841703
                      - 3101841704
                      - 3101841705
                      - 3101841706
                      - 3101841707
                      - 3101841708
                      - 3101841709
                  - hash: >-
                      0x698be67aeca5c3c079061071c1d8580f13efab1181c7aad10213ce9fd82ffb20
                    height: 389568512
                    timestamp: 1753160832642
                    firstVersion: 3101841689
                    lastVersion: 3101841702
                    transactionsCount: 14
                    transactions:
                      - 3101841689
                      - 3101841690
                      - 3101841691
                      - 3101841692
                      - 3101841693
                      - 3101841694
                      - 3101841695
                      - 3101841696
                      - 3101841697
                      - 3101841698
                      - 3101841699
                      - 3101841700
                      - 3101841701
                      - 3101841702
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/blockchain/getEventsByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: >+
        특정 계정과 관련된 이벤트 목록을 조회합니다. 지정한 주소가 이벤트의 accountAddress, objectAddress, 또는
        objectOwnerAddress와 일치하는 경우 조회 결과에 포함됩니다.

      summary: Get Events By Account
      operationId: aptos-getEventsByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회하고자 하는 계정 주소를 지정하는 파라미터입니다. 계정 주소는 64자리 16진수("0x" 포함)로
                        입력해야 합니다.
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      default: >-
                        0x51c6abe562e755582d268340b2cf0e2d8895a155dc9b7a7fb5465000d62d770b
                    eventTypes:
                      type: array
                      items:
                        type: string
                        description: >-
                          조회하고자 하는 이벤트 타입을 지정하는 파라미터입니다. 이벤트 타입은 모듈에서 정의한 event
                          struct의 이름을 의미합니다. 이 필드는
                          `module_address::module_name::event_name` 형식으로 입력해야
                          합니다.
                        example: 0x1::coin::CoinDeposit
                        pattern: >-
                          ^0[xX]?[0-9a-fA-F]{0,64}$::^0x[0-9a-zA-Z:_<>]+$::^[a-zA-Z0-9_-]+$
                    fromBlock: *ref_6
                    toBlock: *ref_7
                    fromDate: *ref_8
                    toDate: *ref_9
                - *ref_0
              required:
                - accountAddress
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: &ref_24
                      allOf:
                        - type: object
                          required:
                            - transactionHash
                            - transactionVersion
                            - blockHeight
                            - blockTimestamp
                          properties:
                            transactionHash:
                              type: string
                              description: >-
                                이벤트가 포함된 트랜잭션의 해시를 나타내는 필드입니다.


                                트랜잭오래잭션의 모든 데이터를 포함하여 계산된 암호학적 해시값으로, 0x로 시작하는
                                64자리 16진수 문자열 형태로 제공됩니다.

                                이 해시를 통해 이벤트와 관련된 트랜잭션의 전체 정보를 조회할 수 있습니다.
                              example: >-
                                0x2a41cd44491bb92d4eb17d8487f82d9b43ab6289074c1986ee055be8105707c9
                            transactionVersion:
                              type: integer
                              description: >-
                                트랜잭션의 버전을 나타내는 필드입니다.


                                체인 상에서 트랜잭션의 순서를 나타내는 고유한 시퀀스 ID로, 0부터 시작하여
                                순차적으로 증가합니다.

                                트랜잭션의 실행 순서를 보장하고 특정 트랜잭션의 상태를 조회하는 데 사용됩니다.
                              example: 2854257037
                            blockHeight:
                              type: integer
                              description: >-
                                트랜잭션이 포함된 블록의 높이를 나타내는 필드입니다.


                                제네시스 블록(0)부터 시작하여 순차적으로 증가하는 정수값으로 제공됩니다.

                                이 값은 트랜잭션이 어느 블록에 포함되었는지를 식별하고, 해당 트랜잭션이 확정되었는지를
                                확인하는 데 사용됩니다.
                              example: 160155267
                            blockTimestamp:
                              type: integer
                              description: >-
                                트랜잭션이 포함된 블록의 생성 시각을 나타내는 필드입니다.


                                UNIX 타임스탬프로 제공되며, 이 값은 블록이 생성된 시점이자 해당 블록에 포함된
                                트랜잭션들이 처리된 시점을 의미합니다.
                              example: 1749003732416395
                        - &ref_25
                          type: object
                          required:
                            - eventIndex
                            - eventType
                            - accountAddress
                            - data
                            - creationNumber
                            - sequenceNumber
                            - objectAddress
                            - objectOwnerAddress
                          properties:
                            eventIndex:
                              type: integer
                              description: >-
                                트랜잭션 내 이벤트의 순서 인덱스를 나타내는 필드입니다.


                                하나의 트랜잭션에서 발생한 여러 이벤트들 중 현재 이벤트의 순서를 나타냅니다.

                                0부터 시작하여 이벤트 발생 순서대로 증가하며, 동일 트랜잭션 내 이벤트의 순서를
                                식별하는 데 사용됩니다.
                              example: 0
                            eventType:
                              type: string
                              description: >-
                                이벤트의 타입을 나타내는 필드입니다.


                                Move 모듈에서 정의된 이벤트 구조체의 전체 경로로,
                                '계정주소::모듈이름::이벤트구조체명' 형식으로 제공됩니다.

                                이벤트의 종류를 식별하고 이벤트 데이터의 구조를 결정하는 데 사용됩니다.
                              example: 0x1::coin::DepositEvent
                            accountAddress:
                              type: string
                              description: >-
                                이벤트를 발행한 리소스 소유자의 주소를 나타내는 필드입니다.


                                0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, 이벤트가 발생한 리소스의
                                소유자를 식별합니다.

                                이벤트 핸들을 소유한 계정으로, 이벤트 조회 시 필터링 조건으로 사용될 수 있습니다.
                              example: >-
                                0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a
                            data:
                              type: object
                              description: |-
                                이벤트의 구체적인 데이터를 나타내는 필드입니다.

                                eventType에 정의된 이벤트 구조체의 필드들이 JSON 객체 형태로 제공됩니다.
                                이벤트의 세부 정보를 담고 있으며, 이벤트 타입에 따라 다른 구조를 가질 수 있습니다.
                              example:
                                amount: '1000000'
                                from: >-
                                  0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a
                                to: >-
                                  0xa1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
                            creationNumber:
                              type: integer
                              description: >-
                                이벤트 핸들의 생성 번호를 나타내는 필드입니다.


                                계정이 생성한 이벤트 핸들들을 구분하기 위한 고유 식별자로, 0부터 시작하여 순차적으로
                                증가합니다.

                                동일 계정에서 발생한 서로 다른 종류의 이벤트들을 구분하는 데 사용됩니다.
                              example: 2
                            sequenceNumber:
                              type: integer
                              description: >-
                                해당 이벤트 핸들에서 발생한 이벤트의 순번을 나타내는 필드입니다.


                                동일한 이벤트 핸들에서 발생한 이벤트들의 순서를 나타냅니다.

                                0부터 시작하여 순차적으로 증가하며, 특정 이벤트 핸들에서 발생한 이벤트들의 시간
                                순서를 보장합니다.
                              example: 12345
                            objectAddress:
                              type: string
                              description: >-
                                Object 리소스에 대한 이벤트일 경우 해당 object의 주소를 나타내는
                                필드입니다.


                                0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, Object 기반 리소스의
                                고유 식별자입니다.

                                Object 리소스와 관련된 이벤트를 추적하고 조회하는 데 사용됩니다.
                              example: >-
                                0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b
                            objectOwnerAddress:
                              type: string
                              description: >-
                                objectAddress로 식별되는 Object의 소유자 주소를 나타내는 필드입니다.


                                0x로 시작하는 64자리 16진수 문자열 형태로 제공되며, Object의 현재 소유자를
                                식별합니다.

                                Object의 소유권 추적과 권한 확인에 사용됩니다.
                              example: >-
                                0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a
              example:
                page: 1
                rpp: 2
                count: 2930146
                items:
                  - blockHeight: 599423645
                    blockTimestamp: 1770021277945
                    transactionHash: >-
                      0x70367bc8a7341996a41e578e1f38ad975ca23ee1d70abb688fc8d6f03b6ac7b8
                    transactionVersion: 4235651487
                    eventIndex: 6
                    accountAddress: >-
                      0x0000000000000000000000000000000000000000000000000000000000000000
                    eventType: 0x1::fungible_asset::Deposit
                    creationNumber: 0
                    sequenceNumber: 0
                    data:
                      amount: '300000'
                      store: >-
                        0x6d5bfa430a2d689ab1698a51ef4f473d323704f536169fd9afdd20196d8eeb79
                    objectOwnerAddress: >-
                      0x7a17ee0e26f1a8a09a5379d1daa0eb41b2b7c185b101d00f733f2dc5da43e59f
                    objectAddress: >-
                      0x6d5bfa430a2d689ab1698a51ef4f473d323704f536169fd9afdd20196d8eeb79
                  - blockHeight: 599423540
                    blockTimestamp: 1770021271790
                    transactionHash: >-
                      0x4f255217d53741878a9c50566019184eaa96c875e72fb8372a0f7339c2b4dabb
                    transactionVersion: 4235651116
                    eventIndex: 4
                    accountAddress: >-
                      0x0000000000000000000000000000000000000000000000000000000000000000
                    eventType: 0x1::fungible_asset::Deposit
                    creationNumber: 0
                    sequenceNumber: 0
                    data:
                      amount: '772000000'
                      store: >-
                        0x6d5bfa430a2d689ab1698a51ef4f473d323704f536169fd9afdd20196d8eeb79
                    objectOwnerAddress: >-
                      0x7a17ee0e26f1a8a09a5379d1daa0eb41b2b7c185b101d00f733f2dc5da43e59f
                    objectAddress: >-
                      0x6d5bfa430a2d689ab1698a51ef4f473d323704f536169fd9afdd20196d8eeb79
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/blockchain/getEventsByType:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        특정 이벤트 타입과 관련있는 이벤트 목록을 조회합니다.

      summary: Get Events By Type
      operationId: aptos-getEventsByType
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    eventType:
                      type: string
                      description: >-
                        조회하고자 하는 이벤트 타입을 지정하는 파라미터입니다. 이벤트 타입은 모듈에서 정의한 event
                        struct의 이름을 의미합니다. 이 필드는
                        `module_address::module_name::event_name` 형식으로 입력해야 합니다.
                      example: 0x1::coin::CoinDeposit
                      pattern: >-
                        ^0[xX]?[0-9a-fA-F]{0,64}$::^0x[0-9a-zA-Z:_<>]+$::^[a-zA-Z0-9_-]+$
                      default: 0x1::fungible_asset::Deposit
                - *ref_0
              required:
                - eventType
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_24
              example:
                page: 1
                rpp: 2
                count: 5114581
                items:
                  - blockHeight: 550513856
                    blockTimestamp: 1767139195465
                    transactionHash: >-
                      0x84784546a8b0ae5fb9ee76734ac4b0ca28491d56112721bcc6bf4ff555dda00b
                    transactionVersion: 4022134250
                    eventIndex: 2
                    accountAddress: >-
                      0x7e783b349d3e89cf5931af376ebeadbfab855b3fa239b7ada8f5a92fbea6b387
                    eventType: >-
                      0x7e783b349d3e89cf5931af376ebeadbfab855b3fa239b7ada8f5a92fbea6b387::event::PriceFeedUpdate
                    creationNumber: 2
                    sequenceNumber: 611805882
                    data:
                      price_feed:
                        ema_price:
                          conf: '55118668'
                          expo:
                            magnitude: '8'
                            negative: true
                          price:
                            magnitude: '52741874000'
                            negative: false
                          timestamp: '1767139192'
                        price:
                          conf: '50364324'
                          expo:
                            magnitude: '8'
                            negative: true
                          price:
                            magnitude: '52916463193'
                            negative: false
                          timestamp: '1767139192'
                        price_identifier:
                          bytes: >-
                            0xbe9b59d178f0d6a97ab4c343bff2aa69caa1eaae3e9048a65788c529b125bb24
                      timestamp: '1767139195465631'
                    objectOwnerAddress: null
                    objectAddress: null
                  - blockHeight: 550513800
                    blockTimestamp: 1767139192275
                    transactionHash: >-
                      0x28f023b963bc65e1582366faa4cda6d9f9eaa74a639ba2835e666063afa338eb
                    transactionVersion: 4022134063
                    eventIndex: 1
                    accountAddress: >-
                      0x7e783b349d3e89cf5931af376ebeadbfab855b3fa239b7ada8f5a92fbea6b387
                    eventType: >-
                      0x7e783b349d3e89cf5931af376ebeadbfab855b3fa239b7ada8f5a92fbea6b387::event::PriceFeedUpdate
                    creationNumber: 2
                    sequenceNumber: 611805881
                    data:
                      price_feed:
                        ema_price:
                          conf: '1'
                          expo:
                            magnitude: '8'
                            negative: true
                          price:
                            magnitude: '106220287'
                            negative: false
                          timestamp: '1767139190'
                        price:
                          conf: '1'
                          expo:
                            magnitude: '8'
                            negative: true
                          price:
                            magnitude: '106229000'
                            negative: false
                          timestamp: '1767139190'
                        price_identifier:
                          bytes: >-
                            0x12aa9a44a5f0695ccf5a9e3ded5c646b13b4013047182ca6db0aacfea8b252ef
                      timestamp: '1767139192275571'
                    objectOwnerAddress: null
                    objectAddress: null
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/blockchain/getTotalTransactionCountByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        이 API는 특정 계정 주소가 송신자나 수신자로 포함된 트랜잭션의 총 개수를 반환합니다.

      summary: Get Total Transaction Count By Account
      operationId: aptos-getTotalTransactionCountByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              properties:
                accountAddress:
                  type: string
                  description: >-
                    조회하고자 하는 계정 주소를 지정하는 파라미터입니다. 계정 주소는 64자리 16진수("0x" 포함)로
                    입력해야 합니다.
                  pattern: ^0[xX][0-9a-fA-F]{64}
                  default: >-
                    0x51c6abe562e755582d268340b2cf0e2d8895a155dc9b7a7fb5465000d62d770b
              required:
                - accountAddress
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionCount:
                    type: integer
                    description: 특정 계정이 생성한 트랜잭션의 총 개수를 나타냅니다.
              example:
                transactionCount: 465809
        '400': *ref_1
        '401': *ref_2
        '403': *ref_3
        '404': *ref_4
        '429': *ref_5
  /{chain}/{network}/blockchain/getTransactionByHash:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        특정 트랜잭션의 정보를 조회합니다.

      summary: Get Transaction By Hash
      operationId: aptos-getTransactionByHash
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    transactionHash:
                      type: string
                      description: >-
                        조회하고자 하는 트랜잭션 해시를 지정하는 파라미터입니다. 트랜잭션 해시는 64자리 16진수("0x"
                        포함)로 입력해야 합니다.
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      default: >-
                        0xaf2fba4b6190c4b87d9479f3eb62c093f452f27c388dab4afeae98ae8ec00005
                  required:
                    - transactionHash
                - type: object
                  properties:
                    withBalanceChanges: &ref_26
                      type: boolean
                      description: >-
                        응답에 balanceChanges 필드의 포함 여부를 지정하는 파라미터입니다.


                        - balanceChanges 는 Native token(APT)와 Token의 잔고 변화를 포함하는
                        필드입니다.

                        - 이 파라미터에 true를 입력한 경우, 응답속도가 느려질 수 있습니다.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - &ref_27
                    type: object
                    required:
                      - transactionHash
                      - transactionVersion
                      - blockHeight
                      - blockTimestamp
                      - expirationTimestampSecs
                      - gasUnitPrice
                      - gasUsed
                      - maxGasAmount
                      - secondarySigners
                      - sender
                      - sequenceNumber
                      - success
                      - vmStatus
                      - events
                      - balanceInAccounts
                      - balanceOutAccounts
                      - balanceChangedTokens
                    properties:
                      transactionHash:
                        type: string
                        description: >-
                          트랜잭션의 고유 식별자를 나타내는 필드입니다.


                          트랜잭션의 모든 데이터(서명된 페이로드)를 포함하여 계산된 암호학적 해시값으로, 0x로 시작하는
                          64자리 16진수 문자열 형태로 제공됩니다.

                          트랜잭션의 무결성을 검증하고 트랜잭션을 고유하게 식별하는 데 사용됩니다.
                        example: >-
                          0x2a41cd44491bb92d4eb17d8487f82d9b43ab6289074c1986ee055be8105707c9
                      transactionVersion:
                        type: integer
                        description: >-
                          트랜잭션의 버전을 나타내는 필드입니다.


                          체인 상에서 트랜잭션의 순서를 나타내는 고유한 시퀀스 ID로, 0부터 시작하여 순차적으로
                          증가합니다.

                          트랜잭션의 실행 순서를 보장하고 특정 트랜잭션의 상태를 조회하는 데 사용됩니다.
                        example: 2854257037
                      blockHeight:
                        type: integer
                        description: >-
                          트랜잭션이 포함된 블록의 높이를 나타내는 필드입니다.


                          제네시스 블록(0)부터 시작하여 순차적으로 증가하는 정수값으로 제공됩니다.

                          이 값은 트랜잭션이 어느 블록에 포함되었는지를 식별하고, 해당 트랜잭션이 확정되었는지를 확인하는
                          데 사용됩니다.
                        example: 160155267
                      blockTimestamp:
                        type: integer
                        description: >-
                          트랜잭션이 포함된 블록의 생성 시각을 나타내는 필드입니다.


                          UNIX 타임스탬프로 제공되며, 이 값은 블록이 생성된 시점이자 해당 블록에 포함된 트랜잭션들이
                          처리된 시점을 의미합니다.
[...]
