openapi: 3.1.0
info:
  title: Multichain API
  version: 1.2.20
servers:
  - url: https://web3.nodit.io/v1/multichain
paths:
  /lookupEntities:
    post:
      security:
        - api_key: []
      tags:
        - Multichain API
      summary: Lookup entities
      operationId: multichain_lookupEntities
      description: "입력된 문자열이 어떤 엔티티(Account 또는 Transaction)에 해당하는지 판별한 뒤 결과를 반환합니다.\n\n> 💡 Account 엔티티의 경우 활성 계정만 결과에 포함됩니다.\n> 엔티티가 Account로 식별된 경우에는, 아래 기준 중 하나 이상을 충족하는 활성 계정만 결과에 포함됩니다:\n>  1.\t트랜잭션을 송신하거나 수신한 기록이 있는 경우\n>  2.\tToken, NFT 등 온체인 자산을 주고받은 이력이 있는 경우\n>  3.\tToken, NFT 등 온체인 자산 잔고가 존재하는 경우\n> \n> 엔티티의 세부 정보(e.g. 계정의 보유 자산, 트랜잭션 내역 등)는 본 API에서 판별된 식별자(e.g. account address, transaction hash)를 사용하여 Web3 Data API에서 조회할 수 있습니다.\n"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - input
                - chains
              properties:
                input:
                  type: string
                  description: |
                    조회하고자 하는 문자열을 지정하는 파라미터
                  examples:
                    - "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    - 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
                    - "0x1"
                    - rHb9CJAWyB4rj91VRWn96DkukG4bwdtyTh
                    - TE2RzoSV3wFK99w6J9UnnZ4vLfXYoxvRwP
                    - 000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f
                    - "0x8d40f254d78ac7eda11815973e44012fda358ed3cd20db8eafc04e672e6e1f65"
                  default: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                chains:
                  type: array
                  items:
                    $ref: "#/components/schemas/Chain"
                  default:
                    - ethereum-mainnet
                    - base-mainnet
                    - arbitrum-mainnet
                  description: |
                    결과에 포함할 체인과 네트워크를 지정하는 파라미터로 {chain}-{network} 형식으로 지정합니다.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                  - input
                  - items
                properties:
                  input:
                    type: string
                    description: 조회시 입력한 문자열을 반환합니다.
                  items:
                    type: array
                    items:
                      type: object
                      required:
                        - chain
                        - type
                        - normalizedInput
                      properties:
                        chain:
                          type: string
                          description: |
                            조회 대상 체인을 의미하는 문자열입니다. 
                            실제 응답 결과에는 {chain}-{network} 형식으로 반환됩니다.
                        type:
                          type: string
                          description: 조회 대상 체인의 타입
                        normalizedInput:
                          type: string
                          description: |
                            입력한 값을 실제 조회 대상 체인의 형식으로 정규화한 값입니다. 
                            예를 들어,
                            - Aptos의 경우 account address는 zero-padded 64자리 16진수로 정규화됩니다. (e.g., "0x1" -> "0x0000000000000000000000000000000000000000000000000000000000000001")
                            - Tron의 경우 account address는 base58 문자열로 정규화됩니다. (e.g., "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045" -> "TVjpchRyV9wdpj6kmwqVsBDWY1J8PaFtnb")
              example:
                input: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                items:
                  - chain: arbitrum-mainnet
                    type: account
                    normalizedInput: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  - chain: ethereum-mainnet
                    type: account
                    normalizedInput: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  - chain: ethereum-sepolia
                    type: account
                    normalizedInput: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                  - chain: base-mainnet
                    type: account
                    normalizedInput: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: The default value, `nodit-demo`, is only for use in the developer documentation. For real applications or services, use the API key obtained from the Nodit console.
  schemas:
    Chain:
      type: string
      description: |
        조회 대상 체인을 의미하는 문자열입니다. 
        실제 응답 결과에는 {chain}-{network} 형식으로 반환됩니다.
      enum:
        - aptos-mainnet
        - arbitrum-mainnet
        - arbitrum-sepolia
        - base-mainnet
        - base-sepolia
        - bitcoin-mainnet
        - bitcoincash-mainnet
        - chiliz-mainnet
        - dogecoin-mainnet
        - ethereum-mainnet
        - ethereum-sepolia
        - ethereum-hoodi
        - ethereumclassic-mainnet
        - giwa-sepolia
        - kaia-mainnet
        - kaia-kairos
        - optimism-mainnet
        - optimism-sepolia
        - polygon-mainnet
        - polygon-amoy
        - luniverse-mainnet
        - tron-mainnet
        - xrpl-mainnet
    Error:
      type: object
      properties:
        code:
          type: string
          description: |
            에러가 발생한 상황을 식별하는 코드를 반환합니다.
          enum:
            - INVALID_PARAMETER
            - AUTHENTICATION_FAILED
            - PERMISSION_DENIED
            - RESOURCE_NOT_FOUND
            - TOO_MANY_REQUESTS
        message:
          type: string
          description: |
            에러의 상세 메시지를 반환합니다.
      required:
        - code
        - message
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
            example:
              code: INVALID_PARAMETER
              message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE, PARAMETER2_NAME = PARAMETER2_VALUE, ... }"
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
            example:
              code: AUTHENTICATION_FAILED
              message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
            example:
              code: PERMISSION_DENIED
              message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
            example:
              code: RESOURCE_NOT_FOUND
              message: "Resource not found: { RESOURCE1_NAME = RESOURCE1_VALUE, RESOURCE2_NAME = RESOURCE2_VALUE, ... }"
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
            example:
              code: TOO_MANY_REQUESTS
              message: Too many requests
