openapi: 3.1.0
info:
  title: tron
  version: 1.2.20
servers:
  - url: https://web3.nodit.io/v1
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: >-
        The default value, `nodit-demo`, is only for use in the developer
        documentation. For real applications or services, use the API key
        obtained from the Nodit console.
paths:
  /{chain}/{network}/token/getTokenAllowance:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        Spender에게 Owner가 Approve한 TRC20 토큰의 수량을 조회합니다.

      summary: Get Token Allowance
      operationId: tron-getTokenAllowance
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddress:
                      type: string
                      description: >-
                        조회할 컨트랙트 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    ownerAddress:
                      type: string
                      description: >-
                        토큰 소유자의 주소를 지정하는 파라미터입니다. 이 주소는 토큰의 소유권을 가진 계정을 나타냅니다. 이
                        필드는 "T"로 시작하는 34자리 base58 문자열 형식을 가집니다.
                      default: THLU47aojaiVg68atDTJzFv1E2CShJ1GNM
                    spenderAddress:
                      type: string
                      description: >-
                        토큰 사용을 허가받은 주소를 지정하는 파라미터입니다. 이 주소는 소유자가 토큰 사용을 허가한 계정
                        또는 컨트랙트를 나타냅니다. 이 필드는 "T"로 시작하는 34자리 base58 문자열 형식을
                        가집니다.
                      default: TWrEMSKgTZ1GsjJBaTfxGWuzcS6rQi4CjZ
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowance:
                    type: string
                    description: >-
                      spender가 owner를 대신하여 transferFrom을 통해 사용할 수 있는 남은 토큰 수를
                      반환합니다. 이 값은 approve나 transferFrom이 호출될 때 변경됩니다
              example:
                allowance: >-
                  115792089237316195423570985008687907853269984665640564039457584007913129639935
        '400': &ref_0
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: INVALID_PARAMETER
                  message: >-
                    Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE,
                    PARAMETER2_NAME = PARAMETER2_VALUE, ... }
        '401': &ref_1
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: AUTHENTICATION_FAILED
                  message: Authentication failed
        '403': &ref_2
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: PERMISSION_DENIED
                  message: Permission denied
        '404': &ref_3
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: RESOURCE_NOT_FOUND
                  message: >-
                    Resource not found: { RESOURCE1_NAME = RESOURCE1_VALUE,
                    RESOURCE2_NAME = RESOURCE2_VALUE, ... }
        '429': &ref_4
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: TOO_MANY_REQUESTS
                  message: Too many requests
  /{chain}/{network}/token/getTokenContractMetadataByContracts:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        특정 TRC20 토큰 컨트랙트의 메타데이터를 조회합니다. 다수의 컨트랙트를 조회할 수 있으며, 최대 100개의 컨트랙트를 조회할
        수 있습니다.

      summary: Get Token Contract Metadata by Contracts
      operationId: tron-getTokenContractMetadataByContracts
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddresses:
                      type: array
                      description: >-
                        조회하고자 하는 컨트랙트 주소의 배열을 지정하는 파라미터입니다. 컨트랙트 주소는 "T"로 시작하는
                        34자리 base58 문자열 형식을 가집니다.
                      items: &ref_5
                        type: string
                        description: >-
                          조회할 컨트랙트 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                          문자열 형식을 가집니다.
                        pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default:
                        - TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                        - TLZSucJRjnqBKwvQz6n5hd29gbS4P7u7w8
                  required:
                    - contractAddresses
                  maximum: 100
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - &ref_7
                      type: object
                      required:
                        - address
                        - deployedTransactionHash
                        - deployedAt
                        - deployerAddress
                        - logoUrl
                        - type
                      properties:
                        address:
                          type: string
                          description: >-
                            컨트랙트의 주소를 반환합니다. 이 주소는 컨트랙트가 배포된 블록체인 네트워크 내에서의 고유
                            식별자 역할을 합니다.
                        deployedTransactionHash:
                          type: string
                          description: 컨트랙트 배포 시 생성된 트랜잭션의 해시 값을 반환합니다.
                        deployedAt:
                          type: string
                          description: >-
                            컨트랙트가 배포된 정확한 시간을 반환합니다. ISO 8601 형식의 날짜와 시간으로
                            표시됩니다.
                        deployerAddress:
                          type: string
                          description: >-
                            컨트랙트를 배포한 주소를 반환합니다. 이 주소는 컨트랙트를 생성하고 네트워크에 배포한 개체
                            또는 계정을 나타냅니다.
                        logoUrl:
                          type: string
                          description: >-
                            컨트랙트와 연관된 로고 또는 이미지의 URL을 반환합니다. 이 URL은 컨트랙트를 시각적으로
                            식별하는 데 사용될 수 있습니다. 

                            <strong style='color: red;'>*</strong> 모든 컨트랙트의 로고
                            이미지를 제공하지 않습니다.
                        type:
                          type: string
                          description: >-
                            컨트랙트 타입을 반환합니다. 컨트랙트 타입은 표준 규격의 이름이 표기됩니다. (e.g.,
                            TRC20)
                    - &ref_8
                      type: object
                      required:
                        - name
                        - symbol
                        - totalSupply
                        - decimals
                      properties:
                        name:
                          type: string
                          description: >-
                            컨트랙트의 이름을 나타냅니다. 표준을 따르지 않거나, 컨트랙트 생성 단계에서 name을
                            입력하지 않은 경우 빈 문자열을 반환합니다.
                        symbol:
                          type: string
                          description: >-
                            컨트랙트의 심볼을 나타냅니다. 표준을 따르지 않거나, 컨트랙트 생성 단계에서 symbol을
                            입력하지 않은 경우 빈 문자열을 반환합니다.
                        totalSupply:
                          type: string
                          description: >-
                            컨트랙트의 총 공급량을 나타냅니다. 이 값은 토큰의 총 발행량을 나타내며, 10진수 문자열
                            형태로 표시됩니다.
                        decimals:
                          type: integer
                          description: 토큰의 소수점 자릿수를 나타냅니다.
              example:
                - address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                  deployedTransactionHash: >-
                    622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                  deployedAt: '2025-03-24T03:35:42Z'
                  deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                  logoUrl: null
                  type: standard
                  name: Wrapped Staked USDT
                  symbol: wstUSDT
                  totalSupply: '635110330576540568094182'
                  decimals: 18
                - address: TCFLL5dx5ZJdKnWuesXxi1VPwjLVmWZZy9
                  deployedTransactionHash: >-
                    7deb9f93b478d2e25236817cee1029a8dc9ddda72a705697fc6937c70b3a9219
                  deployedAt: '2024-08-09T22:02:06Z'
                  deployerAddress: TB19pTknBYg2Ew6g7LeEo76dsirnswxawn
                  logoUrl: null
                  type: standard
                  name: JUST GOV v1.0
                  symbol: JST
                  totalSupply: '9900000000000000000000000000'
                  decimals: 18
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/token/getTokenHoldersByContract:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 TRC20 토큰 컨트랙트의 홀더 리스트를 조회합니다. 홀더 리스트에는 홀더의 주소와 홀더가 보유한 토큰의 수량이 포함됩니다.

      summary: Get Token Holders By Contract
      operationId: tron-getTokenHoldersByContract
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddress:
                      type: string
                      description: >-
                        조회할 컨트랙트 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                  required:
                    - contractAddress
                - &ref_6
                  type: object
                  properties: &ref_17
                    page:
                      type: integer
                      description: >-
                        page 파라미터는 조회하려는 데이터 페이지를 지정하는 데 사용됩니다. 이 파라미터는 100 이하의
                        값을 받으며, 100을 초과하는 페이지가 필요한 경우 cursor 페이지네이션 방식을 사용해야
                        합니다.



                        page 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두
                        빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: >-
                        rpp는 results per page의 약자로, 한 페이지의 사이즈를 지정하는 파라미터입니다.
                        0보다 크고 1000 이하의 숫자를 지정할 수 있습니다.
                      pattern: ^(?:[1-9][0-9]{0,2}?|1000)$
                    cursor:
                      type: string
                      description: "cursor 파라미터는 페이지네이션을 위한 파라미터로, 이전 페이지와 다음 페이지 간의 데이터 이동을 지원합니다. 이전 페이지에서 얻은 cursor 값을 다음 요청에 제공하면 다음 페이지의 데이터를 로드할 수 있습니다.\n\t\t\t\n\npage 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두 빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다."
                    withCount:
                      type: boolean
                      description: >-
                        응답에 count 필드의 포함 여부를 지정하는 파라미터이며, count 필드는 요청한 데이터의 총
                        개수를 나타냅니다. 이 파라미터에 true를 입력한 경우, 응답에 count 필드가 포함되며
                        응답속도가 느려질 수 있습니다.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: &ref_16
                      type: object
                      required:
                        - ownerAddress
                        - balance
                      properties:
                        ownerAddress:
                          type: string
                          description: >-
                            계정 소유자의 트론(TRON) 주소입니다. 주소는 "T"로 시작하는 34자리 Base58
                            문자열 형식입니다.
                        balance:
                          type: string
                          description: >-
                            계정의 현재 잔액을 나타냅니다. 값은 10진수 문자열이며, 단위는 TRX의 최소단위인
                            SUN(1 TRX = 1,000,000 SUN)입니다.
              example:
                rpp: 5
                page: 1
                count: 4272
                items:
                  - ownerAddress: TD5SdLw5scR6mXgyMK2xKrFJpauDjpKqrW
                    balance: '568821988213293380968547'
                  - ownerAddress: TMRVDw6XF541aUuwo3bHet6692AfbPkPQ6
                    balance: '28914762204237927513528'
                  - ownerAddress: TFTWNgDBkQ5wQoP8RXpRznnHvAVV8x5jLu
                    balance: '14618008379103040288781'
                  - ownerAddress: TK86Qm97uM848dMk8G7xNbJB7zG1uW3h1n
                    balance: '11185208675385147347903'
                  - ownerAddress: TSzSgxRisS5VBXXDcAezTDvnPGi9CbsXvJ
                    balance: '6417000000000000000000'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/token/getTokenTransfersByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        특정 주소가 전송 혹은 수신한 TRC20 토큰 전송 목록을 조회합니다. 조회 결과에는 토큰 컨트랙트의 메타데이터와 전송된 토큰의
        수량이 포함됩니다.

      summary: Get Token Transfers by Account
      operationId: tron-getTokenTransfersByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회할 계정의 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TT2T17KZhoDu47i2E4FWxfG79zdkEWkU9N
                    relation: &ref_18
                      type: string
                      description: |-
                        조회 대상 계정 주소가 송신자 또는 수신자에 속한 트랜잭션만 필터링하기 위한 파라미터입니다.  
                        - from: 송신자로만 필터링.  
                        - to: 수신자로만 필터링.  
                        - both(기본값): from과 to에 하나라도 포함된 모든 트랜잭션이 조회됩니다.
                      enum:
                        - from
                        - to
                        - both
                      pattern: from|to|both
                      default: both
                    contractAddresses: &ref_15
                      type: array
                      description: >-
                        조회하고자 하는 컨트랙트 주소의 배열을 지정하는 파라미터입니다. 컨트랙트 주소는 "T"로 시작하는
                        34자리 base58 문자열 형식을 가집니다.
                      items: *ref_5
                    fromBlock: &ref_9
                      type: string
                      description: >
                        조회 시작 시점을 지정하는 파라미터입니다. block number, block hash 또는
                        block tag를 입력할 수 있으며, 기본 값은 0입니다.

                        - block number: 10진수 문자열로 입력합니다.

                        - block hash: 64자리 16진수 문자열로 입력하며, 0x 접두사는 제외해야 합니다.

                        - block tag: fromBlock으로 "earliest"를 입력할 수 있습니다.


                        유의사항:

                        - toBlock 없이 fromBlock만 제공되면, fromBlock에서 가장 최근 블록까지의
                        결과가 조회됩니다.

                        - fromBlock의 block number는 toBlock의 block number보다 작거나
                        같아야 합니다.

                        - toBlock과 fromBlock에 동일한 값을 입력하면, 해당 블록 하나의 결과만 조회됩니다.

                        - fromBlock에는 "latest"를 입력할 수 없습니다.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                    toBlock: &ref_10
                      type: string
                      description: >-
                        조회 종료 시점을 지정하는 파라미터입니다. block number, block hash 또는
                        block tag를 입력할 수 있으며, 기본 값은 "latest" 입니다.

                        - block number: 10진수 문자열로 입력합니다.

                        - block hash: 64자리 16진수 문자열로 입력하며, 0x 접두사는 제외해야 합니다.

                        - block tag: "latest"를 입력할 수 있습니다.


                        유의사항:

                        - 입력한 toBlock에 해당하는 blockNumber는 입력한 fromBlock에 해당하는
                        blockNumber보다 크거나 같은 값을 입력해야 합니다.

                        - toBlock와 fromBlock에 동일한 값이 입력된 경우, 입력된 블록 한 개의 결과만
                        조회됩니다.

                        - fromBlock 없이 toBlock만 제공되는 경우, genesis block부터
                        toBlock에 입력한 시점까지의 결과가 조회됩니다.

                        - toBlock에는 "earliest"를 입력할 수 없습니다.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                    fromDate: &ref_11
                      type: string
                      description: >-
                        조회 시작 시점을 지정하는 파라미터입니다. 날짜는 ISO 8601
                        형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 시간은 항상 초단위까지
                        입력해야 합니다.


                        유의사항:

                        - toDate 없이 fromDate만 제공되면, fromDate부터 최신 블록까지의 결과가
                        조회됩니다.

                        - fromDate는 toDate보다 과거의 날짜여야 합니다.

                        - 해당 필드는 fromBlock 및 toBlock과 함께 사용할 수 없습니다.

                        - fromDate와 toDate에 동일한 값을 입력하면, 해당 날짜에 생성된 블록의 결과가
                        조회됩니다.

                        - toDate 없이 fromDate만 제공되면, 첫 번째 블록부터 fromDate까지의 결과가
                        조회됩니다.
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                    toDate: &ref_12
                      type: string
                      description: >-
                        조회 종료 시점을 지정하는 파라미터입니다. 날짜는 ISO 8601
                        형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 시간은 항상 초단위까지
                        입력해야합니다.


                        유의사항:

                        - toDate는 fromDate보다 미래의 날짜여야 합니다.

                        - 이 필드는 fromBlock 및 toBlock과 함께 사용할 수 없습니다.

                        - fromDate와 toDate가 동일한 경우, 해당 날짜에 생성된 블록의 결과만 조회됩니다.

                        - fromDate 없이 toDate만 제공되면, 첫 번째 블록부터 toDate까지의 결과가
                        조회됩니다.
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                  required:
                    - accountAddress
                - *ref_6
                - type: object
                  properties:
                    withZeroValue: &ref_13
                      type: boolean
                      description: >-
                        응답에 value가 0인 결과를 포함하는지 여부를 지정하는 파라미터입니다. 더 빠른 응답을 원한다면
                        이 파라미터를 true로 설정하세요.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - &ref_14
                          type: object
                          required:
                            - from
                            - to
                            - value
                            - blockTimestamp
                            - blockNumber
                            - transactionHash
                            - transactionIndex
                          properties:
                            from:
                              type: string
                              description: >-
                                트랜잭션을 발생시킨 주소를 나타냅니다. 이 주소는 자산을 받는 계정이나 스마트
                                컨트랙트의 주소를 의미합니다. 이 필드는 "T"로 시작하는 34자리 base58 문자열
                                형식을 가집니다.
                            to:
                              type: string
                              description: >-
                                트랜잭션의 수신자 주소를 나타냅니다. 이 주소는 자산을 받는 계정이나 스마트 컨트랙트의
                                주소를 의미합니다. 이 필드는 "T"로 시작하는 34자리 base58 문자열 형식을
                                가집니다.
                            value:
                              type: string
                              description: >-
                                전송된 자산의 양 또는 데이터를 나타냅니다. TRC10, TRC20의 경우 전송된
                                금액을 의미합니다.
                            blockTimestamp:
                              type: integer
                              description: >-
                                트랜잭션이 포함된 블록이 생성된 시간을 나타냅니다. 밀리초 단위의 UNIX 타임스탬프
                                형식으로 기록되며, 이를 통해 트랜잭션 발생 시점을 확인할 수 있습니다.
                            blockNumber:
                              type: integer
                              description: >-
                                트랜잭션이 포함된 블록의 번호를 나타냅니다. 블록체인 상에서 해당 트랜잭션을 추적하는
                                데 사용되며, 특정 블록 내에서 트랜잭션의 위치를 식별합니다.
                            transactionHash:
                              type: string
                              description: >-
                                트랜잭션의 고유 해시 값을 나타냅니다. 트랜잭션의 식별자로 사용되며, 해당 트랜잭션과
                                관련된 모든 데이터를 추적할 수 있는 키 역할을 합니다.
                            transactionIndex:
                              type: integer
                              description: >-
                                트랜잭션이 포함된 블록 내에서의 위치를 나타냅니다. 여러 트랜잭션이 있는 블록에서 해당
                                트랜잭션의 순서를 식별하는 데 사용됩니다.
                            logIndex:
                              type: integer
                              description: >-
                                해당 Transfer 이벤트가 포함된 로그의 인덱스를 나타냅니다. 동일한 블록 내 여러
                                로그가 존재할 경우 특정 로그를 구분하는 데 사용됩니다.
                            internalTransactionIndex:
                              type: integer
                              description: >-
                                TRX 또는 TRC10 전송과 관련된 내부 트랜잭션의 인덱스를 나타냅니다. 블록 내에서
                                여러 내부 트랜잭션이 있는 경우 이를 구분하는 데 사용됩니다.

                                <strong style='color: red;'>*</strong> 이 값이
                                "-1"인 경우, Root Transaction을 의미합니다.
                            exchangeId:
                              type: integer
                              description: >-
                                트론 네트워크에서 제공하는 탈중앙화 거래소(DEX)의 교환 거래(Swap)를 식별하는
                                고유 ID입니다. 이 ID를 통해 특정 교환 트랜잭션을 구분하고, 어떤 자산 페어에서
                                거래가 이루어졌는지 추적할 수 있습니다. 교환 거래로 인한 전송이 아닌 경우,
                                null을 반환합니다.
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_7
                                - *ref_8
              example:
                rpp: 5
                page: 1
                count: 227266
                items:
                  - from: TJUQRiaDNTZuHQZGcZ18E1oS59h9RP8BvY
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    value: '3000000'
                    blockTimestamp: 1742797536000
                    blockNumber: 70714803
                    transactionHash: >-
                      6d7412fe882fe17440671a57b49d1bac82e3bf028dc393dc10e734e4a84e9ce5
                    transactionIndex: 133
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TJUQRiaDNTZuHQZGcZ18E1oS59h9RP8BvY
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    value: '3000000'
                    blockTimestamp: 1742797506000
                    blockNumber: 70714793
                    transactionHash: >-
                      d34b83e64fcf16362b209237a3d2fa61fed26232e565fcba3f506362a8e2290e
                    transactionIndex: 147
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TJUQRiaDNTZuHQZGcZ18E1oS59h9RP8BvY
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    value: '3000000'
                    blockTimestamp: 1742797446000
                    blockNumber: 70714773
                    transactionHash: >-
                      568dc5b4aaebbd301a46f7315dd4f4aae76718d43c7d92b3224b6ff24b059fdd
                    transactionIndex: 114
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TJUQRiaDNTZuHQZGcZ18E1oS59h9RP8BvY
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    value: '3000000'
                    blockTimestamp: 1742797386000
                    blockNumber: 70714753
                    transactionHash: >-
                      9821c289acd0f9b7709005a9702981282f81e34b587523e1da6fba8dc8922592
                    transactionIndex: 9
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TK4ykR48cQQoyFcZ5N4xZCbsBaHcg6n3gJ
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    value: '635441497'
                    blockTimestamp: 1742794002000
                    blockNumber: 70713627
                    transactionHash: >-
                      156952ae0c5547b54e9d3006ac6c0890f2735d2dd3b758a2834a3ca3e25b10af
                    transactionIndex: 119
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/token/getTokenTransfersByContract:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        특정 컨트랙트에서 발생된 TRC20 토큰 전송 목록을 조회합니다. 조회 결과에는 토큰 컨트랙트의 메타데이터와 전송된 토큰의 수량이
        포함됩니다.

      summary: Get Token Transfers by Contract
      operationId: tron-getTokenTransfersByContract
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddress:
                      type: string
                      description: >-
                        조회할 컨트랙트 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    fromBlock: *ref_9
                    toBlock: *ref_10
                    fromDate: *ref_11
                    toDate: *ref_12
                  required:
                    - contractAddress
                - *ref_6
                - type: object
                  properties:
                    withZeroValue: *ref_13
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - *ref_14
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_7
                                - *ref_8
              example:
                rpp: 5
                page: 1
                count: 17426
                items:
                  - from: TLZ8QCeAeRPYXFVhigeUZqUTLvZDGMzQzJ
                    to: TFHcbLh9thcZmd4SqKRM7e3Raqf6LMC4NP
                    value: '6000000000'
                    blockTimestamp: 1742798919000
                    blockNumber: 70715264
                    transactionHash: >-
                      2339e85cbef6811cd618a27c69b7dcca4226ec4fcad362c806b0f2258d3123d8
                    transactionIndex: 334
                    logIndex: 0
                    contract:
                      address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                      deployedTransactionHash: >-
                        622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                      deployedAt: '2025-03-24T03:35:42Z'
                      deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                      logoUrl: null
                      type: standard
                      name: Wrapped Staked USDT
                      symbol: wstUSDT
                      totalSupply: '635110330576540568094182'
                      decimals: 18
                  - from: TNJsPUdzxKpR519LgQoG2P8iEr9Q2xPjSu
                    to: TLnATPf17Q2KqomexGLwYHJkbD32ECKLV8
                    value: '42531110000'
                    blockTimestamp: 1742795163000
                    blockNumber: 70714014
                    transactionHash: >-
                      5e7d3b58682c2928b1d5e35b65450196e1f3c059a867bb9858e9b0ce81d785d6
                    transactionIndex: 16
                    logIndex: 0
                    contract:
                      address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                      deployedTransactionHash: >-
                        622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                      deployedAt: '2025-03-24T03:35:42Z'
                      deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                      logoUrl: null
                      type: standard
                      name: Wrapped Staked USDT
                      symbol: wstUSDT
                      totalSupply: '635110330576540568094182'
                      decimals: 18
                  - from: TNJsPUdzxKpR519LgQoG2P8iEr9Q2xPjSu
                    to: TLnATPf17Q2KqomexGLwYHJkbD32ECKLV8
                    value: '3514310000'
                    blockTimestamp: 1742795076000
                    blockNumber: 70713985
                    transactionHash: >-
                      3d1655f86c86b0146aeae25833a0f4ea46cef4b5f0d8af3c32d31a11cc9b63e0
                    transactionIndex: 56
                    logIndex: 0
                    contract:
                      address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                      deployedTransactionHash: >-
                        622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                      deployedAt: '2025-03-24T03:35:42Z'
                      deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                      logoUrl: null
                      type: standard
                      name: Wrapped Staked USDT
                      symbol: wstUSDT
                      totalSupply: '635110330576540568094182'
                      decimals: 18
                  - from: TNJsPUdzxKpR519LgQoG2P8iEr9Q2xPjSu
                    to: TFL3SekQKtrVGmNFpenAESiSkBNoHZ3NUp
                    value: '2257210000'
                    blockTimestamp: 1742794992000
                    blockNumber: 70713957
                    transactionHash: >-
                      e99b30792b869148c3689b3b74f59dc8df32edbe7147002310f206bec8c76624
                    transactionIndex: 175
                    logIndex: 0
                    contract:
                      address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                      deployedTransactionHash: >-
                        622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                      deployedAt: '2025-03-24T03:35:42Z'
                      deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                      logoUrl: null
                      type: standard
                      name: Wrapped Staked USDT
                      symbol: wstUSDT
                      totalSupply: '635110330576540568094182'
                      decimals: 18
                  - from: TXohBvxnQQ8HNzcRFyi6WpH4b6ob4NMEya
                    to: THv2ibnS7w5JeWth1Ckj2VPsDxrkytssv7
                    value: '10000000000'
                    blockTimestamp: 1742788035000
                    blockNumber: 70711638
                    transactionHash: >-
                      b9935ddc21fac937161c3c2113a01d8c2687504f54b35885c0b8b34c94949630
                    transactionIndex: 60
                    logIndex: 0
                    contract:
                      address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                      deployedTransactionHash: >-
                        622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                      deployedAt: '2025-03-24T03:35:42Z'
                      deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                      logoUrl: null
                      type: standard
                      name: Wrapped Staked USDT
                      symbol: wstUSDT
                      totalSupply: '635110330576540568094182'
                      decimals: 18
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/token/getTokenTransfersWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >
        특정 기간동안 발생한 TRC20 토큰 전송 목록을 조회합니다. 조회 결과에는 토큰 컨트랙트의 메타데이터와 전송된 토큰의 수량이
        포함됩니다.



        > 📘 기간 설정 팁 

        > 설정한 기간이 길 경우 응답시간이 길어질 수 있습니다. 빠른 응답을 원한다면 필요한 기간만큼만 설정하는 것을 권장합니다.
      summary: Get Token Transfers Within Range
      operationId: tron-getTokenTransfersWithinRange
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    fromBlock: *ref_9
                    toBlock: *ref_10
                    fromDate: *ref_11
                    toDate: *ref_12
                - *ref_6
                - type: object
                  properties:
                    withZeroValue: *ref_13
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - *ref_14
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_7
                                - *ref_8
              example:
                rpp: 5
                page: 1
                count: 2833708453
                items:
                  - from: TSsjUKzsouRnu5aNFCxi4SgrDYnQyzRVHY
                    to: TVsGC995bRQyRjyepK8uUyFeeoFeVpW5df
                    value: '1473000000'
                    blockTimestamp: 1742798892000
                    blockNumber: 70715255
                    transactionHash: >-
                      d83df8d27768f86201c016fba2cc749c4b9f051ba972b02fc4b3713e037060aa
                    transactionIndex: 401
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TRVcYEBh7QaU9V7qoLk1iqzejNuYBpPx6n
                    to: TCHTe1jofGdLGCFRtxEsJJ41nWVj9n2vzH
                    value: '446947726'
                    blockTimestamp: 1742798892000
                    blockNumber: 70715255
                    transactionHash: >-
                      e1ed7838be6e5e4b8e16b2361db634b888367c92a98eea4d91bae68786ba34a8
                    transactionIndex: 384
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TQ1z93yt7aiTqtEbdYiMmgsjWhM4YxAgSo
                    to: TEbcztQBDfF3WhjX67LnKXuFKBsAhrqGfq
                    value: '206618000000'
                    blockTimestamp: 1742798892000
                    blockNumber: 70715255
                    transactionHash: >-
                      13e7816b0e4c6fa06f4b25725280a7f3bdd1f6c496132d08d9ca0166895857a4
                    transactionIndex: 381
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TSwTR7h5LouuB4RxBVB5dABQ3qamnWzCko
                    to: TUEsrWo9gphSqGvGusENfRprMpBk5Dpgrj
                    value: '2143050000'
                    blockTimestamp: 1742798892000
                    blockNumber: 70715255
                    transactionHash: >-
                      ee3bb705856ceab671965c2a7768cbed858eca96ee4f51089a43fcf6fb10b40e
                    transactionIndex: 380
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
                  - from: TFvAkevGnMurn1prCApYdrd4CNg68KChru
                    to: TK47ZSWDmBAiwtrXaPHiowws7dZttbrdCs
                    value: '8500000000'
                    blockTimestamp: 1742798892000
                    blockNumber: 70715255
                    transactionHash: >-
                      2541f8741da6303bfb25d9dee8d78b22484dba9124d9a3d8b9980c67c862e273
                    transactionIndex: 379
                    logIndex: 0
                    contract:
                      address: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                      deployedTransactionHash: >-
                        aedfb252cf1a74cce04282bb18ffd7aa8cb19d19ef818a8b218f351d38c14b17
                      deployedAt: '2025-03-19T16:35:42Z'
                      deployerAddress: THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC
                      logoUrl: null
                      type: standard
                      name: Tether USD
                      symbol: USDT
                      totalSupply: '64730814052295213'
                      decimals: 6
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/token/getTokensOwnedByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >+
        특정 Account가 보유한 TRC20 토큰의 목록을 조회합니다. 조회 결과에는 각 토큰의 보유 수량과 토큰 컨트랙트의
        메타데이터가 포함됩니다.

      summary: Get Tokens Owned By Account
      operationId: tron-getTokensOwnedByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회할 계정의 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TT2T17KZhoDu47i2E4FWxfG79zdkEWkU9N
                    contractAddresses: *ref_15
                  required:
                    - accountAddress
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - *ref_16
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_7
                                - *ref_8
              example:
                rpp: 5
                page: 1
                count: 490
                items:
                  - ownerAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    balance: '39346408075296537575424000000000'
                    asset:
                      address: TJsi4cFPwkTi7FLV5HYbN1ZS2X84mcB52h
                      deployedTransactionHash: >-
                        29390adace062a85f6bb9a9ac8a0bffd508431f4b0d2911160a274b015689a2f
                      deployedAt: '2024-08-26T08:59:33Z'
                      deployerAddress: TN57Jwr9RR9Fadbq5V8YF6PDkwLwdbMzZb
                      logoUrl: null
                      type: standard
                      name: BucksBunny
                      symbol: Bucks
                      totalSupply: '39346408075296537575424000000000'
                      decimals: 18
                  - ownerAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    balance: '6000000000000000000000000000000'
                    asset:
                      address: TZEgHV87XZrifcC5fW7A7kjRrV4G2SmYJs
                      deployedTransactionHash: >-
                        529c787964ed6cf49fd04a54a5fde44c26373e1682ee9a949c99bb0c5034cf9e
                      deployedAt: '2021-10-04T10:51:48Z'
                      deployerAddress: TPsHJXae3wiKrhtN9B3r2Es1qmSGoFKNkB
                      logoUrl: null
                      type: standard
                      name: BKT
                      symbol: BKT
                      totalSupply: '9743917873764272059655115652452'
                      decimals: 18
                  - ownerAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    balance: '80492305832350000000000000000'
                    asset:
                      address: TJSmP3gXUsSYuKVmxJHBtaQNdshABP6B4J
                      deployedTransactionHash: >-
                        7bab9b13b1aaa685e5a1470e5bc099de6633375cc58b6b02f538a52409fc4f13
                      deployedAt: '2023-12-01T11:51:48Z'
                      deployerAddress: TK4TUHSpx5HG75GmkocqZuaeYRzRoBJ8SJ
                      logoUrl: null
                      type: standard
                      name: Synth sUSX
                      symbol: Authorize at Synthetix.to
                      totalSupply: '80495000000000000000000000000'
                      decimals: 18
                  - ownerAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    balance: '78105000000000000000000000000'
                    asset:
                      address: TMZ9wz6nGagWS1owCUL2vvgFNmDRam96k6
                      deployedTransactionHash: >-
                        c4a10adccbffdba2d57e9c2699791a8aea70ebb5d726413805ab0335092aa46d
                      deployedAt: '2023-12-01T14:19:09Z'
                      deployerAddress: TK4TUHSpx5HG75GmkocqZuaeYRzRoBJ8SJ
                      logoUrl: null
                      type: standard
                      name: Aetherial sUSX
                      symbol: Authorize at Synthetix.to
                      totalSupply: '78105000000000000000000000000'
                      decimals: 18
                  - ownerAddress: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    balance: '74565479516800000000000000000'
                    asset:
                      address: TMiPo7naFy1Tn72X2TC8GAyWnX1TbEDtu7
                      deployedTransactionHash: >-
                        f1e86d16bcc7fe48ff193b5cf29690b24b8c8fe9ba4fb55d77044b526281cca0
                      deployedAt: '2023-12-01T14:35:03Z'
                      deployerAddress: TK4TUHSpx5HG75GmkocqZuaeYRzRoBJ8SJ
                      logoUrl: null
                      type: standard
                      name: Awarded sUSX
                      symbol: Authorize at Synthetix.to
                      totalSupply: '74615000000000000000000000000'
                      decimals: 18
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/token/searchTokenContractMetadataByKeyword:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: >
        TRC20 토큰 컨트랙트의 name 혹은 symbol과 일치하는 컨트랙트 목록을 조회합니다.



        > 🚧 429 에러가 발생했나요? 구독 중인 플랜을 확인하세요!

        > 429 에러는 구독 중인 플랜의 Throughput 제한을 초과했을 때 발생할 수 있습니다. 

        > 예를 들어, Starter 플랜은 초당 300CU의 제한이 있기 때문에, Starter 플랜을 사용할 경우 CU 소비량이
        350인 API를 호출하면 429 오류가 발생할 수 있습니다.

        > Compute Unit Costs 페이지에서 사용 중인 API의 CU 소비량을 확인하고, 더 많은 Throughput이
        필요하다면 상위 플랜으로 업그레이드하는 것을 고려하세요!

        > 👉 [Compute Unit Costs 페이지로
        이동하기](https://developer.nodit.io/docs/usage-measuringcu)
      summary: Search Token Contract Metadata by Keyword
      operationId: tron-searchTokenContractMetadataByKeyword
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    keyword:
                      type: string
                      description: 조회하고자 하는 토큰의 name 혹은 symbol을 지정하는 파라미터입니다.
                      default: USDT
                  required:
                    - keyword
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - *ref_7
                        - *ref_8
              example:
                rpp: 20
                page: 1
                count: 2969
                items:
                  - address: TD3et9gS2pYz46ZC2mkCfYcKQGNwrnBLef
                    deployedTransactionHash: >-
                      599543b9073f94b8305eab052b914a68eb48b03cc9c14eca960eb69d3318d6d8
                    deployedAt: '2025-03-24T06:39:27Z'
                    deployerAddress: TAFotzexiiUJzGkBHDy9Jbn7rVHoYyWuLA
                    logoUrl: null
                    type: standard
                    name: Sun.io USDT/USDJ/TUSD
                    symbol: 3SUN
                    totalSupply: '91412197130592272287133'
                    decimals: 18
                  - address: TW1UvgYQZdZmHaT3UeWiJ9owNw2xffVnA5
                    deployedTransactionHash: >-
                      0353aa98c75c0e5ab57da9afee7b8fc0f27e26b2f227b99341d226b2329dfa2a
                    deployedAt: '2025-03-24T05:51:57Z'
                    deployerAddress: TQ7tZLLieVQydiWjsCbQhKYEwGWXHv7fM5
                    logoUrl: null
                    type: standard
                    name: Sun.io 2Pool TUSD/USDT
                    symbol: 2USDLP
                    totalSupply: '1254822425758194024825227'
                    decimals: 18
                  - address: TGkxzkDKyMeq2T7edKnyjZoFypyzjkkssq
                    deployedTransactionHash: >-
                      622c58941aa23011f5ee4f6b24881042c8a06f69857d577a43d3f291fd754782
                    deployedAt: '2025-03-24T03:35:42Z'
                    deployerAddress: TENKJcupcm8Xkwn6B9HvEyr5MiYsFiH8iR
                    logoUrl: null
                    type: standard
                    name: Wrapped Staked USDT
                    symbol: wstUSDT
                    totalSupply: '635110330576540568094182'
                    decimals: 18
                  - address: TYPzTDnmbUDoJ2EFv6D3D9FMhsg9oyrKfZ
                    deployedTransactionHash: >-
                      75f5504aee364efd8d0d880abb35c55c4c2ab27ecc916bb1aaeaa38b1481eca7
                    deployedAt: '2025-03-23T23:56:03Z'
                    deployerAddress: TFru88tRiLi9fpgyg8ChEUzN9i8NidWvpm
                    logoUrl: null
                    type: standard
                    name: Tether USD
                    symbol: USDT
                    totalSupply: '210000000000000'
                    decimals: 6
                  - address: TMUHcxsPaW6aNtfntd9dtDPesjWZxe7v1W
                    deployedTransactionHash: >-
                      b434e9d654b81b95681d3da20ade8f23440e586f6c94aee8b779e33428dece7a
                    deployedAt: '2025-03-23T17:17:27Z'
                    deployerAddress: TLcLr859wctCUH8q7jFojCpYy4RRReo5nD
                    logoUrl: null
                    type: standard
                    name: Tether USD
                    symbol: USDT
                    totalSupply: '1000000000000'
                    decimals: 6
                  - address: TAC21biCBL9agjuUyzd4gZr356zRgJq61b
                    deployedTransactionHash: >-
                      5c6da9173dc8630baf2f0ab84d33c95529befddb4408b31320e12cf9f9d20a95
                    deployedAt: '2025-03-23T15:49:48Z'
                    deployerAddress: TBuqpGiQJcUkdempqWAn6tmgjF7rw2shTU
                    logoUrl: null
                    type: standard
                    name: Allbridge LP
                    symbol: LP-USDT
                    totalSupply: '6701685632'
                    decimals: 3
                  - address: TThzxNRLrW2Brp9DcTQU8i4Wd9udCWEdZ3
                    deployedTransactionHash: >-
                      a04f061918684e89ff396c5cf01a0450e2b620917af5735d05574d2ef8c0b478
                    deployedAt: '2025-03-23T15:40:54Z'
                    deployerAddress: TR7EeNXJJQQBxntR1ipzSoryYvxpzWCzj1
                    logoUrl: null
                    type: standard
                    name: Staked USDT
                    symbol: stUSDT
                    totalSupply: '55336728219663506835382369'
                    decimals: 18
                  - address: TVTy6uYLr1HNzRVdGQW8MNrc4LNGs9NdDq
                    deployedTransactionHash: >-
                      3394c8fa0b499c1bed8433b3b8217afcbe8472878f984a58b3a223190a11973b
                    deployedAt: '2025-03-21T20:14:24Z'
                    deployerAddress: TTfvyrAz86hbZk5iDpKD78pqLGgi8C7AAw
                    logoUrl: null
                    type: standard
                    name: Tether USDT Meme
                    symbol: USDT
                    totalSupply: '1000000000000000000000000000'
                    decimals: 18
                  - address: TYKoYhjEpqazFLyQzn6BCigLnDL9c8Nhz8
                    deployedTransactionHash: >-
                      49f79b95dc1c20ed441ce68e67cc11a5f027fd54c468fe36cb2f054dfcdc7a96
                    deployedAt: '2025-03-21T19:14:39Z'
                    deployerAddress: TFUerjaCNrEmXbBuW9oG42U6KLhzzFGk5o
                    logoUrl: null
                    type: standard
                    name: Sun.io 2Pool USDD/USDT
                    symbol: 2USDLP
                    totalSupply: '1566626391052995974332366'
                    decimals: 18
                  - address: TWFuWsbuLHCKvR45auGiX4PAh6K4SBwJyq
                    deployedTransactionHash: >-
                      57f59e42dbc2c920cdd78f465defd2cefdb3970aa14820cd2ffa6103d6ad93ab
                    deployedAt: '2025-03-21T18:16:03Z'
                    deployerAddress: TBMGqY2LAzHWM9qnc5utDZHeR8jp8PbD9K
                    logoUrl: null
                    type: standard
                    name: Tether
                    symbol: USDT
                    totalSupply: '1000000000000000000000000000'
                    decimals: 18
                  - address: TAF3F8Nukch1DC2DCqBwY7HbDGt7VweeMr
                    deployedTransactionHash: >-
                      0ec3cafd162f171d22eed30803c99378514f6bb05672913a0626036ff0acd9d8
                    deployedAt: '2025-03-21T18:14:00Z'
                    deployerAddress: TDa2M4wDtTW7bTunobwwMKuiWjCviJs5fU
                    logoUrl: null
                    type: standard
                    name: Tether USD
                    symbol: USDT
                    totalSupply: '1000000000000'
                    decimals: 6
                  - address: TCQi136gXxWuchM8dwa2KpwU9P2GA5sfHj
                    deployedTransactionHash: >-
                      3b4557d41a9a7b152db289e588bd61c76ff4753998282657fbbb3e831e8c19d4
                    deployedAt: '2025-03-21T16:05:24Z'
                    deployerAddress: TXBw8Pwt4a5jHv9xayznPbwiShzwKP474n
                    logoUrl: null
                    type: standard
                    name: Tether USD
                    symbol: USDT
                    totalSupply: '1000000'
                    decimals: 0
                  - address: TYr6mLfqqy2vc2Gf2Es9NhyNgoKQTNyKHw
                    deployedTransactionHash: >-
                      1f980153db1cd7da07d1e2168ea3c298c6843f241d1e7d35874bea4d56a1220c
                    deployedAt: '2025-03-21T15:52:33Z'
                    deployerAddress: TXBw8Pwt4a5jHv9xayznPbwiShzwKP474n
                    logoUrl: null
                    type: standard
                    name: Tether USD
                    symbol: USDT
                    totalSupply: '1000000'
                    decimals: 0
                  - address: TKoY713jGeXt36DkadV2TdDR5khZNx9oDx
                    deployedTransactionHash: >-
                      838f0a433cf468945b9e5209b447e096c77847659839efe531861b9211196cb1
                    deployedAt: '2025-03-21T12:16:21Z'
                    deployerAddress: TZCiAbz5eDJPvSUHVC1nvDVstDR69ErTkj
                    logoUrl: null
                    type: standard
                    name: USDT
                    symbol: USDT
                    totalSupply: '10000000000000000000000000000'
                    decimals: 18
                  - address: TMkVbZT2EDsuUtmP2gmiaYG4XFMPYpSNR8
                    deployedTransactionHash: >-
                      9da047dceae568003cf5efe6b8664b6a0a3329a1aa2328456145f4754f460a38
                    deployedAt: '2025-03-21T08:37:24Z'
                    deployerAddress: TKzH12G7AEQAff5dF2gKYnyx2HBTqXxUpb
                    logoUrl: null
                    type: standard
                    name: Mock USDT
                    symbol: USDT
                    totalSupply: '14101000000000'
                    decimals: 6
                  - address: TG11bFfYg5BgEBgrZyHZcAzj5WcYW3uhYG
                    deployedTransactionHash: >-
                      235d2c67ab3373b310d8c6432534dd2b4c4dafef719c83e17d88ec89b88176aa
                    deployedAt: '2025-03-20T22:02:06Z'
                    deployerAddress: TWnPUubMdrNpZ4WPqx4ccVpXiNrotcxk31
                    logoUrl: null
                    type: standard
                    name: Tethercoin
                    symbol: USDTc
                    totalSupply: '1000000000000000000000000000'
                    decimals: 18
                  - address: TRUrsgebLgmVH9iK5EBzMcfEE2xyDMyGAz
                    deployedTransactionHash: >-
                      13c791e8233565ade397dc08442b566b0ec18b806b00ad5d0f7e47a422096043
                    deployedAt: '2025-03-20T21:02:39Z'
                    deployerAddress: TWnPUubMdrNpZ4WPqx4ccVpXiNrotcxk31
                    logoUrl: null
                    type: standard
                    name: Tethercoin
                    symbol: USDTc
                    totalSupply: '1000000000000000000000000000'
                    decimals: 18
                  - address: TUmtohEFcEgfaHKTiyrZP2RPAfE1AKm7T9
                    deployedTransactionHash: >-
                      460143e36d14304f105e8de40a8f023c4b48f236cbfd4ee4629ee172ed5cacee
                    deployedAt: '2025-03-20T20:32:06Z'
                    deployerAddress: TWHJbStYbZUM5ao13uVc9f9F9eRQPPCmzM
                    logoUrl: null
                    type: standard
                    name: USDT
                    symbol: USDT-TRX
                    totalSupply: '200000000000000000'
                    decimals: 10
                  - address: TMGr1xAFaosBzcdLH8CovoPbWNoayLpnsL
                    deployedTransactionHash: >-
                      05d9b8e526dbc1f56d03c3fe2a201e0154e4554576ad3260c3e06edfd09fcded
                    deployedAt: '2025-03-20T03:58:15Z'
                    deployerAddress: TWnPUubMdrNpZ4WPqx4ccVpXiNrotcxk31
                    logoUrl: null
                    type: standard
                    name: TetherUSDT
                    symbol: USDT
                    totalSupply: '10000000000000000000000000'
                    decimals: 18
                  - address: TMtxMH8uEQXkiBz3aKZJo74HBkmzUWi2oU
                    deployedTransactionHash: >-
                      96b0a45d85c73fc8c28591a6942ab81ff60f7086192b87a3612bdbcfb9ca5673
                    deployedAt: '2025-03-19T19:42:18Z'
                    deployerAddress: TR3hfk24WPmNx9nmmxfKG5bcv2yWizd7aG
                    logoUrl: null
                    type: standard
                    name: MyToken
                    symbol: USDT
                    totalSupply: '100000'
                    decimals: 5
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/native/getNativeBalanceByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Native Token API
      description: |+
        특정 Account가 보유한 네이티브 토큰의 잔고를 조회합니다. 선택한 체인에 따라 토큰의 종류가 다를 수 있습니다.

      summary: Get Native Balance by Account
      operationId: tron-getNativeBalanceByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              properties:
                accountAddress:
                  type: string
                  description: >-
                    조회할 계정의 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58 문자열
                    형식을 가집니다.
                  pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                  default: TT2T17KZhoDu47i2E4FWxfG79zdkEWkU9N
              required:
                - accountAddress
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: *ref_16
              example:
                ownerAddress: TCepLZhb8kvrLToRYC1pWDiUJxrL1cBNia
                balance: '2'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/native/getNativeHolders:
    post:
      security:
        - api_key: []
      tags:
        - Native Token API
      description: |+
        네이티브 토큰 컨트랙트의 홀더 리스트를 조회합니다. 홀더 리스트에는 홀더의 주소와 홀더가 보유한 토큰의 수량이 포함됩니다.

      summary: Get Native Holders
      operationId: tron-getNativeHolders
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              properties: *ref_17
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_16
              example:
                rpp: 5
                page: 1
                count: 173230654
                items:
                  - ownerAddress: TNMcQVGPzqH9ZfMCSY4PNrukevtDgp24dK
                    balance: '8997562062313495'
                  - ownerAddress: TE2RzoSV3wFK99w6J9UnnZ4vLfXYoxvRwP
                    balance: '7055238372852047'
                  - ownerAddress: THUE6WTLaEGytFyuGJQUcKc3r245UKypoi
                    balance: '1763109998966628'
                  - ownerAddress: TNUC9Qb1rRpS5CbWLmNMxXBjyFoydXjWFR
                    balance: '1753313611181136'
                  - ownerAddress: TRzQrtxrEJbSbQNwAsgAHkBMxTX47yNmjo
                    balance: '1700079996070209'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/native/getNativeTransfersByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Native Token API
      description: |+
        특정 주소가 전송 혹은 수신한 네이티브 토큰 전송 목록을 조회합니다.

      summary: Get Native Transfers by Account
      operationId: tron-getNativeTransfersByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회할 계정의 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TT2T17KZhoDu47i2E4FWxfG79zdkEWkU9N
                    relation: *ref_18
                    fromBlock: *ref_9
                    toBlock: *ref_10
                    fromDate: *ref_11
                    toDate: *ref_12
                - *ref_6
                - type: object
                  properties:
                    withZeroValue: *ref_13
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_14
              example:
                rpp: 5
                page: 1
                count: 44
                items:
                  - from: TEFrYaQEs7th4U8TFdY2Vf6JzucvVn2Voj
                    to: TCepLZhb8kvrLToRYC1pWDiUJxrL1cBNia
                    value: '1'
                    blockTimestamp: 1738839063000
                    blockNumber: 69395726
                    transactionHash: >-
                      11f8a0083f4c770893d1db4b00ca611805ed3b5136e129556cea1bc3fc7d4329
                    transactionIndex: 113
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TEUQNxLnuzrCbRtvubrJVf3QPbRBjgsUFX
                    to: TCepLZhb8kvrLToRYC1pWDiUJxrL1cBNia
                    value: '1'
                    blockTimestamp: 1738839039000
                    blockNumber: 69395718
                    transactionHash: >-
                      5570e5f635ce84920b5c03695dfc490801c704d3548fbe48d85253f4257fb66c
                    transactionIndex: 70
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TCepLZhb8kvrLToRYC1pWDiUJxrL1cBNia
                    to: TWQYPpc5mXW3XJYA5v68efUnLeX5XiKVoj
                    value: '39506360'
                    blockTimestamp: 1738838994000
                    blockNumber: 69395703
                    transactionHash: >-
                      8b4c142ffcc6eb47b36bc1a9caf291f461ccc2c920f29e0b3e115bec2bc912de
                    transactionIndex: 143
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TX8zg6wvVRFJx7Eso1WPoSrUzKB6arhBU3
                    to: TCepLZhb8kvrLToRYC1pWDiUJxrL1cBNia
                    value: '10000000'
                    blockTimestamp: 1738747794000
                    blockNumber: 69365311
                    transactionHash: >-
                      05dc2cd69a5063f6279acb8b517dd2c902ff55c1143663bbb911feb7cd820544
                    transactionIndex: 136
                    internalTransactionIndex: 0
                    exchangeId: null
                  - from: TCepLZhb8kvrLToRYC1pWDiUJxrL1cBNia
                    to: TX8zg6wvVRFJx7Eso1WPoSrUzKB6arhBU3
                    value: '10000000'
                    blockTimestamp: 1738747764000
                    blockNumber: 69365301
                    transactionHash: >-
                      a5cbe37bf876b4579b75a11ba0e7286290291b55954c829bd58b016b5128f7c3
                    transactionIndex: 35
                    internalTransactionIndex: -1
                    exchangeId: null
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/native/getNativeTransfersWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - Native Token API
      description: |+
        특정 기간동안 발생한 네이티브 토큰 전송 목록을 조회합니다. 
        > 📘 기간 설정 팁 
        > 설정한 기간이 길 경우 응답시간이 길어질 수 있습니다. 빠른 응답을 원한다면 필요한 기간만큼만 설정하는 것을 권장합니다.

      summary: Get Native Transfers Within Range
      operationId: tron-getNativeTransfersWithinRange
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    fromBlock: *ref_9
                    toBlock: *ref_10
                    fromDate: *ref_11
                    toDate: *ref_12
                - *ref_6
                - type: object
                  properties:
                    withZeroValue: *ref_13
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_14
              example:
                rpp: 5
                page: 1
                count: 5284274663
                items:
                  - from: TDoZieycSoi5Fe7WF7HQi5nkrrX3GGha4D
                    to: TTRXQQWs4cpDn8AeaXMnodrATEvEYphy5H
                    value: '7000000000'
                    blockTimestamp: 1742800686000
                    blockNumber: 70715853
                    transactionHash: >-
                      d149f5f2770c9defcba9d84e5db7062d76f171c5c7ca92303f380d765210ad82
                    transactionIndex: 395
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TMFZ9rEKPfyyK7WqQTBJ98k4ih1ngHurvB
                    to: TWqC5nF2Hpu2NuLJUNMJg42gFMEJSy3ihn
                    value: '3'
                    blockTimestamp: 1742800686000
                    blockNumber: 70715853
                    transactionHash: >-
                      f7190ac0d43659943b382d9cf51e9476a290062569f8525a4a7b9d2c7a35e1fd
                    transactionIndex: 394
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TDmR8VDgx8uVQAxLuPcyW1U2GYRTP7k4A5
                    to: TNPQ6tzms3eA8B9smjG6dBnAfigogLk1XS
                    value: '8'
                    blockTimestamp: 1742800686000
                    blockNumber: 70715853
                    transactionHash: >-
                      80bcd4a872b88cef9792181ae1d0c4041ed30098bc424a76b2995ed691318843
                    transactionIndex: 393
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TQXdiCvRsxi3ZKpH3Hit9tdFiCuGADZCCi
                    to: TXgMoLxyrGizaMDYzQbt9oxqH9G7x1LdPe
                    value: '8'
                    blockTimestamp: 1742800686000
                    blockNumber: 70715853
                    transactionHash: >-
                      1171eb9c8f72f5c087f8701d896f035be69d98f13ba4799397515f660c941d78
                    transactionIndex: 392
                    internalTransactionIndex: -1
                    exchangeId: null
                  - from: TVsRGDopfMkewQcuzhoRM5hk17sZ2jQLrZ
                    to: TT9Z5MVhwyP2z4YaSBwd63NYoLDW5k1vEM
                    value: '4'
                    blockTimestamp: 1742800686000
                    blockNumber: 70715853
                    transactionHash: >-
                      810cf19e91cba694cf7d418a6b744f82cb24a73b04f3065dfb526c078a1c7fef
                    transactionIndex: 387
                    internalTransactionIndex: -1
                    exchangeId: null
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '429': *ref_4
  /{chain}/{network}/blockchain/getInternalTransactionsByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: >
        특정 Account와 관련된 internal transaction 리스트를 조회합니다.



        > 🚧 429 에러가 발생했나요? 구독 중인 플랜을 확인하세요!

        > 429 에러는 구독 중인 플랜의 Throughput 제한을 초과했을 때 발생할 수 있습니다. 

        > 예를 들어, Starter 플랜은 초당 300CU의 제한이 있기 때문에, Starter 플랜을 사용할 경우 CU 소비량이
        350인 API를 호출하면 429 오류가 발생할 수 있습니다.

        > Compute Unit Costs 페이지에서 사용 중인 API의 CU 소비량을 확인하고, 더 많은 Throughput이
        필요하다면 상위 플랜으로 업그레이드하는 것을 고려하세요!

        > 👉 [Compute Unit Costs 페이지로
        이동하기](https://developer.nodit.io/docs/usage-measuringcu)
      summary: Get Internal Transactions By Account
      operationId: tron-getInternalTransactionsByAccount
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - tron
            default: tron
          description: 조회 대상 체인을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 체인에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회할 계정의 주소를 지정하는 파라미터입니다. 이 필드는 "T"로 시작하는 34자리 base58
                        문자열 형식을 가집니다.
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      default: TT2T17KZhoDu47i2E4FWxfG79zdkEWkU9N
                    relation: *ref_18
                    fromBlock: *ref_9
                    toBlock: *ref_10
                    fromDate: *ref_11
                    toDate: *ref_12
                  required:
                    - accountAddress
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: &ref_19
                      type: object
                      required:
                        - internalTransactionHash
                        - internalTransactionIndex
                        - transactionHash
                        - transactionIndex
                        - blockNumber
                        - blockTimestamp
                        - rejected
                        - from
                        - to
                        - callValueInfo
                        - note
                        - extra
                      properties:
                        internalTransactionHash:
                          type: string
                          description: 내부 트랜잭션의 고유 해시(ID)로, 내부 트랜잭션을 식별하는 키로 사용됩니다.
                        internalTransactionIndex:
                          type: integer
                          description: >-
                            블록 내에서 해당 내부 트랜잭션의 순서를 나타내는 인덱스입니다. 같은 블록에서 여러 내부
                            트랜잭션이 있을 경우, 이 값으로 내부 트랜잭션의 순서를 확인할 수 있습니다.
                        transactionHash:
                          type: string
                          description: >-
                            상위 트랜잭션의 고유 해시(ID)입니다. 내부 트랜잭션은 외부 트랜잭션에 의해 실행되므로,
                            상위 트랜잭션의 정보를 통해 어떤 트랜잭션에서 발생했는지 확인할 수 있습니다.
                        transactionIndex:
                          type: integer
                          description: >-
                            상위 트랜잭션의 블록 내 인덱스입니다. 상위 트랜잭션이 블록에서 몇 번째 위치에 있는지
                            나타냅니다.
                        blockNumber:
                          type: integer
                          description: 내부 트랜잭션이 포함된 블록 번호입니다.
                        blockTimestamp:
                          type: integer
                          description: 내부 트랜잭션이 포함된 블록 생성 시점을 밀리초 단위로 기록한 값입니다.
                        rejected:
                          type: boolean
                          description: >-
                            내부 트랜잭션 실행이 실패되었는지 여부를 나타냅니다. true인 경우, 해당 트랜잭션이
                            실패되었음을 의미합니다.
                        from:
                          type: string
                          description: >-
                            내부 트랜잭션에서 송신자 주소를 나타냅니다. 일반적으로 스마트 컨트랙트 실행을 호출한 계정
                            주소가 기록됩니다. 이 필드는 "T"로 시작하는 34자리 base58 문자열 형식을 가집니다.
                        to:
                          type: string
                          description: >-
                            내부 트랜잭션에서 수신자 주소를 나타냅니다. 스마트 컨트랙트 또는 일반 계정이 수신자로 설정될
                            수 있습니다. 이 필드는 "T"로 시작하는 34자리 base58 문자열 형식을 가집니다.
                        callValueInfo:
                          type: array
                          description: >-
                            내부 트랜잭션에서 전송된 자산(TRX 또는 TRC10)의 정보를 포함하는 배열입니다. 그 외의
                            경우는 빈배열을 반환합니다.
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                                description: 전송된 TRX 또는 TRC10 자산의 수량입니다.
                              assetId:
                                type: integer
                                description: >-
                                  TRC10 자산의 고유 ID를 나타냅니다. TRX가 전송될 경우, 이 필드는 0을
                                  반환합니다.
                        note:
                          type: string
                          description: >-
                            내부 트랜잭션이 실행된 명령의 타입을 나타냅니다. 예를 들어, call(스마트 컨트랙트
                            호출), create(컨트랙트 생성) 등의 값이 포함될 수 있습니다.
                        extra:
                          type: string
                          description: 내부 트랜잭션과 관련된 추가 데이터를 나타냅니다.
              example:
                rpp: 5
                page: 1
                count: 140078957
                items:
                  - internalTransactionHash: >-
                      73e054bedd2e8e76a52cba2fcac80d9f2d0f0567f01a4190a77b6afa43d8fb06
                    internalTransactionIndex: 15
                    transactionHash: >-
                      d14a247f72ae269e24a17fc7bdd94a5315030abb4cd469c3c65845675a5d0866
                    transactionIndex: 169
                    blockNumber: 70715892
                    blockTimestamp: 1742800803000
                    rejected: true
                    from: TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    callValueInfo:
                      - value: '0'
                        assetId: 0
                    note: call
                    extra: ''
                  - internalTransactionHash: >-
                      9d79306b90c3091bc12fa27886c5aaab18403afab3b80bf68577428166d899b5
                    internalTransactionIndex: 9
                    transactionHash: >-
                      d14a247f72ae269e24a17fc7bdd94a5315030abb4cd469c3c65845675a5d0866
                    transactionIndex: 169
                    blockNumber: 70715892
                    blockTimestamp: 1742800803000
                    rejected: true
                    from: TSUUVjysXV8YqHytSNjfkNXnnB49QDvZpx
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    callValueInfo:
                      - value: '0'
                        assetId: 0
                    note: call
                    extra: ''
                  - internalTransactionHash: >-
                      f7511f9d3a7d8c14d3a742ae9037cbf37970e31099182265c67f2a1ad69399a3
                    internalTransactionIndex: 8
                    transactionHash: >-
                      d14a247f72ae269e24a17fc7bdd94a5315030abb4cd469c3c65845675a5d0866
                    transactionIndex: 169
                    blockNumber: 70715892
                    blockTimestamp: 1742800803000
                    rejected: true
                    from: TQAvWQpT9H916GckwWDJNhYZvQMkuRL7PN
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    callValueInfo:
                      - value: '0'
                        assetId: 0
                    note: call
                    extra: ''
                  - internalTransactionHash: >-
                      f1af364cae565d22273480461fea6e9cc7bffd1dfdf08e3958487129dbfb3afa
                    internalTransactionIndex: 6
                    transactionHash: >-
                      d14a247f72ae269e24a17fc7bdd94a5315030abb4cd469c3c65845675a5d0866
                    transactionIndex: 169
                    blockNumber: 70715892
                    blockTimestamp: 1742800803000
                    rejected: true
                    from: TSUUVjysXV8YqHytSNjfkNXnnB49QDvZpx
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    callValueInfo:
                      - value: '0'
                        assetId: 0
                    note: call
                    extra: ''
                  - internalTransactionHash: >-
                      809a913dfc5f86bb0b90eb67ec12f34032395d9da93d53179e28f7f74e7c18e8
                    internalTransactionIndex: 2
                    transactionHash: >-
                      d14a247f72ae269e24a17fc7bdd94a5315030abb4cd469c3c65845675a5d0866
                    transactionIndex: 169
                    blockNumber: 70715892
                    blockTimestamp: 1742800803000
                    rejected: true
                    from: TCFNp179Lg46D16zKoumd4Poa2WFFdtqYj
                    to: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    callValueInfo:
                      - value: '0'
                        assetId: 0
                    note: call
                    extra: ''
        '400': *ref_0
        '401': *ref_1
[...]
