openapi: 3.1.0
info:
  title: Web3 Data API
  version: 1.2.19
servers:
  - url: https://web3.nodit.io/v1
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: >-
        The default value, `nodit-demo`, is only for use in the developer
        documentation. For real applications or services, use the API key
        obtained from the Nodit console.
paths:
  /{protocol}/{network}/nft/getNftContractMetadataByContracts:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 NFT 컨트랙트의 메타데이터를 조회합니다. 다수의 컨트랙트를 조회할 수 있으며, 최대 100개의 컨트랙트를 조회할 수
        있습니다.



        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - 하드포크 시점 이전에 배포된 NFT 컨트랙트의 메타데이터는 조회 되지 않을 수 있습니다. 

      summary: Get NFT Contract Metadata by Contracts
      operationId: getNftContractMetadataByContracts
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddresses:
                      type: array
                      description: >-
                        조회하고자 하는 컨트랙트 주소의 배열을 지정하는 파라미터입니다. 컨트랙트 주소는 0x로 시작하는
                        40자리의 16진수 문자열 형태로 입력할 수 있습니다.
                      items: &ref_0
                        type: string
                        description: >-
                          조회하고자 하는 컨트랙트 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의 16진수
                          문자열 형태로 입력할 수 있습니다.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                      default:
                        - '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                        - '0x60E4d786628Fea6478F785A6d7e704777c86a7c6'
                  required:
                    - contractAddresses
                  maximum: 100
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - &ref_1
                      type: object
                      required:
                        - address
                        - deployedTransactionHash
                        - deployedAt
                        - deployerAddress
                        - logoUrl
                        - type
                      properties:
                        address:
                          type: string
                          description: 컨트랙트 주소를 나타내는 필드입니다.
                        deployedTransactionHash:
                          type: string
                          description: 컨트랙트가 배포된 트랜잭션의 해시를 나타내는 필드입니다.
                        deployedAt:
                          type: string
                          description: >-
                            컨트랙트가 배포된 시간을 나타내는 필드입니다. 이 필드는 ISO 8601 형식의 날짜와
                            시간으로 제공됩니다.
                        deployerAddress:
                          type: string
                          description: 컨트랙트를 배포한 주소를 나타내는 필드입니다.
                        logoUrl:
                          type: string
                          description: >-
                            컨트랙트의 로고 URL을 나타내는 필드입니다. 이 URL은 컨트랙트를 시각적으로 식별하는 데
                            사용될 수 있습니다.


                             [참고]

                             모든 컨트랙트의 로고 이미지가 제공되는 것은 아닙니다. 컨트랙트 로고가 없는 경우, 이 필드는 null로 제공됩니다.
                          default: null
                        type:
                          type: string
                          description: >-
                            컨트랙트의 타입을 나타내는 필드입니다. 컨트랙트 타입은 표준 규격의 이름이 표기됩니다.
                            (e.g., ERC721, ERC1155, ERC20, ERC721, ERC1155,
                            ERC20)
                    - &ref_2
                      type: object
                      required:
                        - name
                        - symbol
                      properties:
                        name:
                          type: string
                          description: >-
                            컨트랙트의 이름을 나타내는 필드입니다. 표준을 따르지 않거나, 컨트랙트 생성 단계에서
                            name을 입력하지 않은 경우 빈 문자열을 반환합니다.
                          default: ''
                        symbol:
                          type: string
                          description: >-
                            컨트랙트의 심볼을 나타내는 필드입니다. 표준을 따르지 않거나, 컨트랙트 생성 단계에서
                            symbol을 입력하지 않은 경우 빈 문자열을 반환합니다.
                        totalSupply:
                          type: string
                          description: >-
                            컨트랙트의 총 공급량을 나타내는 필드입니다. 이 값은 토큰의 총 발행량을 의미하며, 10진수
                            문자열 형태로 제공됩니다. 컨트랙트 타입이 ERC20인 경우에만 응답에 포함됩니다.
                        decimals:
                          type: integer
                          description: >-
                            컨트랙트의 소수점 자리수를 나타내는 필드입니다. 컨트랙트 타입이 ERC20 또는
                            ERC1155인 경우에만 응답에 포함됩니다.
              example:
                - address: '0x60E4d786628Fea6478F785A6d7e704777c86a7c6'
                  deployedTransactionHash: >-
                    0x025f185262da3c52bf9b87f09a1fea815a27fd8c32a363da72cac0c9cae27436
                  deployedAt: '2021-08-28T23:59:15.000Z'
                  deployerAddress: '0x9056D15C49B19dF52FfaD1E6C11627f035C0C960'
                  logoUrl: null
                  type: ERC721
                  name: MutantApeYachtClub
                  symbol: MAYC
                - address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                  deployedTransactionHash: >-
                    0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                  deployedAt: '2021-04-22T03:03:16.000Z'
                  deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                  logoUrl: null
                  type: ERC721
                  name: BoredApeYachtClub
                  symbol: BAYC
        '400': &ref_3
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: INVALID_PARAMETER
                  message: >-
                    Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE,
                    PARAMETER2_NAME = PARAMETER2_VALUE, ... }
        '401': &ref_4
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: AUTHENTICATION_FAILED
                  message: Authentication failed
        '403': &ref_5
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: PERMISSION_DENIED
                  message: Permission denied
        '404': &ref_6
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: RESOURCE_NOT_FOUND
                  message: >-
                    Resource not found: { RESOURCE1_NAME = RESOURCE1_VALUE,
                    RESOURCE2_NAME = RESOURCE2_VALUE, ... }
        '429': &ref_7
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: TOO_MANY_REQUESTS
                  message: Too many requests
  /{protocol}/{network}/nft/getNftContractsByAccount:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 Account가 보유한 NFT를 컨트랙트 별로 그룹핑하여 조회합니다. 조회 결과에는 컨트랙트별 NFT의 수량과 컨트랙트의
        메타데이터가 포함됩니다.



        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - 하드포크 시점 이전에 배포된 NFT 컨트랙트의 경우, 자산 조회 결과에 포함되지 않을 수 있습니다.

      summary: Get NFT Contracts by Account
      operationId: getNftContractsByAccount
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회하고자 하는 계정의 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의 16진수 문자열
                        형태로 입력할 수 있습니다.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      default: '0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045'
                    contractAddresses: &ref_13
                      type: array
                      description: >-
                        조회하고자 하는 컨트랙트 주소의 배열을 지정하는 파라미터입니다. 컨트랙트 주소는 0x로 시작하는
                        40자리의 16진수 문자열 형태로 입력할 수 있습니다.
                      items: *ref_0
                  required:
                    - accountAddress
                - &ref_8
                  type: object
                  properties: &ref_63
                    page:
                      type: integer
                      description: >-
                        page 파라미터는 조회하려는 데이터 페이지를 지정하는 데 사용됩니다. 이 파라미터는 100 이하의
                        값을 받으며, 100을 초과하는 페이지가 필요한 경우 cursor 페이지네이션 방식을 사용해야
                        합니다.



                        page 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두
                        빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: >-
                        rpp는 results per page의 약자로, 한 페이지의 사이즈를 지정하는 파라미터입니다.
                        0보다 크고 1000 이하의 숫자를 지정할 수 있습니다.
                      pattern: ^(?:[1-9][0-9]{0,2}?|1000)$
                    cursor:
                      type: string
                      description: "cursor 파라미터는 페이지네이션을 위한 파라미터로, 이전 페이지와 다음 페이지 간의 데이터 이동을 지원합니다. 이전 페이지에서 얻은 cursor 값을 다음 요청에 제공하면 다음 페이지의 데이터를 로드할 수 있습니다.\n\t\t\t\n\npage 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두 빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다."
                    withCount:
                      type: boolean
                      description: >-
                        응답에 count 필드의 포함 여부를 지정하는 파라미터이며, count 필드는 요청한 데이터의 총
                        개수를 나타냅니다. 이 파라미터에 true를 입력한 경우, 응답에 count 필드가 포함되며
                        응답속도가 느려질 수 있습니다.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - type: object
                          required:
                            - totalBalance
                            - uniqueBalance
                          properties:
                            totalBalance: &ref_9
                              type: string
                              description: |-
                                해당 컨트랙트의 잔고 수량을 모두 더한 값을 반환합니다.

                                 [참고]
                                 contract type에 따라 수량 계산 방법이 다를 수 있습니다. ERC721는 uniqueBalance와 동일하며, ERC1155는 모든 수량을 더한 값을 반환합니다.

                                 (예시)
                                 ERC721의 경우: #100, #200, #300을 보유했다면 3을 반환
                                 ERC1155의 경우: #1을 100개, #200, #300을 각각 200개씩 보유했다면 600을 반환
                            uniqueBalance: &ref_10
                              type: string
                              description: |-
                                해당 컨트랙트가 보유한 NFT 중 각기 다른 token ID의 수를 반환합니다.

                                 [참고]
                                 contract type에 따라 수량 계산 방법이 다를 수 있습니다. ERC721은 totalBalance와 동일하며, ERC1155는 유니크한 token ID의 수를 반환합니다.

                                 (예시)
                                 ERC721의 경우: #100, #200, #300을 보유했다면 3을 반환
                                 ERC1155의 경우: #1을 100개, #200, #300을 각각 200개씩 보유했다면 3을 반환
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_1
                                - *ref_2
              example:
                rpp: 20
                cursor: null
                items:
                  - contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    totalBalance: '5'
                    uniqueBalance: '5'
        '400': *ref_3
        '401': *ref_4
        '403': *ref_5
        '404': *ref_6
        '429': *ref_7
  /{protocol}/{network}/nft/getNftHoldersByContract:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 NFT 컨트랙트의 홀더 리스트를 조회합니다. 홀더 리스트에는 홀더의 주소와 홀더가 보유한 NFT의 수량이 포함됩니다.



        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - 하드포크 시점 이전에 배포된 NFT 컨트랙트의 홀더를 조회하는 경우, 반환된 목록이 실제 홀더 목록과 상이할 수 있습니다.

      summary: Get NFT Holders by Contract
      operationId: getNftHoldersByContract
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddress:
                      type: string
                      description: >-
                        조회하고자 하는 컨트랙트 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의 16진수 문자열
                        형태로 입력할 수 있습니다.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      default: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                  required:
                    - contractAddress
                - *ref_8
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: &ref_11
                      type: object
                      required:
                        - ownerAddress
                        - totalBalance
                        - uniqueBalance
                      properties:
                        ownerAddress: &ref_23
                          type: string
                          description: 소유자 주소를 나타내는 필드입니다.
                          pattern: ^0[xX][0-9a-fA-F]{40}$
                        totalBalance: *ref_9
                        uniqueBalance: *ref_10
              example:
                rpp: 20
                cursor: >-
                  W3sia2V5IjoidG90YWwiLCJvcmRlciI6IkRFU0MiLCJlcXVhbCI6dHJ1ZSwicG9pbnQiOiIyMSJ9LHsia2V5IjoiYWRkcmVzcyIsIm9yZGVyIjoiQVNDIiwiZXF1YWwiOmZhbHNlLCJwb2ludCI6IjB4NTVlOTRlODM2ZjMxMmQ5ODE3MWVmZjczMTQ2OTI2YTVmYTJhM2IyNSJ9XQ==
                items:
                  - ownerAddress: '0x29469395eAf6f95920E59F858042f0e28D98a20B'
                    totalBalance: '472'
                    uniqueBalance: '472'
                  - ownerAddress: '0x7285e8F0186a0A41E73ceF7603AD7b80A2d5a793'
                    totalBalance: '379'
                    uniqueBalance: '379'
                  - ownerAddress: '0xaAa2DA255DF9Ee74C7075bCB6D81f97940908A5D'
                    totalBalance: '352'
                    uniqueBalance: '352'
                  - ownerAddress: '0xe2A83b15FC300D8457eB9E176f98d92a8FF40a49'
                    totalBalance: '250'
                    uniqueBalance: '250'
                  - ownerAddress: '0x3eb879cc9a0Ef4C6f1d870A40ae187768c278Da2'
                    totalBalance: '187'
                    uniqueBalance: '187'
                  - ownerAddress: '0xDBfD76AF2157Dc15eE4e57F3f942bB45Ba84aF24'
                    totalBalance: '167'
                    uniqueBalance: '167'
                  - ownerAddress: '0x08c1AE7E46D4A13b766566033b5C47c735e19F6f'
                    totalBalance: '92'
                    uniqueBalance: '92'
                  - ownerAddress: '0x98E711f31E49C2e50C1A290b6F2b1e493E43EA76'
                    totalBalance: '78'
                    uniqueBalance: '78'
                  - ownerAddress: '0xe3199072644455D19f58B1fd8106Ac80b3d2e780'
                    totalBalance: '76'
                    uniqueBalance: '76'
                  - ownerAddress: '0x020cA66C30beC2c4Fe3861a94E4DB4A498A35872'
                    totalBalance: '61'
                    uniqueBalance: '61'
                  - ownerAddress: '0x7eb413211a9DE1cd2FE8b8Bb6055636c43F7d206'
                    totalBalance: '49'
                    uniqueBalance: '49'
                  - ownerAddress: '0x4F773f3FC89b73B34FB57EBc667a245D5e3812F6'
                    totalBalance: '35'
                    uniqueBalance: '35'
                  - ownerAddress: '0xF02e86D9E0eFd57aD034FaF52201B79917fE0713'
                    totalBalance: '32'
                    uniqueBalance: '32'
                  - ownerAddress: '0x720A4FaB08CB746fC90E88d1924a98104C0822Cf'
                    totalBalance: '31'
                    uniqueBalance: '31'
                  - ownerAddress: '0xF22742F06e4F6d68A8d0B49b9F270bB56affAB38'
                    totalBalance: '29'
                    uniqueBalance: '29'
                  - ownerAddress: '0x7A9fe22691c811ea339D9B73150e6911a5343DcA'
                    totalBalance: '28'
                    uniqueBalance: '28'
                  - ownerAddress: '0x1CFB8a2e4c2e849593882213b2468E369271dad2'
                    totalBalance: '26'
                    uniqueBalance: '26'
                  - ownerAddress: '0xCA1257Ade6F4fA6c6834fdC42E030bE6C0f5A813'
                    totalBalance: '26'
                    uniqueBalance: '26'
                  - ownerAddress: '0xd66F8eAf84b11654a19126a98a3F55B960846Dd8'
                    totalBalance: '25'
                    uniqueBalance: '25'
                  - ownerAddress: '0x55e94E836f312D98171eFF73146926A5FA2A3B25'
                    totalBalance: '21'
                    uniqueBalance: '21'
        '400': *ref_3
        '401': *ref_4
        '403': *ref_5
        '404': *ref_6
        '429': *ref_7
  /{protocol}/{network}/nft/getNftHoldersByTokenId:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 NFT의 홀더 리스트를 조회합니다. 홀더 리스트에는 홀더의 주소와 홀더가 보유한 NFT의 수량이 포함됩니다.



        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - 하드포크 시점 이전에 배포된 NFT 컨트랙트의 홀더를 조회하는 경우, 반환된 목록이 실제 홀더 목록과 상이할 수 있습니다.

      summary: Get NFT Holders by Token ID
      operationId: getNftHoldersByTokenId
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddress:
                      type: string
                      description: >-
                        조회하고자 하는 컨트랙트 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의 16진수 문자열
                        형태로 입력할 수 있습니다.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      default: '0x7E6027a6A84fC1F6Db6782c523EFe62c923e46ff'
                    tokenId:
                      type: string
                      description: >-
                        조회하고자 하는 NFT 토큰의 ID를 지정하는 파라미터입니다. 10진수 문자열 형태로 입력할 수
                        있습니다.
                      pattern: ^[0-9]+$
                      default: >-
                        35454851340381403053777570024400663652390298901786737272698135080385313339362
                  required:
                    - contractAddress
                    - tokenId
                - *ref_8
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items: *ref_11
              example:
                rpp: 20
                cursor: null
                items:
                  - ownerAddress: '0x46EFbAedc92067E6d60E84ED6395099723252496'
                    totalBalance: '1'
                    uniqueBalance: '1'
        '400': *ref_3
        '401': *ref_4
        '403': *ref_5
        '404': *ref_6
        '429': *ref_7
  /{protocol}/{network}/nft/getNftMetadataByContract:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 컨트랙트에서 발행된 NFT의 메타데이터 목록을 조회합니다.



        > 📘 NFT Metadata와 Token URI란 무엇인가요?

        >

        > NFT는 디지털 자산의 소유권과 고유성을 보장하는 기술로, NFT의 메타데이터는 이 자산의 정보를 저장하는 핵심적인
        부분입니다. 메타데이터는 NFT의 본질을 설명하는 중요한 역할을 합니다.

        > 1. NFT Metadata

        > NFT의 창작자, 발행일, 속성(attributes), 미디어 파일(e.g., 이미지, 영상) 등을 포함합니다. 이러한
        메타데이터는 NFT를 단순한 디지털 파일 이상의 고유한 자산으로 만들어 주며, NFT의 희소성이나 고유한 특성을 정의합니다.

        > 2. Token URI

        > 블록체인에 데이터를 저장하는 것은 많은 비용이 들기 때문에, 메타데이터와 미디어 파일은 블록체인에 저장되지 않고 IPFS나
        S3 같은 외부 저장소에 보관됩니다. Token URI는 이런 외부 저장소에 있는 메타데이터 파일의 위치를 가리키는 필드로, 해당
        URI를 통해 메타데이터에 접근하게 됩니다. 즉, Token URI는 메타데이터와 미디어 파일을 연결하여, 블록체인 상의 정보와
        실제 콘텐츠 간의 연결 고리 역할을 합니다.





        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - 하드포크 시점 이전에 배포된 NFT 컨트랙트를 입력한 경우, 발행된 NFT가 조회되지 않을 수 있습니다.

      summary: Get NFT Metadata by Contract
      operationId: getNftMetadataByContract
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    contractAddress:
                      type: string
                      description: >-
                        조회하고자 하는 컨트랙트 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의 16진수 문자열
                        형태로 입력할 수 있습니다.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      default: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                  required:
                    - contractAddress
                - *ref_8
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - &ref_12
                          type: object
                          required:
                            - tokenId
                            - tokenUri
                            - tokenUriSyncedAt
                            - rawMetadata
                            - metadataSyncedAt
                          properties:
                            tokenId:
                              type: string
                              description: >-
                                NFT 토큰의 고유 ID를 나타내는 필드입니다. 이 ID는 해당 NFT를 식별하는 데
                                사용됩니다.
                            tokenUri:
                              type: string
                              description: >-
                                NFT의 원본 메타데이터가 위치한 URI를 나타냅니다. 컨트랙트 구현에 따라 다르지만,
                                일반적으로 IPFS 주소나 웹 URL 형식으로 제공됩니다.
                            tokenUriSyncedAt:
                              type: string
                              description: NFT의 tokenUri가 동기화 된 시점을 나타내는 필드입니다.
                            rawMetadata:
                              type: string
                              description: NFT의 rawMetadata를 나타내는 필드입니다.
                            metadataSyncedAt:
                              type: string
                              description: NFT의 metadata가 동기화 된 시점을 나타내는 필드입니다.
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_1
                                - *ref_2
              example:
                rpp: 20
                cursor: >-
                  W3sia2V5IjoidG9rZW5JZCIsIm9yZGVyIjoiQVNDIiwiZXF1YWwiOmZhbHNlLCJwb2ludCI6IjE5In1d
                items:
                  - tokenId: '0'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/0
                    tokenUriSyncedAt: '2023-05-24T05:04:34.482Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmRRPWG96cmgTn2qSzjwr2qvfNEuhunv6FNeMFGa9bx6mQ","attributes":[{"trait_type":"Earring","value":"Silver
                      Hoop"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Fur","value":"Robot"},{"trait_type":"Clothes","value":"Striped
                      Tee"},{"trait_type":"Mouth","value":"Discomfort"},{"trait_type":"Eyes","value":"X
                      Eyes"}]}
                    metadataSyncedAt: '2023-05-24T05:04:34.482Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '1'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1
                    tokenUriSyncedAt: '2023-05-24T05:04:34.383Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi","attributes":[{"trait_type":"Mouth","value":"Grin"},{"trait_type":"Clothes","value":"Vietnam
                      Jacket"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"Blue
                      Beams"},{"trait_type":"Fur","value":"Robot"}]}
                    metadataSyncedAt: '2023-05-24T05:04:34.383Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '2'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/2
                    tokenUriSyncedAt: '2023-05-24T05:04:34.453Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmcJYkCKK7QPmYWjp4FD2e3Lv5WCGFuHNUByvGKBaytif4","attributes":[{"trait_type":"Eyes","value":"3d"},{"trait_type":"Mouth","value":"Bored
                      Cigarette"},{"trait_type":"Fur","value":"Robot"},{"trait_type":"Hat","value":"Sea
                      Captain's
                      Hat"},{"trait_type":"Background","value":"Aquamarine"}]}
                    metadataSyncedAt: '2023-05-24T05:04:34.453Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '3'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/3
                    tokenUriSyncedAt: '2023-05-24T05:00:55.121Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmYxT4LnK8sqLupjbS6eRvu1si7Ly2wFQAqFebxhWntcf6","attributes":[{"trait_type":"Background","value":"Purple"},{"trait_type":"Eyes","value":"Bored"},{"trait_type":"Mouth","value":"Tongue
                      Out"},{"trait_type":"Clothes","value":"Bone
                      Necklace"},{"trait_type":"Fur","value":"Cheetah"}]}
                    metadataSyncedAt: '2023-05-24T05:00:55.121Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '4'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/4
                    tokenUriSyncedAt: '2023-05-24T05:01:17.540Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmSg9bPzW9anFYc3wWU5KnvymwkxQTpmqcRSfYj7UmiBa7","attributes":[{"trait_type":"Clothes","value":"Navy
                      Striped Tee"},{"trait_type":"Mouth","value":"Phoneme
                      L"},{"trait_type":"Hat","value":"Party Hat
                      2"},{"trait_type":"Fur","value":"Golden
                      Brown"},{"trait_type":"Eyes","value":"Closed"},{"trait_type":"Background","value":"Blue"}]}
                    metadataSyncedAt: '2023-05-24T05:01:17.540Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '5'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/5
                    tokenUriSyncedAt: '2023-05-24T05:00:59.838Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmNwbd7ctEhGpVkP8nZvBBQfiNeFKRdxftJAxxEdkUKLcQ","attributes":[{"trait_type":"Hat","value":"Bayc
                      Flipped Brim"},{"trait_type":"Eyes","value":"X
                      Eyes"},{"trait_type":"Fur","value":"Brown"},{"trait_type":"Background","value":"Army
                      Green"},{"trait_type":"Clothes","value":"Bayc T
                      Red"},{"trait_type":"Mouth","value":"Dumbfounded"}]}
                    metadataSyncedAt: '2023-05-24T05:00:59.838Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '6'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/6
                    tokenUriSyncedAt: '2023-05-24T05:00:03.479Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmWBgfBhyVmHNhBfEQ7p1P4Mpn7pm5b8KgSab2caELnTuV","attributes":[{"trait_type":"Clothes","value":"Tweed
                      Suit"},{"trait_type":"Mouth","value":"Bored"},{"trait_type":"Fur","value":"Cream"},{"trait_type":"Eyes","value":"Crazy"},{"trait_type":"Background","value":"Yellow"},{"trait_type":"Hat","value":"S&m
                      Hat"}]}
                    metadataSyncedAt: '2023-05-24T05:00:03.479Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '7'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/7
                    tokenUriSyncedAt: '2023-05-24T05:04:13.848Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmRsJLrg27GQ1ZWyrXZFuJFdU5bapfzsyBfm3CAX1V1bw6","attributes":[{"trait_type":"Background","value":"Gray"},{"trait_type":"Hat","value":"Stuntman
                      Helmet"},{"trait_type":"Eyes","value":"Angry"},{"trait_type":"Mouth","value":"Bored"},{"trait_type":"Clothes","value":"Wool
                      Turtleneck"},{"trait_type":"Fur","value":"Golden Brown"}]}
                    metadataSyncedAt: '2023-05-24T05:04:13.848Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '8'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/8
                    tokenUriSyncedAt: '2023-05-24T05:01:42.656Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmXEqPbvM4aq1SQSXN8DSuEcSo5SseYW1izYQbsGB8yn9x","attributes":[{"trait_type":"Mouth","value":"Bored"},{"trait_type":"Background","value":"Aquamarine"},{"trait_type":"Hat","value":"Beanie"},{"trait_type":"Earring","value":"Gold
                      Stud"},{"trait_type":"Eyes","value":"Robot"},{"trait_type":"Fur","value":"Zombie"}]}
                    metadataSyncedAt: '2023-05-24T05:01:42.656Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '9'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/9
                    tokenUriSyncedAt: '2023-05-24T05:02:11.410Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmUQgKka8EW7exiUHnMwZ4UoXA11wV7NFjHAogVAbasSYy","attributes":[{"trait_type":"Earring","value":"Silver
                      Stud"},{"trait_type":"Eyes","value":"Sleepy"},{"trait_type":"Mouth","value":"Small
                      Grin"},{"trait_type":"Fur","value":"Brown"},{"trait_type":"Hat","value":"Seaman's
                      Hat"},{"trait_type":"Clothes","value":"Stunt
                      Jacket"},{"trait_type":"Background","value":"Purple"}]}
                    metadataSyncedAt: '2023-05-24T05:02:11.410Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '10'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/10
                    tokenUriSyncedAt: '2023-05-24T05:03:02.300Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmPQdVU1riwzijhCs1Lk6CHmDo4LpmwPPLuDauY3i8gSzL","attributes":[{"trait_type":"Clothes","value":"Navy
                      Striped
                      Tee"},{"trait_type":"Background","value":"Aquamarine"},{"trait_type":"Hat","value":"Bayc
                      Hat
                      Red"},{"trait_type":"Fur","value":"Dmt"},{"trait_type":"Eyes","value":"Eyepatch"},{"trait_type":"Mouth","value":"Bored"}]}
                    metadataSyncedAt: '2023-05-24T05:03:02.300Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '11'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/11
                    tokenUriSyncedAt: '2023-05-24T05:03:21.279Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmVvdAbabZ2awja88uUhYHFuq67iEiroFuwLGM6HyiWcc8","attributes":[{"trait_type":"Background","value":"Gray"},{"trait_type":"Fur","value":"Dark
                      Brown"},{"trait_type":"Hat","value":"Laurel
                      Wreath"},{"trait_type":"Mouth","value":"Bored Unshaven
                      Cigarette"},{"trait_type":"Clothes","value":"Smoking
                      Jacket"},{"trait_type":"Eyes","value":"Bloodshot"}]}
                    metadataSyncedAt: '2023-05-24T05:03:21.279Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '12'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/12
                    tokenUriSyncedAt: '2023-05-24T05:04:33.267Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmexFWUtmFNGQwVuRN8dLLwcucSFoLYjeHkv2uAyan5H8t","attributes":[{"trait_type":"Background","value":"Army
                      Green"},{"trait_type":"Clothes","value":"Black Holes
                      T"},{"trait_type":"Hat","value":"Seaman's
                      Hat"},{"trait_type":"Eyes","value":"Wide
                      Eyed"},{"trait_type":"Fur","value":"Brown"},{"trait_type":"Mouth","value":"Discomfort"}]}
                    metadataSyncedAt: '2023-05-24T05:04:33.267Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '13'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/13
                    tokenUriSyncedAt: '2023-05-24T05:02:51.817Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmaZLhanFj41yfXY3Ux1JNv6ZAnzsWXfbJmo7qbJzZjh4s","attributes":[{"trait_type":"Fur","value":"Black"},{"trait_type":"Mouth","value":"Bored"},{"trait_type":"Clothes","value":"Bone
                      Tee"},{"trait_type":"Background","value":"Yellow"},{"trait_type":"Eyes","value":"Coins"},{"trait_type":"Hat","value":"Police
                      Motorcycle Helmet"}]}
                    metadataSyncedAt: '2023-05-24T05:02:51.817Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '14'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/14
                    tokenUriSyncedAt: '2023-05-24T05:04:04.162Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmbcWzteFsAvdwiaZyC1YJVNsApDaPRmqkQDyrYAvP4u48","attributes":[{"trait_type":"Mouth","value":"Small
                      Grin"},{"trait_type":"Earring","value":"Diamond
                      Stud"},{"trait_type":"Fur","value":"Cheetah"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"3d"},{"trait_type":"Clothes","value":"Tanktop"}]}
                    metadataSyncedAt: '2023-05-24T05:04:04.162Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '15'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/15
                    tokenUriSyncedAt: '2023-05-24T05:01:55.976Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmeGWaFNJyVpkr1LmkKye7qfUGwK9jTRW2sMxKnMDrJKtr","attributes":[{"trait_type":"Background","value":"Gray"},{"trait_type":"Fur","value":"Gray"},{"trait_type":"Eyes","value":"Zombie"},{"trait_type":"Mouth","value":"Phoneme
                      L"},{"trait_type":"Clothes","value":"Black
                      T"},{"trait_type":"Hat","value":"Girl's Hair Pink"}]}
                    metadataSyncedAt: '2023-05-24T05:01:55.976Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '16'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/16
                    tokenUriSyncedAt: '2023-05-24T05:03:20.603Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmapGf8z7u7f1SQv7P9r1LhjZh9B2BmmmCUS68kBjR8Fsa","attributes":[{"trait_type":"Mouth","value":"Dumbfounded"},{"trait_type":"Clothes","value":"Bone
                      Necklace"},{"trait_type":"Background","value":"Purple"},{"trait_type":"Hat","value":"Horns"},{"trait_type":"Earring","value":"Silver
                      Hoop"},{"trait_type":"Fur","value":"Dark
                      Brown"},{"trait_type":"Eyes","value":"Bored"}]}
                    metadataSyncedAt: '2023-05-24T05:03:20.603Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '17'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/17
                    tokenUriSyncedAt: '2023-05-24T05:02:00.668Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmdLhb2BktLpSuTYyWRywRoJMFpy3hQG8RA1KJtVXj7wUf","attributes":[{"trait_type":"Mouth","value":"Bored
                      Unshaven"},{"trait_type":"Background","value":"New Punk
                      Blue"},{"trait_type":"Eyes","value":"Closed"},{"trait_type":"Clothes","value":"Bayc
                      T Black"},{"trait_type":"Earring","value":"Gold
                      Stud"},{"trait_type":"Hat","value":"Commie
                      Hat"},{"trait_type":"Fur","value":"Tan"}]}
                    metadataSyncedAt: '2023-05-24T05:02:00.668Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '18'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/18
                    tokenUriSyncedAt: '2023-05-24T05:02:10.500Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmbUzseZbeM3nU6SUTQm979q7FGCMNWEqDKSZvaNUTodDk","attributes":[{"trait_type":"Mouth","value":"Bored
                      Cigarette"},{"trait_type":"Fur","value":"Robot"},{"trait_type":"Eyes","value":"Cyborg"},{"trait_type":"Background","value":"Purple"},{"trait_type":"Clothes","value":"Vietnam
                      Jacket"}]}
                    metadataSyncedAt: '2023-05-24T05:02:10.500Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                  - tokenId: '19'
                    tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/19
                    tokenUriSyncedAt: '2023-05-24T05:01:06.258Z'
                    rawMetadata: >-
                      {"image":"ipfs://QmRcuopgwX16miSpLtEkY5kzZS96iwwNMWjMUaqUeyA619","attributes":[{"trait_type":"Eyes","value":"Eyepatch"},{"trait_type":"Fur","value":"Tan"},{"trait_type":"Background","value":"Army
                      Green"},{"trait_type":"Hat","value":"Bayc Hat
                      Black"},{"trait_type":"Mouth","value":"Rage"}]}
                    metadataSyncedAt: '2023-05-24T05:01:06.258Z'
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
        '400': *ref_3
        '401': *ref_4
        '403': *ref_5
        '404': *ref_6
        '429': *ref_7
  /{protocol}/{network}/nft/getNftMetadataByTokenIds:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 NFT의 메타데이터를 조회합니다. 다수의 NFT를 조회할 수 있으며, 최대 100개의 NFT를 조회할 수 있습니다.



        > 📘 NFT Metadata와 Token URI란 무엇인가요?

        >

        > NFT는 디지털 자산의 소유권과 고유성을 보장하는 기술로, NFT의 메타데이터는 이 자산의 정보를 저장하는 핵심적인
        부분입니다. 메타데이터는 NFT의 본질을 설명하는 중요한 역할을 합니다.

        > 1. NFT Metadata

        > NFT의 창작자, 발행일, 속성(attributes), 미디어 파일(e.g., 이미지, 영상) 등을 포함합니다. 이러한
        메타데이터는 NFT를 단순한 디지털 파일 이상의 고유한 자산으로 만들어 주며, NFT의 희소성이나 고유한 특성을 정의합니다.

        > 2. Token URI

        > 블록체인에 데이터를 저장하는 것은 많은 비용이 들기 때문에, 메타데이터와 미디어 파일은 블록체인에 저장되지 않고 IPFS나
        S3 같은 외부 저장소에 보관됩니다. Token URI는 이런 외부 저장소에 있는 메타데이터 파일의 위치를 가리키는 필드로, 해당
        URI를 통해 메타데이터에 접근하게 됩니다. 즉, Token URI는 메타데이터와 미디어 파일을 연결하여, 블록체인 상의 정보와
        실제 콘텐츠 간의 연결 고리 역할을 합니다.





        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - 하드포크 시점 이전에 배포된 NFT 컨트랙트를 입력한 경우, 발행된 NFT가 조회되지 않을 수 있습니다.

      summary: Get NFT Metadata by Token IDs
      operationId: getNftMetadataByTokenIds
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    tokens:
                      type: array
                      items:
                        type: object
                        properties:
                          contractAddress:
                            type: string
                            description: >-
                              조회하고자 하는 컨트랙트 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의
                              16진수 문자열 형태로 입력할 수 있습니다.
                            pattern: ^0[xX][0-9a-fA-F]{40}$
                          tokenId:
                            type: string
                            description: >-
                              조회하고자 하는 NFT 토큰의 ID를 지정하는 파라미터입니다. 10진수 문자열 형태로
                              입력할 수 있습니다.
                            pattern: ^[0-9]+$
                        required:
                          - contractAddress
                          - tokenId
                      default:
                        - contractAddress: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                          tokenId: '1'
                        - contractAddress: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                          tokenId: '2'
                  required:
                    - tokens
                  maximum: 100
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - *ref_12
                    - type: object
                      properties:
                        contract:
                          allOf:
                            - *ref_1
                            - *ref_2
              example:
                - tokenId: '1'
                  tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1
                  tokenUriSyncedAt: '2024-03-12T11:51:35.467Z'
                  rawMetadata: >
                    {"image":"ipfs://QmPbxeGcXhYQQNgsC6a36dDyYUcHgMLnGKnF8pVFmGsvqi","attributes":[{"trait_type":"Mouth","value":"Grin"},{"trait_type":"Clothes","value":"Vietnam
                    Jacket"},{"trait_type":"Background","value":"Orange"},{"trait_type":"Eyes","value":"Blue
                    Beams"},{"trait_type":"Fur","value":"Robot"}]}
                  metadataSyncedAt: '2024-03-12T11:51:35.566Z'
                  contract:
                    address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                    deployedTransactionHash: >-
                      0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                    deployedAt: '2021-04-22T03:03:16.000Z'
                    deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                    logoUrl: null
                    type: ERC721
                    name: BoredApeYachtClub
                    symbol: BAYC
                - tokenId: '2'
                  tokenUri: ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/2
                  tokenUriSyncedAt: '2024-03-12T11:51:35.467Z'
                  rawMetadata: >
                    {"image":"ipfs://QmcJYkCKK7QPmYWjp4FD2e3Lv5WCGFuHNUByvGKBaytif4","attributes":[{"trait_type":"Eyes","value":"3d"},{"trait_type":"Mouth","value":"Bored
                    Cigarette"},{"trait_type":"Fur","value":"Robot"},{"trait_type":"Hat","value":"Sea
                    Captain's
                    Hat"},{"trait_type":"Background","value":"Aquamarine"}]}
                  metadataSyncedAt: '2024-03-12T11:51:35.581Z'
                  contract:
                    address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                    deployedTransactionHash: >-
                      0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                    deployedAt: '2021-04-22T03:03:16.000Z'
                    deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                    logoUrl: null
                    type: ERC721
                    name: BoredApeYachtClub
                    symbol: BAYC
        '400': *ref_3
        '401': *ref_4
        '403': *ref_5
        '404': *ref_6
        '429': *ref_7
  /{protocol}/{network}/nft/getNftTransfersByAccount:
    post:
      security:
        - api_key: []
      tags:
        - NFT API
      description: >+
        특정 주소가 전송 혹은 수신한 NFT 전송 목록을 조회합니다. 조회 결과에는 컨트랙트 메타데이터와 NFT 메타데이터가 포함됩니다.



        > 🚧 Kaia를 사용하시나요? 사용 전 꼭 확인하세요!

        >

        > Kaia는 Klaytn과 Finschia의 합병으로 탄생한 체인으로, 기존 Klaytn에서 하드포크된 체인입니다. 본 API는
        하드포크 이후 데이터에 대한 정합성을 보장하지만, 하드포크 이전의 Klaytn 데이터는 조회 및 정합성을 보장하지 않습니다.

        > Kaia 네트워크의 하드포크 블록은 아래와 같습니다.

        > - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

        > - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

        >

        > 예를 들어, 다음과 같은 동작은 정상 동작으로 간주됩니다. 

        > - NFT의 전송 내역을 조회할 때, 하드포크 시점 이전에 전송된 이력은 반환하지 않습니다.

      summary: Get NFT Transfers By Account
      operationId: getNftTransfersByAccount
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - base
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - optimism
              - polygon
              - luniverse
            default: ethereum
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
              - sepolia
              - hoodi
              - amoy
              - testnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        조회하고자 하는 계정의 주소를 지정하는 파라미터입니다. 0x로 시작하는 40자리의 16진수 문자열
                        형태로 입력할 수 있습니다.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      default: '0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045'
                    relation: &ref_32
                      type: string
                      description: |-
                        조회 대상 계정 주소가 송신자 또는 수신자에 속한 트랜잭션만 필터링하기 위한 파라미터입니다.  
                        - from: 송신자로만 필터링.  
                        - to: 수신자로만 필터링.  
                        - both(기본값): from과 to에 하나라도 포함된 모든 트랜잭션이 조회됩니다.
                      enum:
                        - from
                        - to
                        - both
                      pattern: from|to|both
                      default: both
                    contractAddresses: *ref_13
                    fromBlock: &ref_14
                      type: string
                      description: >+
                        조회 시작 블록을 지정하는 파라미터입니다. 다음 형식 중 하나를 입력할 수 있습니다:  

                        - block number: 10진수 문자열로 블록 번호를 입력.  

                        - block hash: 64자리 16진수("0x" 포함).  

                        - block tag: "earliest" 또는 "latest"를 사용하여 첫 번째 블록 또는 최신
                        블록을 지정.


                        유의사항: 

                        - toBlock 없이 제공하면, 해당 블록부터 최신 블록까지 결과를 조회합니다.  

                        - fromBlock 값은 toBlock 값보다 클 수 없습니다.  

                        - fromBlock과 toBlock에 동일한 값을 입력하면, 해당 블록만 조회됩니다.  

                        - fromBlock에 "latest"는 toBlock이 "latest"일 때만 허용됩니다.


                        Kaia의 경우, "earliest"를 입력시 Kaia 하드포크 시점의 블록이 조회가 됩니다.

                        - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)

                        - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19
                        UTC+9)

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    toBlock: &ref_15
                      type: string
                      description: >-
                        조회 종료 블록을 지정하는 파라미터입니다. 다음 형식 중 하나를 입력할 수 있습니다:  

                        - block number: 10진수 문자열로 블록 번호를 입력.  

                        - block hash: 64자리 16진수("0x" 포함).  

                        - block tag: "earliest" 또는 "latest"를 사용하여 첫 번째 블록 또는 최신
                        블록을 지정.


                        유의사항:  

                        - fromBlock 없이 제공하면, genesis block부터 해당 블록까지 결과를
                        조회합니다.  

                        - toBlock 값은 fromBlock 값보다 작을 수 없습니다.  

                        - fromBlock과 toBlock에 동일한 값을 입력하면, 해당 블록만 조회됩니다.  

                        - toBlock에 "earliest"는 fromBlock이 "earliest"일 때만 허용됩니다.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate: &ref_16
                      type: string
                      description: >-
                        조회 시작 날짜를 지정하는 파라미터입니다. 날짜는 ISO 8601
                        형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 초 단위까지 입력해야
                        합니다.  


                        유의사항:  

                        - toDate 없이 제공하면, 해당 날짜부터 최신 블록까지 결과를 조회합니다.  

                        - fromDate 값은 toDate 값과 같거나 더 과거의 값을 가져야 합니다.

                        - fromDate와 toDate에 동일한 값을 입력하면, 해당 날짜에서 발생한 블록만 조회됩니다.

                        - 이 필드는 fromBlock, toBlock과 함께 사용할 수 없습니다.  
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      default: '2025-01-01T00:00:00+00:00'
                    toDate: &ref_17
                      type: string
                      description: >-
                        조회 종료 날짜를 지정하는 파라미터입니다. 날짜는 ISO 8601
                        형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 초 단위까지 입력해야
                        합니다.  


                        유의사항:  

                        - fromDate 없이 제공하면, genesis block부터 해당 날짜까지 결과를 조회합니다.  

                        - toDate 값은 fromDate 값과 같거나 더 미래의 값을 가져야 합니다.

                        - fromDate와 toDate에 동일한 값을 입력하면, 해당 날짜에서 발생한 블록만 조회됩니다.

                        - 이 필드는 fromBlock, toBlock과 함께 사용할 수 없습니다.  
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      default: '2025-01-31T00:00:00+00:00'
                  required:
                    - accountAddress
                - *ref_8
                - type: object
                  properties:
                    withMetadata: &ref_18
                      type: boolean
                      description: >-
                        응답에 NFT 토큰 메타데이터 관련 필드(rawMetadata, metadataSyncedAt)의
                        포함 여부를 지정하는 파라미터입니다. 이 파라미터에 true를 입력한 경우, 응답속도가 느려질 수
                        있습니다.
                      default: false
                    withZeroValue: &ref_19
                      type: boolean
                      description: >-
                        응답에 value가 0인 결과를 포함하는지 여부를 지정하는 파라미터입니다. 더 빠른 응답을 원한다면
                        이 파라미터를 true로 설정하세요.
                      default: false
                    withFunction: &ref_20
                      type: boolean
                      description: >-
                        응답에 function 필드의 포함 여부를 지정하는 파라미터입니다. 이 파라미터에 true를 입력한
                        경우, 응답속도가 느려질 수 있습니다.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - &ref_21
                          type: object
                          required:
                            - from
                            - to
                            - value
                            - timestamp
                            - blockNumber
                            - transactionHash
                            - logIndex
                          properties:
                            from:
                              type: string
                              description: >-
                                토큰이 전송된 주소를 나타내는 필드입니다. 0x로 시작하는 40자리의 16진수 문자열
                                형태로 제공됩니다.
                              pattern: ^0[xX][0-9a-fA-F]{40}$
                            to:
                              type: string
                              description: >-
                                토큰을 전송받은 주소를 나타내는 필드입니다. 0x로 시작하는 40자리의 16진수 문자열
                                형태로 제공됩니다.
                              pattern: ^0[xX][0-9a-fA-F]{40}$
                            value:
                              type: string
                              description: 전송한 토큰의 수량을 나타내는 필드입니다. 10진수 문자열 형태로 제공됩니다.
                              pattern: ^[0-9]+$
                            timestamp:
                              type: integer
                              description: >-
                                토큰 전송이 발생한 시간을 나타내는 필드입니다. 이 필드는 UNIX 타임스탬프로
                                제공됩니다.
                            blockNumber:
                              type: integer
                              description: 토큰 전송이 발생한 블록 번호를 나타내는 필드입니다.
                            transactionHash:
                              type: string
                              description: >-
                                토큰 전송 트랜잭션의 해시를 나타내는 필드입니다. 0x로 시작하는 64자리 16진수
                                문자열 형태로 제공됩니다.
                            logIndex:
                              type: integer
                              description: >-
                                토큰 전송 트랜잭션의 로그 인덱스를 나타내는 필드입니다. 트랜잭션에서 발생한 이벤트의
                                순서를 의미합니다.
                            batchIndex:
                              type: integer
                              description: >-
                                토큰 전송 트랜잭션의 배치 인덱스를 나타내는 필드입니다. 이 필드는 ERC1155 토큰
                                전송에 대한 응답에만 포함됩니다.
                            function:
                              type: object
                              description: >-
                                Transfer가 포함된 트랜잭션에서 호출된 함수의 정보를 나타내는 필드입니다. 이
                                필드는 withFunction 파라미터에 true를 입력한 경우에만 응답에 포함됩니다.
                              required:
                                - selector
                                - input
                              properties:
                                selector: &ref_78
                                  type: string
                                  description: >-
                                    호출된 함수를 식별하는 4바이트 함수 셀렉터 값입니다. 함수 셀렉터는 함수
                                    시그니처를 Keccak-256 해싱한 결과의 앞 4바이트를 의미합니다. 0x로
                                    시작하는 8자리의 16진수 문자열 형태로 제공됩니다.
                                  pattern: ^0[xX][0-9a-fA-F]{8}
                                name:
                                  type: string
                                  description: 호출 함수의 이름을 나타내는 필드입니다.
                                signature:
                                  type: string
                                  description: '호출 함수의 시그니처를 나타내는 필드입니다. '
                                args:
                                  type: array
                                  description: 호출 함수의 인자를 나타내는 필드입니다.
                                  items: &ref_77
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: 인자의 이름을 나타내는 필드입니다.
                                      type:
                                        type: string
                                        description: 인자의 타입을 나타내는 필드입니다.
                                      value:
                                        type: string
                                        description: 인자의 값을 나타내는 필드입니다.
                                input:
                                  type: string
                                  description: >-
                                    함수의 입력 데이터를 나타내는 필드입니다. 0x로 시작하는 16진수 문자열
                                    형태로 제공됩니다.
                                  pattern: ^0[xX][0-9a-fA-F]+$
                        - type: object
                          properties:
                            contract:
                              allOf:
                                - *ref_1
                                - *ref_2
                            nft: &ref_22
                              type: object
                              required:
                                - tokenId
                                - tokenUri
                                - tokenUriSyncedAt
                              properties:
                                tokenId:
                                  type: string
                                  description: >-
                                    NFT 토큰의 고유 ID를 나타내는 필드입니다. 이 ID는 해당 NFT를
                                    식별하는 데 사용됩니다.
                                tokenUri:
                                  type: string
                                  description: >-
                                    NFT의 원본 메타데이터가 위치한 URI를 나타냅니다. 컨트랙트 구현에 따라
                                    다르지만, 일반적으로 IPFS 주소나 웹 URL 형식으로 제공됩니다.
                                tokenUriSyncedAt:
                                  type: string
                                  description: NFT의 tokenUri가 동기화 된 시점을 나타내는 필드입니다.
                                rawMetadata:
                                  type: string
                                  description: >-
                                    NFT의 rawMetadata를 나타내는 필드입니다. 이 필드는
                                    withMetadata 파라미터에 true를 입력한 경우에만 응답에 포함됩니다.
                                metadataSyncedAt:
                                  type: string
                                  description: >-
                                    NFT의 metadata가 동기화 된 시점을 나타내는 필드입니다. 이 필드는
                                    withMetadata 파라미터에 true를 입력한 경우에만 응답에 포함됩니다.
              example:
                rpp: 20
                cursor: >-
                  eyJzb3J0IjpbImJsb2NrX3RpbWVzdGFtcDpkZXNjIiwibG9nX2luZGV4OmRlc2MiLCJiYXRjaF9pbmRleDpkZXNjIl0sInNlYXJjaEFmdGVyIjpbMTY3ODI0NTM0NzAwMCwiMjYiLDBdfQ==
                items:
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1708400771
                    blockNumber: 19266327
                    transactionHash: >-
                      0x63ecb4b604543b96b304e2fc72907884672be6dfea08f1e2791d32efa1954bd7
                    logIndex: 170
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '9165'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/9165
                      tokenUriSyncedAt: '2023-05-24T05:00:30.907Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1708400711
                    blockNumber: 19266322
                    transactionHash: >-
                      0x2b2c84a0eae972d68f86144dd24927aab937e2e6d1e82744940ccfb3b8fe759b
                    logIndex: 202
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '264'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/264
                      tokenUriSyncedAt: '2023-05-24T05:00:31.539Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1708400615
                    blockNumber: 19266314
                    transactionHash: >-
                      0x3b22a63d0429b0fc4efdc944f3856e85c47f8ae474131a35170bd6222bc2617f
                    logIndex: 614
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '820'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/820
                      tokenUriSyncedAt: '2023-05-24T05:00:31.546Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1708400459
                    blockNumber: 19266301
                    transactionHash: >-
                      0x6fac887d244b1254b515d838f07bcba60ce792f40085ecb398d4c4fe6ad26986
                    logIndex: 312
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '3048'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/3048
                      tokenUriSyncedAt: '2023-05-24T05:00:31.550Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1708400387
                    blockNumber: 19266295
                    transactionHash: >-
                      0x947b3b4dc9dd8dcb0f6d4fec5c66fe62c807750c07704ce92ae667ae24b798a4
                    logIndex: 232
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '4712'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/4712
                      tokenUriSyncedAt: '2023-05-24T05:00:31.484Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1708400303
                    blockNumber: 19266288
                    transactionHash: >-
                      0xb4b6e44d57d835647c8aa1e53db5c633962aa91ff280a759970bdad87f6fdfb5
                    logIndex: 475
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '8693'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/8693
                      tokenUriSyncedAt: '2023-05-24T05:00:30.963Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1707461783
                    blockNumber: 19188927
                    transactionHash: >-
                      0xac2e3f306f6f5ceab89d9dc0169a23d68966a6ae6726d319f19ac1190fbc15d8
                    logIndex: 307
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '7689'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/7689
                      tokenUriSyncedAt: '2023-05-24T05:00:30.997Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1707461483
                    blockNumber: 19188902
                    transactionHash: >-
                      0xbd7f0c216bc7e4d18fa4ca2e689ececcb2e039e081b1ba54055e0f4bf75d2624
                    logIndex: 257
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '5481'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/5481
                      tokenUriSyncedAt: '2023-05-24T05:00:31.501Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1707461363
                    blockNumber: 19188892
                    transactionHash: >-
                      0x0a95dbc381186a4cee7ae99e4f4b4e7084387adc67477031e2bfd9da0529929f
                    logIndex: 221
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '5267'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/5267
                      tokenUriSyncedAt: '2023-05-24T05:00:31.621Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1707461171
                    blockNumber: 19188876
                    transactionHash: >-
                      0xb7356cdf615a9021f9b66b140510ec28b0025e3ad5fdbc82f3bf1a6102086507
                    logIndex: 304
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '4715'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/4715
                      tokenUriSyncedAt: '2023-05-24T05:00:31.552Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1707461039
                    blockNumber: 19188866
                    transactionHash: >-
                      0x82b0ba83027a3bd8d2aa3b22e0f632f90d217bf37564e05ee7dd48b0efda89e3
                    logIndex: 281
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '3462'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/3462
                      tokenUriSyncedAt: '2023-05-24T05:00:31.498Z'
                  - from: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    to: '0x13F8A4d665cF2b09A2DDb8c3446eB73e94115296'
                    value: '1'
                    timestamp: 1707460691
                    blockNumber: 19188837
                    transactionHash: >-
                      0x3dd31ce42bb428dc5e82425f81f424de2293a559f71e6fc7b9003a51476870e1
                    logIndex: 845
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '1472'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/1472
                      tokenUriSyncedAt: '2023-05-24T05:00:31.548Z'
                  - from: '0xddd3d68c069e2260aa425220b090fCf6e985EdDa'
                    to: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    value: '1'
                    timestamp: 1678246787
                    blockNumber: 16780927
                    transactionHash: >-
                      0xd35c8dd3e55fac74645a79a99defa4a24dc04450bbfb54cdea16f6ebe12bcf70
                    logIndex: 10
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '9165'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/9165
                      tokenUriSyncedAt: '2023-05-24T05:00:30.907Z'
                  - from: '0xddd3d68c069e2260aa425220b090fCf6e985EdDa'
                    to: '0x951dA59C1f29D11990c1307301A44608688d99Ec'
                    value: '1'
                    timestamp: 1678246691
                    blockNumber: 16780920
                    transactionHash: >-
                      0x364354836692cc2582249b4fbec4fee965c0f56f8e3db37d7227b560ce458227
                    logIndex: 15
                    contract:
                      address: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'
                      deployedTransactionHash: >-
                        0x22199329b0aa1aa68902a78e3b32ca327c872fab166c7a2838273de6ad383eba
                      deployedAt: '2021-04-22T03:03:16.000Z'
                      deployerAddress: '0xaBA7161A7fb69c88e16ED9f455CE62B791EE4D03'
                      logoUrl: null
                      type: ERC721
                      name: BoredApeYachtClub
                      symbol: BAYC
                    nft:
                      tokenId: '8877'
                      tokenUri: >-
                        ipfs://QmeSjSinHpPnmXmspMjwiXyN6zS4E9zccariGR3jxcaWtq/8877
                      tokenUriSyncedAt: '2023-05-24T05:00:30.985Z'
                  - from: '0xddd3d68c069e2260aa425220b090fCf6e985EdDa'
[...]
