openapi: 3.1.0
info:
  title: xrpl
  version: 1.2.6
servers:
  - url: https://web3.nodit.io/v1
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: >-
        The default value, `nodit-demo`, is only for use in the developer
        documentation. For real applications or services, use the API key
        obtained from the Nodit console.
paths:
  /{protocol}/{network}/token/getTokenBalanceChangesByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 계정의 IOU 토큰 잔고 변동 내역을 조회합니다.

      summary: Get Token Balance Changes by Account
      operationId: xrpl-getTokenBalanceChangesByAccount
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        잔고를 조회할 계정의 주소를 지정하는 파라미터로, 25~35자리 길이의 Base58 인코딩 문자열이며
                        항상 "r"로 시작합니다.
                      pattern: ^r[1-9A-HJ-NP-Za-km-z]{25,35}$
                      default: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                    currency: &ref_0
                      type: string
                      description: >-
                        조회하고자 하는 화폐의 심볼을 지정하는 파라미터로, 예를 들어 "USD"나 "EUR"처럼
                        ISO-4217 형식의 문자열을 입력할 수 있습니다.
                      default: USD
                    issuer: &ref_1
                      type: string
                      description: >-
                        조회하고자 하는 화폐의 발행자를 지정하는 파라미터로, 25~35자리 길이의 Base58 인코딩
                        문자열("r"로 시작)을 사용해 발행자 계정 주소를 입력합니다.
                      default: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                    fromLedger: &ref_2
                      type: string
                      description: >-
                        조회 시작 원장을 지정하는 파라미터입니다. 다음 형식 중 하나를 입력할 수 있습니다:  

                        - **ledger index**: 10진수 문자열로 원장 번호 입력  

                        - **ledger hash**: 64자리 16진수 문자열 (0x 접두사 제외)  

                        - **ledger tag**: "earliest" 또는 "latest" 입력 (가장 오래된 원장
                        또는 최신 원장)


                        유의사항:  

                        - toLedger 없이 제공하면, 해당 원장부터 최신 원장까지 결과를 조회합니다.  

                        - fromLedger 값은 toLedger 값보다 클 수 없습니다.  

                        - fromLedger과 toLedger에 동일한 값을 입력하면, 해당 원장만 조회합니다.  

                        - fromLedger에 "latest"는 toLedger가 "latest"일 때만 허용됩니다.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    toLedger: &ref_3
                      type: string
                      description: >-
                        조회 종료 원장을 지정하는 파라미터입니다. 다음 형식 중 하나를 입력할 수 있습니다:  

                        - **ledger index**: 10진수 문자열로 원장 번호 입력  

                        - **ledger hash**: 64자리 16진수 문자열 (0x 접두사 제외)  

                        - **ledger tag**: "earliest" 또는 "latest" 입력 (가장 오래된 원장
                        또는 최신 원장)


                        유의사항:  

                        - fromLedger 없이 제공하면, genesis 원장부터 해당 원장까지 결과를 조회합니다.  

                        - toLedger 값은 fromLedger 값보다 작을 수 없습니다.  

                        - fromLedger과 toLedger에 동일한 값을 입력하면, 해당 원장만 조회합니다.  

                        - toLedger에 "earliest"는 fromLedger가 "earliest"일 때만
                        허용됩니다.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate: &ref_4
                      type: string
                      description: "조회 시작 날짜를 지정하는 파라미터입니다. 날짜는 ISO\_8601 형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 초 단위까지 입력해야 합니다.\n\n유의사항:  \n- toDate 없이 제공하면, 해당 날짜부터 최신 원장까지 결과를 조회합니다.  \n- fromDate 값은 toDate 값과 같거나 더 과거여야 합니다.  \n- fromDate와 toDate가 동일하면, 해당 날짜에 발생한 원장만 조회합니다.  \n- 이 필드는 fromLedger, toLedger와 함께 사용할 수 없습니다."
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      default: '2025-01-01T00:00:00+00:00'
                    toDate: &ref_5
                      type: string
                      description: "조회 종료 날짜를 지정하는 파라미터입니다. 날짜는 ISO\_8601 형식(YYYY-MM-DDThh:mm:ss{time zone})을 따라야 하며, 초 단위까지 입력해야 합니다.\n\n유의사항:  \n- fromDate 없이 제공하면, genesis 원장 생성 시점부터 해당 날짜까지 결과를 조회합니다.  \n- toDate 값은 fromDate 값과 같거나 더 미래여야 합니다.  \n- fromDate와 toDate가 동일하면, 해당 날짜에 발생한 원장만 조회합니다.  \n- 이 필드는 fromLedger, toLedger와 함께 사용할 수 없습니다."
                      pattern: >-
                        ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      default: '2025-01-31T00:00:00+00:00'
                  required:
                    - accountAddress
                - &ref_6
                  type: object
                  properties:
                    page:
                      type: integer
                      description: >-
                        page 파라미터는 조회하려는 데이터 페이지를 지정하는 데 사용됩니다. 이 파라미터는 100 이하의
                        값을 받으며, 100을 초과하는 페이지가 필요한 경우 cursor 페이지네이션 방식을 사용해야
                        합니다.



                        page 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두
                        빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: >-
                        rpp는 results per page의 약자로, 한 페이지의 사이즈를 지정하는 파라미터입니다.
                        0보다 크고 1000 이하의 숫자를 지정할 수 있습니다.
                      pattern: ^(?:[1-9][0-9]{0,2}?|1000)$
                    cursor:
                      type: string
                      description: "cursor 파라미터는 페이지네이션을 위한 파라미터로, 이전 페이지와 다음 페이지 간의 데이터 이동을 지원합니다. 이전 페이지에서 얻은 cursor 값을 다음 요청에 제공하면 다음 페이지의 데이터를 로드할 수 있습니다.\n\t\t\t\n\npage 파라미터와 cursor 파라미터는 동시에 사용할 수 없습니다. page와 cursor에 모두 빈 값을 입력한 경우, cursor 페이지네이션을 사용하는 것으로 간주합니다."
                    withCount:
                      type: boolean
                      description: >-
                        응답에 count 필드의 포함 여부를 지정하는 파라미터이며, count 필드는 요청한 데이터의 총
                        개수를 나타냅니다. 이 파라미터에 true를 입력한 경우, 응답에 count 필드가 포함되며
                        응답속도가 느려질 수 있습니다.
                      default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - &ref_13
                          type: object
                          required:
                            - ledgerIndex
                            - ledgerTimestamp
                            - transactionIndex
                            - transactionHash
                            - transactionType
                            - affectedNodesIndex
                            - account
                            - currency
                            - issuer
                            - previousBalance
                            - finalBalance
                            - changeValue
                          properties:
                            ledgerIndex:
                              type: integer
                              description: >-
                                Ledger의 생성 순서를 나타내는 정수값으로, 네트워크 상에서 해당 Ledger의
                                위치(시퀀스 번호)를 확인하는 데 사용됩니다. Balance Changes 조회
                                API에서 필수인 필드입니다.
                              example: 95444296
                            ledgerTimestamp:
                              type: integer
                              description: >-
                                Ledger의 close time을 실제 Unix 타임스탬프로 변환한 값입니다.
                                Ledger header에 기록된 close time은 Ripple
                                Epoch(2000년 1월 1일 00:00 UTC)부터 경과한 초 단위로 표현되며,
                                Unix Epoch(1970년 1월 1일 00:00 UTC) 기준과는
                                946,684,800초의 차이가 있습니다. 따라서 ledgerTimestamp는 기록된
                                close time에 946,684,800초를 더해 변환한 Unix 타임스탬프입니다.
                                Transfer 조회 API에서 필수인 필드입니다.
                              example: 1744608171
                            transactionIndex:
                              type: integer
                              description: >-
                                Ledger 내에서 해당 트랜잭션의 처리 순서를 나타내는 인덱스입니다. 이 값은
                                Ledger 내 트랜잭션들의 순서를 파악하는 데 사용됩니다. Balance
                                Changes 조회 API에서 필수인 필드입니다.
                              example: 2
                            transactionHash:
                              type: string
                              description: >-
                                트랜잭션을 고유하게 식별하는 256비트(64자리 16진수) 암호화 해시값입니다.
                                트랜잭션 데이터의 무결성 및 식별에 사용됩니다. Balance Changes 조회
                                API에서 필수인 필드입니다.
                              example: >-
                                8BAD7583234AC463E09D6CF160E352DFF5B008FC071DD5226A53809D89E7F409
                            transactionType:
                              type: string
                              description: >-
                                트랜잭션의 종류(Payment, OfferCreate, EscrowCreate 등)를
                                나타내는 문자열입니다. Transfer 조회 API에서 필수인 필드입니다.
                              example: OfferCreate
                            affectedNodesIndex: &ref_18
                              type: integer
                              description: AffectedNodes 배열 내에서 해당 노드의 인덱스를 나타냅니다.
                              example: 1
                            account: &ref_19
                              type: string
                              description: >-
                                트랜잭션으로 인해 잔액이 변경된 계정 주소입니다. 계정 주소는 25~35자리 길이의
                                Base58 인코딩 문자열로, 'r'로 시작하는 형식을 가집니다.
                              example: rf1BiGeXwwQoi8Z2ueFYTEXSwuJYfV2Jpn
                            currency: &ref_20
                              type: string
                              description: >-
                                자산의 통화 코드를 나타냅니다. 일반적으로 ISO 4217 표준 코드(예: "USD",
                                "EUR")를 사용하지만, 필요에 따라 160비트 커스텀 코드도 사용할 수 있습니다.
                                커스텀 코드는 40자리 길이의 16진수 문자열로 표현되며, 특정 프로젝트나 플랫폼에서
                                정의한 독자적인 자산(예: "SOLO")을 나타낼 때 사용됩니다. 한편, XRP의
                                경우에는 "XRP"라는 고정된 문자열이 currency 필드에 사용되며, IOU 자산과
                                동일한 구조로 반환됩니다. 
                              example: USD
                            issuer: &ref_21
                              type: string
                              description: >-
                                자산을 발행한 계정의 주소입니다. 동일한 통화 코드(currency)라 하더라도,
                                발행자에 따라 자산의 신뢰도와 위험성이 달라질 수 있습니다. 따라서 XRP
                                Ledger에서는 통화 코드와 발행자(issuer)의 조합으로 자산을 고유하게
                                식별합니다. 각 자산의 신뢰성은 발행자의 평판에 크게 좌우됩니다. 이 필드는
                                25~35자리 길이의 Base58 인코딩 문자열이며, 항상 'r'로 시작합니다. 단,
                                XRP는 네이티브 자산이므로 발행자가 없으며, 이 경우 issuer는 빈
                                문자열("")로 표시됩니다.
                              example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                            previousBalance: &ref_22
                              type: string
                              description: >-
                                변경 전 자산의 수량을 나타냅니다. XRP인 경우, XRP 단위로 표기되며 1 XRP는
                                1,000,000 drop에 해당합니다.
                              example: '1000.34'
                            finalBalance: &ref_23
                              type: string
                              description: >-
                                변경 후 자산의 수량을 나타냅니다. XRP인 경우, XRP 단위로 표기되며 1 XRP는
                                1,000,000 drop에 해당합니다.
                              example: '900.12'
                            balanceChange: &ref_24
                              type: string
                              description: >-
                                트랜잭션으로 인해 변경된 수량을 나타냅니다. 수량의 증감 여부를 포함하며, XRP인
                                경우 XRP 단위로 표기되며 1 XRP는 1,000,000 drop에 해당합니다.
                              example: '-100.22'
              example:
                rpp: 5
                page: 1
                count: 3386
                items:
                  - ledgerIndex: 95498175
                    ledgerTimestamp: 1744818571
                    transactionIndex: 43
                    transactionHash: >-
                      8E3E8ABB59D7542F16F54888554B199061490F785EE2E3740ECD2DD43AF8FBAF
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: SOLO
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    previousBalance: '101429.9495588203'
                    finalBalance: '101522.1919713255'
                    balanceChange: '92.2424125052'
                  - ledgerIndex: 95490755
                    ledgerTimestamp: 1744789590
                    transactionIndex: 0
                    transactionHash: >-
                      F56440CCD5DE51A3A768990753BB753BC24FF5F2BE46E0AAF433FFF5C9E26FD9
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: SOLO
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    previousBalance: '101337.6426715855'
                    finalBalance: '101429.9495588203'
                    balanceChange: '92.3068872348'
                  - ledgerIndex: 95490738
                    ledgerTimestamp: 1744789521
                    transactionIndex: 66
                    transactionHash: >-
                      62604C3F2C05A997503D99F7232D19F2F62922B322267164B5D9C844CA83F35B
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: SOLO
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    previousBalance: '100875.4118290633'
                    finalBalance: '101337.6426715855'
                    balanceChange: '462.2308425222'
                  - ledgerIndex: 95490724
                    ledgerTimestamp: 1744789470
                    transactionIndex: 54
                    transactionHash: >-
                      8EDE378EEA2EC7B4EF6B3FDC0AE32A47BE6E12EFBA3576675502C614283EE949
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: SOLO
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    previousBalance: '100412.7052204981'
                    finalBalance: '100875.4118290633'
                    balanceChange: '462.7066085652'
                  - ledgerIndex: 95490710
                    ledgerTimestamp: 1744789411
                    transactionIndex: 4
                    transactionHash: >-
                      0BE6D52585ABE2C8A6DE9D768370F990278D45D53A0D08E816ECECFBADE77F7E
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: SOLO
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    previousBalance: '99485.12162402596'
                    finalBalance: '100412.7052204981'
                    balanceChange: '927.58359647214'
        '400': &ref_7
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: INVALID_PARAMETER
                  message: >-
                    Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE,
                    PARAMETER2_NAME = PARAMETER2_VALUE, ... }
        '401': &ref_8
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: AUTHENTICATION_FAILED
                  message: Authentication failed
        '403': &ref_9
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: PERMISSION_DENIED
                  message: Permission denied
        '404': &ref_10
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: RESOURCE_NOT_FOUND
                  message: >-
                    Resource not found: { RESOURCE1_NAME = RESOURCE1_VALUE,
                    RESOURCE2_NAME = RESOURCE2_VALUE, ... }
        '429': &ref_11
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                example:
                  code: TOO_MANY_REQUESTS
                  message: Too many requests
  /{protocol}/{network}/token/getTokenTransfersByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+
        특정 계정 주소의 IOU 토큰 잔고 변동 내역을 조회합니다.

      summary: Get Token Transfers by Account
      operationId: xrpl-getTokenTransfersByAccount
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        잔고를 조회할 계정의 주소를 지정하는 파라미터로, 25~35자리 길이의 Base58 인코딩 문자열이며
                        항상 "r"로 시작합니다.
                      pattern: ^r[1-9A-HJ-NP-Za-km-z]{25,35}$
                      default: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                    relation:
                      type: string
                      description: |-
                        조회 대상 계정 주소가 송신자 또는 수신자에 속한 트랜잭션만 필터링하기 위한 파라미터입니다.  
                        - from: 송신자로만 필터링.  
                        - to: 수신자로만 필터링.  
                        - both(기본값): from과 to에 하나라도 포함된 모든 트랜잭션이 조회됩니다.
                      enum:
                        - from
                        - to
                        - both
                    currency: *ref_0
                    issuer: *ref_1
                    fromLedger: *ref_2
                    toLedger: *ref_3
                    fromDate: *ref_4
                    toDate: *ref_5
                  required:
                    - accountAddress
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - &ref_12
                          type: object
                          required: &ref_25
                            - affectedNodesIndex
                            - from
                            - to
                            - issuer
                            - currency
                            - value
                          properties: &ref_26
                            ledgerIndex:
                              type: integer
                              description: >-
                                Ledger의 생성 순서를 나타내는 정수값으로, 네트워크 상에서 해당 Ledger의
                                위치(시퀀스 번호)를 확인하는 데 사용됩니다. Transfer 조회 API에서 필수인
                                필드입니다.
                              example: 95444296
                            ledgerTimestamp:
                              type: integer
                              description: >-
                                Ledger의 close time을 실제 Unix 타임스탬프로 변환한 값입니다.
                                Ledger header에 기록된 close time은 Ripple
                                Epoch(2000년 1월 1일 00:00 UTC)부터 경과한 초 단위로 표현되며,
                                Unix Epoch(1970년 1월 1일 00:00 UTC) 기준과는
                                946,684,800초의 차이가 있습니다. 따라서 ledgerTimestamp는 기록된
                                close time에 946,684,800초를 더해 변환한 Unix 타임스탬프입니다.
                                Transfer 조회 API에서 필수인 필드입니다. Transfer 조회 API에서
                                필수인 필드입니다.
                              example: 1744608171
                            transactionIndex:
                              type: integer
                              description: >-
                                Ledger 내에서 해당 트랜잭션의 처리 순서를 나타내는 인덱스입니다. Transfer
                                조회 API에서 필수인 필드입니다.
                              example: 0
                            transactionHash:
                              type: string
                              description: >-
                                트랜잭션을 고유하게 식별하는 256비트(64자리 16진수) 암호화 해시값입니다.
                                트랜잭션 데이터의 무결성 및 식별에 사용됩니다. Transfer 조회 API에서 필수인
                                필드입니다.
                              example: >-
                                4770851929AD74B3EF36D818C7100564B2F3333AE60FA1B05BFAA95020D18D5B
                            transactionType:
                              type: string
                              description: >-
                                트랜잭션의 종류를 나타내는 문자열입니다. Payment, OfferCreate,
                                EscrowCreate 등 다양한 트랜잭션 유형을 구분하며, 처리 방식에 따라
                                분류됩니다. Transfer 조회 API에서 필수인 필드입니다.
                              example: Payment
                            affectedNodesIndex:
                              type: integer
                              description: AffectedNodes 배열 내에서 해당 노드의 인덱스를 나타냅니다.
                              example: 1
                            from:
                              type: string
                              description: >-
                                트랜잭션을 발생시킨 계정 주소입니다. 계정 주소는 25~35자리 길이의 Base58
                                인코딩 문자열로, 'r'로 시작하는 형식을 가집니다.
                              example: rLuSZRKfW2oFVDEHab6U7tBSfnzSovzcw4
                            to:
                              type: string
                              description: >-
                                트랜잭션의 수신 계정 주소입니다. 계정 주소는 25~35자리 길이의 Base58 인코딩
                                문자열로, 'r'로 시작하는 형식을 가집니다.
                              example: rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De
                            currency:
                              type: string
                              description: >-
                                자산의 통화 코드를 나타냅니다. 일반적으로 ISO 4217 표준 코드(예: "USD",
                                "EUR")를 사용하지만, 필요에 따라 160비트 커스텀 코드도 사용할 수 있습니다.
                                커스텀 코드는 40자리 길이의 16진수 문자열로 표현되며, 특정 프로젝트나 플랫폼에서
                                정의한 독자적인 자산(예: "SOLO")을 나타낼 때 사용됩니다. 한편, XRP의
                                경우에는 "XRP"라는 고정된 문자열이 currency 필드에 사용되며, IOU 자산과
                                동일한 구조로 반환됩니다. 
                              example: USD
                            issuer:
                              type: string
                              description: >-
                                자산을 발행한 계정의 주소입니다. 동일한 통화 코드(currency)라 하더라도,
                                발행자에 따라 자산의 신뢰도와 위험성이 달라질 수 있습니다. 따라서 XRP
                                Ledger에서는 통화 코드와 발행자(issuer)의 조합으로 자산을 고유하게
                                식별합니다. 각 자산의 신뢰성은 발행자의 평판에 크게 좌우됩니다. 이 필드는
                                25~35자리 길이의 Base58 인코딩 문자열이며, 항상 'r'로 시작합니다. 단,
                                XRP는 네이티브 자산이므로 발행자가 없으며, 이 경우 issuer는 빈
                                문자열("")로 표시됩니다.
                              example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                            value:
                              type: string
                              description: >-
                                자산의 수량을 문자열(string) 형태로 반환합니다. 수량 표현 방식은
                                currency 값에 따라 달라집니다. currency가 "XRP"인 경우, 이 값은
                                표준 XRP 단위로 표기되며, 1 XRP는 1,000,000 drop에 해당합니다.
                                IOU 자산의 경우에도 발행자가 정의한 정밀도(precision)를 기반으로
                                표현됩니다.
                              example: '100.5'
              example:
                rpp: 5
                page: 1
                count: 3386
                items:
                  - ledgerIndex: 95498175
                    ledgerTimestamp: 1744818571
                    transactionIndex: 43
                    transactionHash: >-
                      8E3E8ABB59D7542F16F54888554B199061490F785EE2E3740ECD2DD43AF8FBAF
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '92.2424125052'
                  - ledgerIndex: 95490755
                    ledgerTimestamp: 1744789590
                    transactionIndex: 0
                    transactionHash: >-
                      F56440CCD5DE51A3A768990753BB753BC24FF5F2BE46E0AAF433FFF5C9E26FD9
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '92.3068872348'
                  - ledgerIndex: 95490738
                    ledgerTimestamp: 1744789521
                    transactionIndex: 66
                    transactionHash: >-
                      62604C3F2C05A997503D99F7232D19F2F62922B322267164B5D9C844CA83F35B
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '462.2308425222'
                  - ledgerIndex: 95490724
                    ledgerTimestamp: 1744789470
                    transactionIndex: 54
                    transactionHash: >-
                      8EDE378EEA2EC7B4EF6B3FDC0AE32A47BE6E12EFBA3576675502C614283EE949
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '462.7066085652'
                  - ledgerIndex: 95490710
                    ledgerTimestamp: 1744789411
                    transactionIndex: 4
                    transactionHash: >-
                      0BE6D52585ABE2C8A6DE9D768370F990278D45D53A0D08E816ECECFBADE77F7E
                    transactionType: OfferCreate
                    affectedNodesIndex: 0
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '927.58359647214'
        '400': *ref_7
        '401': *ref_8
        '403': *ref_9
        '404': *ref_10
        '429': *ref_11
  /{protocol}/{network}/token/getTokenTransfersByCurrencyAndIssuer:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |+


      summary: Get Token Transfers by Currency and Issuer
      operationId: xrpl-getTokenTransfersByCurrencyAndIssuer
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    currency: *ref_0
                    issuer: *ref_1
                    fromLedger: *ref_2
                    toLedger: *ref_3
                    fromDate: *ref_4
                    toDate: *ref_5
                  required:
                    - currency
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - *ref_12
              example:
                rpp: 5
                page: 1
                count: 17704767
                items:
                  - ledgerIndex: 95511099
                    ledgerTimestamp: 1744868771
                    transactionIndex: 29
                    transactionHash: >-
                      6D951822FE593091420A7B6F881BB16DFEE545D8A6B78C3BCAC9EF266BE10C6B
                    transactionType: Payment
                    affectedNodesIndex: 2
                    from: rUtewBGwo6zQi3Vxz6oHMKPK2qSsDYYezA
                    to: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '21.98'
                  - ledgerIndex: 95511099
                    ledgerTimestamp: 1744868771
                    transactionIndex: 29
                    transactionHash: >-
                      6D951822FE593091420A7B6F881BB16DFEE545D8A6B78C3BCAC9EF266BE10C6B
                    transactionType: Payment
                    affectedNodesIndex: 1
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: r3RaNVLvWjqqtFAawC6jbRhgKyFH7HvRS8
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '21.97780222'
                  - ledgerIndex: 95511099
                    ledgerTimestamp: 1744868771
                    transactionIndex: 28
                    transactionHash: >-
                      05C02C727942D1AC34CDBBA1CC10C3C617C8673115DE2F515BCA3727B9FDB685
                    transactionType: OfferCreate
                    affectedNodesIndex: 3
                    from: rMEJo9H5XvTe17UoAJzj8jtKVvTRcxwngo
                    to: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '21.98'
                  - ledgerIndex: 95511099
                    ledgerTimestamp: 1744868771
                    transactionIndex: 28
                    transactionHash: >-
                      05C02C727942D1AC34CDBBA1CC10C3C617C8673115DE2F515BCA3727B9FDB685
                    transactionType: OfferCreate
                    affectedNodesIndex: 2
                    from: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    to: rUtewBGwo6zQi3Vxz6oHMKPK2qSsDYYezA
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '21.98'
                  - ledgerIndex: 95511097
                    ledgerTimestamp: 1744868761
                    transactionIndex: 54
                    transactionHash: >-
                      3594B0F75C51679428C2D914EAB1E118B14BF0DC6B416FE9AB4AF43F1680EFC4
                    transactionType: Payment
                    affectedNodesIndex: 2
                    from: rUtewBGwo6zQi3Vxz6oHMKPK2qSsDYYezA
                    to: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    issuer: rsoLo2S1kiGeCcn6hCUXVrCpGMWLrRrLZz
                    currency: SOLO
                    value: '110'
        '400': *ref_7
        '401': *ref_8
        '403': *ref_9
        '404': *ref_10
        '429': *ref_11
  /{protocol}/{network}/token/getTokenTransfersWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - Token API
      description: |
        특정 기간동안 발생한 IOU 토큰 전송 내역을 조회합니다.


        > 📘 기간 설정 팁 
        > 설정한 기간이 길 경우 응답시간이 길어질 수 있습니다. 빠른 응답을 원한다면 필요한 기간만큼만 설정하는 것을 권장합니다.
      summary: Get Token Transfers Within Range
      operationId: xrpl-getTokenTransfersWithinRange
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    fromLedger: *ref_2
                    toLedger: *ref_3
                    fromDate: *ref_4
                    toDate: *ref_5
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - *ref_12
              example:
                rpp: 5
                page: 1
                count: 754518552
                items:
                  - ledgerIndex: 95511107
                    ledgerTimestamp: 1744868801
                    transactionIndex: 66
                    transactionHash: >-
                      36A08AD2EBDDC311AC8DB1773900B41A99935FF2631E8F6CF090501B297B134A
                    transactionType: OfferCreate
                    affectedNodesIndex: 5
                    from: rMo6ZopWsge9sinmdrzQvtKfHeA2Y2h38T
                    to: rQe1DP3vTJofAt4V8Ktrdhdv46DRC7e8Y
                    issuer: rQe1DP3vTJofAt4V8Ktrdhdv46DRC7e8Y
                    currency: NINJAX
                    value: '4378'
                  - ledgerIndex: 95511107
                    ledgerTimestamp: 1744868801
                    transactionIndex: 66
                    transactionHash: >-
                      36A08AD2EBDDC311AC8DB1773900B41A99935FF2631E8F6CF090501B297B134A
                    transactionType: OfferCreate
                    affectedNodesIndex: 3
                    from: rQe1DP3vTJofAt4V8Ktrdhdv46DRC7e8Y
                    to: r9fztfoT91BaQ9QkPpFUcuNba1GR3GmfQQ
                    issuer: rQe1DP3vTJofAt4V8Ktrdhdv46DRC7e8Y
                    currency: NINJAX
                    value: '4378'
                  - ledgerIndex: 95511107
                    ledgerTimestamp: 1744868801
                    transactionIndex: 65
                    transactionHash: >-
                      016D6A59004FED71EC105D0D13A9D7E6B5A0CD196EF8AD0D057F57195C00D882
                    transactionType: Payment
                    affectedNodesIndex: 3
                    from: r4M4TzSypz2gRdS86hTM7oFcSs6yRmEPKZ
                    to: rfZ3aWk5YLFvuNrnyQLsd5EMBrwGbVrmfJ
                    issuer: r4M4TzSypz2gRdS86hTM7oFcSs6yRmEPKZ
                    currency: SHROOMIES
                    value: '41672.1960557'
                  - ledgerIndex: 95511107
                    ledgerTimestamp: 1744868801
                    transactionIndex: 65
                    transactionHash: >-
                      016D6A59004FED71EC105D0D13A9D7E6B5A0CD196EF8AD0D057F57195C00D882
                    transactionType: Payment
                    affectedNodesIndex: 0
                    from: rwjKPPqWXAW78k23xCQUvRKehkGKWZ3ocg
                    to: r4M4TzSypz2gRdS86hTM7oFcSs6yRmEPKZ
                    issuer: r4M4TzSypz2gRdS86hTM7oFcSs6yRmEPKZ
                    currency: SHROOMIES
                    value: '41672.1960557'
                  - ledgerIndex: 95511107
                    ledgerTimestamp: 1744868801
                    transactionIndex: 56
                    transactionHash: >-
                      7368B20F421E311D71D704877A676A4D9B0223452FB189A42106BB049405C236
                    transactionType: Payment
                    affectedNodesIndex: 1
                    from: rJMtvf5B3GbuFMrqybh5wYVXEH4QE8VyU1
                    to: rLikwdZqS14VEqtAB43NAYeCv8uJVYQXzJ
                    issuer: rJMtvf5B3GbuFMrqybh5wYVXEH4QE8VyU1
                    currency: Xoge
                    value: '186155849.513'
        '400': *ref_7
        '401': *ref_8
        '403': *ref_9
        '404': *ref_10
        '429': *ref_11
  /{protocol}/{network}/native/getNativeTokenBalanceByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Native Token API
      description: >+
        특정 Account가 보유한 네이티브 토큰의 잔고를 조회합니다. 선택한 프로토콜에 따라 토큰의 종류가 다를 수 있습니다.
        (e.g., Bitcoin의 경우, BTC 잔고를 조회할 수 있습니다.)

      summary: Get Native Token Balance by Account
      operationId: xrpl-getNativeTokenBalanceByAccount
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        잔고를 조회할 계정의 주소를 지정하는 파라미터로, 25~35자리 길이의 Base58 인코딩 문자열이며
                        항상 "r"로 시작합니다.
                      pattern: ^r[1-9A-HJ-NP-Za-km-z]{25,35}$
                      default: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                  required:
                    - accountAddress
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - ownerAddress
                  - balance
                properties:
                  ownerAddress:
                    type: string
                    description: >-
                      잔고를 소유한 계정의 주소를 반환하는 필수 응답 필드로, 25~35자리 길이의 Base58 인코딩
                      문자열이며 항상 "r"로 시작합니다.
                  balance:
                    type: string
                    description: >-
                      계정이 보유한 잔고의 총량을 나타내는 필수 응답 필드로, XRP의 최소 단위인 drop 대신 표준 XRP
                      단위(1 XRP =1,000,000 drop)로 값을 제공합니다.
              example:
                ownerAddress: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                balance: '9321.950192'
        '400': *ref_7
        '401': *ref_8
        '403': *ref_9
        '404': *ref_10
        '429': *ref_11
  /{protocol}/{network}/native/getNativeTokenBalanceChangesByAccount:
    post:
      security:
        - api_key: []
      tags:
        - Native Token API
      description: |+
        특정 계정의 네이티브 토큰(XRP) 잔고 변동 내역을 조회합니다.

      summary: Get Native Token Balance Changes by Account
      operationId: xrpl-getNativeTokenBalanceChangesByAccount
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    accountAddress:
                      type: string
                      description: >-
                        잔고를 조회할 계정의 주소를 지정하는 파라미터로, 25~35자리 길이의 Base58 인코딩 문자열이며
                        항상 "r"로 시작합니다.
                      pattern: ^r[1-9A-HJ-NP-Za-km-z]{25,35}$
                      default: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                    fromLedger: *ref_2
                    toLedger: *ref_3
                    fromDate: *ref_4
                    toDate: *ref_5
                  required:
                    - accountAddress
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: *ref_13
              example:
                rpp: 5
                page: 1
                count: 4227
                items:
                  - ledgerIndex: 95498176
                    ledgerTimestamp: 1744818572
                    transactionIndex: 4
                    transactionHash: >-
                      A3F980B6E5794F04F36B112604C3B2156E9970B5678BC7BFA86B92628838FC3C
                    transactionType: Payment
                    affectedNodesIndex: 1
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: XRP
                    issuer: ''
                    previousBalance: '9321.954704'
                    finalBalance: '9321.950192'
                    balanceChange: '-0.004512'
                  - ledgerIndex: 95498175
                    ledgerTimestamp: 1744818571
                    transactionIndex: 43
                    transactionHash: >-
                      8E3E8ABB59D7542F16F54888554B199061490F785EE2E3740ECD2DD43AF8FBAF
                    transactionType: OfferCreate
                    affectedNodesIndex: 4
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: XRP
                    issuer: ''
                    previousBalance: '9331.954716'
                    finalBalance: '9321.954704'
                    balanceChange: '-10.000012'
                  - ledgerIndex: 95490756
                    ledgerTimestamp: 1744789591
                    transactionIndex: 48
                    transactionHash: >-
                      BD345A8795A190464EB28A61C721048586B547AFC8846A7F813DB4FE4C30A977
                    transactionType: Payment
                    affectedNodesIndex: 1
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: XRP
                    issuer: ''
                    previousBalance: '9331.959228'
                    finalBalance: '9331.954716'
                    balanceChange: '-0.004512'
                  - ledgerIndex: 95490755
                    ledgerTimestamp: 1744789590
                    transactionIndex: 0
                    transactionHash: >-
                      F56440CCD5DE51A3A768990753BB753BC24FF5F2BE46E0AAF433FFF5C9E26FD9
                    transactionType: OfferCreate
                    affectedNodesIndex: 6
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: XRP
                    issuer: ''
                    previousBalance: '9341.95924'
                    finalBalance: '9331.959228'
                    balanceChange: '-10.000012'
                  - ledgerIndex: 95490740
                    ledgerTimestamp: 1744789530
                    transactionIndex: 19
                    transactionHash: >-
                      F5CB1CEAF296773E0BD06AD3D07A756273BE2EF09CFDCE422CC05B431A318B4B
                    transactionType: Payment
                    affectedNodesIndex: 1
                    account: rMRG6jyhEnDGz7GSGgnpkJvHDhqy5UuB54
                    currency: XRP
                    issuer: ''
                    previousBalance: '9341.979252'
                    finalBalance: '9341.95924'
                    balanceChange: '-0.020012'
        '400': *ref_7
        '401': *ref_8
        '403': *ref_9
        '404': *ref_10
        '429': *ref_11
  /{protocol}/{network}/blockchain/getLedgerByHashOrIndex:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        이 API는 ledger hash 또는 ledger index를 입력받아, 해당 원장의 상세 정보를 조회하여 반환합니다.

      summary: Get Ledger by Hash or Index
      operationId: xrpl-getLedgerByHashOrIndex
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              type: object
              properties:
                ledger:
                  type: string
                  description: |
                    조회할 원장을 지정하는 파라미터로, 다음 형식 중 하나를 입력할 수 있습니다.
                    - ledger index: 10진수 문자열로 원장 번호
                    - ledger hash: 64자리 16진수 문자열 (0x 접두사 제외)
                    - ledger tag: "earliest" 또는 "latest" (가장 오래된 원장 또는 최신 원장)
                  pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                  default: latest
              required:
                - ledger
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required: &ref_14
                  - ledgerHash
                  - ledgerIndex
                  - ledgerIndex
                  - ledgerTimestamp
                  - parentLedgerHash
                  - accountHash
                  - totalCoins
                  - transactionHash
                  - transactionCount
                  - transactions
                properties: &ref_15
                  ledgerHash:
                    type: string
                    description: >-
                      현재 Ledger의 고유 식별 값으로, 256비트(64자리 16진수) 암호화 해시값입니다. Ledger의
                      데이터 무결성 검증 및 식별에 사용됩니다.
                    example: >-
                      655EB9D740CC572BFFEC725ABB0AA0D813AAF01C91F8577076F29258794D9445
                  ledgerIndex:
                    type: integer
                    description: >-
                      Ledger의 생성 순서를 나타내는 정수값으로, 네트워크 상에서 해당 Ledger의 위치(시퀀스 번호)를
                      확인하는 데 사용됩니다.
                    example: 95444296
                  ledgerTimestamp:
                    type: integer
                    description: >-
                      Ledger의 close time을 실제 Unix 타임스탬프로 변환한 값입니다. Ledger
                      header에 기록된 close time은 Ripple Epoch(2000년 1월 1일 00:00
                      UTC)부터 경과한 초 단위로 표현되며, Unix Epoch(1970년 1월 1일 00:00 UTC)
                      기준과는 946,684,800초의 차이가 있습니다. 따라서 ledgerTimestamp는 기록된
                      close time에 946,684,800초를 더해 변환한 Unix 타임스탬프입니다.
                    example: 1744608171
                  parentLedgerHash:
                    type: string
                    description: >-
                      현재 Ledger의 직전 Ledger를 식별하는 256비트(64자리 16진수) 해시값입니다. 체인 구조의
                      무결성 유지를 위해 이전 Ledger의 해시값을 참조합니다.
                    example: >-
                      45E963AA7A3BB017D626D088C91E6C646B6BBF558DD027AAD974CBBE9A3977D3
                  accountHash:
                    type: string
                    description: >-
                      Ledger에 기록된 모든 계정 상태 정보를 요약한 256비트(64자리 16진수) 해시값입니다. 계정
                      데이터의 일관성과 무결성을 검증하는 데 활용됩니다.
                    example: >-
                      43DA3A81948A7392D14E4DDFB8215372C4B0590E3B28691C599296E4478B12AC
                  totalCoins:
                    type: string
                    description: >-
                      Ledger에 기록된 계정들이 소유한 XRP의 총 수량(XRP 단위)를 나타냅니다. 이 값은 트랜잭션
                      수수료로 소각된 XRP를 제외한 값이며, 일부 계정이 '블랙홀'(키가 존재하지 않는 계정) 상태이기
                      때문에 실제 유통 중인 XRP의 수는 이 값보다 더 낮을 수 있습니다.
                    example: '99986231517.566048'
                  transactionHash:
                    type: string
                    description: >-
                      Ledger 내 포함된 모든 트랜잭션 데이터를 요약한 256비트(64자리 16진수) Merkle tree
                      루트 해시값입니다. 트랜잭션 내역의 무결성 검증에 사용됩니다.
                    example: >-
                      8BAD7583234AC463E09D6CF160E352DFF5B008FC071DD5226A53809D89E7F409
                  transactionCount:
                    type: integer
                    description: >-
                      Ledger에 포함된 트랜잭션의 총 개수를 나타내는 정수값입니다. Ledger 내 트랜잭션 내역의 규모
                      및 활성도를 파악하는 데 활용됩니다.
                    example: 40
                  transactions:
                    type: array
                    description: >-
                      Ledger에 포함된 트랜잭션의 해시값들의 배열입니다. 각 해시값은 트랜잭션을 고유하게 식별하는
                      256비트(64자리 16진수) 암호화 해시값이며, 트랜잭션 데이터의 무결성 및 식별에 사용됩니다.
                    example:
                      - >-
                        044CD9B107E209F24F5342393F34493E7AFE99AE6F5051F2D75E186F07E1EAE8
                      - >-
                        0D1DDF6974EA31918EB531F9212FC76BC47BCE9193839496474010D133C0BB1E
                      - >-
                        1069423CDB7F19E082E6F418C779B19A0126B593832016D134A679EFB752CF0A
                    items:
                      type: string
                example:
                  ledgerHash: >-
                    61FB28BAA167DB8B6CA8097D15C5DADBB32AE1AD01E83E29DFF55F4A53127BAE
                  ledgerIndex: 95511037
                  ledgerTimestamp: 1744868531
                  parentLedgerHash: >-
                    D6B3C4073BE9F683702F18D638B5B7F5AC1CFECCE3A43DA2F56F692E8B8A1E3D
                  accountHash: >-
                    68DCA28BB0E0B24C7E4A70B09DB892460CB68AFF52CD2887C448964BCDB548C0
                  totalCoins: '99986220319.798672'
                  transactionHash: >-
                    FA746DD145531F4E47F9207CF0F3DE3AC54826C3091E70B3A9FC5819E5486A19
                  transactionsCount: 103
                  transactions:
                    - >-
                      047F89572C61A28630A17C59676577C8B869AF7E009A3237CB693E4383423C13
                    - >-
                      04E7A5ECB7937A01DC664A3B10B9D3A0741588403DD5782F8889C69F183357C3
                    - >-
                      0914C7D260371A5992AD4080314E81A6F2F3F34C1A5BEC5EE969F937CBDEF82D
                    - >-
                      093DEF16BD04AE0A36B18D878E57FFE5D4A0FA5E55FCCC2875CDBFD4AB83F23A
                    - >-
                      0CB9FA52AC18B55C884DE0C5DAC9991C2D5B767233784FB8F9426F92AC8537E8
                    - >-
                      14940861BC0F7E176BEA554915B590DE506102872893FCD626708F5ED6366B1C
                    - >-
                      15A487807526285B712E6DEE6FA8A20F78557596D4C35BC474996F4BD60F8723
                    - >-
                      15ADFD136103338519B0A6192E9F5AF8B39D6A9D24804E820659D281359DF1E4
                    - >-
                      182D606FD4EBC8100FE6E9E25AD08DBCEC3093E5DF28E1A40F37DB7044F60FD1
                    - >-
                      186DB426DBC9354FA8D43730CDB3CE196E5E91FA15010788E09498B6CCF1B57F
                    - >-
                      189E69ABF9CC12A557198D9194D001DBB5DA7AECE64A2254A83149D0AD0798CE
                    - >-
                      19DC7B84AEAA5FDB8E1208D0CA36299CA0367E4C05E265F9E4DE9EEC8DD50659
                    - >-
                      1F58DEDA19E7C8CA1B671E2F193DDC8A60EB593BF9E87708D0180B853632F493
                    - >-
                      22CE4A95D10BBEE0CB2D4C148F9DC5B026D58B29C374512BD77A2E483833F6E0
                    - >-
                      29B838A301B3298EF41CDCEAF5171EDD654C7E05403FCEBCD3D40153DAE2BCB4
                    - >-
                      2D7992F2D53CC5FA7792817A4820F6FEA87EBA9CC1AF614AFBE23F2B75811E36
                    - >-
                      2F291D6FF9F28992AA531ECB84DB9FEBBACBA45A23BB5504F0B82E1BEFFEACD5
                    - >-
                      2FC8AECD87E26D78DB35CC1732311E93C2998F446003A22C727D35AB3554DB16
                    - >-
                      3031FB946A86CC5911DDB10E1F2DA706774949A43821EFFA5851F4A23F598627
                    - >-
                      372FAB6339C82D304A6612FC4E1DB96460D0D5ACFA2077414C51603B17FCC25A
                    - >-
                      388A826F34CFE745225D8BBB9DDE446BCA1720E881A21FE4AB98567FC4C4B000
                    - >-
                      3ACE172319BAC92B5DC2B92C3E5C15F45F3E261117A1228747A91BDB9A20E890
                    - >-
                      3BE377B4034CB5685B030C31AEB938860C1AD9CDF4BF44DE4C5F741ED544EAA7
                    - >-
                      3E3AF6BC3B0E18301041DC8A50C6D1A98D10D888B3CC859DF063B3D359A279DD
                    - >-
                      3F2FEE694ADDCE6C821E53E4BEEBD2C9E54882C7A468B0408DABF2A160BAABFD
                    - >-
                      444D53891B50FF06C79EDFEBEB12E0643518F680AD1F01E18CE5FFB080949741
                    - >-
                      44858F05D84E682E6B563FC4FBED3ED117AEDC88DBD18ACBC939C6C499228CA4
                    - >-
                      448E43D9A25F079D7774F8E55383FA3CE09F2EC950018C49ACF32702339BB5E8
                    - >-
                      45E65572BE630E67C126B48069EBE48B6132E19CDBCA0326A7EF8DF1D9B6D6A3
                    - >-
                      46EFE1E2D08845D7480F0BC22BF70FEF898B0BCB2199583318A0D3B0099BDDD5
                    - >-
                      483E7D8B6716B850B3827D11FB3E6EC8A64F12DEDB5E6F7869AF5D68CF7E9BD4
                    - >-
                      4B068F63E29E210235DF9F33A6E4AB645941A84E744B7F5250B92042FDFE439D
                    - >-
                      4B578E0A3F51C8C534EA0DBE510F83A4915BA904438E6CD86D4B090262578844
                    - >-
                      4DA848E31872B70C855C0328DC0543A936CC80264E48F8B15DB5719C85209255
                    - >-
                      50C908F8E9B4D95C2642D949D9FB0D58E9A10752AB9F306EFE9D65923E81F517
                    - >-
                      53CFED53A7214B9C39BD3E82E551C345BEEDD9BB975E944049432F904F15EC48
                    - >-
                      56AB753EA6FAB51FDF01C92C3B4FBFD1BC06C745DD54CF339FCA369519A9160A
                    - >-
                      586670858E12ABAA06168704D4F90D89197A634137DFDFC7E5CD8FB5D3895649
                    - >-
                      62BAD356610EFFBA28B1414D75D8E4300D781A1D8EF6CBD71D187D9DB65A2264
                    - >-
                      6E844229CDB20D435DA9A16EC96AA7D9B35BF6337A61A17D6C056CEEB0E9D05F
                    - >-
                      746186DEE76026A84E5AD381174A10E76E51B6352841520B79E827D12FACF66B
                    - >-
                      782D2C1118663036ACFD5233AC61DA4521EDB574239B7BE0B99EAFF272C7EBD3
                    - >-
                      7B9E28DE7C87B8677589D113EA18C272983AC6D7AB336DC01A5477320EA37E5A
                    - >-
                      7C6E8227E1B510BE8DBB4388E48104EFAB0B2602D7D90DE9A6EE54EA61D1DFC2
                    - >-
                      7CE10D68AFCCB668CD1046F53E58B4F90759ACBDDCCFE05A18492944FEA0FFE0
                    - >-
                      7E466E7252FE21D357AE7523A6B7912954E1F70B731990B577EC5C698095923D
                    - >-
                      846FB4499FF1D6C0D768BB74D9D6CCFC9595E9C231CBEE48539DE40749852BC6
                    - >-
                      892A7BD67C2B6E18FC770770A92F871533075ED87E8DEF0C94DC0CD30DAAA8FE
                    - >-
                      8AABDDDE10AE55502A0AD9228FB7E710CBB09F91ECC0461863CEBFBDE62837E0
                    - >-
                      8D311873C9FCA40798A39F82C6FE6C447104E7B73402E41B73E24CFC97DD66AA
                    - >-
                      8DFD64055C8BC85BD30E907BEF13753D5C7BAED5C00AA32644C42B304BB0D62B
                    - >-
                      8FF3A4F49EF14283DDA015571BE8DE4357A024AED5AFD9457C503EC77A750C31
                    - >-
                      92C7F4837F12291C22F33164FB9DC28ACB4CD3B35863CBAA7F667E4A4D5829EC
                    - >-
                      9305E119C12655BCFF9FB5C0CDD177330EEEFE7F541D2E8B1F82C3350AFD4F87
                    - >-
                      979E114F263D39547F5DA5744FBDE80025A2898AB0DAC258511D58CADBB2F81F
                    - >-
                      A3D1954640618B20D0B644F8935E1416A40B966BD4AB4F14EAF0708340F63B7E
                    - >-
                      A9DC6DF496A415B1BC28F5C1CC632474F2F5E81C0A3F8A563C6F7F31296A559B
                    - >-
                      AB256E36B57997EFFCBB8159A0780C3085BE6532E3F5AE4D638BEB71367F6091
                    - >-
                      AD34CE04FFEFBFDDE25E37738935A4EB60384A58B2B99059D3E45A262EC50F37
                    - >-
                      ADAB803AB5B98F64ABF13738CEA3BC7982A6ECDAD86E32F7460A43CC7D2913A5
                    - >-
                      AE9D67790974253BBABC2AB96721C214E9F6A5AB479A0FAEB31844155DAB478B
                    - >-
                      AEC66BFB46B1B9439D344E61DFF61C1635D298761E634BCB5FEA58528948C4D3
                    - >-
                      B01CFC2FA7E0025EFBA9AD833ADFAFFD0E6A155335CE03C785CA3E2E42F4638A
                    - >-
                      B081ADABA5D594B3FAC4CB173359D8CA679CA645D660196A85888C34BBCA9657
                    - >-
                      B0DDE1CF94EAF95C4766EA1888DCF9CF8A037F6241EE77B6D659CCDA4BA95411
                    - >-
                      B1F07AF44F575E22E128C303A23452E86D0BD01EA431C81FD46304F551FF25B9
                    - >-
                      B4F48049B4D453DA9622FEE78F2EE28A3421177B3666E4A5207FFB15982D5E70
                    - >-
                      B59CB1D829510C2DE3260C40F43D4F6553CBB2E438B1AEFDBC16776A56E5156A
                    - >-
                      B79ED5D1BBB1916D8303D404BB0921E1E346E301FA3D54A44DAB49C8E87A2448
                    - >-
                      B87445656EE73BF5A8F5B998FFDC07808ED250E945C978B7FC425CFE1E459C85
                    - >-
                      BB4737616876748DECB12503D89056EF9889CB65F927977CAFF8239BCC26E664
                    - >-
                      BC6DEB9C2FA0320811F5A89B747F2E55036A271D30A7C621221EE61C55B8AB6E
                    - >-
                      BE8B53452424431DBBD1E4540E0F471676BB19800C5F6FE179C50988AD367219
                    - >-
                      BF402DB44E6C4FAE12CEB3223A18A46E634796715A3C9D07918CA6E507A30CBF
                    - >-
                      C2876852CD55035FA380AF4E56226F8EF59C68202B74F21E5008DCA7838DED34
                    - >-
                      C372FE49BAB1BF014B2A337985DC379F45857B5396D5DD30AFDEA63FBC3A3F17
                    - >-
                      C4789ECF8E0B07FC63A7E6944EF48E6BBB56334C626D9BB3C891366BC7B852A8
                    - >-
                      C49B20F23E416FC8A45174003E953857227EF3999701683E0E56D7FB00D2F933
                    - >-
                      C8F5FE2071CD97BA6A14674DAAC3824BBC1B7CCFC162538FAE4E2011B26F3929
                    - >-
                      C9BE0EC153A91DAF668CD0E93AB918219C383DC528FE80DA1A0FBBFA8C7CA5E0
                    - >-
                      C9DB86C2DDE79C89D5F37874C3738C8F32A94E7F48CBA16229DFB61D1E107A8D
                    - >-
                      CA168ABED641ED595EBE3DD7955BAFEFF01E6F6BBFC0005352EFC6972CDA8087
                    - >-
                      CACB9ABC26C944F50D38F2E04C061480A8FFF4162F6BFFDA92A7F35C0B30964D
                    - >-
                      CCB55108DFDAC5B3C37A124796509DF2465C1629E5D5A7B02774B22C33198F79
                    - >-
                      CD3547B537CC88D7ED632127D308E3124BE828CC400E2CCE8D26260B9AE0A916
                    - >-
                      CD7B157411A8ABEEC0D99978F34086CB0AE6684537BE1CD310EF8047E4E8A0A1
                    - >-
                      CE177993E2AEE6C66FC76237BC240B2D7DFA84158F4B594F9A1F223A489AF7A5
                    - >-
                      CE46F1D4F030CCF2E121B16EEAF281404D9BF361A4B0D6722D1BDB35AD5AA40C
                    - >-
                      D2E794A929134C80F58FC18C74D478185AA255ED341F99BF7CFE6FDBE1DE9482
                    - >-
                      D369650E1214E669FA874061E5093872E6B6BADECD28055D03CCFEC60B5146B7
                    - >-
                      D3E816CDF52C4B3D489CEC798306656464CED921350580D4C364BA7FC20EB6F0
                    - >-
                      D449211E113EDE02910C81C75FACB7134058193C1F50187C1A4D460F154FE1D6
                    - >-
                      DAA2788A1ED193837E308EA6685397B106E39CC25F5CBC835440432222DC871E
                    - >-
                      DDB4BB7F34706544308E00AF9333EAB5C04544897990CDB57B0296CB9AA84559
                    - >-
                      DF99887C98F8A45C89A802540B0A979B37DC02E1A01613E95671BC52FC158891
                    - >-
                      E003326A6E7A4C69FCFA6EEA84B62A95BEB3A5A42D396AE45A05F929273A4DB1
                    - >-
                      E008597D215928661A436A6357ED1E4D6AEF1D85CA3BB815CCCA712161D2ABA4
                    - >-
                      E6BE8AD5347F32659632746BFE413F422AB8703A8A9AA6473C594D32056AB56F
                    - >-
                      EF23561C8EFA628BE619DA187E5EFBC19821CA400991F7E5408A0BDD422C4180
                    - >-
                      F01DA652DA3A4CBEC78EAA3C68FFF442BC2F0B2C5696B3D91AB7FFF462B7A02C
                    - >-
                      F62F0BCE8AE54198C839FB830A8847E28EC10AC68B32AB3C4162B0ED7BFD4D9C
                    - >-
                      F8669E13F894D0F15831D777FB7C2E65CEEF65A59B52A737B406FC6EE17A510E
                    - >-
                      FBE53C57078222C4476768405FA40550F662197FB92F78C6B3EF0037B5F6686B
        '400': *ref_7
        '401': *ref_8
        '403': *ref_9
        '404': *ref_10
        '429': *ref_11
  /{protocol}/{network}/blockchain/getLedgersWithinRange:
    post:
      security:
        - api_key: []
      tags:
        - Blockchain API
      description: |+
        특정 기간 또는 특정 원장 범위 내의 원장(ledger) 목록을 조회합니다.

      summary: Get Ledgers Within Range
      operationId: xrpl-getLedgersWithinRange
      parameters:
        - name: protocol
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: 조회 대상 체인의 프로토콜을 지정하기 위한 파라미터입니다.
        - name: network
          in: path
          required: true
          schema:
            type: string
            default: mainnet
            enum:
              - mainnet
          description: 조회 대상 체인의 네트워크를 지정하기 위한 파라미터입니다. 프로토콜에 따라 지원되는 네트워크가 다를 수 있습니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              allOf:
                - type: object
                  properties:
                    fromLedger: *ref_2
                    toLedger: *ref_3
                    fromDate: *ref_4
                    toDate: *ref_5
                - *ref_6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  page:
                    type: integer
                    description: >-
                      page 파라미터에 지정된 페이지 번호를 나타내는 필드입니다. 이 필드는 page 파라미터에 0보다 큰
                      값을 입력한 경우에만 응답에 포함됩니다.
                  rpp:
                    type: integer
                    description: rpp 파라미터에 지정된 페이지당 결과 수를 나타내는 필드입니다.
                  cursor:
                    type: string
                    description: >-
                      cursor 페이지네이션을 위한 필드로, 다음 페이지의 데이터를 로드하기 위해 다음 요청에 제공해야 하는
                      값입니다.
                  count:
                    type: integer
                    description: >-
                      요청한 데이터의 총 개수를 나타내는 필드입니다. 이 필드는 withCount 파라미터에 true를 입력한
                      경우에만 응답에 포함됩니다.
                  items:
                    type: array
                    description: 조회된 데이터의 목록을 나타내는 필드입니다.
                    items:
                      allOf:
                        - type: object
                          required: *ref_14
                          properties: *ref_15
              example:
                rpp: 5
                page: 1
                count: 8293351
                items:
                  - ledgerHash: >-
                      53227C6A4AAD9412BDD151708638DFBFBB370910BBBBA558C18F42B81DB964B0
                    ledgerIndex: 94678150
                    ledgerTimestamp: 1741617291
                    parentLedgerHash: >-
                      6A9DF9E2E29482FCDCCD60357F0AFB0C7CE884C8F5A39D07A4D5228FD6355940
                    accountHash: >-
                      F1D77A678F15BEB8EFF26B88FA8A20EB9EE06E3E025956D1242BD62FD845D7E4
                    totalCoins: '99986342371.18593'
                    transactionHash: >-
                      9C572F135C38311F8EE54C0E1050EBEA8A2B6C5EDB14D61C5B914F9CE5EA302B
                    transactionsCount: 88
                    transactions:
                      - >-
                        0007F7D2B305A9ADB535DC133DCA5475AF2FA3B8CC3DBF1537AAC230FE709EC8
                      - >-
                        010CA1AAF4A98477042F9C99DE419413389CC00A4F8850B68EAA2EF0FA789E36
                      - >-
                        02B892CE8307C0CFEFF1A280CFCEAA6B83F81626432BCA5F39E3E443CE4D307F
                      - >-
                        0651DC5988FA5D51D09CAF745C977D2FF5742B98975B4F77E91B9BB5E972E969
                      - >-
                        084D20F31124F5460CCED54E573A38602FD3C30D28A73206641B68CE20C6AF81
                      - >-
                        0BAB20CD78C40467F0CC4BA99E39EC2D33F6C6D0B203008E85176E4DE7F4B783
                      - >-
                        0D6826E6C97F17CDD40A9AD470A154AE6D022E0255EC27D37E0B9957B551841B
                      - >-
                        0DC7E9504158920129F7126291AF28A58DB4647B2CB02CCEB2FAFBE7D314EE7D
                      - >-
                        0DFDFC16AD1C6E2133E0B002A41F67D1FDE283DCBDD5A756454BD8D445D29688
                      - >-
                        0EC73E4ED0D94EAA9BD67CC19AD689B8216E05450BC5839CDF27A2D8CB9CF559
                      - >-
                        177BCC7B0433328B9B96660A79A187070A59F831535551366F836FAEDD181BC8
                      - >-
                        17A1F7F80199FE60C48E01EE55F1CC98F52492327FE74C8CE1819ECC1C3F561C
                      - >-
                        18D4BED302A5AD88CAB3A7A7BCCD2331A0E1281AF9844DAD067CE76264162553
                      - >-
                        19EE6F95D8BB1398F3CEE5577F850CCE15FE5474874800CD67A4A927D90B7198
                      - >-
                        1CD6C71B6F8C3FB337EB387F09F29DCF7B697E51BE16FE6B949CC846557AEDD5
                      - >-
                        25C6BE127D0907B4C134383FE686B4ECDA8187B53A16C378CA89EEB54EE1D511
                      - >-
                        29FED8FF742E1B0B8A3E0E93605A8A428F1973099EA0A93C2FA3B7EE20ECE5E2
                      - >-
                        2E629E31A683334604F6FAE83E9D218381E754B00637A0C42E81185916409BF9
                      - >-
                        2E8E593F58F89D4C2CD5EEC355EDF73CED4725938ED395C17F60FC5C4B41E3CF
                      - >-
                        3A6B6F42C64BFEBF14E27FB5BFED350906F44F6F302BB5E211218A3D92A70E25
                      - >-
                        3ED6109D39A876DEF95F2EF2D2C5975AB8211EBBE34645EC6388592782D66FD9
                      - >-
                        401FBD21B6CC86A184366016AF14B3C46F155BFABA5B6D6A693572484F0D445F
                      - >-
                        40602D0072DC53B3E1E6F8852589945FFA6BA01031758DF74607DCA20E9202A1
                      - >-
                        487651C12E3F513FDA392D6AF66D91DD72A044781125E89119D5801A344BD75F
                      - >-
                        4BD0FDCC98D13939A6AFC2FA96A93889FD873BB13CEDF99278719E7DB588EE8E
                      - >-
                        4F7A510BBC32402F54C5D0193F7EC9689AF8FB6B9F34A26E693CEF1F3E15DF81
                      - >-
                        519849C183D7269F0F863D78A25A573B97978381D0C0529F2E396AF305E83B58
                      - >-
                        543F60A7CCB666A92D8A3A4DA9EBD611086613704F08A4BC14B038C6E215F3FE
                      - >-
                        5452826A1F992AD2B946F385F0AC687BBB0979A0440DA979747FFC5409B8357F
                      - >-
                        54ED9F36B544E43569B8A698930B8F5D922089A8A46D1289E88F027FE55CE381
                      - >-
                        560803AE1DD6073C5C448879591F3DDF3B9C53C06645393582C923D76BC12B4B
                      - >-
                        59FCA4FDB432EB6C40B5F234BDE00B0321A30B18576E6A43EB753A476415D538
                      - >-
                        5A18E59CBCB02C4E07AD4065F793B228DACA53D9EBFC90CA13480FF5F71AB5EA
                      - >-
                        5DB3E9A090B5C886A4F32B35221D95512DD59D59E92B3CD3701047CAA98CE18E
                      - >-
                        60BC4462D8247D83CF7C98619495F99B40FADC1661B935A8CD0916C936403E6C
                      - >-
                        60EE0F3A06FC24EF213A5B73377C78B3D432844B1550CB5130E62A475ED4FBA8
                      - >-
                        676CAC56CFBA68B870FC6C8C39BE960C6295300B66ACF073E141D0F1F5C8D064
                      - >-
                        67C4C4C4F7D27B0A5E789F61FEC8AF0853499CACF846344DC43DC94A3C9C3ABB
                      - >-
                        69C6173850C6DA603B4EAABD581BAA6B6AE27E8A19ED4F723EF82EBCF24BB42F
                      - >-
                        6A29EA9820FBC2496DE72BEEB6D86808B9D2389625AE041920EA00E690597693
                      - >-
                        7044ABA6F1C53483A4E7472FFD05A65B1DB4FC664339502853B9B7D77CB15478
                      - >-
                        71F1E4EC57A14C0F0390B56E653AA583B6B1373D2B139526B974B124F91C27BB
                      - >-
                        752F0B09803CDD0D3C3C3816DC770277ED21E2B384AFBF763709F242E35C77EF
                      - >-
                        7EB4CF571A034E49643D991267B6CD424D235EC15D5C4B0A1C45E51621C24143
                      - >-
                        7EF8C0AA24FB07ABE9EE88D18780C76CFF5625F1B25F850EA56363571CDC4559
                      - >-
                        80CAEDF4344740E2939EC88B8BB852770A1D3F7038DB667539CAA1008049BB04
                      - >-
                        81DC10EB87F0117DE969D95CCBD4B727BD36B209DE40262253535CA84EA75F7D
                      - >-
                        8B183D6799804925075EB44889E1F1FA24233471FDA1F9D7D416AA9C256C1D23
                      - >-
                        904546B18E1D62BDE66755EE88DACB783F13E1047161E1000967340499C2CD9D
                      - >-
                        993119A69D698C4DBB0C98ECCD1B1BF61B44682CF93997775734DBA338C6953F
                      - >-
                        9C2AF4275E6CC4416AB3FC1D2EFF673DC912FFB6DC4E1118B7D067C4B8C5AD82
                      - >-
                        A197025ABC907BE4D5C2FB39AAF760CDE07F7B1BF3EB6D11A5D77F88D6D338D3
                      - >-
                        A368000435DD468FC33F8D6CD735623FA1719430B6A676891B8A5CA0168A1037
                      - >-
                        A5319F79682C72D6BE257D886560E157D7438EE9ED52195BEDB4870A850A9276
                      - >-
                        A756CF132EAD4B569B55005F76FB92A790289EDC23CA29DEAD6D07150D7637C0
                      - >-
                        AD6DC9D46B73731980AC95C2424D6E859E738347CA3AA32D1FDF8488F75EB022
                      - >-
                        AEDB63ED3D94514D7F811B83E1019FA69A7AC05B2A843A31EAC669F758575A0D
                      - >-
                        AFFA75EE60B450AF2C4B1882DC251D42C6BC9DC2E26B11F5B06F311D8BADCC73
                      - >-
                        B32187D837950804DD72030B134D8B0FA35D4BC60A905BDD4F5210FCDA6F70F3
                      - >-
                        B8C25B75D7F0DC42ADF331346A9A297E741F8B9CCBFF27986CAF7F3F76FC8375
                      - >-
                        B951E3D708DC87E9B7308407EACB8AAC45D1D8BD9D9FA6E5D4CB662D49DAAB38
                      - >-
                        B95B002A935CBE27188F9612E5830473D532E029A44C3469F2AE22D5269BE7CA
                      - >-
                        BAE41BA006B56416850569E55C84DC6AA8DF50F95FD25FB3819BF0DA74CF5E73
                      - >-
                        BCC158B31376D0091F061F085382C34E024371290A8B218885F43D75AF923172
                      - >-
                        BFA634F39278161C759A134097E3E367B529E27DE65635E813F558CDAB402133
                      - >-
                        C17F9DEE8524927F386249E3EDD8DA86E56B49480130DD23B42911BD5ECF1B9B
                      - >-
                        C1F526EAA4E1E221090B6769F3FBCC03FCFA7736D0216E443CDDC30D22406C05
                      - >-
                        C7E2A2BEEB8921DA6C1D00B6C7C27C173276C7FC1A0A245052144E9440F59DFB
                      - >-
                        C80E79E7EE54DBAAC419D31DCA499B92A9810288BFCB387239CEB12780B1F2D0
                      - >-
                        CBDB5C37D7C56850A03D76F1CB3EDBFF0BAA903E4DD9038C789CA08B95E38906
                      - >-
                        CC5C4E622573FBC69CAFB424180827051BC6636A99BFBFBF26ECF2BD902CE328
                      - >-
                        CE2AF8020F7E8C09E406A90F4602C987AB1BC09E0DF4C9D0AEE868DD4A2E4280
                      - >-
                        CECDBCED90389529C94B0CE698243DDC4DEF5ACD009F2D1F282006E8F18D51FD
                      - >-
                        CF3AA22E4932EFA32B13DC271CE09B44051386E797CA182E063CD45962A712AD
                      - >-
                        D05D3FBC9C49183F769B28B000654DF9F66DE9D6257AF360175E03B351800DBE
                      - >-
                        D46B4297E1AFEEFB718A685EAC2F92FFA0FE0CFA2EF2A210A8F6A2387B7824A8
                      - >-
                        D50347658D5AE351FF59727F75726CC644458F0A9601BE5910F598AFA7E7AC76
                      - >-
                        DBF88421B2D166C9736252F3E496B48C0D5039BF182F9EE1364675BA443D2821
                      - >-
                        DD231A85E8D87CA2E32B2CA612E9FA3D65E8628CD75C9B0AD01B69B9EE5D9535
                      - >-
                        E55BD915B93343C9197F11C120FA75783B585CC954B90AB33EABCBC65E9E26F2
                      - >-
                        E7A6FCEA5A9C5D0BDECC6411A2C3EC3858CB9DB76A11498E7853CDEB7D0B52D5
                      - >-
                        E7B16FC5D94CC7CE0068969AF2CCAF9E919C774089BFDB5E9FC614BF70D8AB8D
                      - >-
                        F3464BF2FDA4494F99DF35CB4C0FF3BACA5D1D3A2C26A4A995838C8804233C9B
                      - >-
                        F3B32EF61D3DFFA15D5DC976A518F88CC6E68F8EDAE35E7F6DCF7BBDA3B5006C
                      - >-
                        F93B8E826438AA62D4DCF9E40D8004651D9DA3A6588838323C198A88FCDE093B
                      - >-
                        F9E4ED871D7949C9853ADB126F33A5A4AC533C5EE7904777A0EBFFCC1FE27A8D
                      - >-
                        FA3231B4741D02C516CE2C4A163FBD5E1141B227EA983CF018C38877CB3AC254
                      - >-
                        FE93569FCFA6DD230614BFAF7C80807DCEB24B08AB021E77D0D2D81736C67151
                  - ledgerHash: >-
                      6A9DF9E2E29482FCDCCD60357F0AFB0C7CE884C8F5A39D07A4D5228FD6355940
                    ledgerIndex: 94678149
                    ledgerTimestamp: 1741617290
                    parentLedgerHash: >-
                      AC638BE54E2D83616E98B2C04A974802F1378D8BC375803490FA45E0E16DC46C
                    accountHash: >-
                      83123CDCB3708753A8C1D3E22106DD73C6AE9E9BF75E40BA4ABC0295497E392A
                    totalCoins: '99986342372.192111'
                    transactionHash: >-
                      000374D0775FA6A1D5DA755D61917FF3F732FA4E15647742E9F3F98BFF28741B
                    transactionsCount: 76
                    transactions:
                      - >-
                        03B3DB5F23D490EC264A6FF940676624C34110E9FFF4489DD333E507372E0EAE
                      - >-
                        074C09DC6A61133DF20EDA535065688BD43AD871DF3D671FD98C1F5E08C1A315
                      - >-
                        097C7DA55D76A0DEDF0A931157BD160C45FCA8C652CD7085ECAD0E695C477681
                      - >-
                        09B12E3587126AB916EBC91AB385903DE16F5EC397691E6C96EFE4B5B510756B
                      - >-
                        0C1DC36534893244BDF69CBE3E549495C6A0750F320E2975D67375FC7F0F1F00
                      - >-
                        0C392AB262807D7CB6AD200847E4353F4294179A9AE20277CDB0B8D886F880CF
                      - >-
                        114C2CC91538FD98F2DF6E6EBD6A132054E94672FE52D0FCB24FD808ADC3C80D
                      - >-
                        18EBD21A8405B698FED470C0882D859A0D8E3ACA02B84FFA92C2C60A213D6409
                      - >-
                        21FFB0D90DF6F2554FBDF7ED74A77E70548FAD118545340A10888C89E345985D
                      - >-
                        22F064740AAAD464409B58D3668DAD8F47FBA78C89F29E4F9B30D6CB3C06DD29
                      - >-
                        251B2998556D15780D399EB429053C4FD71F405BC1C551542EB64B883305F3B2
                      - >-
                        267E2212218C472DF328666F97F62212EEC1C7BBB7F3A0FA3A1C0B3D10B4E0CA
                      - >-
                        270A4C52B9AF278858C81008CDC322BF88C8D984EFDF680D0064F163372F1A16
                      - >-
                        29745E7170A778F941360B454C8E83F42414CE2E124931767B6609F405A2BDB9
                      - >-
                        2C2E851E2A8D4A2163C990DCA8F75B37AF0AA25A9739222AC57C774F6F16A782
                      - >-
                        2F62ADEAC1009AACB85FED8D860308E4F6C4FFCC88918FF34D2419D9A4B02D26
                      - >-
                        326A82ADAA1522BE61CA7F5C3E850B269951F1B816448FB935782363E1526526
                      - >-
                        32B337CB1EEDC46B19508983BEBC15991AE12CBD67D49CE34DD7282D3EA54804
                      - >-
                        35755E60CC44EED1DC056B1374910BD2A411C1692247EA2099D41C6433405E7E
                      - >-
                        3772FE03C530D3DE26B6AB0EB8315F8EEEDD70DC33B22D2E16EDC36DFC23B950
                      - >-
                        3ACE5A169156CA287A2D52747D7E436617D2A6CC49B1ECF7306ADE1EDE31FA24
                      - >-
                        3B452CB92D36BDE227113378F115387627435C8F56B62BD9CDB4AFC9012FAD93
                      - >-
                        3BB1252DC73968FD8E235C81DB652B146F95A412C312C5960C61F944D8E8ED6F
                      - >-
                        48905D5F97864795C251ACD24DD6500E08671BC216235E0D9B1C32CE9C17BC8C
                      - >-
                        4B5240CE8BD077A20FA56E4DBDAFC7911214BED9E6838C2F59986FFED3B62AEF
                      - >-
                        4C263743910309CBCD01F262F48B55AF933E3E35A12900DAA9206CC101FCE5CF
                      - >-
                        4CF8ACFCAB9C33C52C58B5FF4F51571959B5559CC00AD20851C905F388BA908A
                      - >-
                        4DFA887253A733613E45AACC1C26796E52CADF6DCC693BD32A989C12DED2A62E
                      - >-
                        51F7F59AF78BED2B69B560EBD3A9223438BB7F96A5C624FFD1D857E7F7CAD51E
                      - >-
                        54846A816E9CCC295CBF176CD687DC886E25C859458A72A90839F8E761480F08
                      - >-
                        5742E1611EDB5074CD760B827A7E2A48385BDCB8B3740E14E872B98CEEDEE8D6
                      - >-
                        5B94E1D52D4D800CE77E168DF49490428A8614B0A19F477082F00BBCB562280E
                      - >-
                        5DACC3E2B69EDBA5DF203DFF28DE3A9BF8D0FB99A705C2CD20A018BF72490F21
                      - >-
                        5ED645195BD151D5C64F81073D301EF3514A2396AF8C4BCE764C0041165CB823
                      - >-
                        605737D0EAC00AF0149FD2AB0130430CEDFAA02EB8D2DD197170F6E517945C6D
                      - >-
                        67B5353BE2E9DEAE74A35D78F9D8FD2735DFB827980B013E584B0C473BDC266F
                      - >-
                        6AC1358034BEE21C2135A1DD628AC278FDDFC6A9823FEAC03CD5465F9B76DD0D
                      - >-
                        6B09CCD7A8C753CBA8B56CD2C3F0577D1DEA0583957F3A2B77F504553ABC3C6B
                      - >-
                        76A4397324412790B8F3B44E86FF879CD4D8842CB2900032CED4A5A8164D41FF
                      - >-
                        785057885540586DEC8D4AB0531FB6D42A7BC9F3DB3A43FF275154EE9653A6C4
                      - >-
                        78E3C2D96EE25C81C24974CCEEC0C08B2B7546DF5B0585777E7FACDC580FFCD6
                      - >-
                        805DABF935185DEFF109A20976B256CB7FB5936D9E4274DC48CAB01745F9AE25
                      - >-
                        88BC71801C845A7C28767031C2936405034377586AB2478A64BCB4C1BAC1BA3D
                      - >-
                        8C0D28639983F6C586CDA1E2DA40CD74250161360FE0DFB26E1377376CE4A8F4
                      - >-
                        93B688EAA09E70840574F767BC85F0ECE89AC4D052A794C9F614534D460E11BC
                      - >-
                        9988B2FAD28B7D64021D62ACD35294EB5DBD926057C7C48DAAC03D6588F44623
                      - >-
                        9C7D26EA2EF6288E89A0AB883DFC20C4455F998B5A2591867469F0951E9323F9
                      - >-
                        A46646DB7D61C3778A0714CACC5ED1F729348788B43FD0B722C9390AA6992544
                      - >-
                        A6DE9FF9C7349D15B1AB52DFE63D6D818715A4C35C1C3807BEC64AE80D3C7466
                      - >-
                        A8228ED7B3998CD27C04CFBBD59D3FE6083F7F6B2814C6EF741EDB22831757FA
                      - >-
                        AB0E6880C79FF1B8628D682D6BAD988BB97FBCE005C308E2E8B900608E8B10C8
                      - >-
                        AC3570EA26F7D26C2AA70FFE07CCDA239DDE15793C98E5B89368796A02EA3A20
                      - >-
                        B199E3C325D0932978D6EF36A8089B0716028204209FE7F3F7A3DA1D03AFE9D7
                      - >-
                        B64D9AE37821312B68603213A47CD2098D07DEEE9A2B38CD93CA75C433AA264E
                      - >-
                        BF73FA9F39BC46D11C583B18DCE6A95CCEADC748807FAB6672D9B590302D5A27
                      - >-
                        C7B59F048C534021C62D98463EAA8117FC275E32524D90CD23019884EA32B87A
                      - >-
                        CA01C02C7B76A0874513363B10E5A34F17656B4CB5117EE03E111FC321D153A8
                      - >-
                        CA0793A984EF9CE12DBC36800BF5EC9B439756FEFA2B0757F1A1BCDB41CC40EF
                      - >-
                        CB67461CEC65BEA089131B051D2BC939D18EFACC20CAD2A2F5AC9EB336039ECD
                      - >-
                        CC46E2ED1F523006BF8ADCB8FC3241B25E064080569B90BE2FB877D3B309E200
                      - >-
                        CC7A21C389D30830CFBAF3A6DBDEA8F6ECA100F1FF08974D19711C85B1989576
                      - >-
                        D05B16D7063B4DFE88DCC1E32BFEAD1EB5D93C3771848A4DD21D87D137336924
                      - >-
                        D06B9CD7F2E4E8C0753A7ED6B8FB70493A76FEB14EEFC3B2554CF01839E79846
                      - >-
                        D35A07651747D5A939164A5F4C6C32D1CCCA3B97742CA1499FE1F80081D141FB
                      - >-
                        D3EA8F406E0D24B524EEB2D767E19072D581FA6623FA32F94FD749DEC78AA413
                      - >-
                        D5B25D8809DE2996F68D9D4610F3B8EE5DD20CEDBBD3216A7C3B6BA1298DBB4B
                      - >-
                        DA0798F5E1AD75D89C77DC5359BD3F23DBCE5A6EEADAAC12A9377C82CC89823D
                      - >-
                        DAE08E41C9D453F1E6AD2F42EAC7B5AE624169838B0A56045E477423BCA60803
                      - >-
                        E0F2EFA01F6553EB69417EDFF15272EED0F33DFA36752A71FA5B0E13F0F16232
                      - >-
                        E1156B065B7DF495AE762A7D68E10D21FC1773C476B98CDDA512AF05ED4476E2
                      - >-
                        E9DC4BD72490558F6444191A6D7E3FB3D13C77E0F516403C706FAA880563DAEC
                      - >-
                        E9F03E314967ABCFF23C9F342DA58FD0595A7CFCC49BA56D8081DB9DF4A05F81
                      - >-
                        EBCC3B57F31102890CDA2FF504DA81830C77A38D3522853BAE690EF080A8104C
                      - >-
                        F0453F030C207CBEC319BF19A77EC2C092838E2C7C42146F56B4750352812984
                      - >-
                        F753246C636CFB44A37A63D89CB7F40C3FEC9C7C8385EE4CAF2764F0A21E1871
                      - >-
                        F8EA8A6D566581A95A92117D46D4C45E639D6A0BD5855FBD969980F86EABA024
                  - ledgerHash: >-
                      AC638BE54E2D83616E98B2C04A974802F1378D8BC375803490FA45E0E16DC46C
                    ledgerIndex: 94678148
                    ledgerTimestamp: 1741617282
                    parentLedgerHash: >-
                      722F0885C00CF6EC63CA47351401BEACF62E4E761F55D98DDB2F3D84AA30D8DD
                    accountHash: >-
                      70AF9F13F50EBE2467BE48324972E5304C301F37964C71505E63534874CCE26D
                    totalCoins: '99986342372.197254'
                    transactionHash: >-
                      9A26A2C3ADFBF121AB0CD6D6F5A6D42D5539087F3AC530BDBA619FD19D47193B
                    transactionsCount: 103
                    transactions:
                      - >-
                        049619BE06A75600F4ECF8B82AB4FF14354B43CA4B7ED6959DA08F3806953567
                      - >-
                        05093BC360D490EEC82BEDF22E46097546205178936D8B93D282D84941EA1CE1
                      - >-
                        07B22739DE859A9AF6A0954C2AB96C9631668EAC5D1533C909AFAD25EC87E6E5
                      - >-
                        0A4E28CC16D0F2AB613D4006ABBF623D2F8D6AEB3D5457AF9BD2EB55956B83A2
                      - >-
                        0AF2A85C6F79357E0239684C0839911920F57498617DE4CE9F5C835FB4564F9D
                      - >-
                        0E95C2467D80EA39919942C99A0320AB3263CEDA70EE4BC3E62F1055CC0D25F4
                      - >-
                        0FEC390AE0E59E49DDD46BA672EAB82E3013F066482E7A94290E8E83CACA6EF2
                      - >-
                        10CA2AEF7C295916AF4721D8834FA9EF852F301281B252757EFEB17D22013303
                      - >-
                        14D203C397F9F145387AE41E4C2B66E830FCE7515C78072824203D1E0F6F4806
                      - >-
                        1C32D734D025BED1D37CB54FF5AD1214DD41D3BA5B600FBC10342F4004BD7D54
                      - >-
                        1CFB6093092039DC38C3A33DBC3E811DB0BE1A2D1364A277C900A64B83A6E868
                      - >-
                        1E15A7539B64A5C4D6C41E102DD6080F1121B7D6B38F5E2D2802CBF126287417
                      - >-
                        2230A30FDD81D79D359F363ED4B98E8EE211F76CECDB11F4AC4F469C8A34332A
                      - >-
                        2402D7FB097503EA8B187739660DEB53AB09654E670DA17BF0C45918907B18C0
                      - >-
                        2601C7F7FAE398C3BC65B0E5372B9B656DD41D0FA1C90E7A96CE833E956D5B4E
                      - >-
                        268094CEF2AD03896555C3B08D0EAD6FA8DE5427B0DCB200F1E1914ADACAAFB1
                      - >-
                        28164317FB2805FA2B319DB8D26ABB38D33C96FCD945891E76DACF9DC9414F6B
                      - >-
                        34EBC1FC2F202CD57D273C2A0F9DA37D303336397C119F92567E8125CA21E22E
                      - >-
                        37DE6CBC99672F808D01D05CE55AE8D2F7743AF07F4A1EF1C1679B7F4C08702C
                      - >-
                        3A91FA708D25E1B863D53923FB22E23A680C498485F7333B817E905669F58CA5
                      - >-
                        41B419E30105AEBD46670F990F74522717BDA6535CA3A2DD72565FE0306F3EB1
                      - >-
                        433E3E666D19B497B8C2BC8E1F8676BF7AF90BAB9FF620BD397D90C5B12E7C0F
                      - >-
                        446F19F91665F8B4BAC14F7885D2214E436DE6799C9F0EE26F7FC6C0217FDEF4
                      - >-
                        454DB9C911C5E4B2DE1AE49F54D28E0CE1F6DF7983474BAB425ECABEDD984A92
                      - >-
                        4A83C872DC67B824A3C1FD400EA7E8A18005C813B17605356B6551F6B2066EA1
                      - >-
                        4B4A7830A2DFB004E4C8E4B340EAB5B6D45A926384730D6B9B50FA3C98AC806F
                      - >-
                        4F3E3EFC17984B9E03480E3C5D78A6B635C380DC9B5502FC81A49808731C20FB
                      - >-
                        5601BAD5A7061DF8796E275A2553D555C9B78DBF2B3CC95BC47E309AF5F89CC6
                      - >-
                        5C080B426B2CB14CE1621E6D6E588DEE5552F5CDA3B63B8C810E3613817683CA
                      - >-
                        5E2682A54993EA62DF44222CEB1503C2BB4DCF922DBCC0BDFD68CCB70507AF0F
                      - >-
                        61F7863B7657C07B74BE181A303AC0F960A709D5455EB8E9934B51E19C575FE1
                      - >-
                        651D6628CE51E1D5C6FDDA7EB268B522726193FAF13B465D90DD677C1BD98008
                      - >-
                        65E7DDBBD0D4BE1BC563137AFCAD8D8225F8EE9CC054483DA3A68D451FEF9F1B
                      - >-
                        65F0AAC9A818EABA91B48C179520F20CC49FCAFF3703255D6A9FDB2604A3A45D
                      - >-
                        6AED3E01BEB4C7D8BE652C42208A1A7A59649ACF23EDF36FA86585968180053F
                      - >-
                        6BCE6906B2702028DE167E5D3081F98B7358EAF82F9CFCB92982B134E85D54DE
                      - >-
                        77ADF980AB736651E8D9C3661BFEFCE8894AA666ED2BF4EDA0F8A417CAF0EA12
                      - >-
                        7A1DBEA06696F477EF52C91F1280B321EA75D65DA90B51296DEF811BAF447657
                      - >-
                        7A46B0A4E73D8D1F6865D9800C3F7E1015BBF8A82A4F2DE280D05985CD099258
                      - >-
                        7B6B4747AE61B0B789C52F2D30288710169E3EF7F74E1EBF8FB1C6C61881F438
                      - >-
                        7DBA692369171395F20A17DF7C284BE350C19039C1C51BEE4CD4C447B0E23B85
                      - >-
                        7E0CD4CBC97EEFF6F9548C93723D7381E2FA68398F49443B58A82905F76D24E2
                      - >-
                        7F4B862603A809BE9EEADBBD6B72454D50242A17046A4713F786E77F923FB94C
                      - >-
                        7FB7E31E20128F8272B83E15FA5F792627C1273B465838071FFAB20F31BF3E30
                      - >-
                        85B8F674136AB4AEAE2853FAA3D4EE78D564E7DAF7C15F64AC505F79637B2B93
                      - >-
                        86BCDFF9380EA6B4707C23AD778755AE89DD5390D9BB4BD6E7C45347CA8B514C
                      - >-
                        8FC16C7968A495A8E1163F0F2982FD9A43507A3E5CAAAB17AC9D05116957C8BB
                      - >-
                        90021FA2A35DEB35C05E9ABBA2C054046B7B2728000495FC87B99AA21D5C7285
                      - >-
                        926E9C93CCCB623FABB203BECB86E3C672246146F7AD58EF1EE0D118FABFF3AB
                      - >-
                        95F2894D4345A6AA056BA403594CDF220FCB66625B39F8DC0A40BB53D70D86C7
                      - >-
                        98365AC204022DB3E1EE8D2788FB53CB05208C3C540468981675AB1E99BF734E
                      - >-
                        989A48A395034DACAB4616A2A2F1EC634F4F3E1362133D3F6959049AB4A3D0EB
                      - >-
                        99F2EBCC77E63D5101DDE8C5F7EB0733E6DF696198C9FF87168A007ABD61E158
                      - >-
                        9E789C0B3C9D5242ED89FD536674B8CF185407377D9E878F2C489E711C56F39D
                      - >-
                        A072128EAAAB3BDB93CDE7FC18B13807F797CD4CD399CAB8344A2779DA4D167A
                      - >-
                        A277FA63976688481ED565218A5D726C40B1821FEBBAEEEF7EACAB8DBC4974B3
                      - >-
                        A6F2E01C6A46A1CFEA5B8EAFF31A53C7C6245217765C528664373C458BD69358
                      - >-
                        A791BA55E6126E405C6A427FAC1315B4375994C47D3833524CE546D8EBA85085
[...]
