openapi: 3.1.0
info:
  title: CronosPOS - Blockchain
  version: 1.0.0
servers:
  - url: https://rpc-cronospos-mainnet.nodit.io
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
paths:
  /:
    post:
      security:
        - api_key: []
      operationId: blockchain
      summary: Blockchain
      description: Retrieves a list of block headers in descending order. The number of results may be limited.
      tags:
        - json-rpc-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  const: "2.0"
                id:
                  type: integer
                method:
                  type: string
                  const: blockchain
                params:
                  type: object
                  additionalProperties: false
                  properties:
                    minHeight:
                      type: string
                      description: Minimum block height to include in the response.
                    maxHeight:
                      type: string
                      description: Maximum block height to include in the response.
            example:
              jsonrpc: "2.0"
              id: 1
              method: blockchain
              params:
                minHeight: "1"
                maxHeight: "2"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - jsonrpc
                  - id
                  - result
                properties:
                  jsonrpc:
                    type: string
                    const: "2.0"
                  id:
                    type: integer
                  result:
                    type: object
                    additionalProperties: false
                    properties:
                      last_height:
                        type: string
                      block_metas:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            block_id:
                              type: object
                              additionalProperties: false
                              properties:
                                hash:
                                  type: string
                                parts:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    total:
                                      type: integer
                                    hash:
                                      type: string
                            block_size:
                              type: integer
                            header:
                              type: object
                              additionalProperties: false
                              properties:
                                version:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    block:
                                      type: string
                                    app:
                                      type: string
                                chain_id:
                                  type: string
                                height:
                                  type: string
                                time:
                                  type: string
                                last_block_id:
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    hash:
                                      type: string
                                    parts:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        total:
                                          type: integer
                                        hash:
                                          type: string
                                last_commit_hash:
                                  type: string
                                data_hash:
                                  type: string
                                validators_hash:
                                  type: string
                                next_validators_hash:
                                  type: string
                                consensus_hash:
                                  type: string
                                app_hash:
                                  type: string
                                last_results_hash:
                                  type: string
                                evidence_hash:
                                  type: string
                                proposer_address:
                                  type: string
                            num_txs:
                              type: string
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  last_height: "12345678"
                  block_metas:
                    - block_id:
                        hash: D70952032620CC4E2737EB8AC379806359D8E0B17B0488F627997A0B043ABDED
                        parts:
                          total: 1
                          hash: 1A79E57CC6A3D49E5E9E6A9D2B5F2D5A0A3B7E8C1D2E3F4A5B6C7D8E9F0A1B2C
                      block_size: 1024
                      header:
                        version:
                          block: "11"
                          app: "0"
                        chain_id: cosmoshub-4
                        height: "2"
                        time: "2019-12-11T16:11:40Z"
                        last_block_id:
                          hash: A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0A1B2
                          parts:
                            total: 1
                            hash: B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3
                        last_commit_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        data_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        validators_hash: 8B4640A28F07F7F4D9D5C7F4A7A2FBE8E1E5C3A1D2B3C4D5E6F7A8B9C0D1E2F3
                        next_validators_hash: 8B4640A28F07F7F4D9D5C7F4A7A2FBE8E1E5C3A1D2B3C4D5E6F7A8B9C0D1E2F3
                        consensus_hash: 048091BC7DDC283F77BFBF91D73C44DA58C3DF8A9CBC867405D8B7F3DAADA22F
                        app_hash: 21DFF0C4F53168D5C82D99B1E76D4C5A62AE7D7A3B1C40D7E6F8A9B0C1D2E3F4
                        last_results_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        evidence_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        proposer_address: B00A6323737F321EB0B8D59C6FD497A14B60938A
                      num_txs: "0"
                    - block_id:
                        hash: A1B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0A1B2
                        parts:
                          total: 1
                          hash: B2C3D4E5F6A7B8C9D0E1F2A3B4C5D6E7F8A9B0C1D2E3F4A5B6C7D8E9F0A1B2C3
                      block_size: 512
                      header:
                        version:
                          block: "11"
                          app: "0"
                        chain_id: cosmoshub-4
                        height: "1"
                        time: "2019-12-11T16:11:34Z"
                        last_block_id:
                          hash: ""
                          parts:
                            total: 0
                            hash: ""
                        last_commit_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        data_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        validators_hash: 8B4640A28F07F7F4D9D5C7F4A7A2FBE8E1E5C3A1D2B3C4D5E6F7A8B9C0D1E2F3
                        next_validators_hash: 8B4640A28F07F7F4D9D5C7F4A7A2FBE8E1E5C3A1D2B3C4D5E6F7A8B9C0D1E2F3
                        consensus_hash: 048091BC7DDC283F77BFBF91D73C44DA58C3DF8A9CBC867405D8B7F3DAADA22F
                        app_hash: ""
                        last_results_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        evidence_hash: E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855
                        proposer_address: B00A6323737F321EB0B8D59C6FD497A14B60938A
                      num_txs: "0"
