openapi: 3.1.0
info:
  title: Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/blockchain/getBlockByHashOrNumber:
    post:
      security:
        - api_key: []
      operationId: getBlockByHashOrNumber
      summary: Get Block by Hash or Number
      description: |+
        Returns specific information about a block queried by block hash or block number.

      x-seo-description: Retrieve full block data by its hash or block number, including transactions and metadata.
      tags:
        - Blockchain API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
              - arbitrum
              - arc
              - base
              - bnb
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - luniverse
              - optimism
              - polygon
              - bitcoin
              - bitcoincash
              - dogecoin
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
              - sepolia
              - hoodi
              - kairos
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Aptos
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Arbitrum
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Arc
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Base
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: BNB Smart Chain
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Chiliz
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Ethereum
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Ethereum Classic
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Giwa
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Kaia
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                        For Kaia, entering "earliest" queries the block at the Kaia hardfork point.
                        - Mainnet: 162,900,480 (Aug 29, 2024 11:08:01 UTC+9)
                        - Kairos(Testnet): 156,660,000 (June 13, 2024 10:15:19 UTC+9)

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Luniverse
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Optimism
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Polygon
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |+
                        Parameter specifying the block to query. The default value is latest. You can input block number (decimal string), block hash (64-character hexadecimal string starting with 0x), or block tag (earliest, latest). "earliest" refers to the first block, "latest" refers to the most recent block.

                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Bitcoin
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |-
                        Parameter specifying the point in time for balance query. You can enter one of the following formats:
                        - block hash: 64-character hexadecimal string (256-bit). Queries based on the specified block hash.
                        - block number: Decimal string. Queries based on the specified block height.
                        - block tag: Enter "earliest" or "latest" to query the first block or the most recent block.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Bitcoin Cash
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |-
                        Parameter specifying the point in time for balance query. You can enter one of the following formats:
                        - block hash: 64-character hexadecimal string (256-bit). Queries based on the specified block hash.
                        - block number: Decimal string. Queries based on the specified block height.
                        - block tag: Enter "earliest" or "latest" to query the first block or the most recent block.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                      default: latest
                - title: Dogecoin
                  type: object
                  required:
                    - block
                  properties:
                    block:
                      type: string
                      description: |-
                        Parameter specifying the point in time for balance query. You can enter one of the following formats:
                        - block hash: 64-character hexadecimal string (256-bit). Queries based on the specified block hash.
                        - block number: Decimal string. Queries based on the specified block height.
                        - block tag: Enter "earliest" or "latest" to query the first block or the most recent block.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                      default: latest
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Aptos
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Arbitrum
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Arc
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Base
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: BNB Smart Chain
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Chiliz
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Ethereum
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Ethereum Classic
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Giwa
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Kaia
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Luniverse
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Optimism
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Polygon
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlocksWithinRange/post/responses/200/content/application~1json/schema/oneOf/1/allOf/1/properties/items/items"
                  - title: Bitcoin
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlockByHashOrNumber/post/responses/200/content/application~1json/schema/oneOf/14/allOf/0"
                  - title: Bitcoin Cash
                    allOf:
                      - type: object
                        required:
                          - hash
                          - height
                          - version
                          - timestamp
                          - nonce
                          - bits
                          - difficulty
                          - merkleRoot
                          - transactionCount
                          - size
                          - weight
                          - previousBlockHash
                          - nextBlockHash
                          - medianTime
                          - strippedSize
                          - transactions
                        example:
                          hash: 00000000770ebe897270ca5f6d539d8afb4ea4f4e757761a34ca82e17207d886
                          height: 20000
                          version: 1
                          timestamp: 1248291739
                          nonce: 2406314246
                          bits: 1d00ffff
                          difficulty: "1"
                          merkleRoot: 01f8255cad4f0060170f5cca22a5e0ca99fa62b3d26b89a34ac3100d876d14a4
                          transactionCount: 1
                          size: 215
                          weight: 860
                          previousBlockHash: 00000000ba36eb929dc90170a96ee3efb76cbebee0e0e5c4da9eb0b6e74d9124
                          nextBlockHash: 000000002434a3edf8dee4fe506d306c59d3bf41f73d979f30ed3f7b7c34d06c
                          medianTime: 1248287332
                          strippedSize: 215
                          transactions:
                            - 01f8255cad4f0060170f5cca22a5e0ca99fa62b3d26b89a34ac3100d876d14a4
                        properties:
                          hash:
                            type: string
                            description: SHA-256 hash value that uniquely identifies the block. Generated by combining block header information; serves as a unique identifier within the blockchain with no duplicates.
                          height:
                            type: integer
                            description: Number indicating the position of the block in the blockchain. The genesis block starts at 0, and subsequent blocks increment by 1.
                          version:
                            type: integer
                            description: Block version number, used to identify the block validation rules used by the network. Updated when new features are added.
                          timestamp:
                            type: integer
                            description: Represents when the block was created, displayed as a UNIX timestamp.
                          nonce:
                            type: integer
                            description: Value used in the Proof-of-Work algorithm; a variable that is changed multiple times to find a valid block hash.
                          bits:
                            type: string
                            description: Compressed 32-bit hexadecimal value representing the difficulty target that the block hash must satisfy. This value varies according to the network's mining difficulty.
                            example: "386097818"
                          difficulty:
                            type: string
                            description: Represents the difficulty of the block, calculated as the ratio between the initial target value and the current target value. Reflects the relative difficulty of mining.
                          merkleRoot:
                            type: string
                            description: Root hash value calculated by constructing a Merkle tree from the hashes of all transactions included in the block. Used to verify data integrity.
                          transactionCount:
                            type: integer
                            description: Indicates the total number of transactions included in the block. Used to check the volume of transactions in a mined block.
                          size:
                            type: integer
                            description: Total size of the block including header and transaction data, in bytes. Represents the actual disk space required to store the block data.
                          weight:
                            type: integer
                            description: Block weight calculated according to BIP-141, taking SegWit data into account.
                          previousBlockHash:
                            type: string
                            description: Hash of the previous block; maintains the linkage between blocks in the blockchain. Null for the genesis block.
                          nextBlockHash:
                            type: string
                            description: Hash of the next block; null for the most recent block. Indicates the end of the chain.
                          medianTime:
                            type: integer
                            description: Median of the timestamps of the most recent 11 blocks. Used to reduce time volatility and provide a more stable block time.
                          strippedSize:
                            type: integer
                            description: Size of the block excluding SegWit data. Measured in bytes; represents the raw transaction data and header size.
                          transactions:
                            type: array
                            description: Array of transaction hash values included in the block. Each transaction is identified by its unique hash.
                            items:
                              type: string
                              description: SHA-256 hash value that uniquely identifies each transaction.
                      - type: object
                        properties:
                          ablastate:
                            type: object
                            description: ABLA (Adaptive Block Limit Algorithm) state values. Provided only for blocks after ABLA activation. When provided, all internal fields exist.
                            required:
                              - epsilon
                              - beta
                              - blockSize
                              - blockSizeLimit
                              - nextBlockSizeLimit
                            properties:
                              epsilon:
                                type: integer
                                description: Epsilon parameter of the ABLA (Adaptive Block Limit Algorithm). Controls the sensitivity of block size adjustment.
                              beta:
                                type: integer
                                description: Beta parameter of the ABLA algorithm. Damping coefficient that limits the block size growth rate.
                              blockSize:
                                type: integer
                                description: Actual size of the current block in bytes. Represents the total size of transaction data included in the block.
                              blockSizeLimit:
                                type: integer
                                description: Maximum size limit applied to the current block in bytes. Dynamically adjusted by the ABLA algorithm.
                              nextBlockSizeLimit:
                                type: integer
                                description: Expected maximum size limit to be applied to the next block in bytes. Calculated by ABLA based on the current block's usage rate.
                            example:
                              epsilon: 16000000
                              beta: 16000000
                              blockSize: 46184
                              blockSizeLimit: 32000000
                              nextBlockSizeLimit: 32000000
                  - title: Dogecoin
                    $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getBlockByHashOrNumber/post/responses/200/content/application~1json/schema/oneOf/14/allOf/0"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/blockchain/getBlocksWithinRange:
    post:
      security:
        - api_key: []
      operationId: getBlocksWithinRange
      summary: Get Blocks Within Range
      description: |+
        Retrieves the list of blocks within a specific period or block range.


      x-seo-description: Fetch all blocks produced within a specified block number range, with detailed block data.
      tags:
        - Blockchain API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
              - arbitrum
              - arc
              - base
              - bnb
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - luniverse
              - optimism
              - polygon
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
              - sepolia
              - hoodi
              - kairos
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Aptos
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Arbitrum
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Arc
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Base
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: BNB Smart Chain
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Chiliz
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Ethereum
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Ethereum Classic
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Giwa
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Kaia
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/8/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/8/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Luniverse
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Optimism
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: Polygon
                  allOf:
                    - type: object
                      properties:
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1searchEvents/post/requestBody/content/application~1json/schema/oneOf/0/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/requestBody/content/application~1json/schema/allOf/1"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Aptos
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - hash
                                - height
                                - timestamp
                                - firstVersion
                                - lastVersion
                                - transactionsCount
                                - transactions
                              properties:
                                hash:
                                  type: string
                                  description: |
                                    A field that represents the unique hash identifier of the block.
                                    It is a cryptographic hash computed from all data of the block, provided as a 64-character hexadecimal string prefixed with 0x.
                                  example: "0xfaed12ecb5ac7b0bc87508d4a0bb562523b599e5ffd4719e159087985b184042"
                                height:
                                  type: integer
                                  description: |
                                    A field that represents the block height.
                                    An integer that increments sequentially starting from the genesis block (0), used as an indicator for the blockchain length and the position of a specific block.
                                  example: 160155267
                                timestamp:
                                  type: integer
                                  description: |
                                    A field that represents when the block was created.
                                    Provided as a UNIX timestamp, used for block creation order and time tracking.
                                    Block timestamps are used to ensure transaction order and measure inter-block creation intervals.
                                  example: 1749003732416395
                                firstVersion:
                                  type: integer
                                  description: |
                                    A field that represents the version number of the first transaction processed in the block.
                                    In Aptos, each transaction has a unique version number that indicates the global execution order of the transaction.
                                    firstVersion and lastVersion allow you to determine the version range of transactions within the block.
                                  example: 2820166554
                                lastVersion:
                                  type: integer
                                  description: |
                                    A field that represents the version number of the last transaction processed in the block.
                                    Together with firstVersion, it defines the version range of transactions within the block; this enables sequential retrieval of all transactions in the block.
                                  example: 987654325
                                transactionsCount:
                                  type: integer
                                  description: |
                                    A field that represents the total number of transactions included in the block.
                                    An important indicator for understanding block size and throughput; it includes all transaction types (user transactions, system transactions, etc.).
                                    This value equals lastVersion - firstVersion + 1.
                                  example: 5
                                transactions:
                                  type: array
                                  description: |
                                    A field that represents the list of version numbers for all transactions included in the block.
                                    Each version number serves as a unique identifier for the transaction, sorted sequentially from firstVersion to lastVersion.
                                    This list enables retrieval of detailed information for individual transactions in the block.
                                  items:
                                    type: integer
                                    example: 2854257037
                                  example:
                                    - 2854257037
                                    - 2854257038
                                    - 2854257039
                                    - 2854257040
                                    - 2854257041
                                    - 2854257042
                              example:
                                hash: "0xfaed12ecb5ac7b0bc87508d4a0bb562523b599e5ffd4719e159087985b184042"
                                height: 160155267
                                timestamp: 1749003732416395
                                firstVersion: 2820166554
                                lastVersion: 987654325
                                transactionsCount: 5
                                transactions:
                                  - 2854257037
                                  - 2854257038
                                  - 2854257039
                                  - 2854257040
                                  - 2854257041
                                  - 2854257042
                  - title: Arbitrum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - hash
                                - number
                                - timestamp
                                - parentHash
                                - nonce
                                - stateRoot
                                - receiptsRoot
                                - transactionsRoot
                                - miner
                                - difficulty
                                - totalDifficulty
                                - mixHash
                                - gasLimit
                                - gasUsed
                                - size
                                - logsBloom
                                - extraData
                                - sha3Uncles
                                - transactionCount
                                - transactions
                              properties:
                                hash:
                                  type: string
                                  description: A field representing the block hash. Provided as a 64-character hexadecimal string prefixed with 0x.
                                number:
                                  type: integer
                                  description: A field representing the block number or block height. Provided as a decimal string.
                                timestamp:
                                  type: integer
                                  description: A field representing the time when the block was created. This field is provided as a UNIX timestamp.
                                parentHash:
                                  type: string
                                  description: A field representing the hash of the parent block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                nonce:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Returns 0x0000000000000000 for blocks after the transition to Proof of Stake (PoS).
                                stateRoot:
                                  type: string
                                  description: A field representing the root hash of the block state. Provided as a 64-character hexadecimal string prefixed with 0x.
                                receiptsRoot:
                                  type: string
                                  description: A field representing the root hash of all transaction receipts in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionsRoot:
                                  type: string
                                  description: A field representing the root hash of all transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                miner:
                                  type: string
                                  description: A field representing the address of the miner who created the block. Provided as a 40-character hexadecimal string prefixed with 0x.
                                difficulty:
                                  type: string
                                  description: A field representing the block creation difficulty. Returns the difficulty value for Proof of Work (PoW), and 0 for blocks after the transition to Proof of Stake (PoS).
                                totalDifficulty:
                                  type: string
                                  description: A field representing the cumulative block creation difficulty. Returns the sum of difficulty from block 0 to the current block. Provided as a hexadecimal string prefixed with 0x.
                                mixHash:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Provided as a 64-character hexadecimal string prefixed with 0x.
                                gasLimit:
                                  type: string
                                  description: A field representing the maximum gas allowed for the block. The sum of gas used by all transactions in the block must be less than this value. Provided as a hexadecimal string prefixed with 0x.
                                gasUsed:
                                  type: string
                                  description: A field representing the total gas used by all transactions in the block. Provided as a hexadecimal string prefixed with 0x.
                                baseFeePerGas:
                                  type: string
                                  description: A field representing the block base gas fee. Part of the variable fee model introduced in EIP-1559 (London Hard fork). This field is not provided for blocks before this introduction. Provided as a hexadecimal string prefixed with 0x.
                                size:
                                  type: string
                                  description: A field representing the size of the block in bytes. Provided as a hexadecimal string prefixed with 0x.
                                logsBloom:
                                  type: string
                                  description: A field representing the logs bloom of all transactions in the block. Provided as a 512-character hexadecimal string prefixed with 0x.
                                extraData:
                                  type: string
                                  description: A field representing additional data added by the block creator. Returns 0x when no value was added. Provided as a hexadecimal string prefixed with 0x.
                                sha3Uncles:
                                  type: string
                                  description: A field representing the hash of all uncle blocks in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionCount:
                                  type: integer
                                  description: A field representing the number of transactions in the block.
                                transactions:
                                  type: array
                                  description: A field representing the list of transactions in the block.
                                  items:
                                    type: string
                                    description: A field representing the hash of a transaction in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                withdrawalRoot:
                                  type: string
                                  description: A field representing the root hash of all withdrawal transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                withdrawals:
                                  type: array
                                  description: A field representing the list of withdrawals of staked assets by validators.
                                  items:
                                    type: object
                                    required:
                                      - index
                                      - validatorIndex
                                      - address
                                      - amount
                                    properties:
                                      index:
                                        type: string
                                        description: A field representing the index of the withdrawal transaction. Provided as an integer starting from 0, in decimal string format.
                                      validatorIndex:
                                        type: string
                                        description: A field representing the index of the validator who requested the withdrawal. Provided in decimal string format.
                                      address:
                                        type: string
                                        description: A field representing the address that receives the withdrawn Native Token. Provided as a 40-character hexadecimal string prefixed with 0x.
                                      amount:
                                        type: string
                                        description: A field representing the withdrawn amount. Provided in decimal string format.
                                requestHash:
                                  type: string
                                  description: A field in the block header that is a cryptographic commitment of the order and content of all requests in the block. This allows verification of the integrity of the request list within the block without downloading the full data.
                              example:
                                hash: "0x91c90676cab257a59cd956d7cb0bceb9b1a71d79755c23c7277a0697ccfaf8c4"
                                number: 100000
                                timestamp: 1439799138
                                parentHash: "0xfbafb4b7b6f6789338d15ff046f40dc608a42b1a33b093e109c6d7a36cd76f61"
                                nonce: "0x9f63aafeec219854"
                                stateRoot: "0x209230089ff328b2d87b721c48dbede5fd163c3fae29920188a7118275ab2013"
                                receiptsRoot: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                                transactionsRoot: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                                miner: "0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca"
                                difficulty: "0x37f5c0b3e61"
                                totalDifficulty: "0x259ec16a4e5ec78"
                                mixHash: "0x9769104bc21358e422d8b0938334c16072e5168cfdbba49614e4cb821ff26176"
                                gasLimit: "0x2fefd8"
                                gasUsed: "0x0"
                                size: "0x225"
                                logsBloom: "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                                extraData: "0x476574682f76312e302e312d38326566323666362f6c696e75782f676f312e34"
                                sha3Uncles: "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347"
                                transactionsCount: 0
                                transactions: []
                                withdrawals: null
                  - title: Arc
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - hash
                                - number
                                - timestamp
                                - parentHash
                                - nonce
                                - stateRoot
                                - receiptsRoot
                                - transactionsRoot
                                - miner
                                - difficulty
                                - totalDifficulty
                                - mixHash
                                - gasLimit
                                - gasUsed
                                - size
                                - logsBloom
                                - extraData
                                - sha3Uncles
                                - transactionCount
                                - transactions
                              properties:
                                hash:
                                  type: string
                                  description: A field representing the block hash. Provided as a 64-character hexadecimal string prefixed with 0x.
                                number:
                                  type: integer
                                  description: A field representing the block number or block height. Provided as a decimal string.
                                timestamp:
                                  type: integer
                                  description: A field representing the time when the block was created. This field is provided as a UNIX timestamp.
                                parentHash:
                                  type: string
                                  description: A field representing the hash of the parent block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                nonce:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Returns 0x0000000000000000 for blocks after the transition to Proof of Stake (PoS).
                                stateRoot:
                                  type: string
                                  description: A field representing the root hash of the block state. Provided as a 64-character hexadecimal string prefixed with 0x.
                                receiptsRoot:
                                  type: string
                                  description: A field representing the root hash of all transaction receipts in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionsRoot:
                                  type: string
                                  description: A field representing the root hash of all transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                miner:
                                  type: string
                                  description: A field representing the address of the miner who created the block. Provided as a 40-character hexadecimal string prefixed with 0x.
                                difficulty:
                                  type: string
                                  description: A field representing the block creation difficulty. Returns the difficulty value for Proof of Work (PoW), and 0 for blocks after the transition to Proof of Stake (PoS).
                                totalDifficulty:
                                  type: string
                                  description: A field representing the cumulative block creation difficulty. Returns the sum of difficulty from block 0 to the current block. Provided as a hexadecimal string prefixed with 0x.
                                mixHash:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Provided as a 64-character hexadecimal string prefixed with 0x.
                                gasLimit:
                                  type: string
                                  description: A field representing the maximum gas allowed for the block. The sum of gas used by all transactions in the block must be less than this value. Provided as a hexadecimal string prefixed with 0x.
                                gasUsed:
                                  type: string
                                  description: A field representing the total gas used by all transactions in the block. Provided as a hexadecimal string prefixed with 0x.
                                baseFeePerGas:
                                  type: string
                                  description: A field representing the block base gas fee. Part of the variable fee model introduced in EIP-1559 (London Hard fork). This field is not provided for blocks before this introduction. Provided as a hexadecimal string prefixed with 0x.
                                size:
                                  type: string
                                  description: A field representing the size of the block in bytes. Provided as a hexadecimal string prefixed with 0x.
                                logsBloom:
                                  type: string
                                  description: A field representing the logs bloom of all transactions in the block. Provided as a 512-character hexadecimal string prefixed with 0x.
                                extraData:
                                  type: string
                                  description: A field representing additional data added by the block creator. Returns 0x when no value was added. Provided as a hexadecimal string prefixed with 0x.
                                sha3Uncles:
                                  type: string
                                  description: A field representing the hash of all uncle blocks in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionCount:
                                  type: integer
                                  description: A field representing the number of transactions in the block.
                                transactions:
                                  type: array
                                  description: A field representing the list of transactions in the block.
                                  items:
                                    type: string
                                    description: A field representing the hash of a transaction in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                withdrawalRoot:
                                  type: string
                                  description: A field representing the root hash of all withdrawal transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                withdrawals:
                                  type: array
                                  description: A field representing the list of withdrawals of staked assets by validators.
                                  items:
                                    type: object
                                    required:
                                      - index
                                      - validatorIndex
                                      - address
                                      - amount
                                    properties:
                                      index:
                                        type: string
                                        description: A field representing the index of the withdrawal transaction. Provided as an integer starting from 0, in decimal string format.
                                      validatorIndex:
                                        type: string
                                        description: A field representing the index of the validator who requested the withdrawal. Provided in decimal string format.
                                      address:
                                        type: string
                                        description: A field representing the address that receives the withdrawn Native Token. Provided as a 40-character hexadecimal string prefixed with 0x.
                                      amount:
                                        type: string
                                        description: A field representing the withdrawn amount. Provided in decimal string format.
                                requestHash:
                                  type: string
                                  description: A field in the block header that is a cryptographic commitment of the order and content of all requests in the block. This allows verification of the integrity of the request list within the block without downloading the full data.
                              example:
                                hash: "0x91c90676cab257a59cd956d7cb0bceb9b1a71d79755c23c7277a0697ccfaf8c4"
                                number: 100000
                                timestamp: 1439799138
                                parentHash: "0xfbafb4b7b6f6789338d15ff046f40dc608a42b1a33b093e109c6d7a36cd76f61"
                                nonce: "0x9f63aafeec219854"
                                stateRoot: "0x209230089ff328b2d87b721c48dbede5fd163c3fae29920188a7118275ab2013"
                                receiptsRoot: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                                transactionsRoot: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                                miner: "0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca"
                                difficulty: "0x37f5c0b3e61"
                                totalDifficulty: "0x259ec16a4e5ec78"
                                mixHash: "0x9769104bc21358e422d8b0938334c16072e5168cfdbba49614e4cb821ff26176"
                                gasLimit: "0x2fefd8"
                                gasUsed: "0x0"
                                size: "0x225"
                                logsBloom: "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                                extraData: "0x476574682f76312e302e312d38326566323666362f6c696e75782f676f312e34"
                                sha3Uncles: "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347"
                                transactionsCount: 0
                                transactions: []
                                withdrawals: null
                  - title: Base
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - hash
                                - number
                                - timestamp
                                - parentHash
                                - nonce
                                - stateRoot
                                - receiptsRoot
                                - transactionsRoot
                                - miner
                                - difficulty
                                - totalDifficulty
                                - mixHash
                                - gasLimit
                                - gasUsed
                                - size
                                - logsBloom
                                - extraData
                                - sha3Uncles
                                - transactionCount
                                - transactions
                              properties:
                                hash:
                                  type: string
                                  description: A field representing the block hash. Provided as a 64-character hexadecimal string prefixed with 0x.
                                number:
                                  type: integer
                                  description: A field representing the block number or block height. Provided as a decimal string.
                                timestamp:
                                  type: integer
                                  description: A field representing the time when the block was created. This field is provided as a UNIX timestamp.
                                parentHash:
                                  type: string
                                  description: A field representing the hash of the parent block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                nonce:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Returns 0x0000000000000000 for blocks after the transition to Proof of Stake (PoS).
                                stateRoot:
                                  type: string
                                  description: A field representing the root hash of the block state. Provided as a 64-character hexadecimal string prefixed with 0x.
                                receiptsRoot:
                                  type: string
                                  description: A field representing the root hash of all transaction receipts in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionsRoot:
                                  type: string
                                  description: A field representing the root hash of all transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                miner:
                                  type: string
                                  description: A field representing the address of the miner who created the block. Provided as a 40-character hexadecimal string prefixed with 0x.
                                difficulty:
                                  type: string
                                  description: A field representing the block creation difficulty. Returns the difficulty value for Proof of Work (PoW), and 0 for blocks after the transition to Proof of Stake (PoS).
                                totalDifficulty:
                                  type: string
                                  description: A field representing the cumulative block creation difficulty. Returns the sum of difficulty from block 0 to the current block. Provided as a hexadecimal string prefixed with 0x.
                                mixHash:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Provided as a 64-character hexadecimal string prefixed with 0x.
                                gasLimit:
                                  type: string
                                  description: A field representing the maximum gas allowed for the block. The sum of gas used by all transactions in the block must be less than this value. Provided as a hexadecimal string prefixed with 0x.
                                gasUsed:
                                  type: string
                                  description: A field representing the total gas used by all transactions in the block. Provided as a hexadecimal string prefixed with 0x.
                                baseFeePerGas:
                                  type: string
                                  description: A field representing the block base gas fee. Part of the variable fee model introduced in EIP-1559 (London Hard fork). This field is not provided for blocks before this introduction. Provided as a hexadecimal string prefixed with 0x.
                                size:
                                  type: string
                                  description: A field representing the size of the block in bytes. Provided as a hexadecimal string prefixed with 0x.
                                logsBloom:
                                  type: string
                                  description: A field representing the logs bloom of all transactions in the block. Provided as a 512-character hexadecimal string prefixed with 0x.
                                extraData:
                                  type: string
                                  description: A field representing additional data added by the block creator. Returns 0x when no value was added. Provided as a hexadecimal string prefixed with 0x.
                                sha3Uncles:
                                  type: string
                                  description: A field representing the hash of all uncle blocks in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionCount:
                                  type: integer
                                  description: A field representing the number of transactions in the block.
                                transactions:
                                  type: array
                                  description: A field representing the list of transactions in the block.
                                  items:
                                    type: string
                                    description: A field representing the hash of a transaction in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                withdrawalRoot:
                                  type: string
                                  description: A field representing the root hash of all withdrawal transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                withdrawals:
                                  type: array
                                  description: A field representing the list of withdrawals of staked assets by validators.
                                  items:
                                    type: object
                                    required:
                                      - index
                                      - validatorIndex
                                      - address
                                      - amount
                                    properties:
                                      index:
                                        type: string
                                        description: A field representing the index of the withdrawal transaction. Provided as an integer starting from 0, in decimal string format.
                                      validatorIndex:
                                        type: string
                                        description: A field representing the index of the validator who requested the withdrawal. Provided in decimal string format.
                                      address:
                                        type: string
                                        description: A field representing the address that receives the withdrawn Native Token. Provided as a 40-character hexadecimal string prefixed with 0x.
                                      amount:
                                        type: string
                                        description: A field representing the withdrawn amount. Provided in decimal string format.
                                requestHash:
                                  type: string
                                  description: A field in the block header that is a cryptographic commitment of the order and content of all requests in the block. This allows verification of the integrity of the request list within the block without downloading the full data.
                              example:
                                hash: "0x91c90676cab257a59cd956d7cb0bceb9b1a71d79755c23c7277a0697ccfaf8c4"
                                number: 100000
                                timestamp: 1439799138
                                parentHash: "0xfbafb4b7b6f6789338d15ff046f40dc608a42b1a33b093e109c6d7a36cd76f61"
                                nonce: "0x9f63aafeec219854"
                                stateRoot: "0x209230089ff328b2d87b721c48dbede5fd163c3fae29920188a7118275ab2013"
                                receiptsRoot: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                                transactionsRoot: "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                                miner: "0xe6a7a1d47ff21b6321162aea7c6cb457d5476bca"
                                difficulty: "0x37f5c0b3e61"
                                totalDifficulty: "0x259ec16a4e5ec78"
                                mixHash: "0x9769104bc21358e422d8b0938334c16072e5168cfdbba49614e4cb821ff26176"
                                gasLimit: "0x2fefd8"
                                gasUsed: "0x0"
                                size: "0x225"
                                logsBloom: "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                                extraData: "0x476574682f76312e302e312d38326566323666362f6c696e75782f676f312e34"
                                sha3Uncles: "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347"
                                transactionsCount: 0
                                transactions: []
                                withdrawals: null
                  - title: BNB Smart Chain
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getEventsByType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - hash
                                - number
                                - timestamp
                                - parentHash
                                - nonce
                                - stateRoot
                                - receiptsRoot
                                - transactionsRoot
                                - miner
                                - difficulty
                                - totalDifficulty
                                - mixHash
                                - gasLimit
                                - gasUsed
                                - size
                                - logsBloom
                                - extraData
                                - sha3Uncles
                                - transactionCount
                                - transactions
                              properties:
                                hash:
                                  type: string
                                  description: A field representing the block hash. Provided as a 64-character hexadecimal string prefixed with 0x.
                                number:
                                  type: integer
                                  description: A field representing the block number or block height. Provided as a decimal string.
                                timestamp:
                                  type: integer
                                  description: A field representing the time when the block was created. This field is provided as a UNIX timestamp.
                                parentHash:
                                  type: string
                                  description: A field representing the hash of the parent block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                nonce:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Returns 0x0000000000000000 for blocks after the transition to Proof of Stake (PoS).
                                stateRoot:
                                  type: string
                                  description: A field representing the root hash of the block state. Provided as a 64-character hexadecimal string prefixed with 0x.
                                receiptsRoot:
                                  type: string
                                  description: A field representing the root hash of all transaction receipts in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                transactionsRoot:
                                  type: string
                                  description: A field representing the root hash of all transactions in the block. Provided as a 64-character hexadecimal string prefixed with 0x.
                                miner:
                                  type: string
                                  description: A field representing the address of the miner who created the block. Provided as a 40-character hexadecimal string prefixed with 0x.
                                difficulty:
                                  type: string
                                  description: A field representing the block creation difficulty. Returns the difficulty value for Proof of Work (PoW), and 0 for blocks after the transition to Proof of Stake (PoS).
                                totalDifficulty:
                                  type: string
                                  description: A field representing the cumulative block creation difficulty. Returns the sum of difficulty from block 0 to the current block. Provided as a hexadecimal string prefixed with 0x.
                                mixHash:
                                  type: string
                                  description: A value used to prove block validity in Proof of Work (PoW). Provided as a 64-character hexadecimal string prefixed with 0x.
                                gasLimit:
                                  type: string
                                  description: A field representing the maximum gas allowed for the block. The sum of gas used by all transactions in the block must be less than this value. Provided as a hexadecimal string prefixed with 0x.
                                gasUsed:
                                  type: string
                                  description: A field representing the total gas used by all transactions in the block. Provided as a hexadecimal string prefixed with 0x.
                                baseFeePerGas:
[...]
