openapi: 3.1.0
info:
  title: Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/stats/getAccountStats:
    post:
      security:
        - api_key: []
      operationId: getAccountStats
      summary: Get Account Stats
      description: |+
        Retrieves statistics for a specific address. Account activity can be analyzed through transaction data, transfer events, assets, and other information for the account.

      x-seo-description: Retrieve aggregated activity statistics for a specific account, including transaction and token data.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - arc
              - base
              - bnb
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - luniverse
              - optimism
              - polygon
              - tron
              - aptos
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - testnet
              - hoodi
              - kairos
              - amoy
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Arbitrum
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Arc
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Base
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: BNB Smart Chain
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Chiliz
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Ethereum
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Ethereum Classic
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Giwa
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Kaia
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Luniverse
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Optimism
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Polygon
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Tron
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the account address to query. This field uses a 34-character base58 string format starting with "T".
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      example: T9123456789012345678901234567890123456789
                - title: Aptos
                  type: object
                  required:
                    - address
                  properties:
                    address:
                      type: string
                      description: Parameter specifying the account address to query. The account address must be entered as a 64-character hexadecimal string (including "0x").
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      example: "0xd91c64b777e51395c6ea9dec562ed79a4afa0cd6dad5a87b187c37198a1f855a"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Arbitrum
                    type: object
                    properties:
                      transactionCounts:
                        type: object
                        description: An object containing transaction count information associated with the queried address.
                        properties:
                          external:
                            type: number
                            description: The number of external transactions where the queried address is included in the from or to field.
                          internal:
                            type: number
                            description: The number of internal transactions where the queried address is included in the from or to field.
                      transferCounts:
                        type: object
                        description: An object containing transfer event count information associated with the queried address.
                        properties:
                          tokens:
                            type: number
                            description: The number of ERC20 token transfer events where the queried address is included in the from or to field.
                          nfts:
                            type: number
                            description: The number of NFT (ERC721, ERC1155) transfer events where the queried address is included in the from or to field.
                      assets:
                        type: object
                        description: An object containing asset information owned by the queried address.
                        properties:
                          tokens:
                            type: number
                            description: The number of ERC20 token types held by the queried address.
                          nfts:
                            type: number
                            description: The number of NFTs (ERC721, ERC1155) held by the queried address.
                          nftContracts:
                            type: number
                            description: The number of NFT contract types (ERC721, ERC1155) owned by the queried address.
                  - title: Arc
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Base
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: BNB Smart Chain
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Chiliz
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Ethereum
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Ethereum Classic
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Giwa
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Kaia
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Luniverse
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Optimism
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Polygon
                    $ref: "#/paths/~1{chain}~1{network}~1stats~1getAccountStats/post/responses/200/content/application~1json/schema/oneOf/0"
                  - title: Tron
                    type: object
                    properties:
                      transactionCounts:
                        type: object
                        description: Object containing transaction count information associated with the queried address.
                        properties:
                          external:
                            type: number
                            description: Number of external transactions where the queried address is included in the from or to field.
                          internal:
                            type: number
                            description: Number of internal transactions where the queried address is included in the from or to field.
                      transferCounts:
                        type: object
                        description: Object containing transfer event count information associated with the queried address.
                        properties:
                          tokens:
                            type: number
                            description: Number of token transfer events where the queried address is included in the from or to field. Token types include both TRC10 and TRC20.
                      assets:
                        type: object
                        description: Object containing asset information owned by the queried address.
                        properties:
                          tokens:
                            type: number
                            description: Number of token types held by the queried address. Token types include both TRC10 and TRC20.
                    example:
                      transactionCounts:
                        external: 100
                        internal: 100
                      transferCounts:
                        tokens: 100
                      assets:
                        tokens: 100
                  - title: Aptos
                    type: object
                    required:
                      - transactionCounts
                      - balanceChangeCounts
                      - assets
                    properties:
                      transactionCounts:
                        type: integer
                        description: |
                          A field that represents the number of transactions created by the account.
                          Refers to transactions where this account is included as the sender.
                        example: 48
                      balanceChangeCounts:
                        type: object
                        properties:
                          tokens:
                            type: integer
                            description: A field that represents the number of Token (Coin, Fungible Asset) balance changes.
                            example: 100
                      assets:
                        type: object
                        properties:
                          tokens:
                            type: integer
                            description: A field that represents the number of Tokens (Coin, Fungible Asset) held by the account.
                            example: 100
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getDailyActiveAccountsStats:
    post:
      security:
        - api_key: []
      operationId: getDailyActiveAccountsStats
      summary: Get Daily Active Accounts Stats
      description: |+
        Retrieves the number of daily active accounts within the specified range.

        > 📘 When is data reflected?
        >
        > In the current daily statistics API, a 'day' is based on UTC, and each day's data is aggregated from UTC 00:00:00 to before UTC 24:00:00 of that day. For daily statistics, the previous day's statistics may be delayed until 00:30:00 the next morning, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Fetch daily active account statistics for the blockchain network over a specified date range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - startDate
                    - endDate
                  properties:
                    startDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDate"
                    endDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDate"
                - title: Luniverse
                  type: object
                  required:
                    - startDate
                    - endDate
                  properties:
                    startDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDate"
                    endDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDate"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getDailyActiveAccountsStatsByContract:
    post:
      security:
        - api_key: []
      operationId: getDailyActiveAccountsStatsByContract
      summary: Get Daily Active Accounts Stats By Contract
      description: |+
        Retrieves the daily count of active accounts for a specific contract within the specified range.

        > 📘 When is data reflected?
        >
        > In the current daily statistics API, a 'day' is based on UTC, and each day's data is aggregated from UTC 00:00:00 to before UTC 24:00:00 of that day. For daily statistics, the previous day's statistics may be delayed until 00:30:00 the next morning, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Fetch daily active account statistics for a specific contract over a given date range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - contractAddress
                    - startDate
                    - endDate
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStatsByContract/post/requestBody/content/application~1json/schema/oneOf/0/properties/contractAddress"
                    startDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDate"
                    endDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDate"
                - title: Luniverse
                  type: object
                  required:
                    - contractAddress
                    - startDate
                    - endDate
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStatsByContract/post/requestBody/content/application~1json/schema/oneOf/0/properties/contractAddress"
                    startDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDate"
                    endDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDate"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getDailyTransactionsStats:
    post:
      security:
        - api_key: []
      operationId: getDailyTransactionsStats
      summary: Get Daily Transactions Stats
      description: |+
        Retrieves the daily transaction volume within the specified range.

        > 📘 When is data reflected?
        >
        > In the current daily statistics API, a 'day' is based on UTC, and each day's data is aggregated from UTC 00:00:00 to before UTC 24:00:00 of that day. For daily statistics, the previous day's statistics may be delayed until 00:30:00 the next morning, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Get daily transaction statistics for the entire blockchain network over a specified date range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - startDate
                    - endDate
                  properties:
                    startDate:
                      type: string
                      description: Parameter specifying the start date for the query. Data can be queried for up to 100 days from start to end date. Supports YYYY-MM-DD format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
                      example: "2026-01-01"
                    endDate:
                      type: string
                      description: Parameter specifying the end date for the query. Data can be queried for up to 100 days from start to end date. Supports YYYY-MM-DD format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
                      example: "2026-01-01"
                - title: Luniverse
                  type: object
                  required:
                    - startDate
                    - endDate
                  properties:
                    startDate:
                      type: string
                      description: Parameter specifying the start date for the query. Data can be queried for up to 100 days from start to end date. Supports YYYY-MM-DD format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
                      example: "2026-01-01"
                    endDate:
                      type: string
                      description: Parameter specifying the end date for the query. Data can be queried for up to 100 days from start to end date. Supports YYYY-MM-DD format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
                      example: "2026-01-01"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - type: object
                        required:
                          - items
                        properties:
                          count:
                            type: integer
                            description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                          items:
                            type: array
                            description: Field representing the list of queried data.
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - date
                                - count
                              properties:
                                date:
                                  type: string
                                  description: Field representing the date. Provided in YYYY-MM-DD format. (e.g., 2021-01-01)
                                count:
                                  type: integer
                                  description: Field representing the number of transactions per date.
                  - title: Luniverse
                    allOf:
                      - type: object
                        required:
                          - items
                        properties:
                          count:
                            type: integer
                            description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                          items:
                            type: array
                            description: Field representing the list of queried data.
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - date
                                - count
                              properties:
                                date:
                                  type: string
                                  description: Field representing the date. Provided in YYYY-MM-DD format. (e.g., 2021-01-01)
                                count:
                                  type: integer
                                  description: Field representing the number of transactions per date.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getDailyTransactionsStatsByContract:
    post:
      security:
        - api_key: []
      operationId: getDailyTransactionsStatsByContract
      summary: Get Daily Transactions Stats By Contract
      description: |+
        Retrieves the daily transaction volume for a specific contract within the specified range.

        > 📘 When is data reflected?
        >
        > In the current daily statistics API, a 'day' is based on UTC, and each day's data is aggregated from UTC 00:00:00 to before UTC 24:00:00 of that day. For daily statistics, the previous day's statistics may be delayed until 00:30:00 the next morning, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Retrieve daily transaction statistics for a specific contract address over a given date range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - contractAddress
                    - startDate
                    - endDate
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    startDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDate"
                    endDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDate"
                - title: Luniverse
                  type: object
                  required:
                    - contractAddress
                    - startDate
                    - endDate
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    startDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDate"
                    endDate:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDate"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getHourlyActiveAccountsStats:
    post:
      security:
        - api_key: []
      operationId: getHourlyActiveAccountsStats
      summary: Get Hourly Active Accounts Stats
      description: |+
        Retrieves the hourly count of active accounts within the specified range.

        > 📘 When is data reflected?
        >
        > In the current hourly statistics API, time is based on UTC, and each response item provides statistics for the period from the date +1 hour. For hourly statistics, the most recent hour's statistics may be delayed by up to 40 minutes, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Fetch hourly active account statistics for the blockchain network over a specified time range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - startDateTime
                    - endDateTime
                  properties:
                    startDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDateTime"
                    endDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDateTime"
                - title: Luniverse
                  type: object
                  required:
                    - startDateTime
                    - endDateTime
                  properties:
                    startDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDateTime"
                    endDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDateTime"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getHourlyActiveAccountsStatsByContract:
    post:
      security:
        - api_key: []
      operationId: getHourlyActiveAccountsStatsByContract
      summary: Get Hourly Active Accounts Stats By Contract
      description: |+
        Retrieves the hourly count of active accounts for a specific contract within the specified range.

        > 📘 When is data reflected?
        >
        > In the current hourly statistics API, time is based on UTC, and each response item provides statistics for the period from the date +1 hour. For hourly statistics, the most recent hour's statistics may be delayed by up to 40 minutes, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Get hourly active account statistics for a specific contract address over a time range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - contractAddress
                    - startDateTime
                    - endDateTime
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStatsByContract/post/requestBody/content/application~1json/schema/oneOf/0/properties/contractAddress"
                    startDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDateTime"
                    endDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDateTime"
                - title: Luniverse
                  type: object
                  required:
                    - contractAddress
                    - startDateTime
                    - endDateTime
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStatsByContract/post/requestBody/content/application~1json/schema/oneOf/0/properties/contractAddress"
                    startDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDateTime"
                    endDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDateTime"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getHourlyTransactionsStats:
    post:
      security:
        - api_key: []
      operationId: getHourlyTransactionsStats
      summary: Get Hourly Transactions Stats
      description: |+
        Retrieves the hourly transaction count within the specified range.

        > 📘 When is data reflected?
        >
        > In the current hourly statistics API, time is based on UTC, and each response item provides statistics for the period from the date +1 hour. For hourly statistics, the most recent hour's statistics may be delayed by up to 40 minutes, so this should be considered when querying the latest data.


        > 🚧 Check the network when using!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet. It cannot be used on other networks. Please verify the network when using.

      x-seo-description: Retrieve hourly transaction statistics for the blockchain network over a specified time range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - startDateTime
                    - endDateTime
                  properties:
                    startDateTime:
                      type: string
                      description: Parameter specifying the start date and time for the query. Data can be queried for up to 2400 hours from start to end datetime. Supports YYYY-MM-DD-HH format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-([01][0-9]|2[0-3])$
                      example: 2026-01-01-00
                    endDateTime:
                      type: string
                      description: Parameter specifying the end date and time for the query. Data can be queried for up to 2400 hours from start to end datetime. Supports YYYY-MM-DD-HH format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-([01][0-9]|2[0-3])$
                      example: 2026-01-01-00
                - title: Luniverse
                  type: object
                  required:
                    - startDateTime
                    - endDateTime
                  properties:
                    startDateTime:
                      type: string
                      description: Parameter specifying the start date and time for the query. Data can be queried for up to 2400 hours from start to end datetime. Supports YYYY-MM-DD-HH format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-([01][0-9]|2[0-3])$
                      example: 2026-01-01-00
                    endDateTime:
                      type: string
                      description: Parameter specifying the end date and time for the query. Data can be queried for up to 2400 hours from start to end datetime. Supports YYYY-MM-DD-HH format.
                      pattern: ^[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-([01][0-9]|2[0-3])$
                      example: 2026-01-01-00
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - date
                                - count
                              properties:
                                date:
                                  type: string
                                  description: Field representing the date and time. Provided in YYYY-MM-DD-HH format. (e.g., 2021-01-01-00)
                                count:
                                  type: integer
                                  description: Field representing the number of transactions per hour.
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - date
                                - count
                              properties:
                                date:
                                  type: string
                                  description: Field representing the date and time. Provided in YYYY-MM-DD-HH format. (e.g., 2021-01-01-00)
                                count:
                                  type: integer
                                  description: Field representing the number of transactions per hour.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/stats/getHourlyTransactionsStatsByContract:
    post:
      security:
        - api_key: []
      operationId: getHourlyTransactionsStatsByContract
      summary: Get Hourly Transactions Stats By Contract
      description: |+
        Retrieves the hourly transaction count for a specific contract within the specified range.

        > 📘 When is the data reflected?
        > 
        > In the current hourly statistics API, time is based on UTC, and each item in the response provides statistics within +1 hour from the date. For hourly statistics, the reflection of the most recent 1-hour statistics may be delayed by up to 40 minutes, so this should be considered when querying the latest data.


        > 🚧 Check the network before use!
        >
        > This API is only supported on Ethereum Mainnet and TheBalance Mainnet, and cannot be used on other networks. Please verify the network before use.

      x-seo-description: Fetch hourly transaction statistics for a specific smart contract over a given time range.
      tags:
        - Statistics API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - ethereum
              - luniverse
            default: ethereum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - hoodi
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Ethereum
                  type: object
                  required:
                    - contractAddress
                    - startDateTime
                    - endDateTime
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStatsByContract/post/requestBody/content/application~1json/schema/oneOf/0/properties/contractAddress"
                    startDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDateTime"
                    endDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDateTime"
                - title: Luniverse
                  type: object
                  required:
                    - contractAddress
                    - startDateTime
                    - endDateTime
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStatsByContract/post/requestBody/content/application~1json/schema/oneOf/0/properties/contractAddress"
                    startDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/startDateTime"
                    endDateTime:
                      $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/requestBody/content/application~1json/schema/oneOf/0/properties/endDateTime"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Ethereum
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
                  - title: Luniverse
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1stats~1getDailyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1stats~1getHourlyTransactionsStats/post/responses/200/content/application~1json/schema/oneOf/0/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
