openapi: 3.1.0
info:
  title: Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/token/getTokenAccountsByAssetType:
    post:
      security:
        - api_key: []
      operationId: getTokenAccountsByAssetType
      summary: Get Token Accounts by Asset Type
      description: |
        Retrieves the list of accounts holding a specific asset type.
      x-seo-description: Retrieve accounts holding a specific asset type.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Aptos
              allOf:
                - type: object
                  properties:
                    assetType:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                    linkedAssetType:
                      type: string
                      description: |-
                        Common identifier for querying Coin and FA (Fungible Asset) as a single asset unit.

                        linkedAssetType must contain the Object address of the migrated FA, entered in 64-character hexadecimal format (including "0x").
                      pattern: ^0[xX][0-9a-fA-F]{64}
                      example: "0x000000000000000000000000000000000000000000000000000000000000000a"
                - type: object
                  properties:
                    page:
                      type: integer
                      description: |-
                        The page parameter specifies the data page to query. It accepts values up to 100; for pages exceeding 100, use the cursor pagination method.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: rpp stands for results per page and specifies the page size. You can specify a number greater than 0 and up to 100.
                      pattern: ^(?:[1-9][0-9]{0,2}?|100)$
                    cursor:
                      type: string
                      description: |-
                        The cursor parameter supports pagination and data navigation between pages. Provide the cursor value from the previous page in the next request to load the next page of data.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                    withCount:
                      type: boolean
                      description: Parameter specifying whether to include the count field in the response. The count field indicates the total number of requested data items. When set to true, the count field is included and response speed may be slower.
                      default: false
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                title: Aptos
                allOf:
                  - type: object
                    required:
                      - items
                    properties:
                      page:
                        type: integer
                        description: Field representing the page number specified in the page parameter. This field is only included in the response when a value greater than 0 is specified for the page parameter.
                      rpp:
                        type: integer
                        description: Field representing the number of results per page specified in the rpp parameter.
                      cursor:
                        type: string
                        description: A field for cursor pagination. This value must be provided in the next request to load the next page of data.
                      count:
                        type: integer
                        description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                      items:
                        type: array
                        description: Field representing the list of queried data.
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - ownerAddress
                            - objectAddress
                            - value
                            - isFrozen
                            - isPrimary
                            - assetType
                            - tokenStandard
                            - linkedAssetType
                          properties:
                            ownerAddress:
                              type: string
                              description: |
                                A field that represents the address of the account holding the asset.
                                Provided as a 64-character hexadecimal string prefixed with 0x; identifies the actual owner of the asset.
                                For Coin: the holding account address; for Fungible Asset: the Object owner's address.
                              example: "0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a"
                            objectAddress:
                              type: string
                              description: |
                                A field that represents the address of the Object where the asset is stored.
                                Provided depending on storage location:
                                - Coin: empty string ("") as it is stored directly in the account
                                - Fungible Asset: Object address where the token is stored (64-character hexadecimal string prefixed with 0x)
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                            value:
                              type: string
                              description: |
                                A field that represents the quantity of the held asset.
                                Provided as a string in integer form; decimals are not included.
                                The asset's decimals must be considered when calculating the actual value.
                              example: "1000000"
                            isFrozen:
                              type: boolean
                              description: |
                                A field that indicates whether the asset can be transferred.
                                true means the asset is frozen and cannot be transferred.
                                Used to check the transfer restriction status of the asset.
                              example: false
                            isPrimary:
                              type: boolean
                              description: |
                                A field that indicates whether this Object is the representative Object for the Owner address.
                                true means this Object is the representative Object for the Owner address.
                              example: true
                            assetType:
                              type: string
                              description: |
                                A field that represents the unique identifier of the asset.
                                Provided in one of two formats:
                                - Coin: Asset ID in Move struct format (e.g., 0x1::aptos_coin::AptosCoin)
                                - Fungible Asset: Object address that owns the metadata of the asset
                              example: 0x1::aptos_coin::AptosCoin
                            tokenStandard:
                              type: string
                              description: |
                                A field that represents the standard the asset follows.
                                - v1: Assets following the Coin standard
                                - v2: Assets following the Fungible Asset standard
                              example: v1
                            linkedAssetType:
                              type: string
                              description: |
                                A common identifier that links Coin and Fungible Asset when they have been migrated.
                                This field serves as a unified key that groups Coin/Fungible Asset into a single asset unit for identification and retrieval, providing the Object address where the migrated Fungible Asset's Metadata is stored.
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenAllowance:
    post:
      security:
        - api_key: []
      operationId: getTokenAllowance
      summary: Get Token Allowance
      description: |+
        Retrieves the amount of ERC20 tokens that the owner has approved for the spender.

      x-seo-description: Retrieve the ERC20 token spending allowance granted by a token owner to a spender address.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - arc
              - base
              - bnb
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - luniverse
              - optimism
              - polygon
              - tron
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - testnet
              - hoodi
              - kairos
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Arbitrum
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Arc
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Base
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: BNB Smart Chain
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Chiliz
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Ethereum
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Ethereum Classic
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Giwa
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Kaia
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Luniverse
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Optimism
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Polygon
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/0/properties/ownerAddress"
                - title: Tron
                  type: object
                  required:
                    - contractAddress
                    - ownerAddress
                    - spenderAddress
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. This field uses a 34-character base58 string format starting with "T".
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      example: TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                    ownerAddress:
                      type: string
                      description: Parameter specifying the account address to query. This field uses a 34-character base58 string format starting with "T".
                      pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      example: T9123456789012345678901234567890123456789
                    spenderAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAllowance/post/requestBody/content/application~1json/schema/oneOf/12/properties/ownerAddress"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Arbitrum
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Arc
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Base
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: BNB Smart Chain
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Chiliz
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Ethereum
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Ethereum Classic
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Giwa
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Kaia
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Luniverse
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Optimism
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Polygon
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
                  - title: Tron
                    type: object
                    properties:
                      allowance:
                        type: string
                        description: Returns the remaining number of tokens that the spender can use on behalf of the owner through transferFrom. This value changes when approve or transferFrom is called.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenBalanceChangesByAccount:
    post:
      security:
        - api_key: []
      operationId: getTokenBalanceChangesByAccount
      summary: Get Token Balance Changes by Account
      description: |
        Retrieves the IOU token balance change history for a specific account.
      x-seo-description: Track ERC20 token balance changes for a specific account over a block or time range.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
              - xrpl
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Aptos
                  allOf:
                    - type: object
                      required:
                        - accountAddress
                      properties:
                        accountAddress:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokensOwnedByAccount/post/requestBody/content/application~1json/schema/oneOf/13/allOf/0/properties/accountAddress"
                        assetTypes:
                          type: array
                          description: |
                            Specifies the type of asset to query. The asset type must be a 64-character hexadecimal value (including "0x") in one of the following formats:

                            * Coin: A Struct-format asset ID such as "0x1::aptos_coin::AptosCoin"
                            * Fungible Asset: The Object address that owns the Token Metadata

                            ⚠️ assetTypes and linkedAssetTypes cannot be used at the same time.
                          items:
                            $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                        linkedAssetTypes:
                          type: array
                          description: |
                            A common identifier used to query Coin and FA (Fungible Asset) as a single asset unit.

                            The linkedAssetType must be the Object address of a migrated FA, entered in 64-character hexadecimal format (including "0x").

                            ⚠️ assetTypes and linkedAssetTypes cannot be used at the same time.
                          items:
                            $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/linkedAssetType"
                        fromBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                        toBlock:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/1"
                - title: XRP Ledger
                  allOf:
                    - type: object
                      required:
                        - accountAddress
                      properties:
                        accountAddress:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByAccount/post/requestBody/content/application~1json/schema/oneOf/13/allOf/0/properties/accountAddress"
                        currency:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByCurrencyAndIssuer/post/requestBody/content/application~1json/schema/allOf/0/properties/currency"
                        issuer:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByCurrencyAndIssuer/post/requestBody/content/application~1json/schema/allOf/0/properties/issuer"
                        fromLedger:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByCurrencyAndIssuer/post/requestBody/content/application~1json/schema/allOf/0/properties/fromLedger"
                        toLedger:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenTransfersByCurrencyAndIssuer/post/requestBody/content/application~1json/schema/allOf/0/properties/toLedger"
                        fromDate:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                        toDate:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                    - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/1"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Aptos
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
                  - title: XRP Ledger
                    allOf:
                      - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/responses/200/content/application~1json/schema/allOf/0"
                      - type: object
                        properties:
                          items:
                            type: array
                            items:
                              type: object
                              required:
                                - ledgerIndex
                                - ledgerTimestamp
                                - transactionIndex
                                - transactionHash
                                - transactionType
                                - affectedNodesIndex
                                - account
                                - currency
                                - issuer
                                - previousBalance
                                - finalBalance
                                - balanceChange
                              example:
                                ledgerIndex: 95444296
                                ledgerTimestamp: 1744608171
                                transactionIndex: 2
                                transactionHash: 8BAD7583234AC463E09D6CF160E352DFF5B008FC071DD5226A53809D89E7F409
                                transactionType: OfferCreate
                                affectedNodesIndex: 1
                                account: rf1BiGeXwwQoi8Z2ueFYTEXSwuJYfV2Jpn
                                currency: USD
                                issuer: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                                previousBalance: "1000.34"
                                finalBalance: "900.12"
                                balanceChange: "-100.22"
                              properties:
                                ledgerIndex:
                                  type: integer
                                  description: Integer value indicating the creation order of the ledger, used to identify its position (sequence number) on the network. Required field in the Balance Changes query API.
                                  example: 95444296
                                ledgerTimestamp:
                                  type: integer
                                  description: The ledger's close time converted to a Unix timestamp. The close time recorded in the ledger header is expressed in seconds since the Ripple Epoch (January 1, 2000 00:00 UTC), which differs from the Unix Epoch (January 1, 1970 00:00 UTC) by 946,684,800 seconds. Thus ledgerTimestamp is the recorded close time plus 946,684,800 seconds. Required field in the Transfer query API.
                                  example: 1744608171
                                transactionIndex:
                                  type: integer
                                  description: Index indicating the processing order of the transaction within the ledger. Used to determine the order of transactions in the ledger. Required field in the Balance Changes query API.
                                  example: 2
                                transactionHash:
                                  type: string
                                  description: A 256-bit (64-digit hexadecimal) cryptographic hash that uniquely identifies the transaction. Used for transaction data integrity and identification. Required field in the Balance Changes query API.
                                  example: 8BAD7583234AC463E09D6CF160E352DFF5B008FC071DD5226A53809D89E7F409
                                transactionType:
                                  type: string
                                  description: String indicating the transaction type (Payment, OfferCreate, EscrowCreate, etc.). Required field in the Transfer query API.
                                  example: OfferCreate
                                affectedNodesIndex:
                                  type: integer
                                  description: Index of the node within the AffectedNodes array.
                                  example: 1
                                account:
                                  type: string
                                  description: Account address whose balance was changed by the transaction. The account address is a Base58-encoded string 25-35 characters in length, starting with 'r'.
                                  example: rf1BiGeXwwQoi8Z2ueFYTEXSwuJYfV2Jpn
                                currency:
                                  type: string
                                  description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                  example: USD
                                issuer:
                                  type: string
                                  description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                  example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                                previousBalance:
                                  type: string
                                  description: Amount of the asset before the change. For XRP, expressed in XRP units where 1 XRP equals 1,000,000 drops.
                                  example: "1000.34"
                                finalBalance:
                                  type: string
                                  description: Amount of the asset after the change. For XRP, expressed in XRP units where 1 XRP equals 1,000,000 drops.
                                  example: "900.12"
                                balanceChange:
                                  type: string
                                  description: Amount changed by the transaction, including whether it increased or decreased. For XRP, expressed in XRP units where 1 XRP equals 1,000,000 drops.
                                  example: "-100.22"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenBalanceChangesByAssetType:
    post:
      security:
        - api_key: []
      operationId: getTokenBalanceChangesByAssetType
      summary: Get Token Balance Changes by Asset Type
      description: |
        Retrieves token balance change history by asset type.
      x-seo-description: Retrieve token balance change history filtered by asset type.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Aptos
              allOf:
                - type: object
                  properties:
                    assetType:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenPairByAssetType/post/requestBody/content/application~1json/schema/properties/assetType"
                      description: |
                        Specifies the type of asset to query. The asset type must be a 64-character hexadecimal value (including "0x") in one of the following formats:

                        * Coin: A Struct-format asset ID such as "0x1::aptos_coin::AptosCoin"
                        * Fungible Asset: The Object address that owns the Token Metadata

                        ⚠️ Either assetType or linkedAssetType is required, and both parameters cannot be used at the same time.
                    linkedAssetType:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/linkedAssetType"
                      description: |
                        A common identifier used to query Coin and FA (Fungible Asset) as a single asset unit.

                        The linkedAssetType must be the Object address of a migrated FA, entered in 64-character hexadecimal format (including "0x").

                        ⚠️ Either assetType or linkedAssetType is required, and both parameters cannot be used at the same time.
                    fromBlock:
                      type: string
                      description: |
                        Parameter specifying the starting block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (including "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                      default: earliest
                    toBlock:
                      type: string
                      description: |-
                        Parameter specifying the ending block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (including "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate:
                      type: string
                      description: |-
                        Parameter specifying the start date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without toDate, results are queried from this date to the latest block.
                        - fromDate value must be equal to or earlier than toDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-01T00:00:00+00:00"
                    toDate:
                      type: string
                      description: |-
                        Parameter specifying the end date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without fromDate, results are queried from genesis block to this date.
                        - toDate value must be equal to or later than fromDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-31T00:00:00+00:00"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/1"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                title: Aptos
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - eventIndex
                            - eventType
                            - subEventIndex
                            - accountAddress
                            - assetType
                            - linkedAssetType
                            - changeValue
                            - tokenStandard
                            - transferType
                          properties:
                            blockHeight:
                              type: integer
                              description: |
                                A field that represents the height of the block containing this balance change.
                                An integer that increments sequentially starting from the genesis block (0), used as an indicator for the blockchain length and the position of a specific block.
                              example: 160155267
                            blockTimestamp:
                              type: integer
                              description: |
                                A field that represents the block creation time.
                                Provided as a UNIX timestamp, used for block creation order and time tracking.
                                Block timestamps are used to ensure transaction order and measure inter-block creation intervals.
                              example: 1749003732416395
                            transactionHash:
                              type: string
                              description: |
                                A field that represents the hash of the transaction that caused the balance change.
                                A cryptographic hash computed from all transaction data, provided as a 64-character hexadecimal string prefixed with 0x.
                                This hash enables retrieval of full information for the transaction related to the balance change.
                              example: "0x2a41cd44491bb92d4eb17d8487f82d9b43ab6289074c1986ee055be8105707c9"
                            transactionVersion:
                              type: integer
                              description: |
                                A field that represents the version of the transaction where the balance change occurred.
                                A unique sequence ID indicating the order of the transaction on the chain, incrementing sequentially from 0.
                              example: 34872482
                            eventIndex:
                              type: integer
                              description: |
                                A field that represents the order index of the event within the transaction.
                                Indicates the order of the current event among multiple events emitted in a single transaction.
                                Starts at 0 and increments in event emission order; used to identify the order of events within the same transaction.
                              example: 0
                            eventType:
                              type: string
                              description: |
                                A field that represents the type of the event.
                                Provided as the full path (address::module::struct) of the event struct defined in the Move module.
                                Used to identify the type of operation that caused the balance change.
                              example: 0x1::coin::WithdrawEvent
                            subEventIndex:
                              type: integer
                              description: |
                                A field that represents the order of asset changes when multiple asset changes occur within a single event.
                                Identifies the order of multiple asset changes within an event sharing the same eventIndex.
                                Starts at 0 and increments sequentially; plays an important role in complex asset operations (e.g., swaps).
                              example: 0
                            accountAddress:
                              type: string
                              description: |
                                A field that represents the address of the account where the balance change occurred.
                                Provided as a 64-character hexadecimal string prefixed with 0x; identifies the account whose asset balance changed.
                                This address is either the asset owner or the destination account the asset was transferred to.
                              example: "0x948592877d14d0fde0a42e2fc15a56959f30ea35d0b87c7ee8e98e0cce756f1a"
                            assetType:
                              type: string
                              description: |
                                A field that represents the type of the asset whose balance changed.
                                Provided in one of two formats:
                                - Coin: Asset ID in Move struct format (e.g., 0x1::aptos_coin::AptosCoin)
                                - Fungible Asset: Object address that owns the metadata of the asset
                                Used to uniquely identify the type of asset.
                              example: 0x1::aptos_coin::AptosCoin
                            linkedAssetType:
                              type: string
                              description: |
                                A common identifier that links Coin and Fungible Asset when they have been migrated.
                                This field serves as a unified key that groups Coin/Fungible Asset into a single asset unit for identification and retrieval, providing the Object address where the migrated Fungible Asset's Metadata is stored.
                              example: "0xbae207659db88bea0cbead6da0ed00aac12edcdda169e591cd41c94180b46f3b"
                            changeValue:
                              type: string
                              description: |
                                A field that represents the balance change amount.
                                Provided as a string in integer form.
                                - Positive: indicates the account balance increased
                                - Negative: indicates the account balance decreased
                                The actual value must be interpreted considering decimals.
                              example: "1000000"
                            tokenStandard:
                              type: string
                              description: |
                                A field that represents the standard type of the asset.
                                - v1: Assets following the Coin standard
                                - v2: Assets following the Fungible Asset standard
                              example: coin
                            transferType:
                              type: string
                              description: |
                                A field that represents the transfer direction or action type.
                                Indicates the specific type of balance change; the following values are possible:
                                - deposit: asset deposit
                                - withdraw: asset withdrawal
                                - swap_in: deposit from swap
                                - swap_out: withdrawal from swap
                                - gas: gas fee payment
                                - refund_gas: gas fee refund
                              example: deposit
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenBalanceChangesWithinRange:
    post:
      security:
        - api_key: []
      operationId: getTokenBalanceChangesWithinRange
      summary: Get Token Balance Changes Within Range
      description: |
        Retrieves token balance change history within the specified block range.
      x-seo-description: Retrieve token balance changes within a specified block range.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - aptos
            default: aptos
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - testnet
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Aptos
              allOf:
                - type: object
                  properties:
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/requestBody/content/application~1json/schema/allOf/1"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                title: Aptos
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenAccountsByAssetType/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/paths/~1{chain}~1{network}~1token~1getTokenBalanceChangesByAssetType/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/token/getTokenContractMetadataByContracts:
    post:
      security:
        - api_key: []
      operationId: getTokenContractMetadataByContracts
      summary: Get Token Contract Metadata by Contracts
      description: |+
        Retrieves metadata for specific ERC20 contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.

      x-seo-description: Fetch ERC20 token contract metadata including name, symbol, and decimals for multiple contracts.
      tags:
        - Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
              - arc
              - base
              - bnb
              - chiliz
              - ethereum
              - ethereumclassic
              - giwa
              - kaia
              - luniverse
              - optimism
              - polygon
              - tron
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
              - testnet
              - hoodi
              - kairos
            default: mainnet
          description: Parameter to specify the network of the target chain. Supported networks may vary depending on the chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Arbitrum
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Arc
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Base
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: BNB Smart Chain
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Chiliz
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Ethereum
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Ethereum Classic
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Giwa
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Kaia
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Luniverse
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Optimism
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Polygon
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                        pattern: ^0[xX][0-9a-fA-F]{40}$
                - title: Tron
                  type: object
                  required:
                    - contractAddresses
                  properties:
                    contractAddresses:
                      type: array
                      description: Parameter specifying the array of contract addresses to query. Contract addresses use a 34-character base58 string format starting with "T".
                      items:
                        type: string
                        description: Parameter specifying the contract address to query. This field uses a 34-character base58 string format starting with "T".
                        pattern: ^T[1-9A-HJ-NP-Za-km-z]{33}$
                      example:
                        - TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t
                        - TLZSucJRjnqBKwvQz6n5hd29gbS4P7u7w8
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                oneOf:
                  - title: Arbitrum
                    type: array
                    items:
                      allOf:
                        - type: object
                          required:
                            - address
                            - deployedTransactionHash
                            - deployedAt
                            - deployerAddress
                            - logoUrl
                            - type
                          properties:
                            address:
                              type: string
                              description: A field representing the contract address.
                            deployedTransactionHash:
                              type: string
                              description: A field representing the hash of the transaction in which the contract was deployed.
                            deployedAt:
                              type: string
                              description: A field representing the time when the contract was deployed. This field is provided in ISO 8601 date and time format.
                            deployerAddress:
                              type: string
                              description: A field representing the address that deployed the contract.
                            logoUrl:
                              type: string
                              description: |-
                                A field representing the logo URL of the contract. This URL can be used to visually identify the contract.

                                 [Note]
                                 Not all contracts have logo images available. If a contract has no logo, this field is provided as null.
                            type:
                              type: string
                              description: A field representing the type of the contract. Contract types are denoted by standard specification names (e.g., ERC721, ERC1155, ERC20, ERC721, ERC1155, ERC20).
                        - type: object
                          required:
                            - name
                            - symbol
                          properties:
                            name:
                              type: string
                              description: A field representing the name of the contract. Returns an empty string if the contract does not follow the standard or if name was not provided at contract creation.
                            symbol:
                              type: string
                              description: A field representing the symbol of the contract. Returns an empty string if the contract does not follow the standard or if symbol was not provided at contract creation.
                            totalSupply:
                              type: string
                              description: A field representing the total supply of the contract. This value indicates the total token supply and is provided as a decimal string. Included in the response only when the contract type is ERC20.
                            decimals:
                              type: integer
                              description: A field representing the decimal places of the contract. Included in the response only when the contract type is ERC20 or ERC1155.
                  - title: Arc
                    type: array
                    items:
                      allOf:
                        - type: object
                          required:
                            - address
                            - deployedTransactionHash
                            - deployedAt
                            - deployerAddress
                            - logoUrl
                            - type
                          properties:
                            address:
                              type: string
                              description: A field representing the contract address.
                            deployedTransactionHash:
                              type: string
                              description: A field representing the hash of the transaction in which the contract was deployed.
                            deployedAt:
                              type: string
                              description: A field representing the time when the contract was deployed. This field is provided in ISO 8601 date and time format.
                            deployerAddress:
                              type: string
                              description: A field representing the address that deployed the contract.
                            logoUrl:
                              type: string
                              description: |-
                                A field representing the logo URL of the contract. This URL can be used to visually identify the contract.

                                 [Note]
                                 Not all contracts have logo images available. If a contract has no logo, this field is provided as null.
                            type:
                              type: string
                              description: A field representing the type of the contract. Contract types are denoted by standard specification names (e.g., ERC721, ERC1155, ERC20, ERC721, ERC1155, ERC20).
                        - type: object
                          required:
                            - name
                            - symbol
                          properties:
                            name:
                              type: string
                              description: A field representing the name of the contract. Returns an empty string if the contract does not follow the standard or if name was not provided at contract creation.
                            symbol:
                              type: string
                              description: A field representing the symbol of the contract. Returns an empty string if the contract does not follow the standard or if symbol was not provided at contract creation.
                            totalSupply:
                              type: string
                              description: A field representing the total supply of the contract. This value indicates the total token supply and is provided as a decimal string. Included in the response only when the contract type is ERC20.
                            decimals:
                              type: integer
                              description: A field representing the decimal places of the contract. Included in the response only when the contract type is ERC20 or ERC1155.
                  - title: Base
                    type: array
                    items:
                      allOf:
                        - type: object
                          required:
                            - address
                            - deployedTransactionHash
                            - deployedAt
                            - deployerAddress
                            - logoUrl
                            - type
                          properties:
                            address:
                              type: string
                              description: A field representing the contract address.
                            deployedTransactionHash:
                              type: string
                              description: A field representing the hash of the transaction in which the contract was deployed.
                            deployedAt:
                              type: string
                              description: A field representing the time when the contract was deployed. This field is provided in ISO 8601 date and time format.
                            deployerAddress:
                              type: string
                              description: A field representing the address that deployed the contract.
                            logoUrl:
                              type: string
                              description: |-
                                A field representing the logo URL of the contract. This URL can be used to visually identify the contract.

                                 [Note]
                                 Not all contracts have logo images available. If a contract has no logo, this field is provided as null.
                            type:
                              type: string
                              description: A field representing the type of the contract. Contract types are denoted by standard specification names (e.g., ERC721, ERC1155, ERC20, ERC721, ERC1155, ERC20).
                        - type: object
                          required:
                            - name
                            - symbol
                          properties:
                            name:
                              type: string
                              description: A field representing the name of the contract. Returns an empty string if the contract does not follow the standard or if name was not provided at contract creation.
                            symbol:
                              type: string
                              description: A field representing the symbol of the contract. Returns an empty string if the contract does not follow the standard or if symbol was not provided at contract creation.
                            totalSupply:
                              type: string
                              description: A field representing the total supply of the contract. This value indicates the total token supply and is provided as a decimal string. Included in the response only when the contract type is ERC20.
                            decimals:
                              type: integer
                              description: A field representing the decimal places of the contract. Included in the response only when the contract type is ERC20 or ERC1155.
                  - title: BNB Smart Chain
                    type: array
                    items:
                      allOf:
                        - type: object
                          required:
                            - address
                            - deployedTransactionHash
                            - deployedAt
                            - deployerAddress
                            - logoUrl
                            - type
                          properties:
                            address:
                              type: string
[...]
