openapi: 3.1.0
info:
  title: Injective - BlockResults
  version: 1.0.0
servers:
  - url: https://rpc-injective-mainnet.nodit.io
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
paths:
  /:
    post:
      security:
        - api_key: []
      operationId: block_results
      summary: BlockResults
      description: Retrieves the execution results at the specified block height. Returns the latest block results if height is omitted.
      tags:
        - json-rpc-api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - jsonrpc
                - id
                - method
              properties:
                jsonrpc:
                  type: string
                  const: "2.0"
                id:
                  type: integer
                method:
                  type: string
                  const: block_results
                params:
                  type: object
                  additionalProperties: false
                  properties:
                    height:
                      type: string
                      description: Target block height.
            example:
              jsonrpc: "2.0"
              id: 1
              method: block_results
              params:
                height: "1"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - jsonrpc
                  - id
                  - result
                properties:
                  jsonrpc:
                    type: string
                    const: "2.0"
                  id:
                    type: integer
                  result:
                    type: object
                    additionalProperties: false
                    properties:
                      height:
                        type: string
                      total_gas_used:
                        type: string
                      txs_results:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            code:
                              type: string
                            data:
                              type: string
                            log:
                              type: string
                            info:
                              type: string
                            gas_wanted:
                              type: string
                            gas_used:
                              type: string
                            events:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  type:
                                    type: string
                                  attributes:
                                    type: array
                                    items:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        key:
                                          type: string
                                        value:
                                          type: string
                                        index:
                                          type: boolean
                            codespace:
                              type: string
                      begin_block_events:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            type:
                              type: string
                            attributes:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                  index:
                                    type: boolean
                      end_block:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            type:
                              type: string
                            attributes:
                              type: array
                              items:
                                type: object
                                additionalProperties: false
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                  index:
                                    type: boolean
                      validator_updates:
                        type: array
                        items:
                          type: object
                          additionalProperties: false
                          properties:
                            pub_key:
                              type: object
                              additionalProperties: false
                              properties:
                                type:
                                  type: string
                                value:
                                  type: string
                            power:
                              type: string
                      consensus_params_updates:
                        type: object
                        additionalProperties: false
                        properties:
                          block:
                            type: object
                            additionalProperties: false
                            properties:
                              max_bytes:
                                type: string
                              max_gas:
                                type: string
                              time_iota_ms:
                                type: string
                          evidence:
                            type: object
                            additionalProperties: false
                            properties:
                              max_age:
                                type: string
                          validator:
                            type: object
                            additionalProperties: false
                            properties:
                              pub_key_types:
                                type: array
                                items:
                                  type: string
              example:
                jsonrpc: "2.0"
                id: 1
                result:
                  height: "1"
                  total_gas_used: "0"
                  txs_results: []
                  begin_block_events:
                    - type: transfer
                      attributes:
                        - key: recipient
                          value: cosmos1jv65s3grqf6v6jl3dp4t6c9t9rk99cd88lyufl
                          index: true
                  end_block: []
                  validator_updates: []
                  consensus_params_updates:
                    block:
                      max_bytes: "22020096"
                      max_gas: "-1"
                      time_iota_ms: "1000"
                    evidence:
                      max_age: "100000"
                    validator:
                      pub_key_types:
                        - ed25519
