openapi: 3.1.0
info:
  title: XRP Ledger - Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/blockchain/getLedgerByHashOrIndex:
    post:
      security:
        - api_key: []
      operationId: xrpl-getLedgerByHashOrIndex
      summary: Get Ledger By Hash Or Index
      description: |
        Returns information about a Ledger queried by Ledger hash or index.
      x-seo-description: Retrieve detailed ledger data by its hash or ledger index, including transaction summaries.
      tags:
        - Blockchain API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ledger
              properties:
                ledger:
                  type: string
                  description: |
                    Parameter specifying the ledger to query. You can enter one of the following formats:
                    - ledger index: Ledger number as a decimal string
                    - ledger hash: 64-character hexadecimal string (excluding 0x prefix)
                    - ledger tag: "earliest" or "latest" (oldest or most recent ledger)
                  pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                  default: latest
            example:
              ledger: latest
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - ledgerHash
                  - ledgerIndex
                  - ledgerIndex
                  - ledgerTimestamp
                  - parentLedgerHash
                  - accountHash
                  - totalCoins
                  - transactionHash
                  - transactionCount
                  - transactions
                example:
                  ledgerHash: 655EB9D740CC572BFFEC725ABB0AA0D813AAF01C91F8577076F29258794D9445
                  ledgerIndex: 95444296
                  ledgerTimestamp: 1744608171
                  parentLedgerHash: 45E963AA7A3BB017D626D088C91E6C646B6BBF558DD027AAD974CBBE9A3977D3
                  accountHash: 43DA3A81948A7392D14E4DDFB8215372C4B0590E3B28691C599296E4478B12AC
                  totalCoins: "99986231517.566048"
                  transactionHash: 8BAD7583234AC463E09D6CF160E352DFF5B008FC071DD5226A53809D89E7F409
                  transactionCount: 40
                  transactions:
                    - 044CD9B107E209F24F5342393F34493E7AFE99AE6F5051F2D75E186F07E1EAE8
                    - 0D1DDF6974EA31918EB531F9212FC76BC47BCE9193839496474010D133C0BB1E
                    - 1069423CDB7F19E082E6F418C779B19A0126B593832016D134A679EFB752CF0A
                properties:
                  ledgerHash:
                    type: string
                    description: Unique identifier of the current ledger, a 256-bit (64-digit hexadecimal) cryptographic hash. Used for ledger data integrity verification and identification.
                    example: 655EB9D740CC572BFFEC725ABB0AA0D813AAF01C91F8577076F29258794D9445
                  ledgerIndex:
                    type: integer
                    description: Integer value indicating the creation order of the ledger, used to identify its position (sequence number) on the network.
                    example: 95444296
                  ledgerTimestamp:
                    type: integer
                    description: The ledger's close time converted to a Unix timestamp. The close time recorded in the ledger header is expressed in seconds since the Ripple Epoch (January 1, 2000 00:00 UTC), which differs from the Unix Epoch (January 1, 1970 00:00 UTC) by 946,684,800 seconds. Thus ledgerTimestamp is the recorded close time plus 946,684,800 seconds.
                    example: 1744608171
                  parentLedgerHash:
                    type: string
                    description: 256-bit (64-digit hexadecimal) hash identifying the ledger immediately preceding the current ledger. References the previous ledger's hash to maintain chain integrity.
                    example: 45E963AA7A3BB017D626D088C91E6C646B6BBF558DD027AAD974CBBE9A3977D3
                  accountHash:
                    type: string
                    description: 256-bit (64-digit hexadecimal) hash summarizing all account state information recorded in the ledger. Used to verify consistency and integrity of account data.
                    example: 43DA3A81948A7392D14E4DDFB8215372C4B0590E3B28691C599296E4478B12AC
                  totalCoins:
                    type: string
                    description: Total quantity of XRP (in XRP units) owned by accounts recorded in the ledger. This value excludes XRP burned as transaction fees. The actual circulating XRP may be lower than this value because some accounts may be in a "black hole" state (accounts with no key).
                    example: "99986231517.566048"
                  transactionHash:
                    type: string
                    description: 256-bit (64-digit hexadecimal) Merkle tree root hash summarizing all transaction data included in the ledger. Used for transaction history integrity verification.
                    example: 8BAD7583234AC463E09D6CF160E352DFF5B008FC071DD5226A53809D89E7F409
                  transactionCount:
                    type: integer
                    description: Integer value indicating the total number of transactions included in the ledger. Used to assess the scale and activity of ledger transaction history.
                    example: 40
                  transactions:
                    type: array
                    description: Array of transaction hashes included in the ledger. Each hash is a 256-bit (64-digit hexadecimal) cryptographic hash uniquely identifying a transaction, used for transaction data integrity and identification.
                    example:
                      - 044CD9B107E209F24F5342393F34493E7AFE99AE6F5051F2D75E186F07E1EAE8
                      - 0D1DDF6974EA31918EB531F9212FC76BC47BCE9193839496474010D133C0BB1E
                      - 1069423CDB7F19E082E6F418C779B19A0126B593832016D134A679EFB752CF0A
                    items:
                      type: string
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/blockchain/getLedgersWithinRange:
    post:
      security:
        - api_key: []
      operationId: xrpl-getLedgersWithinRange
      summary: Get Ledgers Within Range
      description: |
        Retrieves the list of Ledgers within a specific range.
      x-seo-description: Fetch all ledgers produced within a specified index range, including transaction details.
      tags:
        - Blockchain API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - fromLedger
                    - toLedger
                  properties:
                    fromLedger:
                      type: string
                      description: |-
                        Parameter specifying the starting ledger for the query. You can enter one of the following formats:
                        - **ledger index**: Enter ledger number as a decimal string
                        - **ledger hash**: 64-character hexadecimal string (excluding 0x prefix)
                        - **ledger tag**: Enter "earliest" or "latest" (oldest or most recent ledger)

                        Notes:
                        - If provided without toLedger, results are queried from this ledger to the latest ledger.
                        - fromLedger value cannot be greater than toLedger value.
                        - If fromLedger and toLedger have the same value, only that ledger is queried.
                        - "latest" for fromLedger is only allowed when toLedger is "latest".
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    toLedger:
                      type: string
                      description: |-
                        Parameter specifying the ending ledger for the query. You can enter one of the following formats:
                        - **ledger index**: Enter ledger number as a decimal string
                        - **ledger hash**: 64-character hexadecimal string (excluding 0x prefix)
                        - **ledger tag**: Enter "earliest" or "latest" (oldest or most recent ledger)

                        Notes:
                        - If provided without fromLedger, results are queried from genesis ledger to this ledger.
                        - toLedger value cannot be less than fromLedger value.
                        - If fromLedger and toLedger have the same value, only that ledger is queried.
                        - "earliest" for toLedger is only allowed when fromLedger is "earliest".
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate:
                      type: string
                      description: |-
                        Parameter specifying the start date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without toDate, results are queried from this date to the latest block.
                        - fromDate value must be equal to or earlier than toDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-01T00:00:00+00:00"
                    toDate:
                      type: string
                      description: |-
                        Parameter specifying the end date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without fromDate, results are queried from genesis block to this date.
                        - toDate value must be equal to or later than fromDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-31T00:00:00+00:00"
                - type: object
                  properties:
                    page:
                      type: integer
                      description: |-
                        The page parameter specifies the data page to query. It accepts values up to 100; for pages exceeding 100, use the cursor pagination method.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: rpp stands for results per page and specifies the page size. You can specify a number greater than 0 and up to 100.
                      pattern: ^(?:[1-9][0-9]{0,2}?|100)$
                    cursor:
                      type: string
                      description: |-
                        The cursor parameter supports pagination and data navigation between pages. Provide the cursor value from the previous page in the next request to load the next page of data.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                    withCount:
                      type: boolean
                      description: Parameter specifying whether to include the count field in the response. The count field indicates the total number of requested data items. When set to true, the count field is included and response speed may be slower.
                      default: false
            example:
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - items
                    properties:
                      page:
                        type: integer
                        description: Field representing the page number specified in the page parameter. This field is only included in the response when a value greater than 0 is specified for the page parameter.
                      rpp:
                        type: integer
                        description: Field representing the number of results per page specified in the rpp parameter.
                      cursor:
                        type: string
                        description: A field for cursor pagination. This value must be provided in the next request to load the next page of data.
                      count:
                        type: integer
                        description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                      items:
                        type: array
                        description: Field representing the list of queried data.
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/paths/~1{chain}~1{network}~1blockchain~1getLedgerByHashOrIndex/post/responses/200/content/application~1json/schema"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/blockchain/getTotalTransactionCountByAccount:
    post:
      security:
        - api_key: []
      operationId: xrpl-getTotalTransactionCountByAccount
      summary: Get Total Transaction Count By Account
      description: |+
        This API returns the total count of transactions in which a specific account address is included as the sender or recipient.

      x-seo-description: Retrieve the total number of transactions sent or received by a specific account address.
      tags:
        - Blockchain API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountAddress
              properties:
                accountAddress:
                  type: string
                  description: Parameter specifying the account address for balance query. It is a Base58-encoded string of 25-35 characters, always starting with "r".
                  pattern: ^r[1-9A-HJ-NP-Za-km-z]{25,35}$
            example:
              accountAddress: r9cZA1mLK5R5Am25ArfXFmqgNQW4tU1K8
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionCount:
                    type: integer
                    description: Indicates the total count of transactions in which the account participated as sender or recipient. For XRPL and Aptos, it indicates the total count of transactions created by the specific account.
                example:
                  transactionCount: 8124
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/blockchain/getTransactionByHash:
    post:
      security:
        - api_key: []
      operationId: xrpl-getTransactionByHash
      summary: Get Transaction By Hash
      description: |
        Retrieves information about a specific transaction.
      x-seo-description: Fetch detailed transaction data including status, gas, and logs by its transaction hash.
      tags:
        - Blockchain API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - xrpl
            default: xrpl
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transactionHash
              properties:
                transactionHash:
                  type: string
                  description: Parameter for entering the unique transaction hash. Uses a 64-character hexadecimal string.
                  pattern: "[0-9a-fA-F]{64}$"
                withBalanceChanges:
                  type: boolean
                  description: Optional parameter determining whether to include the balanceChanges field in the response. balanceChanges contains balance change details for native token (XRP) and IOU tokens. Response speed may be slower when set to true.
                  default: false
                withTokenTransfers:
                  type: boolean
                  description: Optional parameter determining whether to include the tokenTransfers field in the response. tokenTransfers contains IOU token transfer history. Response speed may be slower when set to true.
                  default: false
            example:
              transactionHash: C466ACB9B54128A433E7FC9EFA49030A547AA06F40A3508BA90EF9D5984BADC3
              withBalanceChanges: false
              withTokenTransfers: false
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - ledgerIndex
                  - ledgerTimestamp
                  - transactionIndex
                  - transactionHash
                  - transactionType
                  - transactionResult
                  - account
                  - sequence
                  - signingPubKey
                  - fee
                  - transactionCategory
                example:
                  ledgerIndex: 95444296
                  ledgerTimestamp: 1744608171
                  transactionIndex: 1
                  transactionHash: 0D1DDF6974EA31918EB531F9212FC76BC47BCE9193839496474010D133C0BB1E
                  transactionType: Payment
                  transactionResult: tesSUCCESS
                  account: rEqFohwoXqGFVik15uqF5nBdzfd5qEFh1X
                  sequence: 94536309
                  lastLedgerSequence: 95444315
                  ticketSequence: 5
                  signingPubKey: ED1BCAE2B5F146BF30F40D36D4D8565A7E6F758B7062288336BE74D969E4543A19
                  txnSignature: 744E21E3E298BC06B874EA43ABDEB762A23EEA3630F6DD4215AD32C7B35C2C630777DDC3687245766E3CA7BF0B747A085E44
                  fee: "0.000012"
                  flags: "131072"
                  accountTxnId: D84B7A07E9FAD27D8782DAF4A5AD8C8C4D1D1F18E9D62D0384A2E1A2A4D3AD11
                  sourceTag: 123456
                  signers:
                    - account: ra88Lr8fyo9cUTuyjVFMTrvTSBU93erjyh
                      txnSignature: 3044022061BFBBFF27890E13EB1B5B106042AF497FC57846B31CE633A5AD6B5C8736DDFF0220153FA9C62AAC532120F9CBCCED44A680D233DF96204E7CC3C3820E4C887006AC
                      signingPubKey: 02ABCDEF1234567890ABCDEF1234567890ABCDEF1234567890ABCDEF12345678
                  memos:
                    - memoData: 72656e6577206d656d6f
                      memoFormat: 746578742f706c61696e
                      memoType: 68747470733a2f2f6578616d706c652e636f6d
                  balanceChanges:
                    affectedNodesIndex: 1
                    account: rf1BiGeXwwQoi8Z2ueFYTEXSwuJYfV2Jpn
                    currency: USD
                    issuer: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                    previousBalance: "1000.34"
                    finalBalance: "900.12"
                    balanceChange: "-100.22"
                  tokenTransfers:
                    ledgerIndex: 95444296
                    ledgerTimestamp: 1744608171
                    transactionIndex: 0
                    transactionHash: 4770851929AD74B3EF36D818C7100564B2F3333AE60FA1B05BFAA95020D18D5B
                    transactionType: Payment
                    affectedNodesIndex: 1
                    from: rLuSZRKfW2oFVDEHab6U7tBSfnzSovzcw4
                    to: rMxCKbEDwqr76QuheSUMdEGf4B9xJ8m5De
                    currency: USD
                    issuer: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                    value: "100.5"
                properties:
                  ledgerIndex:
                    type: integer
                    description: Sequence number of the ledger that contains the transaction. Used to identify which ledger the transaction was recorded in.
                    example: 95444296
                  ledgerTimestamp:
                    type: integer
                    description: Returns the close time of the ledger containing this transaction as a Unix timestamp. In the XRP Ledger, close time is recorded in seconds since the Ripple Epoch (January 1, 2000 00:00 UTC). Standard Unix timestamps use the Unix Epoch (January 1, 1970 00:00 UTC); the difference between them is 946,684,800 seconds. Thus ledgerTimestamp is the recorded close time plus 946,684,800 seconds.
                    example: 1744608171
                  transactionIndex:
                    type: integer
                    description: Index indicating the processing order of the transaction within the ledger. Used to determine the order of transactions in the ledger.
                    example: 1
                  transactionHash:
                    type: string
                    description: A 256-bit (64-digit hexadecimal) cryptographic hash that uniquely identifies the transaction. Used for transaction data integrity and identification.
                    example: 0D1DDF6974EA31918EB531F9212FC76BC47BCE9193839496474010D133C0BB1E
                  transactionType:
                    type: string
                    description: String indicating the transaction type. Distinguishes various types such as Payment, OfferCreate, EscrowCreate, and is classified by processing method.
                    example: Payment
                  transactionResult:
                    type: string
                    description: String indicating the transaction processing result, displayed as a result code such as 'tesSUCCESS'. Used to verify whether the transaction succeeded.
                    example: tesSUCCESS
                  account:
                    type: string
                    description: Account address that initiated the transaction. The account address is a Base58-encoded string 25-35 characters in length, starting with 'r'.
                    example: rEqFohwoXqGFVik15uqF5nBdzfd5qEFh1X
                  sequence:
                    type: integer
                    description: Sequential number of transactions issued by the account, used to prevent duplicate submissions and replay attacks.
                    example: 94536309
                  lastLedgerSequence:
                    type: integer
                    description: Sequence number of the last ledger in which the transaction is valid. The transaction will not be processed in ledgers after this value.
                    example: 95444315
                  ticketSequence:
                    type: integer
                    description: For ticket-based transactions, the ticket number. Only present for transactions that use tickets.
                    example: 5
                  signingPubKey:
                    type: string
                    description: Public key used for the transaction signature, typically expressed as a 33-byte (66-digit hexadecimal) compressed public key.
                    example: ED1BCAE2B5F146BF30F40D36D4D8565A7E6F758B7062288336BE74D969E4543A19
                  txnSignature:
                    type: string
                    description: Transaction signature value generated with signingPubKey. Used for transaction verification and authentication.
                    example: 744E21E3E298BC06B874EA43ABDEB762A23EEA3630F6DD4215AD32C7B35C2C630777DDC3687245766E3CA7BF0B747A085E44
                  fee:
                    type: string
                    description: Transaction processing fee, expressed as an XRP amount (in XRP units) as a string. In XRP units where 1 XRP equals 1,000,000 drops.
                    example: "0.000012"
                  flags:
                    type: string
                    description: Flag values applied to the transaction. Each bit controls a specific option or behavior; the default is often 0.
                    example: "131072"
                  accountTxnId:
                    type: string
                    description: 256-bit hash identifying another transaction. If set, this transaction is valid only when it matches the sending account's most recent transaction ID. Used to prevent duplicate transaction submission or to verify that account state has not changed since a previous transaction.
                    example: D84B7A07E9FAD27D8782DAF4A5AD8C8C4D1D1F18E9D62D0384A2E1A2A4D3AD11
                  sourceTag:
                    type: integer
                    description: 32-bit unsigned integer that the sender may specify when sending a transaction. Primarily used to identify the sending user from shared addresses (e.g. exchange or hosted wallet). Provides additional information so the receiver can determine "who sent it".
                    example: 123456
                  signers:
                    type: array
                    description: For multi-signed transactions, an array of objects containing each signer's information. Each object includes signer account, signing public key, signature value, etc.
                    items:
                      type: object
                      required:
                        - account
                        - txnSignature
                        - signingPubKey
                      properties:
                        account:
                          type: string
                          description: Account address that signed the transaction. The account address is a Base58-encoded string 25-35 characters in length, starting with 'r'.
                          example: ra88Lr8fyo9cUTuyjVFMTrvTSBU93erjyh
                        txnSignature:
                          type: string
                          description: Transaction signature value generated by the signing account, used for transaction validity verification. This signature is DER-encoded; length varies but is typically 70-80 hexadecimal characters.
                          example: 3044022061BFBBFF27890E13EB1B5B106042AF497FC57846B31CE633A5AD6B5C8736DDFF0220153FA9C62AAC532120F9CBCCED44A680D233DF96204E7CC3C3820E4C887006AC
                        signingPubKey:
                          type: string
                          description: Public key used for the transaction signature, typically a 33-byte compressed public key expressed as a hexadecimal string (about 66 characters).
                          example: 02ABCDEF1234567890ABCDEF1234567890ABCDEF1234567890ABCDEF12345678
                  memos:
                    type: array
                    description: Array of objects containing memo data attached to the transaction. Each memo object provides additional information such as memo content and format.
                    items:
                      type: object
                      properties:
                        memoData:
                          type: string
                          description: Arbitrary hexadecimal string containing the memo content. Can be freely specified.
                          example: 72656e6577206d656d6f
                        memoFormat:
                          type: string
                          description: Hexadecimal string describing the memo encoding. Typically used to specify MIME type.
                          example: 746578742f706c61696e
                        memoType:
                          type: string
                          description: Hexadecimal string describing the memo type. Typically represents a unique relation such as a URL defined in RFC 5988.
                          example: 68747470733a2f2f6578616d706c652e636f6d
                  transactionCategory:
                    type: string
                    description: Enumeration string indicating the transaction category. Possible values include AMM, Check, Escrow, Offer, Payment, Payment Channel; each category is defined by the corresponding transaction type (e.g. Payment, OfferCreate).
                  transactionDetails:
                    type: object
                    oneOf:
                      - title: AMM
                        properties:
                          asset:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                            description: First asset used in the AMM pool. Composed with Asset2; cannot have the same currency code and issuer.
                          asset2:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                            description: Second asset used in the AMM pool. Composed with Asset; cannot have the same currency code and issuer.
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount of the first asset added to the AMM pool. In AMMWithdraw, indicates the first asset to withdraw.
                          amount2:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount of the second asset added to the AMM pool. In AMMWithdraw, indicates the second asset to withdraw.
                          tradingFee:
                            type: integer
                            description: Trading fee rate set in 1/100,000 units. 1 equals 0.001%, maximum value is 1000 (1%).
                            example: 250
                          effectivePrice:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Sets the maximum valid price in AMMDeposit. In AMMWithdraw, sets the minimum guaranteed price.
                          lpTokenIn:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Quantity of LP tokens returned from the AMM pool.
                          lpTokenOut:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Quantity of LP tokens issued in return for providing liquidity to the AMM pool.
                          bidMin:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Sets the minimum bid amount. Setting this higher makes it harder for others to place higher bids.
                          bidMax:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Sets the maximum bid amount. The transaction fails if the bid amount exceeds bidMax.
                          authAccounts:
                            type: array
                            description: Defines up to 4 additional accounts eligible for discounted fees. The transaction sender's address cannot be included. Each account address is a Base58-encoded string 25-35 characters in length, starting with 'r'.
                            items:
                              type: string
                            example:
                              - rEqFohwoXqGFVik15uqF5nBdzfd5qEFh1X
                              - rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                          holder:
                            type: string
                            description: Account address targeted for clawback in AMMClawback transaction. An account holding specific assets in the AMM pool; the issuer may claw back assets from this account.
                            example: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                      - title: Check
                        properties:
                          destination:
                            type: string
                            description: Check recipient account address. Base58-encoded string, always starting with 'r' and 25-35 characters in length.
                            example: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                          sendMax:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Maximum asset amount the check issuer set for transfer via the check. The recipient can receive only assets with the same currency and issuer; total amount including fees cannot exceed this value.
                          destinationTag:
                            type: integer
                            description: Tag to identify a specific user within the recipient account. Used when multiple users share one address (e.g. exchange or hosted wallet).
                            example: 1337
                          expiration:
                            type: integer
                            description: Check expiration time in seconds (integer). Relative to Ripple Epoch (January 1, 2000 00:00 UTC); add 946,684,800 seconds to convert to Unix timestamp. The check cannot be used after expiration.
                            example: 673094400
                          invoiceId:
                            type: string
                            description: 256-bit hash (64-digit hexadecimal string) used to identify external transactions or invoices related to this check. When included in the response, indicates the check is linked to a specific external request.
                            example: 6F1DFD1D0FE8A32E40E1F2C05CF1C15545BAB56B617F9C6C2D63A6B704BEF59B
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Asset amount actually applied when cashing the check. Must have the same asset code and issuer as the check's sendMax field, within that range. In CheckCash, only amount or deliverMin is included, not both.
                          deliverMin:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Minimum guaranteed asset amount received by the recipient. Used in CheckCash when receiving the maximum possible amount; mutually exclusive with amount. In CheckCash, only deliverMin or amount is included, not both.
                          checkId:
                            type: string
                            description: Unique ID of the check as a 64-digit hexadecimal string. Referenced when canceling or cashing the check.
                            example: 49647F0D748DC3FE26BDACBC57F251AADEFFF391403EC9BF87C97F67E9977FB0
                      - title: Escrow
                        properties:
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount of assets held in escrow. Deducted from the sender's account and paid to the recipient when the specified conditions are met.
                          destination:
                            type: string
                            description: Account address that will receive the escrow assets. Base58-encoded, starting with 'r', 25-35 characters in length.
                            example: rBTwLga3i2gz3doX6Gva3MgEV8ZCD8jjah
                          cancelAfter:
                            type: integer
                            description: Escrow expiration time in seconds. After this time, funds can be returned to the sender via EscrowCancel. Relative to Ripple Epoch (January 1, 2000 00:00 UTC); add 946,684,800 seconds for Unix time.
                            example: 533257958
                          finishAfter:
                            type: integer
                            description: Minimum time (in seconds) before the recipient can receive escrow assets. EscrowFinish can only be executed after this time. Like cancelAfter, relative to Ripple Epoch.
                            example: 533171558
                          destinationTag:
                            type: integer
                            description: Tag to identify a specific user within the recipient account. Used when multiple users share one address (e.g. exchange or hosted wallet).
                            example: 23480
                          condition:
                            type: string
                            description: Hash value based on PREIMAGE-SHA-256 condition. Associated with the fulfillment value required to receive escrow funds; funds cannot be received in EscrowFinish if the condition is not satisfied.
                            example: A0258020E3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B934CA495991B7852B855810100
                          fulfillment:
                            type: string
                            description: Original data (preimage) that satisfies the hash condition set in the condition field. Must be included in EscrowFinish; funds can be received when the condition is satisfied.
                            example: A0028000
                          owner:
                            type: string
                            description: Account address that created the escrow. Base58-encoded string 25-35 characters in length, starting with 'r'.
                            example: rf1BiGeXwwQoi8Z2ueFYTEXSwuJYfV2Jpn
                          offerSequence:
                            type: integer
                            description: Sequence number used to identify the escrow. Based on the account sequence of the EscrowCreate transaction that created it.
                            example: 7
                      - title: Offer
                        properties:
                          takerPays:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount of assets the taker proposed to pay via the offer. The offer creator specifies the paying asset (buy side) through this field; this is what the counterparty receives.
                          takerGets:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount of assets the taker proposed to receive via the offer. The offer creator specifies the desired asset (sell side) through this field; this is what the counterparty provides.
                          expiration:
                            type: integer
                            description: Offer expiration time in seconds (integer). Relative to Ripple Epoch (January 1, 2000 00:00 UTC); add 946,684,800 seconds for Unix timestamp. The offer is automatically invalidated after expiration.
                            example: 673094400
                          offerSequence:
                            type: integer
                            description: Sequence number that uniquely identifies the offer. Used in OfferCancel to specify which offer to cancel; in OfferCreate may overwrite a previous offer from the same account.
                            example: 1024
                      - title: Payment
                        required:
                          - amount
                          - deliverMax
                          - deliveredAmount
                          - destination
                        properties:
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount of assets the sender intended to deliver to the recipient. This is the requested transfer amount; actual received amount may be less. May differ from deliveredAmount in partial payments.
                          deliverMax:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Transfer cap used during transaction processing. Amount considering path fees or exchange rate conditions; often same as amount but may differ based on processing results.
                          deliverMin:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: When partial payment is allowed, minimum asset amount the recipient must receive. The transaction fails if a lesser amount is delivered.
                          destinationAmount:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Actual asset amount delivered to the recipient. May be less than amount for partial payments; may show "unavailable" for older ledgers (before 2014-01-20).
                          destination:
                            type: string
                            description: Account address that received the payment. Base58 encoding, always starting with 'r', 25-35 characters in length.
                            example: rf1BiGeXwwQoi8Z2ueFYTEXSwuJYfV2Jpn
                          destinationTag:
                            type: integer
                            description: Tag providing additional information to the recipient. Used to identify specific services or hosted recipients.
                            example: 23480
                          invoiceId:
                            type: string
                            description: Tag to identify a specific user within the recipient account. Used when multiple users share one address (e.g. exchange or hosted wallet).
                            example: F8D38C1E27FADF5F5ED1C19B0ACED3B8
                          paths:
                            type: array
                            description: Path (PathSet) information used for this payment. Includes intermediary accounts and trading pairs; omitted for "XRP → XRP" payments.
                            items:
                              type: array
                              items:
                                type: object
                                properties:
                                  account:
                                    type: string
                                    description: Account address that relays assets along the path. When an intermediary account is specified, it must be able to pass assets received in the previous step to the next step, and trust lines must exist.
                                    example: ra88Lr8fyo9cUTuyjVFMTrvTSBU93erjyh
                                  currency:
                                    type: string
                                    description: Currency code of the asset used in this step. Typically ISO 4217 code (e.g. "USD") or 40-character hexadecimal custom code. For XRP, the string "XRP" is provided.
                                    example: USD
                                  issuer:
                                    type: string
                                    description: Account address that issued the asset. For IOU assets, the account that issued the currency is included. XRP has no issuer as it is a native asset; in that case issuer is returned as an empty string ("").
                                    example: ra88Lr8fyo9cUTuyjVFMTrvTSBU93erjyh
                                  type:
                                    type: integer
                                    description: Value representing the structure of this path step as bit flags. Each bit indicates which fields (account, currency, issuer) are included in this step. Now deprecated and no longer used in official documentation.
                                    example: 16
                                  typeHex:
                                    type: string
                                    description: String representing the type value in hexadecimal. Interpretation is the same as type; this field is also deprecated. Now replaced by explicitly including each field (account, currency, issuer).
                                    example: "0x01"
                            example:
                              - - account: rNyMZc18D4yRonb2D9MCjhcHxn8yx9gr31
                                  type: 1
                          sendMax:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Maximum asset amount the sender can pay for the payment. May include exchange fees and path costs; does not include transaction fee (XRP burn). Not used for XRP to XRP payments.
                          credentialIds:
                            type: array
                            description: List of ledger IDs of Credential entries referenced for transaction approval. Included only when the Credentials Amendment is enabled on the network.
                            items:
                              type: string
                            example:
                              - E3B0C44298FC1C149AFBF4C8996FB924
                      - title: Payment Channel
                        properties:
                          amount:
                            type: object
                            properties:
                              currency:
                                type: string
                                description: Indicates the currency code of the asset. Typically uses ISO 4217 standard codes (e.g. "USD", "EUR"), but 160-bit custom codes may also be used. Custom codes are expressed as 40-character hexadecimal strings and are used for proprietary assets defined by specific projects or platforms (e.g. "SOLO"). For XRP, the fixed string "XRP" is used in the currency field and is returned in the same structure as IOU assets.
                                example: USD
                              issuer:
                                type: string
                                description: The address of the account that issued the asset. Even with the same currency code, asset credibility and risk may vary by issuer. Thus, the XRP Ledger uniquely identifies assets by the combination of currency code and issuer. Each asset's trustworthiness largely depends on the issuer's reputation. This field is a Base58-encoded string 25-35 characters in length, always starting with 'r'. XRP is a native asset with no issuer; in that case, issuer is shown as an empty string ("").
                                example: rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq
                              value:
                                type: string
                                description: Returns the asset amount as a string. The amount format varies by currency. For \"XRP\", the value is in standard XRP units where 1 XRP equals 1,000,000 drops. IOU assets are expressed based on the precision defined by the issuer.
                                example: "100.5"
                            description: Amount to deposit in PaymentChannelCreate, additional funding in PaymentChannelFund, or claim request amount in PaymentChannelClaim. In XRP units in all cases; 1 XRP equals 1,000,000 drops.
                          destination:
                            type: string
                            description: Recipient address of the channel. XRP sent through the channel can only go to this address. Account address is a Base58-encoded string 25-35 characters in length, starting with 'r'.
                            example: rD1D3nQ13NjqXUuP3oqdeP1upvPr2iXZxV
                          settleDelay:
                            type: integer
                            description: |-
                              Minimum time (seconds) the channel owner must wait before closing the channel.

                              This field represents time in seconds since the Ripple Epoch (January 1, 2000 00:00 UTC). Add 946,684,800 seconds to convert to a Unix timestamp.
                            example: 86400
                          publicKey:
                            type: string
                            description: Public key used to generate signatures for the channel. Used for signature verification in PaymentChannelClaim.
                            example: 32D2471DB72B27E3310F355BB33E339BF26F8392D5A93D3BC0FC3B566612DA0F0A
                          cancelAfter:
                            type: integer
                            description: |-
                              Time when the channel expires. After this time, the channel closes automatically and can no longer be used. cancelAfter cannot be changed; the channel may be closed earlier than this time, but must close after it.

                              This field represents time in seconds since the Ripple Epoch (January 1, 2000 00:00 UTC). Add 946,684,800 seconds to convert to a Unix timestamp.
                            example: 712345678
                          destinationTag:
                            type: integer
                            description: Tag to identify a specific user within the recipient address. Used in exchanges or multi-user environments.
                            example: 23480
                          credentialIds:
                            type: array
                            description: List of Credential ledger entry IDs used to approve the channel claim request. Only used when the Credential Amendment is enabled on the network.
                            items:
                              type: string
                            example:
                              - 1CB67D082CF7D9102412D34258CEDB400E659352D3B207348889297A6D90F5EF
[...]
