openapi: 3.1.0
info:
  title: Bitcoin Cash - Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/native/getNativeTokenBalanceByAccount:
    post:
      security:
        - api_key: []
      operationId: bitcoincash-getNativeTokenBalanceByAccount
      summary: Get Native Token Balance by Account
      description: |
        Retrieves the native token balance held by a specific account. The token type may vary depending on the selected chain. (e.g.,
        For Bitcoin, you can query the BTC balance.)
      x-seo-description: Retrieve the native token balance for a specific account on non-EVM chains like Aptos.
      tags:
        - Native Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - bitcoincash
            default: bitcoincash
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountAddress
              properties:
                accountAddress:
                  type: string
                  description: Parameter specifying the account address to query.
                  pattern: ^(1[a-km-zA-HJ-NP-Z1-9]{25,33}|3[a-km-zA-HJ-NP-Z1-9]{25,33}|bc1q[a-z0-9]{38,59}|bc1p[a-z0-9]{58})$
                  example: bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq
            example:
              accountAddress: 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                required:
                  - ownerAddress
                  - balance
                properties:
                  ownerAddress:
                    type: string
                    description: Field representing the owner address.
                  balance:
                    type: string
                    description: Field representing the balance.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/native/getNativeTokenTransfersByAccount:
    post:
      security:
        - api_key: []
      operationId: bitcoincash-getNativeTokenTransfersByAccount
      summary: Get Native Token Transfers By Account
      description: |
        Retrieves the native token transfer history associated with a specific address. The token type may vary depending on the selected chain. (e.g.,
        For Bitcoin, you can query BTC transfer history.)
      x-seo-description: Retrieve native token transfers sent or received by a specific account address.
      tags:
        - Native Token API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - bitcoincash
            default: bitcoincash
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1native~1getNativeTokenBalanceByAccount/post/requestBody/content/application~1json/schema/properties/accountAddress"
                    relation:
                      type: string
                      description: |-
                        Parameter for filtering transactions where the queried account address is the sender or recipient.
                        - from: Filter by sender only.
                        - to: Filter by recipient only.
                        - both (default): Returns all transactions where the queried address appears in from or to.
                      enum:
                        - from
                        - to
                        - both
                      pattern: from|to|both
                      default: both
                    fromBlock:
                      type: string
                      description: |
                        Parameter specifying the starting block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (excluding "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                    toBlock:
                      type: string
                      description: |
                        Parameter specifying the ending block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (excluding "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^[0-9a-fA-F]{64}|latest|earliest
                    fromDate:
                      type: string
                      description: |-
                        Parameter specifying the start date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without toDate, results are queried from this date to the latest block.
                        - fromDate value must be equal to or earlier than toDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-01T00:00:00+00:00"
                    toDate:
                      type: string
                      description: |-
                        Parameter specifying the end date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without fromDate, results are queried from genesis block to this date.
                        - toDate value must be equal to or later than fromDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-31T00:00:00+00:00"
                - type: object
                  properties:
                    page:
                      type: integer
                      description: |-
                        The page parameter specifies the data page to query. It accepts values up to 100; for pages exceeding 100, use the cursor pagination method.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: rpp stands for results per page and specifies the page size. You can specify a number greater than 0 and up to 100.
                      pattern: ^(?:[1-9][0-9]{0,2}?|100)$
                    cursor:
                      type: string
                      description: |-
                        The cursor parameter supports pagination and data navigation between pages. Provide the cursor value from the previous page in the next request to load the next page of data.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                    withCount:
                      type: boolean
                      description: Parameter specifying whether to include the count field in the response. The count field indicates the total number of requested data items. When set to true, the count field is included and response speed may be slower.
                      default: false
            example:
              accountAddress: 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - items
                    properties:
                      page:
                        type: integer
                        description: Field representing the page number specified in the page parameter. This field is only included in the response when a value greater than 0 is specified for the page parameter.
                      rpp:
                        type: integer
                        description: Field representing the number of results per page specified in the rpp parameter.
                      cursor:
                        type: string
                        description: A field for cursor pagination. This value must be provided in the next request to load the next page of data.
                      count:
                        type: integer
                        description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                      items:
                        type: array
                        description: Field representing the list of queried data.
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - senders
                            - recipients
                            - fee
                            - transactionHash
                            - transactionId
                            - blockHeight
                            - blockHash
                            - blockTimestamp
                          example:
                            senders:
                              - index: 0
                                address: 2N5PcdirZUzKF9bWuGdugNuzcQrCbBudxv1
                                amount: "0.0873472"
                            recipients:
                              - index: 0
                                address: 2MzakdGTEp8SMWEHKwKM4HYv6uNCBXtHpkV
                                amount: "0.00144"
                              - index: 1
                                address: 2N3zifWQLo3SQFRCYWA5QCkssAJtByRxuVh
                                amount: "0.0842140"
                            fee: "0.0016932"
                            transactionHash: 1ec73b0f61359927d02376b35993b756b1097cb9a857bec23da4c98c4977d2b2
                            transactionId: 4b66461bf88b61e1e4326356534c135129defb504c7acb2fd6c92697d79eb250
                            blockHeight: 100000
                            blockHash: 0000000000000000000a8ed7f3e6c1c2d21cbb5f
                            blockTimestamp: 1400000000
                          properties:
                            senders:
                              type: array
                              description: Array containing detailed information for each sender in the transaction. Each object includes the sender's address, amount sent, and sender index.
                              items:
                                type: object
                                required:
                                  - index
                                  - address
                                  - value
                                properties:
                                  index:
                                    type: integer
                                    description: Index of the sender; uniquely identifies the sender in the transaction. Starts at 0; assigned sequentially when multiple senders exist.
                                    example: 0
                                  address:
                                    type: string
                                    description: Address of the sender. The address used by the sender to send Bitcoin in the transaction; follows P2PKH, P2SH, Bech32, or Bech32m format.
                                    example: 2N5PcdirZUzKF9bWuGdugNuzcQrCbBudxv1
                                  value:
                                    type: string
                                    description: Amount sent by the sender in the transaction, displayed in BTC units. Amount allows up to 8 decimal places.
                                    example: "0.0873472"
                              example:
                                - index: 0
                                  address: 2N5PcdirZUzKF9bWuGdugNuzcQrCbBudxv1
                                  amount: "0.0873472"
                            recipients:
                              type: array
                              description: Array containing detailed information for each recipient in the transaction. Each object includes the recipient's address, amount received, and recipient index.
                              items:
                                type: object
                                required:
                                  - index
                                  - address
                                  - value
                                properties:
                                  index:
                                    type: integer
                                    description: Index of the recipient; uniquely identifies the recipient in the transaction. Starts at 0; assigned sequentially when multiple recipients exist.
                                    example: 0
                                  address:
                                    type: string
                                    description: Address of the recipient. The address used by the recipient to receive Bitcoin; follows P2PKH, P2SH, Bech32, or Bech32m format.
                                    example: 2MzakdGTEp8SMWEHKwKM4HYv6uNCBXtHpkV
                                  value:
                                    type: string
                                    description: Amount received by the recipient in the transaction, displayed in BTC units. Amount allows up to 8 decimal places.
                                    example: "0.00144"
                              example:
                                - index: 0
                                  address: 2MzakdGTEp8SMWEHKwKM4HYv6uNCBXtHpkV
                                  amount: "0.00144"
                                - index: 1
                                  address: 2N3zifWQLo3SQFRCYWA5QCkssAJtByRxuVh
                                  amount: "0.0842140"
                            fee:
                              type: string
                              description: Transaction fee; the amount paid by the sender to include the transaction in the blockchain network. Amount is displayed in BTC units.
                              example: "0.0016932"
                            transactionHash:
                              type: string
                              description: Unique hash value of the transaction. A 64-character hexadecimal string generated from transaction data; uniquely identifies the transaction.
                              example: 1ec73b0f61359927d02376b35993b756b1097cb9a857bec23da4c98c4977d2b2
                            transactionId:
                              type: string
                              description: Unique ID of the transaction. A value that uniquely identifies each transaction; displayed as a 64-character hexadecimal string.
                              example: 4b66461bf88b61e1e4326356534c135129defb504c7acb2fd6c92697d79eb250
                            blockHeight:
                              type: integer
                              description: Indicates the height of the block containing the transaction. Integer value representing the order in the blockchain.
                              example: 100000
                            blockHash:
                              type: string
                              description: Unique hash value of the block containing the transaction. A 64-character hexadecimal string generated using the SHA-256 algorithm; uniquely identifies the block.
                              example: 0000000000000000000a8ed7f3e6c1c2d21cbb5f
                            blockTimestamp:
                              type: integer
                              description: Creation time of the block containing the transaction. Value in UNIX timestamp format; represents when the block was created in UTC, in seconds.
                              example: 1400000000
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
