openapi: 3.1.0
info:
  title: Arbitrum - Web3 Data API
  version: 1.0.0
servers:
  - url: https://web3.nodit.io/v1
    description: Web3 Data API
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: X-API-KEY
      in: header
      x-default: nodit-demo
      description: |
        The example value `nodit-demo` is for use in the developer documentation only.
        For real applications or services, please use the API key issued from the Nodit console.
  responses:
    "400":
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - MISSING_REQUIRED_PARAMETER
                  - INVALID_PARAMETER
                  - WRONG_RANGE_PARAMETER
                  - DEPRECATED_OPERATION
                description: Code to identify the cause of the bad request
              message:
                type: string
                description: Detailed message including the name, value, etc. of the invalid parameter
            required:
              - code
              - message
          examples:
            MISSING_REQUIRED_PARAMETER:
              summary: When a required parameter is missing
              value:
                code: MISSING_REQUIRED_PARAMETER
                message: "Missing required parameter: { PARAMETER_NAME }"
            INVALID_PARAMETER:
              summary: When an invalid value is provided for a parameter
              value:
                code: INVALID_PARAMETER
                message: "Invalid parameter: { PARAMETER1_NAME = PARAMETER1_VALUE }"
            WRONG_RANGE_PARAMETER:
              summary: When a value outside the query range is provided
              value:
                code: WRONG_RANGE_PARAMETER
                message: "Wrong range parameter: { PARAMETER_NAME }"
            DEPRECATED_OPERATION:
              summary: When a deprecated API is requested
              value:
                code: DEPRECATED_OPERATION
                message: This operation has been deprecated
    "401":
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - NO_AUTHENTICATION_FOUND
                  - AUTHENTICATION_FAILED
                description: Code to identify the cause of authentication failure
              message:
                type: string
                description: Detailed message including the cause of authentication failure
            required:
              - code
              - message
          examples:
            NO_AUTHENTICATION_FOUND:
              summary: When authentication credentials are not included
              value:
                code: NO_AUTHENTICATION_FOUND
                message: No authentication found
            AUTHENTICATION_FAILED:
              summary: When authentication credentials are mismatched or invalid
              value:
                code: AUTHENTICATION_FAILED
                message: Authentication failed
    "403":
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - PERMISSION_DENIED
                description: Code indicating permission denied
              message:
                type: string
                description: Detailed message including information about the denied resource
            required:
              - code
              - message
          examples:
            PERMISSION_DENIED:
              summary: When accessing an unauthorized resource
              value:
                code: PERMISSION_DENIED
                message: Permission denied
    "404":
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - WRONG_ENDPOINT
                  - NOT_SUPPORTED_CHAIN
                  - RESOURCE_NOT_FOUND
                description: Code to identify the cause of the resource not found
              message:
                type: string
                description: Detailed message including the name, value, etc. of the resource not found
            required:
              - code
              - message
          examples:
            WRONG_ENDPOINT:
              summary: When requesting a non-existent API path
              value:
                code: WRONG_ENDPOINT
                message: Wrong endpoint
            NOT_SUPPORTED_CHAIN:
              summary: When requesting an unsupported chain
              value:
                code: NOT_SUPPORTED_CHAIN
                message: Not supported chain
            RESOURCE_NOT_FOUND:
              summary: When requesting a resource that does not exist on the server
              value:
                code: RESOURCE_NOT_FOUND
                message: "Resource not found: { RESOURCE_NAME = RESOURCE_VALUE }"
    "405":
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - METHOD_NOT_ALLOWED
                description: Code indicating a disallowed HTTP method
              message:
                type: string
                description: Detailed message about the disallowed HTTP method
            required:
              - code
              - message
          examples:
            METHOD_NOT_ALLOWED:
              summary: When requesting with an unsupported HTTP method
              value:
                code: METHOD_NOT_ALLOWED
                message: Method not allowed
    "408":
      description: Request Timeout
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TIMEOUT
                description: Code indicating request timeout
              message:
                type: string
                description: Detailed message including the cause of the timeout
            required:
              - code
              - message
          examples:
            TIMEOUT:
              summary: When processing is not completed within the specified time
              value:
                code: TIMEOUT
                message: Request timeout
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - RESOURCE_ALREADY_EXISTS
                  - REJECTED
                description: Code to identify the cause of the request conflict
              message:
                type: string
                description: Detailed message including information about the conflicting resource
            required:
              - code
              - message
          examples:
            RESOURCE_ALREADY_EXISTS:
              summary: When attempting to create a resource that already exists
              value:
                code: RESOURCE_ALREADY_EXISTS
                message: Resource already exists
            REJECTED:
              summary: When the request is rejected by the server
              value:
                code: REJECTED
                message: Request rejected
    "413":
      description: Payload Too Large
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - CONTENTS_TOO_LARGE
                description: Code indicating payload size exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed payload size
            required:
              - code
              - message
          examples:
            CONTENTS_TOO_LARGE:
              summary: When the payload exceeds the server's maximum limit
              value:
                code: CONTENTS_TOO_LARGE
                message: Contents too large
    "414":
      description: URI Too Long
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_LONG_URI
                description: Code indicating URI length exceeded
              message:
                type: string
                description: Detailed message including the maximum allowed URI length
            required:
              - code
              - message
          examples:
            TOO_LONG_URI:
              summary: When the request URI exceeds the server's maximum length
              value:
                code: TOO_LONG_URI
                message: URI too long
    "429":
      description: Too Many Requests
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - TOO_MANY_REQUESTS
                  - EXCEEDED_QUOTA_LIMIT
                description: Code identifying the cause of the request limit exceeded
              message:
                type: string
                description: Detailed message including the exceeded limit type and allowed threshold
            required:
              - code
              - message
          examples:
            TOO_MANY_REQUESTS:
              summary: When the rate limit is exceeded
              value:
                code: TOO_MANY_REQUESTS
                message: Too many requests
            EXCEEDED_QUOTA_LIMIT:
              summary: When the quota limit is exceeded
              value:
                code: EXCEEDED_QUOTA_LIMIT
                message: Exceeded quota limit
    "500":
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - INTERNAL_SERVER_ERROR
                  - INTERRUPTED
                description: Code to identify the cause of the internal server error
              message:
                type: string
                description: Detailed message including the cause of the server error
            required:
              - code
              - message
          examples:
            INTERNAL_SERVER_ERROR:
              summary: When an internal server error occurs
              value:
                code: INTERNAL_SERVER_ERROR
                message: Internal server error
            INTERRUPTED:
              summary: When processing fails temporarily due to server load
              value:
                code: INTERRUPTED
                message: Request interrupted
    "503":
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: string
                enum:
                  - UNAVAILABLE
                description: Code indicating service unavailability
              message:
                type: string
                description: Detailed message including the cause of the service outage
            required:
              - code
              - message
          examples:
            UNAVAILABLE:
              summary: When the service is unavailable due to infrastructure downtime or upgrade
              value:
                code: UNAVAILABLE
                message: Service unavailable
paths:
  /{chain}/{network}/nft/getNftContractMetadataByContracts:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftContractMetadataByContracts
      summary: Get NFT Contract Metadata by Contracts
      description: |+
        Retrieves metadata for specific NFT contracts. Multiple contracts can be queried, up to a maximum of 100 contracts.

      x-seo-description: Fetch NFT contract metadata including name, symbol, and standards for multiple contracts.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contractAddresses
              properties:
                contractAddresses:
                  type: array
                  description: Parameter specifying an array of contract addresses to query. Contract addresses can be entered as 40-character hexadecimal strings starting with 0x.
                  items:
                    type: string
                    description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                    pattern: ^0[xX][0-9a-fA-F]{40}$
            example:
              contractAddresses:
                - "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                - "0x60E4d786628Fea6478F785A6d7e704777c86a7c6"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      required:
                        - address
                        - deployedTransactionHash
                        - deployedAt
                        - deployerAddress
                        - logoUrl
                        - type
                      properties:
                        address:
                          type: string
                          description: A field representing the contract address.
                        deployedTransactionHash:
                          type: string
                          description: A field representing the hash of the transaction in which the contract was deployed.
                        deployedAt:
                          type: string
                          description: A field representing the time when the contract was deployed. This field is provided in ISO 8601 date and time format.
                        deployerAddress:
                          type: string
                          description: A field representing the address that deployed the contract.
                        logoUrl:
                          type: string
                          description: |-
                            A field representing the logo URL of the contract. This URL can be used to visually identify the contract.

                             [Note]
                             Not all contracts have logo images available. If a contract has no logo, this field is provided as null.
                        type:
                          type: string
                          description: A field representing the type of the contract. Contract types are denoted by standard specification names (e.g., ERC721, ERC1155, ERC20, ERC721, ERC1155, ERC20).
                    - type: object
                      required:
                        - name
                        - symbol
                      properties:
                        name:
                          type: string
                          description: A field representing the name of the contract. Returns an empty string if the contract does not follow the standard or if name was not provided at contract creation.
                        symbol:
                          type: string
                          description: A field representing the symbol of the contract. Returns an empty string if the contract does not follow the standard or if symbol was not provided at contract creation.
                        totalSupply:
                          type: string
                          description: A field representing the total supply of the contract. This value indicates the total token supply and is provided as a decimal string. Included in the response only when the contract type is ERC20.
                        decimals:
                          type: integer
                          description: A field representing the decimal places of the contract. Included in the response only when the contract type is ERC20 or ERC1155.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftContractsByAccount:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftContractsByAccount
      summary: Get NFT Contracts by Account
      description: |+
        Retrieves NFTs held by a specific account, grouped by contract. Results include the quantity of NFTs per contract and contract metadata.

      x-seo-description: Retrieve all NFT contracts an account has interacted with, including balances per contract.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/accountAddress"
                    contractAddresses:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/requestBody/content/application~1json/schema/properties/contractAddresses"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              accountAddress: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - totalBalance
                                - uniqueBalance
                              properties:
                                totalBalance:
                                  type: string
                                  description: |-
                                    Returns the sum of all balance quantities for the contract.

                                     [Note]
                                     The quantity calculation method may vary depending on the contract type. For ERC721, it equals uniqueBalance; for ERC1155, it returns the sum of all quantities.

                                     (Example)
                                     ERC721: Returns 3 if holding #100, #200, #300
                                     ERC1155: Returns 600 if holding 100 of #1, 200 each of #200 and #300
                                uniqueBalance:
                                  type: string
                                  description: |-
                                    Returns the number of distinct token IDs among the NFTs held by the contract.

                                     [Note]
                                     The quantity calculation method may vary depending on the contract type. For ERC721, it equals totalBalance; for ERC1155, it returns the number of unique token IDs.

                                     (Example)
                                     ERC721: Returns 3 if holding #100, #200, #300
                                     ERC1155: Returns 3 if holding 100 of #1, 200 each of #200 and #300
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftHoldersByContract:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftHoldersByContract
      summary: Get NFT Holders by Contract
      description: |+
        Retrieves the holder list for a specific NFT contract. The holder list includes holder addresses and the quantity of NFTs held by each holder.

      x-seo-description: Get a paginated list of all holders for a specific NFT contract address.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/contractAddress"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftHoldersByTokenId:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftHoldersByTokenId
      summary: Get NFT Holders by Token ID
      description: |+
        Retrieves the holder list for a specific NFT. The holder list includes holder addresses and the quantity of NFTs held by each holder.

      x-seo-description: Retrieve all accounts currently holding a specific NFT identified by contract and token ID.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                    - tokenId
                  properties:
                    contractAddress:
                      type: string
                      description: Parameter specifying the contract address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                    tokenId:
                      type: string
                      description: Parameter specifying the NFT token ID to query. Can be entered as a decimal string.
                      pattern: ^[0-9]+$
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
              tokenId: "1"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          type: object
                          required:
                            - ownerAddress
                            - totalBalance
                            - uniqueBalance
                          properties:
                            ownerAddress:
                              type: string
                              description: A field representing the owner address.
                            totalBalance:
                              type: string
                              description: |-
                                Returns the sum of all balance quantities for the contract.

                                 [Note]
                                 The quantity calculation method may vary depending on the contract type. For ERC721, it equals uniqueBalance; for ERC1155, it returns the sum of all quantities.

                                 (Example)
                                 ERC721: Returns 3 if holding #100, #200, #300
                                 ERC1155: Returns 600 if holding 100 of #1, 200 each of #200 and #300
                            uniqueBalance:
                              type: string
                              description: |-
                                Returns the number of distinct token IDs among the NFTs held by the contract.

                                 [Note]
                                 The quantity calculation method may vary depending on the contract type. For ERC721, it equals totalBalance; for ERC1155, it returns the number of unique token IDs.

                                 (Example)
                                 ERC721: Returns 3 if holding #100, #200, #300
                                 ERC1155: Returns 3 if holding 100 of #1, 200 each of #200 and #300
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftMetadataByContract:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftMetadataByContract
      summary: Get NFT Metadata by Contract
      description: |+
        Retrieves the metadata list for NFTs issued from a specific contract.


        > 📘 What are NFT Metadata and Token URI?
        >
        > NFTs are a technology that ensures ownership and uniqueness of digital assets. NFT metadata is a critical component that stores information about these assets. Metadata plays an important role in describing the essence of an NFT.
        > 1. NFT Metadata
        > Includes the NFT's creator, issuance date, attributes, and media files (e.g., images, videos). This metadata makes an NFT more than just a digital file—it defines a unique asset and establishes the NFT's scarcity or distinctive characteristics.
        > 2. Token URI
        > Storing data on the blockchain is costly. Therefore, metadata and media files are not stored on the blockchain but are kept in external storage such as IPFS or S3. Token URI is a field that points to the location of the metadata file in such external storage. Metadata is accessed via this URI. In other words, Token URI links metadata and media files, serving as the bridge between on-chain information and actual content.

      x-seo-description: Fetch metadata for all NFTs in a specific contract, including token IDs, images, and traits.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/contractAddress"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftMetadataByTokenIds/post/responses/200/content/application~1json/schema/items/allOf/0"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftMetadataByTokenIds:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftMetadataByTokenIds
      summary: Get NFT Metadata by Token IDs
      description: |+
        Retrieves metadata for specific NFTs. Multiple NFTs can be queried, up to a maximum of 100 NFTs.


        > 📘 What are NFT Metadata and Token URI?
        >
        > NFTs are a technology that ensures ownership and uniqueness of digital assets. NFT metadata is a critical component that stores information about these assets. Metadata plays an important role in describing the essence of an NFT.
        > 1. NFT Metadata
        > Includes the NFT's creator, issuance date, attributes, and media files (e.g., images, videos). This metadata makes an NFT more than just a digital file—it defines a unique asset and establishes the NFT's scarcity or distinctive characteristics.
        > 2. Token URI
        > Storing data on the blockchain is costly. Therefore, metadata and media files are not stored on the blockchain but are kept in external storage such as IPFS or S3. Token URI is a field that points to the location of the metadata file in such external storage. Metadata is accessed via this URI. In other words, Token URI links metadata and media files, serving as the bridge between on-chain information and actual content.

      x-seo-description: Retrieve metadata for specific NFTs using contract address and token IDs in a single request.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tokens
              properties:
                tokens:
                  type: array
                  description: List of NFTs to query. Up to 100 NFTs can be queried.
                  items:
                    type: object
                    required:
                      - contractAddress
                      - tokenId
                    properties:
                      contractAddress:
                        $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/contractAddress"
                      tokenId:
                        $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/tokenId"
            example:
              tokens:
                - contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                  tokenId: "1"
                - contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
                  tokenId: "2"
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      required:
                        - tokenId
                        - tokenUri
                        - tokenUriSyncedAt
                        - rawMetadata
                        - metadataSyncedAt
                      properties:
                        tokenId:
                          type: string
                          description: A field representing the unique ID of the NFT token. This ID is used to identify the NFT.
                        tokenUri:
                          type: string
                          description: A field representing the URI where the original metadata of the NFT is located. Format may vary by contract implementation, but is typically provided as an IPFS address or web URL.
                        tokenUriSyncedAt:
                          type: string
                          description: A field representing when the tokenUri of the NFT was synchronized.
                        rawMetadata:
                          type: string
                          description: A field representing the rawMetadata of the NFT.
                        metadataSyncedAt:
                          type: string
                          description: A field representing when the metadata of the NFT was synchronized.
                    - type: object
                      properties:
                        contract:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftTransfersByAccount:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftTransfersByAccount
      summary: Get NFT Transfers By Account
      description: |+
        Retrieves the list of NFT transfers sent or received by a specific address. Results include contract metadata and NFT metadata.

      x-seo-description: Get a paginated list of NFT transfers sent or received by a specific account address.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/accountAddress"
                    relation:
                      type: string
                      description: |-
                        Parameter for filtering transactions where the queried account address is the sender or recipient.
                        - from: Filter by sender only.
                        - to: Filter by recipient only.
                        - both (default): Returns all transactions where the queried address appears in from or to.
                      enum:
                        - from
                        - to
                        - both
                      pattern: from|to|both
                      default: both
                    contractAddresses:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/requestBody/content/application~1json/schema/properties/contractAddresses"
                    fromBlock:
                      type: string
                      description: |
                        Parameter specifying the starting block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (including "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    toBlock:
                      type: string
                      description: |-
                        Parameter specifying the ending block for the query. You can enter one of the following formats:
                        - block number: Enter block number as a decimal string.
                        - block hash: 64-character hexadecimal (including "0x").
                        - block tag: Use "earliest" or "latest" to specify the first block or the most recent block.

                        Notes:
                        - This field cannot be used together with `fromDate` and `toDate`.
                        - If provided without fromBlock, results are queried from genesis block to this block.
                        - toBlock value cannot be less than fromBlock value.
                        - If fromBlock and toBlock have the same value, only that block is queried.
                        - "earliest" for toBlock is only allowed when fromBlock is "earliest".
                        - If `fromBlock` and `toBlock` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]+$|^0[xX][0-9a-fA-F]{64}|latest|earliest
                    fromDate:
                      type: string
                      description: |-
                        Parameter specifying the start date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without toDate, results are queried from this date to the latest block.
                        - fromDate value must be equal to or earlier than toDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-01T00:00:00+00:00"
                    toDate:
                      type: string
                      description: |-
                        Parameter specifying the end date for the query. Date must follow ISO 8601 format (YYYY-MM-DDThh:mm:ss{time zone}) including seconds.

                        Notes:
                        - If provided without fromDate, results are queried from genesis block to this date.
                        - toDate value must be equal to or later than fromDate value.
                        - If fromDate and toDate have the same value, only blocks from that date are queried.
                        - This field cannot be used together with fromBlock and toBlock.  
                        - If `fromDate` and `toDate` are not provided, the API queries data from the latest 30 days.
                      pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(?:\.[0-9]{1,3})?(?:Z|[+-][0-9]{2}:[0-9]{2})$
                      example: "2025-01-31T00:00:00+00:00"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withMetadata"
                    withZeroValue:
                      type: boolean
                      description: Parameter specifying whether to include results with value 0 in the response. Set to true for faster responses.
                      default: false
                    withFunction:
                      type: boolean
                      description: Parameter specifying whether to include the function field in the response. Response speed may be slower when set to true.
                      default: false
            example:
              accountAddress: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - from
                                - to
                                - value
                                - timestamp
                                - blockNumber
                                - transactionHash
                                - logIndex
                              properties:
                                from:
                                  type: string
                                  description: A field representing the address from which the token was transferred. Provided as a 40-character hexadecimal string prefixed with 0x.
                                to:
                                  type: string
                                  description: A field representing the address that received the token. Provided as a 40-character hexadecimal string prefixed with 0x.
                                value:
                                  type: string
                                  description: A field representing the amount of tokens transferred. Provided in decimal string format.
                                timestamp:
                                  type: integer
                                  description: A field representing when the token transfer occurred. This field is provided as a UNIX timestamp.
                                blockNumber:
                                  type: integer
                                  description: A field representing the block number where the token transfer occurred.
                                transactionHash:
                                  type: string
                                  description: A field representing the hash of the token transfer transaction. Provided as a 64-character hexadecimal string prefixed with 0x.
                                logIndex:
                                  type: integer
                                  description: A field representing the log index of the token transfer transaction. Indicates the order of events in the transaction.
                                batchIndex:
                                  type: integer
                                  description: A field representing the batch index of the token transfer transaction. This field is included only in responses for ERC1155 token transfers.
                                function:
                                  type: object
                                  description: A field representing the information of the function called in a transaction containing a Transfer. This field is included in the response only when the withFunction parameter is set to true.
                                  required:
                                    - selector
                                    - input
                                  properties:
                                    selector:
                                      type: string
                                      description: A 4-byte function selector value that identifies the called function. The function selector is the first 4 bytes of the Keccak-256 hash of the function signature. Provided as an 8-character hexadecimal string prefixed with 0x.
                                    name:
                                      type: string
                                      description: A field representing the name of the called function.
                                    signature:
                                      type: string
                                      description: "A field representing the signature of the called function. "
                                    args:
                                      type: array
                                      description: A field representing the arguments of the called function.
                                      items:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                            description: A field representing the name of the argument.
                                          type:
                                            type: string
                                            description: A field representing the type of the argument.
                                          value:
                                            type: string
                                            description: A field representing the value of the argument.
                                    input:
                                      type: string
                                      description: A field representing the input data of the function. Provided as a hexadecimal string prefixed with 0x.
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
                                nft:
                                  $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftTransfersByContract:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftTransfersByContract
      summary: Get NFT Transfers By Contract
      description: |+
        Retrieves the list of NFT transfers that occurred from a specific contract. Results include contract metadata and NFT metadata.

      x-seo-description: Retrieve the transfer history of all NFTs within a specific contract address.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/contractAddress"
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withMetadata"
                    withZeroValue:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withZeroValue"
                    withFunction:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withFunction"
            example:
              contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/0"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
                                nft:
                                  $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftTransfersByTokenId:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftTransfersByTokenId
      summary: Get NFT Transfers By TokenId
      description: |+
        Retrieves the list of transfers for a specific NFT. Results include contract metadata and NFT metadata.

      x-seo-description: Fetch the complete transfer history for a specific NFT identified by contract and token ID.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - contractAddress
                    - tokenId
                  properties:
                    contractAddress:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/contractAddress"
                    tokenId:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftHoldersByTokenId/post/requestBody/content/application~1json/schema/allOf/0/properties/tokenId"
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withMetadata"
                    withZeroValue:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withZeroValue"
                    withFunction:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withFunction"
            example:
              contractAddress: "0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"
              tokenId: "1"
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/0"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
                                nft:
                                  $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftTransfersWithinRange:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftTransfersWithinRange
      summary: Get NFT Transfers Within Range
      description: |+
        Retrieves the list of NFT transfers that occurred during a specific period. Results include contract metadata and NFT metadata.
        > 📘 Period setting tip
        > If the specified period is long, response time may increase. For faster responses, it is recommended to set only the necessary period.

      x-seo-description: Get all NFT transfers that occurred within a specified block number or time range.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  properties:
                    fromBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromBlock"
                    toBlock:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toBlock"
                    fromDate:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/fromDate"
                    toDate:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/0/properties/toDate"
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
                - type: object
                  properties:
                    withMetadata:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withMetadata"
                    withZeroValue:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withZeroValue"
                    withFunction:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/requestBody/content/application~1json/schema/allOf/2/properties/withFunction"
            example:
              fromDate: "2026-01-01T00:00:00Z"
              toDate: "2026-02-01T00:00:00Z"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftTransfersByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/0"
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
                                nft:
                                  $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/1/properties/items/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/getNftsOwnedByAccount:
    post:
      security:
        - api_key: []
      operationId: arbitrum-getNftsOwnedByAccount
      summary: Get NFTs Owned By Account
      description: |+
        Retrieves the list of NFTs held by a specific account. Results include the quantity held per token and token metadata.


        > 📘 What are NFT Metadata and Token URI?
        >
        > NFTs are a technology that ensures ownership and uniqueness of digital assets. NFT metadata is a critical component that stores information about these assets. Metadata plays an important role in describing the essence of an NFT.
        > 1. NFT Metadata
        > Includes the NFT's creator, issuance date, attributes, and media files (e.g., images, videos). This metadata makes an NFT more than just a digital file—it defines a unique asset and establishes the NFT's scarcity or distinctive characteristics.
        > 2. Token URI
        > Storing data on the blockchain is costly. Therefore, metadata and media files are not stored on the blockchain but are kept in external storage such as IPFS or S3. Token URI is a field that points to the location of the metadata file in such external storage. Metadata is accessed via this URI. In other words, Token URI links metadata and media files, serving as the bridge between on-chain information and actual content.

      x-seo-description: Retrieve all NFTs currently owned by a specific account address, with metadata included.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - accountAddress
                  properties:
                    accountAddress:
                      type: string
                      description: Parameter specifying the account address to query. Can be entered as a 40-character hexadecimal string starting with 0x.
                      pattern: ^0[xX][0-9a-fA-F]{40}$
                      example: "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                    contractAddresses:
                      $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/requestBody/content/application~1json/schema/properties/contractAddresses"
                - type: object
                  properties:
                    page:
                      type: integer
                      description: |-
                        The page parameter specifies the data page to query. It accepts values up to 100; for pages exceeding 100, use the cursor pagination method.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                      pattern: ^(?:[1-9][0-9]?|100)$
                    rpp:
                      type: integer
                      description: rpp stands for results per page and specifies the page size. You can specify a number greater than 0 and up to 100.
                      pattern: ^(?:[1-9][0-9]{0,2}?|100)$
                    cursor:
                      type: string
                      description: |-
                        The cursor parameter supports pagination and data navigation between pages. Provide the cursor value from the previous page in the next request to load the next page of data.

                        The page and cursor parameters cannot be used together. If both page and cursor are empty, cursor pagination is used.
                    withCount:
                      type: boolean
                      description: Parameter specifying whether to include the count field in the response. The count field indicates the total number of requested data items. When set to true, the count field is included and response speed may be slower.
                      default: false
                - type: object
                  properties:
                    withMetadata:
                      type: boolean
                      description: Parameter specifying whether to include NFT token metadata fields (rawMetadata, metadataSyncedAt) in the response. Response speed may be slower when set to true.
                      default: false
            example:
              accountAddress: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    required:
                      - items
                    properties:
                      page:
                        type: integer
                        description: Field representing the page number specified in the page parameter. This field is only included in the response when a value greater than 0 is specified for the page parameter.
                      rpp:
                        type: integer
                        description: Field representing the number of results per page specified in the rpp parameter.
                      cursor:
                        type: string
                        description: A field for cursor pagination. This value must be provided in the next request to load the next page of data.
                      count:
                        type: integer
                        description: Field representing the total count of requested data. This field is only included in the response when true is set for the withCount parameter.
                      items:
                        type: array
                        description: Field representing the list of queried data.
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - type: object
                              required:
                                - ownerAddress
                                - balance
                                - lastTransferredAt
                              properties:
                                ownerAddress:
                                  type: string
                                  description: A field representing the owner address.
                                balance:
                                  type: string
                                  description: A field representing the balance.
                                lastTransferredAt:
                                  type: string
                                  description: A field representing the time when the token or NFT was last transferred to the owner in ISO 8601 format. Only reflects transfers made via standard token Transfer events (ERC20, ERC721, ERC1155); transfers via non-standard events may not be reflected.
                            - type: object
                              required:
                                - tokenId
                                - tokenUri
                                - tokenUriSyncedAt
                              properties:
                                tokenId:
                                  type: string
                                  description: A field representing the unique ID of the NFT token. This ID is used to identify the NFT.
                                tokenUri:
                                  type: string
                                  description: A field representing the URI where the original metadata of the NFT is located. Format may vary by contract implementation, but is typically provided as an IPFS address or web URL.
                                tokenUriSyncedAt:
                                  type: string
                                  description: A field representing when the tokenUri of the NFT was synchronized.
                                rawMetadata:
                                  type: string
                                  description: A field representing the rawMetadata of the NFT. Included in the response only when the withMetadata parameter is set to true.
                                metadataSyncedAt:
                                  type: string
                                  description: A field representing when the metadata of the NFT was synchronized. Included in the response only when the withMetadata parameter is set to true.
                            - type: object
                              properties:
                                contract:
                                  allOf:
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                                    - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/searchNftContractMetadataByKeyword:
    post:
      security:
        - api_key: []
      operationId: arbitrum-searchNftContractMetadataByKeyword
      summary: Search NFT Contract Metadata By Keyword
      description: |+
        Retrieves the list of contracts matching the NFT contract name or symbol.


        > 🚧 Getting a 429 error? Check your subscription plan!
        > 429 errors may occur when the Throughput limit of your subscription plan is exceeded.
        > For example, the Starter plan has a limit of 300 CU per second, so if you use the Starter plan and call an API that consumes 350 CU, you may get a 429 error.
        > Check the CU consumption of the API you are using on the Compute Unit Costs page, and consider upgrading to a higher plan if you need more Throughput!
        > 👉 [Go to Compute Unit Costs page](/guides/compute-unit)

      x-seo-description: Search for NFT contracts by keyword. Returns matching contracts with name, symbol, and metadata.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - keyword
                  properties:
                    keyword:
                      type: string
                      description: Parameter specifying the name or symbol of the token to query.
                - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/requestBody/content/application~1json/schema/allOf/1"
            example:
              keyword: BAYC
              page: 1
              rpp: 10
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftsOwnedByAccount/post/responses/200/content/application~1json/schema/allOf/0"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          allOf:
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/0"
                            - $ref: "#/paths/~1{chain}~1{network}~1nft~1getNftContractMetadataByContracts/post/responses/200/content/application~1json/schema/items/allOf/1"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
  /{chain}/{network}/nft/syncNftMetadata:
    post:
      security:
        - api_key: []
      operationId: arbitrum-syncNftMetadata
      summary: Sync Nft Metadata
      description: |+
        Synchronizes metadata for specific NFTs. Up to 100 NFTs can be synchronized, and synchronization may take up to 10 seconds.


        > 📘 What are NFT Metadata and Token URI?
        >
        > NFTs are a technology that ensures ownership and uniqueness of digital assets. NFT metadata is a critical component that stores information about these assets. Metadata plays an important role in describing the essence of an NFT.
        > 1. NFT Metadata
        > Includes the NFT's creator, issuance date, attributes, and media files (e.g., images, videos). This metadata makes an NFT more than just a digital file—it defines a unique asset and establishes the NFT's scarcity or distinctive characteristics.
        > 2. Token URI
        > Storing data on the blockchain is costly. Therefore, metadata and media files are not stored on the blockchain but are kept in external storage such as IPFS or S3. Token URI is a field that points to the location of the metadata file in such external storage. Metadata is accessed via this URI. In other words, Token URI links metadata and media files, serving as the bridge between on-chain information and actual content.

      x-seo-description: Trigger a metadata refresh for a specific NFT to ensure the latest on-chain data is indexed.
      tags:
        - NFT API
      parameters:
        - name: chain
          in: path
          required: true
          schema:
            type: string
            enum:
              - arbitrum
            default: arbitrum
          description: Parameter to specify the target chain for the query.
        - name: network
          in: path
          required: true
          schema:
            type: string
            enum:
              - mainnet
              - sepolia
            default: mainnet
          description: Parameter to specify the network of the target chain.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Returns a result message for the synchronization request.
                    example: NFT Metadata synchronization request has been successfully submitted.
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "405":
          $ref: "#/components/responses/405"
        "408":
          $ref: "#/components/responses/408"
        "409":
          $ref: "#/components/responses/409"
        "413":
          $ref: "#/components/responses/413"
        "414":
          $ref: "#/components/responses/414"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
